{% extends "exmo2010/emails/generic.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n pytils_dt %}

{% block title %}{{ score.task.organization }}: {{ score.parameter }}{% endblock %}
{% block content %}
    <h3>{{ score.task.organization }}: {{ score.parameter }}</h3>

    <p><b>{% trans 'Date' %}:</b>
        {% if claim.close_date %}
            {{ claim.close_date|ru_strftime:"%d %B %Y" }} {% trans 'at' %} {{ claim.close_date|date:"G:i" }}
        {% else %}
            {{ claim.open_date|ru_strftime:"%d %B %Y" }} {% trans 'at' %} {{ claim.open_date|date:"G:i" }}
        {% endif %}
    </p>
    <p><b>{% trans 'From who' %}:</b> {{ claim.creator }}</p>
    <p><b>{% trans 'To whom' %}:</b> {{ claim.addressee }}</p>
    <p><b>{% trans 'Claim' %}:</b></p>
    <p>{{ claim.comment|safe }}</p>
    {% if claim.close_date %}
        <p><b>{% trans 'Answer' %}:</b></p>
        <p>{{ claim.answer|safe }}</p>
    {% endif %}
    <p><b>{% trans 'Link' %}:</b> <a href="{{ url }}#claims">{{ url }}#claims</a></p>
{% endblock content %}


