{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n widget_tweaks %}

{% include "_form_errors.html" with form=form %}

<form method="post" action="">{% csrf_token %}
    {{ form.monitoring.as_hidden }}
    <div class="form-table">
        <div class="table-row">
            <div class="table-cell-R">{{ form.name.label_tag }}<span class="required">*</span></div>
            <div class="table-cell-L">{{ form.name|add_class:"name_input" }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell-R">{{ form.organizations.label_tag }}</div>
            <div class="table-cell-L">{{ form.organizations }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell-R">{{ form.users.label_tag }}</div>
            <div class="table-cell-L">{{ form.users }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell-R"></div>
            <div class="table-cell-L">
                {% if obs_group %}
                    <input type="submit" id="edit_btn" value="{% trans 'Edit' %}" />
                    <a href="{% url 'exmo2010:observers_group_delete' obs_group.monitoring.pk obs_group.pk %}">{% trans 'Delete' %}</a>
                {% else %}
                    <input type="submit" id="add_btn" value="{% trans 'Add' %}" />
                {% endif %}
            </div>
        </div>
    </div>
</form>
