{% extends "base_sidebar.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% load check_object_permission monitoring_stats from exmo2010_tags %}

{% block title %}{{ monitoring.name }}{% endblock %}

{% block h1 %}<h1>{{ monitoring.name }}</h1>{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <div id=expert_list>
        <table>
            {% include 'exmo2010/table_header.html' with headers=headers %}

            <tbody>
            <tr><td>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}?filter1={{ object.username }}">{{ object.userprofile.legal_name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}?filter1={{ object.username }}&filter2={{ exmo2010.models.Task.TASK_OPEN }}">{{ object.open_tasks }}</a>
                        </td>
                        <td>
                            <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}?filter1={{ object.username }}&filter2={{ exmo2010.models.Task.TASK_CLOSED }}">{{ object.ready_tasks }}</a>
                        </td>
                        <td>
                            <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}?filter1={{ object.username }}&filter2={{ exmo2010.models.Task.TASK_APPROVED }}">{{ object.approved_tasks }}</a>
                        </td>
                        <td>
                            <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}?filter1={{ object.username }}">{{ object.all_tasks }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "exmo2010/_paginator.html" with queryset=object_list %}
    </div>
    {% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
    {% if perm %}
        <br />
        {% monitoring_stats monitoring %}
    {% endif %}
{%endblock%}
