{% extends "base_sidebar.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/bubble.css' %}"/>
{% endblock %}

{% block h1 %}<h1>{{ monitoring.name }}</h1>{% endblock %}

{% block bubble %}
    {% include "exmo2010/helpers/inv_code_bubble.html" %}
{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <div id=organization_list>
        <table class="base-table">
            <thead>
            <tr>
                <td>{% trans 'Parameter' %}</td>
                <td>{% trans 'Organizations' %}</td>
                <td>{% trans 'Organizations with found parameters' %}</td>
                <td>%</td>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.parameter }}</td>
                    <td>{{ object.organization_count }}</td>
                    <td>{{ object.score_count }}</td>
                    <td>{{ object.score_per_organization|floatformat:3 }}</td>
                </tr>
            {% endfor %}
            <tr class='parameter_found_report_total_tr'>
                <td><b>{% trans 'Total' %}:</b></td>
                <td>{{ organization_count_total }}</td>
                <td>{{ score_count_total }}</td>
                <td>{{ score_per_organization_total|floatformat:3 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
