{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static future %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui-1.10.4.custom.css' %}" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/monitoring_form.js' %}"></script>
{% endblock %}

{% block content %}
    {% if object %}
        <form action="{% url 'exmo2010:monitoring_organization_import' object.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <a href="{% url 'exmo2010:monitoring_organization_export' object.pk %}">{% trans 'Export organizations' %}</a> /
            <label>{% trans "Import organizations from CSV" %}: <input type="file" accept=".csv" name="orgfile" value="{% trans 'Save' %}"></label><input type="submit" value="{% trans 'Import' %}" />
        </form>
        <form action="{% url 'exmo2010:monitoring_parameter_import' object.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <a href="{% url 'exmo2010:monitoring_parameter_export' object.pk %}">{% trans 'Export parameters' %}</a> /
            <label>{% trans "Import parameters from CSV" %}: <input type="file" accept=".csv" name="paramfile"></label><input type="submit" value="{% trans 'Import' %}" />
        </form>
        {% if not object.has_questions %}
            <a id="addqa" class="hidden" href="{% url 'exmo2010:add_questionnaire' object.pk %}">{% trans 'Edit questionnaire' %}</a>
            <br />
        {% else %}
            <div style="background-color: #ffffcc;">{% trans 'Questionnaire is already created. To delete it turn off "Add questionnaire" checkbox and save changes' %}.</div>
        {% endif %}
    {% endif %}
    <form action="." method="post" class="monitoring_form" id="main_form">{% csrf_token %}
        <table>
            <tr><td><h2>{% trans 'Monitoring' %}</h2></td></tr>
            {{ form.non_field_errors }}
            {{ form.as_table }}
        </table>
        <input type="submit" name="submit" class="button" value="{% trans 'Send' %}">
    </form>
{% endblock %}
