{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static widget_tweaks %}

{% block title %}
    {% if monitoring %}
        {% blocktrans %}Edit monitoring {{monitoring}}{% endblocktrans %}
    {% else %}
        {% trans 'Add new monitoring' %}
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/monitoring.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui-1.10.4.custom.css' %}" />
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'js/monitoring.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content">
        {% include '_messages.html' %}

        <h1>
            {% if monitoring %}
                {% blocktrans %}Edit monitoring {{monitoring}}{% endblocktrans %}
            {% else %}
                {% trans 'Add new monitoring' %}
            {% endif %}
        </h1>

        {% if monitoring %}
            <a class="likeabutton" href="{% url 'exmo2010:monitoring_copy' monitoring.pk %}">{% trans 'Copy' %}</a>

            <form action="{% url 'exmo2010:monitoring_organization_import' monitoring.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <a href="{% url 'exmo2010:monitoring_organization_export' monitoring.pk %}">{% trans 'Export organizations' %}</a> /
                <label>{% trans "Import organizations from CSV" %}: <input type="file" accept=".csv" name="orgfile" value="{% trans 'Save' %}"></label>
                <input type="submit" value="{% trans 'Import' %}" />
            </form>
            <form action="{% url 'exmo2010:monitoring_parameter_import' monitoring.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <a href="{% url 'exmo2010:monitoring_parameter_export' monitoring.pk %}">{% trans 'Export parameters' %}</a> /
                <label>{% trans "Import parameters from CSV" %}: <input type="file" accept=".csv" name="paramfile"></label>
                <input type="submit" value="{% trans 'Import' %}" />
            </form>
            {% if not monitoring.has_questions %}
                <a id="addqa" class="hidden" href="{% url 'exmo2010:add_questionnaire' monitoring.pk %}">{% trans 'Edit questionnaire' %}</a>
                <br />
            {% else %}
                <div style="background-color: #ffffcc;">{% trans 'Questionnaire is already created. To delete it turn off "Add questionnaire" checkbox and save changes' %}.</div>
            {% endif %}
        {% endif %}

        {% if form.errors %}
            <div class="warning">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }} {{ error|lower }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form id="main_form" action="" method="post">{% csrf_token %}
            <div class="table">
                <div class="table-row">
                    <div class="table-cell-L">
                        <h3>{% trans 'Monitoring cycle' %}</h3>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">
                        {{ form.trans_fields.name.label }}<span class="required">*</span>
                    </div>
                    <div class="table-cell-L name-cell">{{ form.trans_fields.name }}</div>
                </div>

                {% if form.status %}
                    <div class="table-row">
                        <div class="table-cell-R">{{ form.status.label }}</div>
                        <div class="table-cell-L">{{ form.status }}</div>
                    </div>
                {% endif %}

                <div class="table-row">
                    <div class="table-cell-R">{{ form.openness_expression.label }}</div>
                    <div class="table-cell-L">{{ form.openness_expression }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">{{ form.map_link.label }}</div>
                    <div class="table-cell-L">{{ form.map_link }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R"></div>
                    <div class="table-cell-L">{{ form.no_interact }} {{ form.no_interact.label_tag }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R"></div>
                    <div class="table-cell-L">{{ form.hidden }} {{ form.hidden.label_tag }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R"></div>
                    <div class="table-cell-L">{{ form.add_questionnaire }} {{ form.add_questionnaire.label_tag }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-L">
                        <h3>{% trans 'Calendar' %}</h3>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">
                        {{ form.rate_date.label }}<span class="required">*</span>
                    </div>
                    <div class="table-cell-L datepicker">{{ form.rate_date|attr:"maxlength:10" }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">
                        {{ form.interact_date.label }}<span class="required">*</span>
                    </div>
                    <div class="table-cell-L datepicker">{{ form.interact_date|attr:"maxlength:10" }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">
                        {{ form.finishing_date.label }}<span class="required">*</span>
                    </div>
                    <div class="table-cell-L datepicker">{{ form.finishing_date|attr:"maxlength:10" }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">
                        {{ form.publish_date.label }}<span class="required">*</span>
                    </div>
                    <div class="table-cell-L datepicker">{{ form.publish_date|attr:"maxlength:10" }}</div>
                </div>


                <div class="table-row">
                    <div class="table-cell-R"></div>
                    <div class="table-cell-L submit-cell">
                        <input type="submit" value="{% trans 'Send' %}" />
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
