{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static widget_tweaks %}

{% block title %}{% trans 'Copy monitoring cycle' %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/monitoring.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui-1.10.4.custom.css' %}" />
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'js/monitoring.js' %}"></script>
{% endblock %}

{% block h1 %}<h1>{% trans 'Copy monitoring cycle' %}</h1>{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="warning">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }} {{ error|lower }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <div class="table">
            <div class="table-row">
                <div class="table-cell-R">{% trans 'Original cycle' %}</div>
                <div class="table-cell-L">
                    <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}" target="_blank">{{ monitoring.name }}</a>
                </div>
            </div>

            <div class="table-row choice-buttons">
                <div class="table-cell-R">{{ form.donors.label }}</div>
                <div class="table-cell-L">{{ form.donors }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-L">
                    <h3>{% trans 'Monitoring cycle' %}</h3>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell-R">
                    {{ form.trans_fields.name.label }}<span class="required">*</span>
                </div>
                <div class="table-cell-L name-cell">{{ form.trans_fields.name }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-R">{{ form.status.label }}</div>
                <div class="table-cell-L">{{ form.status }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-R">{{ form.openness_expression.label }}</div>
                <div class="table-cell-L">{{ form.openness_expression }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-R"></div>
                <div class="table-cell-L">{{ form.no_interact }} {{ form.no_interact.label_tag }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-R"></div>
                <div class="table-cell-L">{{ form.hidden }} {{ form.hidden.label_tag }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-R"></div>
                <div class="table-cell-L">{{ form.add_questionnaire }} {{ form.add_questionnaire.label_tag }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-L">
                    <h3>{% trans 'Calendar' %}</h3>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell-R">
                    {{ form.rate_date.label }}<span class="required">*</span>
                </div>
                <div class="table-cell-L datepicker">{{ form.rate_date|attr:"maxlength:10" }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-R">
                    {{ form.interact_date.label }}<span class="required">*</span>
                </div>
                <div class="table-cell-L datepicker">{{ form.interact_date|attr:"maxlength:10" }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-R">
                    {{ form.finishing_date.label }}<span class="required">*</span>
                </div>
                <div class="table-cell-L datepicker">{{ form.finishing_date|attr:"maxlength:10" }}</div>
            </div>

            <div class="table-row">
                <div class="table-cell-R">
                    {{ form.publish_date.label }}<span class="required">*</span>
                </div>
                <div class="table-cell-L datepicker">{{ form.publish_date|attr:"maxlength:10" }}</div>
            </div>


            <div class="table-row">
                <div class="table-cell-R"></div>
                <div class="table-cell-L submit-cell">
                    <input type="submit" value="{% trans 'Copy' %}" />
                    <a href="{% url 'exmo2010:monitoring_update' monitoring.pk %}">{% trans 'Cancel' %}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
