{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n check_object_permission static future %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
    <style>
        label[for='id_time_to_answer'] {
            font-weight: bold !important;
            color: #333;
        }

        #id_time_to_answer {
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        function toggle(el) {$('#' + el).toggle();}
    </script>
{% endblock %}

{% block nav_sidebar %}
    {% include "exmo2010/nav_sidebar/monitoring_utility.html" %}
{% endblock %}

{% block nav_sidebar_title %}
    <h1>{{ monitoring.name }}</h1>
{% endblock %}

{% block content_class %}sidebar-ident{% endblock %}

{% block content %}
    <form method="post" action="">{% csrf_token %}
        {{ form.time_to_answer.label_tag }}
        {{ form.time_to_answer }}
        <input type="submit" value="{% trans 'Save' %}"/>
    </form>

    {% if active_orgs or active_experts %}
        <div id="monitoring_comment_stat">
            <h3>{% trans 'Statistics' %}</h3>
            <ul>
                <li>{% trans 'Total organizations' %}: {{ monitoring.organization_set.count }}</li>
                <li>{% trans 'Registered organizations' %}: {{ num_orgs_with_user }}</li>
                <li>{% trans 'Organizations with comments from organization' %}: {{ active_orgs|length }}</li>
                <li>{% trans 'Comments count from organizations' %}: {{ num_org_comments }}</li>
                <li>{% trans 'Comments count from organizations with reply date in limit' %}: {{ num_answered }}</li>
                <li>{% trans 'Comments count from organizations with reply date out of limit' %}: {{ num_answered_late }}</li>
                <li>{% trans 'Comments count from organizations without reply and date in limit' %}: {{ pending|length }}</li>
                <li>{% trans 'Comments count from organizations without reply and should be answered today' %}: {{ expiring|length }}</li>
                <li>{% trans 'Comments count from organizations without reply and date out of limit' %}: {{ expired|length }}</li>
            </ul>

            <h3 onClick="toggle('org_stat');" style="cursor: pointer;">
                {% trans 'Statistics by organization' %} ({{ active_orgs|length }})</h3>
            <div id="org_stat" class="hidden">
                {% if active_orgs %}
                    <ul>
                        {% for org in active_orgs %}
                            <li>
                                {{org.name}}: {{org.num_comments}}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <h3 onClick="toggle('emp_stat');" style="cursor: pointer;">
                {% trans 'Statistics by iifd employers' %} ({{active_experts|length}})</h3>
            <div id="emp_stat" class="hidden">
                {% if active_experts %}
                    <ul>
                        {% for expert in active_experts %}
                            <li>
                                {{ expert }}: {{ expert.num_comments }}
                            </li>
                        {% endfor %}
                    </ul>
                    Total: {{ num_expert_comments }}
                {% endif %}
            </div>

            <h3 style="color:red; cursor: pointer;" onClick="toggle('expired');">
                {% trans 'Comments list from organizations without reply and date out of limit' %} ({{ expired|length }})</h3>
            <div id="expired" style="color:red; display: none;">
                {% if expired %}
                    <ul>
                        {% for c in expired %}
                            <li><a href="{% url 'exmo2010:score_view' c.object_pk %}">{{ c.submit_date }} -- {{ c.content_object.task.user }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <h3 style="color:#ff9218; cursor: pointer;" onClick="toggle('expiring');">
                {% trans 'Comments list from organization that needs to reply today (exclude list above)' %} ({{ expiring|length }})</h3>
            <div id="expiring" style="color:#ff9218; display: none;" >
                {% if expiring %}
                    <ul>
                        {% for c in expiring %}
                            <li><a href="{% url 'exmo2010:score_view' c.object_pk %}">{{ c.submit_date }} -- {{ c.content_object.task.user }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <h3 style="color:green; cursor: pointer;" onClick="toggle('pending');">
                {% trans 'Comments list from organization that needs to reply (exclude list above)' %} ({{ pending|length }})</h3>
            <div id="pending" style="color:green; display: none;">
                {% if pending %}
                    <ul>
                        {% for c in pending %}
                            <li><a href="{% url 'exmo2010:score_view' c.object_pk %}">{{ c.submit_date }} -- {{ c.content_object.task.user }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </div>
    {% else %}
        {% trans "Haven't comments from organizations" %}.
    {% endif %}
{% endblock %}
