{% extends "base_sidebar.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/observers.css' %}"/>
{% endblock %}

{% block extra_script %}
    {{ form.media }}
    <script type="application/javascript" src="{% static 'exmo2010/js/jquery/jquery.placeholder.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'exmo2010/js/jquery.tablesorter.js' %}"></script>
    <script>
        $(document).ready(function () {$(".observers-table table").tablesorter({sortList: [[0, 0]]});});
    </script>
{% endblock %}

{% block h1 %}<h1>{{ monitoring.name }}</h1>{% endblock %}

{% block content %}
    <div class="observers-content-block">
        <h2>{% trans "Observers" %}</h2>

        {% include "_observers_group_tabs.html" %}

        <div class="tab-content">
            <div class="observers-table">
                {% if is_obs_groups_exists %}
                    <table class="base-table">
                        <caption>
                            <form class="filter" action="" method="GET">
                                <div class="table">
                                    <div class="table-cell">
                                        {{ queryform.name }}
                                    </div>
                                    <div class="table-cell submit-cell">
                                        <input type="submit" value="{% trans 'Find' %}" />
                                    </div>
                                </div>
                            </form>
                        </caption>

                        <thead>
                            <tr>
                                <th><span>{% trans 'Group name' %}</span><span class="arrow"></span></th>
                                <th class="align-right"><span>{% trans 'Organizations' context 'number of organizations' %}</span><span class="arrow"></span></th>
                                <th class="align-right"><span>{% trans 'Users' context 'number of users' %}</span><span class="arrow"></span></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for obs_group in obs_groups %}
                                <tr class="zebra">
                                    <td>
                                        <a href="{% url 'exmo2010:observers_group_update' obs_group.monitoring.pk obs_group.pk %}">
                                            {{ obs_group.name }}
                                        </a>
                                    </td>
                                    <td class="align-right">{{ obs_group.organizations.all.count }}</td>
                                    <td class="align-right">{{ obs_group.users.all.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {% trans 'No observers' %}
                {% endif %}
            </div>
        </div>
    </div>
{%endblock%}
