{% extends "base_sidebar.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}
    {% if obs_group %}
        {% trans "Observers group editing" %}
    {% else %}
        {% trans "Observers group adding" %}
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/observers.css' %}"/>
{% endblock %}

{% block extra_script %}
    {{ form.media }}
{% endblock %}

{% block h1 %}<h1>{{ monitoring.name }}</h1>{% endblock %}

{% block content %}
    <div class="observers-content-block">
        {% if obs_group %}
            <h2>{% trans "Observers group editing" %}</h2>
        {% else %}
            <h2>{% trans "Observers" %}</h2>
            {% include "_observers_group_tabs.html" %}
        {% endif %}

        <div class="tab-content">
            {% include "_observers_group_form.html" %}
        </div>
    </div>
{%endblock%}
