{% extends 'exmo2010/base_site.html' %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% load l10n %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/jquery/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/jquery.simplemodal-1.4.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/rating.js"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/ratings.css"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}


{% block nav_sidebar %}
    {% if is_expert or request.user.is_superuser %}
        {% include "exmo2010/nav_sidebar/monitoring_utility.html" %}
    {% endif %}
{% endblock %}


{% block nav_sidebar_title %}
    {% if request.user.is_active and is_expert or request.user.is_superuser %}
        <h1>{{ monitoring.name }}</h1>
    {% endif %}
{% endblock %}


{% block content_class %}
    {% if request.user.is_active and is_expert or request.user.is_superuser %}
        sidebar-ident
    {% endif %}
{% endblock %}


{% block content_title_base %}
    {% if is_expert %}
        <br/>
    {% else %}
        <h1>{{ title }}</h1>
    {% endif %}
{% endblock %}


{% block content %}
<div class="rating-menu clearfix">
    <h2>{% trans "Rating" %}</h2>

    <ul class="switcher">

        <li {% if rating_type == "all" %}class="active"{% endif %}>
            <a href="?type=all" class="pseudo{% if rating_type == "all" %}-off{% endif %}">
                {% trans 'common' %}
            </a>
        </li>

        {% if has_npa %}
        <li {% if rating_type == "npa" %}class="active"{% endif %}>
            <a href="?type=npa" class="pseudo{% if rating_type == "npa" %}-off{% endif %}">
                {% trans 'legal' %}
            </a>
        </li>

        <li {% if rating_type == "other" %}class="active"{% endif %}>
            <a href="?type=other" class="pseudo{% if rating_type == "other" %}-off{% endif %}">
                {% trans 'of experts' %}
            </a>
        </li>
        {% endif %}

        <li {% if rating_type == "user" %}class="active"{% endif %}>
            <a href="#" class="pseudo{% if rating_type == "user" %}-off{% endif %}" id="user-defined">
                {% trans 'user defined' %}
            </a>
        </li>
    </ul>

    <ul class="utils">
        {% if monitoring.map_link %}
        <li>
            <a href="{{ monitoring.map_link }}" target="_blank">
                <i class="icon icon-map"></i>{% trans "Map" %}
            </a>
        </li>
        {% endif %}

        <li>
            <a href="{% url exmo2010:monitoring_export monitoring.pk %}?format=json">
                <i class="icon icon-download-alt"></i>{% trans 'Export as JSON' %}
            </a>
        </li>
         <li>
            <a href="{% url exmo2010:monitoring_export monitoring.pk %}?format=csv">
                <i class="icon icon-download-alt"></i>{% trans 'Export as CSV' %}
            </a>
         </li>
    </ul>
</div>

<div id="user-defined-parameters" class="parameter-selection{% if rating_type != "user" %} hidden{% endif %}">
    <p id="parameter-list-heading">
        <strong>{% trans 'Parameter list' %}</strong>
(<a href="#" class="pseudo">{% if rating_type != "user" %}{% trans "hide" %}{% else %}{% trans "show" %}{% endif %}</a>)
    </p>

    <form action="." method="GET" id="pselect_form"{% if rating_type == "user" %} class="hidden"{% endif %}>
            <div class="scroll">
                {% if report %}
                    <input type="hidden" name="monitoring" value="{{ monitoring.pk }}">
                {% endif %}
                <input type="hidden" name="type" value="user">
                {% for field in form %}
                    {{ field }}{{ field.label_tag }}<br>
                {% endfor %}
            </div>
            <input type="submit" value="{% trans "Get rating" %}">
    </form>
</div>

<form class="filter clearfix" action="" method="GET">
    <div>
        <input type=text id="name_filter" name="name_filter" value="{{ name_filter }}" placeholder="{% trans 'Organization' %}" />
    </div>
    <input type=submit value="{% trans 'Find' %}" />
</form>

<table id="rating-data" class="base-table">
    <thead>
        <tr>
            <th class="place">
                <span>{% trans "Position" %}</span>&nbsp;<span class="arrow"></span>
            </th>
            <th>
                <span>{% trans "Organization" %}</span>&nbsp;<span class="arrow"></span>
            </th>
            <th class="website">
                <span>{% trans "Website" %}</span>&nbsp;<span class="arrow"></span>
            </th>

            {% if is_expert and user.profile.rt_representatives %}
            <th class="representatives">
                <span>{% trans "Repr." %}</span>&nbsp;<span class="arrow"></span>
            </th>
            {% endif %}

            {% if is_expert and user.profile.rt_comment_quantity %}
            <th class="comments">
                <span>{% trans "Comm." %}</span>&nbsp;<span class="arrow"></span>
            </th>
            {% endif %}

            {% if show_initial_openness %}
                {% if not user.is_active or user.profile.rt_initial_openness %}
                    <th class="init-openness">
                        <span>{% trans "Init. openness" %}</span>&nbsp;<span class="arrow"></span>
                    </th>
                {% endif %}
            {% endif %}

            {% if not user.is_active or user.profile.rt_final_openness %}
            <th class="openness">
                <span>{% trans "Final openness" %}</span>&nbsp;<span class="arrow"></span>
            </th>
            {% endif %}

            {% if not user.is_active or user.profile.rt_difference %}
            <th class="diff">
                <span>{% trans "Diff." %}</span>&nbsp;<span class="arrow"></span>
            </th>
            {% endif %}

            {% if user.is_active %}
            <th class="settings">
                <a href="#" id="modal-open"><img src="/static/dashboard/img/settings.png"/></a>
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td class="place">
                <span>{{ object.place }}</span>
            </td>
            <td>
                <a href="{% url exmo2010:score_list_by_task object.pk %}">{{ object.organization.name }}</a>
            </td>
            <td>
                <a target="_blank" href="{{ object.organization.url }}">{{ object.organization.url }}</a>
            </td>

            {% if is_expert and user.profile.rt_representatives %}
                <td>{{ object.active_repr_len }} / {{ object.repr_len }}</td>
            {% endif %}

            {% if is_expert and user.profile.rt_comment_quantity %}
                <td class="comments">{{ object.comments }}</td>
            {% endif %}

            {% if show_initial_openness %}
                {% if not user.is_active or user.profile.rt_initial_openness %}
                    <td class="init-openness">{{ object.task_openness_initial|floatformat:3 }}%</td>
                {% endif %}
            {% endif %}


            {% if not user.is_active or user.profile.rt_final_openness %}
                <td class="openness">{{ object.task_openness|floatformat:3 }}%</td>
            {% endif %}

            {% if not user.is_active or user.profile.rt_difference %}
            <td class="diff">
            {% spaceless %}
                <div>
                <span>{{ object.openness_delta|floatformat:3 }}%</span>&nbsp;
                {% ifnotequal object.openness_delta None %}
                    {% if object.openness_delta > 0%}
                        <img class="rate-direction" src="{{ STATIC_URL }}exmo2010/img/rate_up.png">
                    {% elif object.openness_delta < 0%}
                        <img class="rate-direction" src="{{ STATIC_URL }}exmo2010/img/rate_down.png">
                    {% endif %}
                {% endifnotequal %}
                </div>
            {% endspaceless %}
            </td>
            {% endif %}

            {% if user.is_active %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan=3>
                <strong>{% trans "Average value" %}</strong>
            </td>

            {% if is_expert and user.profile.rt_representatives %}
                <td>
                    <strong>{{ average.active_repr_len }} / {{ average.repr_len }}</strong>
                </td>
            {% endif %}

            {% if is_expert and user.profile.rt_comment_quantity %}
                <td class="comments">
                    <strong>{{ average.comments }}</strong>
                </td>
            {% endif %}

            {% if show_initial_openness %}
                {% if not user.is_active or user.profile.rt_initial_openness %}
                    <td class="init-openness">
                        <strong>{{ average.openness_initial|floatformat:3 }}%</strong>
                    </td>
                {% endif %}
            {% endif %}

            {% if not user.is_active or user.profile.rt_final_openness %}
                <td class="openness">
                    <strong>{{ average.openness|floatformat:3 }}%</strong>
                </td>
            {% endif %}

            {% if not user.is_active or user.profile.rt_difference %}

            <td class="diff">
            {% spaceless %}
                <div>
                <span>
                    <strong>{{ average.openness_delta|floatformat:3 }}%</strong>
                </span>&nbsp;
                {% ifnotequal average.openness_delta None %}
                    {% if average.openness_delta > 0%}
                        <img class="rate-direction" src="{{ STATIC_URL }}exmo2010/img/rate_up.png">
                    {% elif average.openness_delta < 0%}
                        <img class="rate-direction" src="{{ STATIC_URL }}exmo2010/img/rate_down.png">
                    {% endif %}
                {% endifnotequal %}
                </div>
            {% endspaceless %}
            </td>

            {% endif %}

            {% if user.is_active %}
            <td></td>
            {% endif %}
        </tr>
    </tfoot>
</table>

<p class="total-organizations">
    {{ total_orgs }}
</p>

<!-- Modal -->
<div id="settings-modal" class="hidden">
    <form action="." method="GET">
        <div id="checkboxes">
            <h2 class="modal-heading">{% trans "Table settings" %}</h2>
        {% for field in table_form %}
            {% if field.field != table_form.fields.representatives and field.field != table_form.fields.comment_quantity or is_expert %}
            {{ field }}&nbsp;{{ field.label_tag }}<br/>
            {% endif %}
        {% endfor %}
        </div>
        <div id="buttons">
            <span>
                <input type="submit" value="{% trans "Change" %}">
            </span>
            <a href="#" id="cancel-link" class="pseudo">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}
