<p><b>Вопрос: </b><input type="text" class="qquestion" maxlength="300" style="width: 650px; margin-left: 107px;"></p>
<p><b>Пояснение к
    вопросу: </b><input type="text" class="qcomment" maxlength="600" style="width: 650px;  margin-left: 10px;"></p>
<p><b>Тип вопроса:</b>
    <select class="qtype" style="width: 250px; margin-left: 72px;">
        {% for ch in choices %}
            <option value="{{ ch.0 }}">{{ ch.1 }}</option>
        {% endfor %}
    </select>
</p>
<input type="button" class="fquestion" value="Готово">
