{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

<p><b>Вопрос: </b><input type="text" class="qquestion" maxlength="300" style="width: 650px; margin-left: 107px;"></p>
<p><b>Пояснение к
    вопросу: </b><input type="text" class="qcomment" maxlength="600" style="width: 650px;  margin-left: 10px;"></p>
<p><b>Тип вопроса:</b>
    <select class="qtype" style="width: 250px; margin-left: 72px;">
        {% for ch in choices %}
            <option value="{{ ch.0 }}">{{ ch.1 }}</option>
        {% endfor %}
    </select>
</p>
<input type="button" class="fquestion" value="Готово">
