{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n comments days_until date_until pytils_dt wysiwyg %}

{% if view_comment %}
    {% get_comment_list for object as comment_list %}
    {% if comment_list %}
        <table class="table-messages-parameter">
            <tbody>
            {% for comment in comment_list %}
                <tr id="c{{ comment.id }}">
                    <td
                    {% with comment.submit_date|days_until:object.parameter.monitoring.time_to_answer as days_remaining %}
                    {% if request.user.is_active and request.user.userprofile.is_expert and comment.user.userprofile.is_organization and not comment.user.is_superuser and comment.status == 0 %}
                        {% if days_remaining < 0 %}class="answer-missed"{% endif %}
                        {% if days_remaining == 0 %}class="answer-today"{% endif %}
                        {% if days_remaining > 0 %}class="answer-later"{% endif %}
                    {% endif %}
                    {% if close_comment %}
                        {% if days_remaining < 0 %}data-class="answer-missed"{% endif %}
                        {% if days_remaining == 0 %}data-class="answer-today"{% endif %}
                        {% if days_remaining > 0 %}data-class="answer-later"{% endif %}
                    {% endif %}
                    {% endwith %}
                    >
                        <span class="messages-author">
                        {% if comment.user.userprofile.is_expert %}
                            {% if request.user.is_active and request.user.userprofile.is_expert %}
                                {{ comment.user.userprofile.legal_name }}
                            {% else %}
                                {% trans 'Freedom Information Foundation Expert' %}
                            {% endif %}
                        {% else %}
                            {{ comment.user.userprofile.legal_name }}
                        {% endif %}
                        </span>

                        <span class="messages-date">
                        {{ comment.submit_date|date:"H:i d.m.Y" }}
                        </span>

                        <div class="messages-content">
                            {{ comment.comment|safe }}
                        </div>

                        {% if request.user.is_active and not request.user.userprofile.is_expert and request.user.userprofile.is_organization and comment.user.userprofile.is_organization and not comment.user.userprofile.is_expert and comment.status == 0 %}
                        <div class="notification-peremptory">
                            {% trans 'Peremptory day to answer your question is' %}
                            {{ comment.submit_date|date_until:object.parameter.monitoring.time_to_answer|ru_strftime:"%d %B %Y" }}
                        </div>
                        {% endif %}

                        {% if close_comment and not comment.user.userprofile.is_expert and comment.status != 1 %}
                        <div class="toggle-comment-container">
                            {% url exmo2010:toggle_comment as toggle_url %}
                            <a class="toggle-comment"
                               href="{{ toggle_url }}"
                               rel="{{ comment.pk }}">
                                {% if comment.status == 0 %}
                                    {% trans 'Close without answer' %}
                                {% else %}
                                    {% trans 'Open comment' %}
                                {% endif %}
                            </a>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    {% trans 'There are no comments' %}
    {% endif %}
{% endif %}

{% if add_comment %}
    <h3 class="heading-yourmessage-parameter">{% trans 'Your comment' %}</h3>
    {% get_comment_form for object as form %}
    <form action="{% comment_form_target %}" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% if user %}
            <input type="hidden" name="id_user" value="{{ user }}" />
        {% else %}
            <label class="label-comment">{{ form.user.label }}</label>
            <br />
            {{ form.user }}
            <br />
        {% endif %}
        {% if user.email %}
            <input type="hidden" name="id_email" value="{{ user.email }}" />
        {% else %}
            <label class="label-comment">{{ form.email.label }}</label>
            <br />
            {{ form.email }}
        {% endif %}
        {{ form.comment }}
        {% wysiwyg_editor "id_comment" %}
        <input type="hidden" name="next" value="{% url exmo2010:score_view object.pk %}" />
        <input type="submit" name="post" id="submit-comment" class="submit-post" value="{% trans 'Post' %}" />
    </form>
{% endif %}

