{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{# Проверка всех прав для сообщений #}

{% load check_object_permission %}

{% check_object_permission exmo2010.close_comment_score object as close_comment %}
{% check_object_permission exmo2010.answer_clarification_score object as answer_clarification %}
{% check_object_permission exmo2010.answer_claim_score object as answer_claim %}
{% check_object_permission exmo2010.delete_claim_score object as delete_claim %}

{% if close_comment or delete_claim or answer_claim or answer_clarification %}
<script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/csrf.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        {% if close_comment %}
            {# Открытие/закртие комментария #}
            var $anchor = $('a.toggle-comment');

            $anchor.click(function( e ) {
                e.preventDefault();

                var $this = $(this)
                    , url = $this.attr('href')
                    , pk = $this.attr('rel')
                    , openedClass = $this.closest('td').attr('data-class');

                $.ajax({
                    type : "POST",
                    url: url,
                    data : {pk: pk, openedClass: openedClass},
                    dataType: "json",
                    success: function(data) {
                        if (data.success) {
                            $this.html('');
                            if (data.status == 0) {
                                $this.append('{% trans 'Close without answer' %}');
                                $this.closest('td').addClass(openedClass);
                            }
                            if (data.status == 2) {
                                $this.append('{% trans 'Open comment' %}');
                                $this.closest('td').removeClass(openedClass);
                            }
                        }
                    }
                })

                return false;
            });
        {% endif %}

        {% if delete_claim %}
            {# удаление претензии #}
            var $claimAnchor = $('a.delete-claim');

            $claimAnchor.click(function( e ) {
                e.preventDefault();

                var $this = $(this)
                        , url = $this.attr('href')
                        , pk = $this.attr('rel')
                        , $container = $this.closest('tr');

                $.ajax({
                    type : "POST",
                    url: url,
                    data : {pk: pk},
                    dataType: "json",
                    success: function(data) {
                        if (data.success) {
                            $container.fadeOut(300, function() {
                                $container.remove();
                            })
                        }
                    }
                })
                return false;
            });
        {% endif %}

        {% if answer_claim %}
            {# ответ на претензию #}
            var $claimAnswerAnchor = $('a.answer-claim')
                , pkClaim = undefined;

            $claimAnswerAnchor.click(function( e ) {
                e.preventDefault();

                var $this = $(this)
                    , $form = $('#add-claim').remove();

                $form.addClass('reply-form-tweak');

                if (pkClaim != undefined && pkClaim == $this.attr('rel')) {
                    if($form.css('display') == 'block') {
                        $form.hide();
                    } else {
                        $form.show();
                    }
                } else {
                    $form.show();
                }

                var $container = $this.closest('td')
                    , $input = $('#id_claim-claim_id');

                pkClaim = $this.attr('rel');

                django_wysiwyg.disable('id_claim-comment_editor');

                $container.append($form);

                var $input = $('#id_claim-claim_id');

                $input.val(pkClaim);

                django_wysiwyg.enable('id_claim-comment_editor', 'id_claim-comment', null);
            })
        {% endif %}

        {% if answer_clarification %}
            {# ответ на претензию #}
            var $clarificationAnswerAnchor = $('a.answer-clarification')
                , pkClarification = undefined;

            $clarificationAnswerAnchor.click(function( e ) {
                e.preventDefault();

                var $this = $(this)
                    , $form = $('#add-clarification').remove()

                $form.addClass('reply-form-tweak');

                if (pkClarification != undefined && pkClarification == $this.attr('rel')) {
                    if($form.css('display') == 'block') {
                        $form.hide();
                    } else {
                        $form.show();
                    }
                } else {
                    $form.show();
                }

                var $container = $this.closest('td')
                    , $input = $('#id_clarification-clarification_id');

                pkClarification = $this.attr('rel')

                django_wysiwyg.disable('id_clarification-comment_editor');

                $container.append($form);

                var $input = $('#id_clarification-clarification_id');

                $input.val(pkClarification);

                django_wysiwyg.enable('id_clarification-comment_editor', 'id_clarification-comment', null);
            })
        {% endif %}
    });
</script>
{% endif %}