{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{# Проверка всех прав для сообщений #}

{% load check_object_permission %}

{% check_object_permission exmo2010.add_comment_score object as add_comment %}
{% check_object_permission exmo2010.add_clarification_score object as add_clarification %}
{% check_object_permission exmo2010.add_claim_score object as add_claim %}

{% check_object_permission exmo2010.close_comment_score object as close_comment %}
{% check_object_permission exmo2010.answer_clarification_score object as answer_clarification %}
{% check_object_permission exmo2010.answer_claim_score object as answer_claim %}
{% check_object_permission exmo2010.delete_claim_score object as delete_claim %}

{% if add_comment or add_clarification or add_claim or close_comment or delete_claim or answer_claim or answer_clarification %}
<script type="text/javascript">
    $(document).ready(function() {

        {% if add_comment or add_clarification or add_claim or answer_claim or answer_clarification %}

            {# disable кнопки submit у всех редакторов #}

            CKEDITOR.config.extraPlugins = 'onchange';

            {# enable кнопки submit при заполнении текстом #}
            function ckChangeHandler(e) {
                var sender = e.sender
                        , $input = $(sender.container.$)
                                .closest('form')
                                .children('input[type="submit"]');

                if(sender.getData()) {
                    $input.prop('disabled', false);
                } else {
                    $input.prop('disabled', true);
                }
            }

            function addContentListener(editor) {
                if ($.browser.msie) {
                    editor.on('contentDom', function( e ) {
                        editor.document.on('keyup', function(event) {
                            ckChangeHandler(e);
                        });
                    });
                } else {
                    editor.on('change', ckChangeHandler);
                }
            }

            for(var name in CKEDITOR.instances) {
                var editor = CKEDITOR.instances[name];
                addContentListener(editor);
                $(editor.element.$).closest('form')
                        .children('input[type="submit"]')
                        .prop('disabled', true);
            }
        {% endif %}

    });
</script>
{% endif %}
