{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

<dl class="score-header">
    {# Organization #}
    <dt>{% trans 'Organization' %}:</dt>
    <dd>{{ task.organization.name }}</dd>

    {# URL #}
    <dt>{% trans "Organization's website" %}:</dt>
    <dd><a target="_blank" href="{{ task.organization.url }}">{{ task.organization.url }}</a></dd>

    {# Importance #}
    <dt>{% trans "Social importance of the parameter" %}:</dt>
    <dd>
        {% ifequal parameter.weight 3 %}
            {% trans "high importance" %}
        {% endifequal %}
        {% ifequal parameter.weight 2 %}
            {% trans "middle importance" %}
        {% endifequal %}
        {% ifequal parameter.weight 1 %}
            {% trans "low importance" %}
        {% endifequal %}
    </dd>

    {# Description #}
    {% if parameter.description %}
    <dt>{% trans "Parameter description" %}:</dt>
    <dd class="parm-description">
        {{ parameter.description|safe }}
    </dd>
    {% endif %}
</dl>