{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n check_object_permission wysiwyg %}

{% wysiwyg_setup %}
<script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/ck-change-plugin.js"></script>

{% check_object_permission exmo2010.view_clarification_score object as view_clarification %}
{% check_object_permission exmo2010.add_clarification_score object as add_clarification %}
{% check_object_permission exmo2010.answer_clarification_score object as answer_clarification %}

{% check_object_permission exmo2010.add_claim_score object as add_claim %}
{% check_object_permission exmo2010.answer_claim_score object as answer_claim %}
{% check_object_permission exmo2010.delete_claim_score object as delete_claim %}

<ul class="nav-tabs">
    {% if view_comment %}
    <li class="active">
        <span>
            <a href="#comments" data-toggle="tab" class="pseudo">
                {% trans 'Comments' %}
            </a>
        </span>
    </li>
    {% endif %}
    {% if view_clarification %}
    <li{% if not view_comment %} class="active"{% endif %}>
        <span>
            <a href="#clarifications" data-toggle="tab" class="pseudo">
                {% trans 'Clarifications' %}
            </a>
        </span>
    </li>
    {% endif %}
    {% if view_claim %}
        <li{% if not view_clarification and not view_comment %} class="active"{% endif %}>
            <span>
                <a href="#claims" data-toggle="tab" class="pseudo">
                    {% trans 'Opened claims' %}
                </a>
            </span>
        </li>
    {% endif %}
</ul>

<div class="tab-content">
    {% if view_comment %}
    <div class="tab-pane active" id="comments">
        {% include "exmo2010/score/comment_dev.html" %}
    </div>
    {% endif %}

    {% if view_clarification %}
    <div class="tab-pane{% if not view_comment %} active{% endif %}" id="clarifications">
        {% include "clarification.html" %}
    </div>
    {% endif %}

    {% if view_claim %}
        <div class="tab-pane{% if not view_comment and not view_clarification %} active{% endif %}" id="claims">
            {% include "claim.html" %}
        </div>
    {% endif %}
</div>
