{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
{% endblock %}

{% block content %}
    <h1>{% trans 'About project' %}</h1>
    <p>ЕХМО – это система экспертного мониторинга интернет-сайтов,
        разработанная Фондом «Институт Развития Свободы Информации».</p>
    <p>Начиная с 2004 года Фонд регулярно проводит исследования официальных
        сайтов органов власти. Сегодня подобные ресурсы – это наиболее удобное
        средство получения информации о деятельности государственных органов и
        органов местного самоуправления, и размещаемая на них информация должна
        быть полной, актуальной и удобной для восприятия.</p>
    <p>С 2010 года все подобные исследования проводятся Фондом с помощью
        системы EXMO, задача которой - совершенствование государственных сайтов
        в процессе диалога гражданского общества и государства.</p>
    <p>EXMO является коммуникационной площадкой: она позволяет проводить
        консультации в ходе мониторинга, в рамках которых представители
        организаций могут задать вопросы экспертам и указать на возможные
        ошибки в оценке. Следуя полученным рекомендациям и своевременно внеся
        изменения на свой сайт, организация может повлиять на свою конечную
        оценку до подведения итогов мониторинга и занять более высокую позицию
        рейтинге открытости. Рейтинги составляются для сетевых ресурсов одного
        типа (например, рейтинг открытости сайтов арбитражных судов РФ).</p>
    <p>Результаты циклов мониторинга, которые проводились в 2012 году, показали
        в среднем 20-процентный прирост открытости в ходе взаимодействия.</p>
    <p>Информация о результатах мониторинга и статистика по итогам исследований
        публикуется в ЕХМО и открыта для всех пользователей интернета.</p>
    <p>Ответы на вопросы о работе системы и методике исследования находятся в
        разделе «Помощь».</p>
{% endblock %}
