{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
{% endblock %}

{% block content %}
    <h1>О проекте</h1>
    <P>
    Инфометр
    – это система экспертного мониторинга
    интернет-сайтов, разработанная Фондом
    «Институт Развития Свободы Информации».</P>
    <P>
    При
    помощи Инфометра эксперты нашего Фонда
    проводят онлайн проверки сайтов
    организаций для повышения их информационной
    открытости. Основная цель работы  системы
    Инфометр – сделать официальные сайты
    информативными, удобными для пользователей
    и соответствующими российским правовым
    актам о доступе к информации.</P>
    <P>
    Инфометр
    является коммуникационной площадкой:
    он позволяет проводить непосредственное
    взаимодействие экспертов Фонда и
    представителей органов власти и иных
    организаций. Так, представители могут
    задать вопросы экспертам, указать на
    возможные ошибки в оценке, выразить
    свое мнение. Следуя полученным
    рекомендациям и своевременно внося
    изменения на свой сайт, представитель
    может повысить оценки своей организации
    и занять более высокую позицию в рейтинге
    открытости. Рейтинги открытости
    составляются по окончании мониторинга
    для сайтов организаций одного типа
    (например, рейтинг открытости сайтов
    арбитражных судов РФ).</P>
    <P>
    В
    2012 году участвовавшие во взаимодействии
    суды общей юрисдикции повысили открытость
    своих сайтов в среднем на 53%.
    </P>
    <P>
    В
    отдельных случаях представитель
    организации за время взаимодействия
    повышал информационную открытость
    сайта на 75 % (Верховный Суд Республики
    Алтай, цикл мониторинга областных судов
    общей юрисдикции 2012 года).
    </P>
    <P>
    Информация
    о результатах мониторинга и статистика
    по итогам исследований публикуется в
    Инфометре и открыта для всех желающих.</P>
    <P>
    Ответы
    на вопросы о работе системы находятся
    в разделе «Помощь».
    </P>
{% endblock %}
