{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Конструктор опросника</title>
    <script type="text/javascript" src="{{STATIC_URL}}exmo2010/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exmo2010/js/jquery/jquery.json-2.3.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exmo2010/js/questionnaire.js"></script>
</head>
<body>
<form id="rform" action="{% url exmo2010:monitoring_manager monitoring.pk 'update' %}"></form>
<h1>{% trans "Create questionnaire" %}</h1>

<div id="ainfo">
    <label for="aname">Название анкеты</label><br/>
    <input id="aname" type="text" maxlength="300"><br/>
    <label for="acomm">Примечание к анкете</label><br/>
    <textarea id="acomm" maxlength="600"></textarea><br/>
    <br/>
</div>
<input type="button" value="Добавить вопрос" id="addq">
<br />
<br />
<br />
<input type="button" value="Сохранить анкету" id="sendqq">
</body>
</html>
