{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static future %}

{% spaceless %}
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
        <head>
            <title>
                {% block title %}
                    {% if title %}{{ title }} |{% endif %}
                    {% trans 'AIS Infometer' %}
                {% endblock title %}
            </title>

            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link rel="shortcut icon" type="image/png" href="{% static 'exmo2010/img/favicon.png' %}" />

            <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/base.css' %}" />
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static 'admin/css/rtl.css' %}{% endblock %}" />
            {% endif %}
            {% block extrastyle %}{% endblock %}

            <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
            {{ media|default:"" }}
            <script src="{% static 'exmo2010/js/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'exmo2010/js/csrf.js' %}"></script>
            {% block extrahead %}{% endblock %}

            {% include "analytics.html" %}
        </head>

        <body class="{% block bodyclass %}{% endblock %}">

            <!-- Container -->
            <div id="container">
                <!-- Header -->
                {% block header %}
                    <div id="header">
                        <div id="user-tools">
                            {% block userwelcome %}{% endblock %}
                            {% block userlinks %}{% endblock %}
                        </div>
                        {% block nav-global %}{% endblock %}
                    </div>
                {% endblock header %}

                <!-- END Header -->
                {% block breadcrumbs %}{% endblock %}

                {% if messages %}
                    {% for message in messages %}
                        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% block nav_sidebar_title %}{% endblock %}

                {% block nav_sidebar %}{% endblock nav_sidebar %}

                <div id="content-container">
                    {% block bubble %}{% endblock %}

                    <!-- Content -->
                    <div id="content" class="{% block content_class %}{% endblock %}">
                        {% block pretitle %}{% endblock %}
                        {% block content_title_base %}<h1>{% block content_title %}{% if title %}{{ title }}{% endif %}{% endblock %}</h1>{% endblock %}
                        {% block content %}
                            {% block object-tools %}{% endblock %}
                            {{ content }}
                        {% endblock content %}
                        {% block sidebar %}{% endblock %}
                        <br class="clear" />
                    </div>
                    <!-- END Content -->

                </div>
                <div id="push">
                </div>
            </div>
            <!-- END Container -->
            {% block footer %}
                {% include "exmo2010/footer.html" %}
            {% endblock %}
        </body>
    </html>
{% endspaceless %}
