{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}exmo2010/css/help_page.css" />
{% endblock %}

{% block content %}
<h1>Помощь</h1>
<OL>
    <LI><P>
    <a href=#register>Как
    зарегистрироваться в системе Инфометр
    впервые?</a></P>
    <LI><P>
    <a href=#registered>Уже
    зарегистрированным пользователям</a></P>
    <LI><P>
    <a href=#invide_code>Что
    такое код приглашения?</a></P>
    <LI><P>
    <a href=#what_to_do>Что
    делать в системе Инфометр?</a></P>
    <LI><P>
    <a href=#comment >Как
    оставить комментарий в Инфометре?</a></P>
    <LI><P>
    <a href=#rating >Как
    посмотреть рейтинг органов, участвовавших
    в цикле мониторинга?</a></P>
    <LI><P>
    <a href=#restore_pass >Как
    восстановить пароль?</a></P>
    <LI><P>
    <a href=#feedback >Форма
    обратной связи </a>
    </P>
    <LI><P>
    <a href=#important_links >Важные
    ссылки</a></P>
</OL>
<P>
<BR><BR>
</P>
<P>
<BR><BR>
</P>
<h2 id=register >Как зарегистрироваться в системе Инфометр впервые?</h2>
<P>
Представителям
организаций необходимо пройти регистрацию
для того, чтобы иметь возможность
повысить свои оценки, взаимодействуя
с экспертами Фонда Свободы Информации.</P>
<P>
Для
регистрации в системе Инфометр вам
необходимо:</P>
<P>
1.
Перейти по ссылке «Регистрация»  в
правом верхнем углу страницы либо
перейти по данной ссылке
<A HREF="{{ registration_url }}">{{ registration_url }}</A></P>
<P>
2.
Заполнить появившуюся регистрационную
форму (звездочкой отмечены поля,
обязательные к заполнению)
</P>
<P>
<IMG SRC="{{STATIC_URL}}exmo2010/img/help_page/register.png"></P>
<P>
Если
вы представляете организацию и хотите
повлиять на выставленные сайту вашей
организации оценки, в поле «Статус» вам
необходимо выбрать «представитель
организации».
</P>
<P>
Для
поля «Пароль» рекомендуем создать
сложный пароль, используя латинские
буквы (A-Z, a-z) и цифры (0-9) для обеспечения
безопасности.
</P>
<P>
В
поле «Код приглашения» представитель
организации вводит код, автоматически
высланный в письме-приглашении на
регистрацию.
</P>
<P>
После
заполнения регистрационной формы
нажмите на кнопку «Зарегистрироваться».</P>
<P>
3.
Подтвердить регистрацию.<BR>После
регистрации на указанный вами адрес
электронной почты отправляется письмо.
Для подтверждения регистрации необходимо
перейти по ссылке внутри письма.<BR><BR>В
каждом новом цикле мониторинга уже
зарегистрированному представителю
организации необходимо лишь ввести
новый код приглашения в настойках
профиля.</P>

<h2 id=registered >Уже зарегистрированным пользователям</h2>
<P>
Если
вы уже зарегистрированы в Инфометре,
войдите в систему, перейдите на страницу
настроек по ссылке в правом верхнем
углу, введите код в поле «Код приглашения».
Теперь вы можете взаимодействовать с
нашими экспертами: оставлять комментарии,
повышать свои оценки и место организации
в рейтинге.</P>

<h2 id=invide_code >Что такое код приглашения?</h2>
<P>
Код
приглашения – это набор символов,
которые необходимо ввести в соответствующее
поле при заполнении формы регистрации
для новых пользователей (см. вопрос №
1) либо в соответствующее поле раздела
«Настройки» для пользователей, работавших
ранее в системе (см. вопрос № 2). Код
приглашения содержится в письме, которое
в начале цикла мониторинга высылается
на адрес электронной почты, указанный
на сайте организации. Если по каким-либо
причинам вы не получили код приглашения
после начала цикла мониторинга,
пожалуйста, свяжитесь с нашей службой
технической поддержки по электронной
почте tsupport@svobodainfo.org или тел. +7(812)766-03-66.
</P>
<P>
<BR><BR>
</P>

<h2 id=what_to_do >Что делать в системе Инфометр?</h2>
<P>
В
Инфометре Вы можете:</P>
<UL>
    <LI><P>
    ознакомиться
    с оценками, выставленными сайтам
    организаций;</P>
    <LI><P>
    повысить
    оценки сайта своей организации, следуя
    рекомендациям экспертов и внося
    изменения на свой сайт (доступно для
    зарегистрированных представителей
    организаций);</P>
    <LI><P>
    оставить
    свой комментарий к оценке по параметру
    или рекомендации эксперта. В комментарии
    вы можете выразить свое несогласие/сомнение
    относительно оценки либо оповестить
    нас о внесенных на сайт изменениях
    согласно рекомендациям экспертов
    (доступно для зарегистрированных
    представителей организаций);</P>
    <LI><P>
    заказать
    Сертификат информационной открытости
    вашей организации (документ, отражающий
    процент информационной наполненности
    сайта вашей организации по итогам цикла
    мониторинга).
    </P>
</UL>
<P>
<BR><BR>
</P>

<h2 id=comment >Как оставить комментарий в Инфометре?</h2>
<P>
Данная
функция доступна только для представителей
организаций.
</P>
<P>
После
успешной регистрации в системе (смотрите
вопрос выше «Как зарегистрироваться в
системе Инфометр?») представитель
организации может оставить комментарий
к оценкам своего органа власти в
Инфометре.
</P>
<P>
Для
этого вам необходимо:</P>
<P>
1.
Войти в систему Инфометр под своей
учетной записью: перейти по ссылке
«Войти» в правом верхнем углу.</P>
<P>
<IMG SRC="{{STATIC_URL}}exmo2010/img/help_page/login_button.png"></P>
<P>
2.
Ввести адрес электронной почты и ваш
пароль.
</P>
<P>
3.
Перейти в раздел «Мои оценки» на панели
быстрого доступа, расположенной
слева, или в основном навигационном
меню (слева вверху страницы). <BR>Также
вы можете увидеть оценки своего органа
власти, кликнув по названию цикла
мониторинга текущего года на главной
странице Инфометра.</P>
<P>
В
разделе «Мои оценки» содержатся оценки
наших экспертов по всем параметрам
мониторинга для вашего органа.
</P>
<P>
<BR>4.
Кликнуть на интересующий вас параметр.</P>
<P>
5.
Ввести текст комментария в поле ввода
с заголовком «Ваш комментарий».</P>
<P>
После
того, как комментарий оставлен, вы
увидите сообщение о сроке ответа на
него. Время, отводимое эксперту для
ответа на ваш комментарий, зависит от
цикла мониторинга, и, как правило, не
превышает 3 рабочих дней. Об этих действиях
может направляться уведомление на
указанный вами при регистрации адрес
электронной почты, если вы активизировали
данную функцию в разделе «Настройки».

</P>

<h2 id=rating >Как посмотреть рейтинг организаций?</h2>
<P>
Для
этого необходимо перейти на страницу
«Рейтинги» по ссылке в главном меню
(сверху слева), кликнуть на интересующий
цикл мониторинга из списка.</P>
<P>
Вы
можете выстраивать рейтинг в зависимости
от вида параметров: по всем параметрам,
по параметрам на основе НПА, по
рекомендательным параметрам, по
параметрам, выбранным вами (пользовательский
рейтинг).</P>

<h2 id=restore_pass >Как восстановить пароль?</h2>
<P>
Если
вы забыли пароль, его можно восстановить,
перейдя по ссылке «Войти» справа на
главной панели управления, а затем по
ссылке «Забыли пароль?».</P>
<P>
Введите
в поле «Электронная почта» адрес
электронной почты, который вы указывали
при регистрации в системе Инфометр. На
этот адрес будет отправлено письмо со
ссылкой, перейдя по которой, можно будет
ввести новый пароль.</P>
<P>
<IMG SRC="{{STATIC_URL}}exmo2010/img/help_page/forget_password.png"></P>

<h2 id=feedback >Форма обратной связи</h2>
<P>
В
подвале (поле внизу страницы) Инфометра
расположена гиперссылка на форму
обратной связи для обращений, вопросов,
замечаний.</P>
<P>
<IMG SRC="{{STATIC_URL}}exmo2010/img/help_page/feedback.png"></P>

<h2 id=important_links >Важные ссылки</h2>
<P>
Регламент
взаимодействия представителей организаций
с экспертами:<A HREF="http://www.svobodainfo.org/ru/node/898">http://www.svobodainfo.org/ru/node/898</A></P>
<P>
Методика
мониторинга официальных сайтов органов
власти: <A HREF="http://www.svobodainfo.org/ru/node/902">http://www.svobodainfo.org/ru/node/902</A></P>

{% endblock %}
