{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n adminmedia %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#id_no_interact").is(':checked')) {
            $("#id_interact_date").closest("tr").hide();
            $("#id_finishing_date").closest("tr").hide();
        }

        $('#id_no_interact').change(function () {
            if ($("#id_no_interact").is(':checked')) {
                $("#id_interact_date").closest("tr").hide();
                $("#id_finishing_date").closest("tr").hide();
            }
            else {
                $("#id_interact_date").closest("tr").show();
                $("#id_finishing_date").closest("tr").show();
            }
        });

        $("#main_form").submit(function(e) {
            if ($("#id_no_interact").is(':checked')) {
                $("#id_interact_date").val($("#id_rate_date").val());
                $("#id_finishing_date").val($("#id_rate_date").val());
            }
        });


        if ($("#id_add_questionnaire").is(':checked')) {
            $('#id_add_questionnaire').change(function () {
                if (!$("#id_add_questionnaire").is(':checked')) {
                    if (confirm("{% trans "You've chosen to delete monitoring's questionnaire. This will lead to removing all its questions and collected answers. Are you sure?" %}")) {
                        $("#id_add_questionnaire").attr('checked', false);
                    }
                    else {
                        $("#id_add_questionnaire").attr('checked', true);
                    }
                }
            });
        }
        else {
            $('#id_add_questionnaire').change(function () {
                if ($("#id_add_questionnaire").is(':checked')) {
                    $("#addqa").show();
                }
                else {
                    $("#addqa").hide();
                }
            });
        }
    });

    $(function() {
        $( ".jdatefield" ).datepicker({
            showOn: "button",
            buttonImage: "{{STATIC_URL}}exmo2010/img/calendar.png",
            buttonImageOnly: true,
            dateFormat: "dd.mm.yy",
            changeMonth: true,
            changeYear: true
        });
    });

</script>
{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/forms.css" />{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">{% trans "Home" %}</a><span>&rsaquo;</span>
<a href="{% url exmo2010:monitoring_list %}">{% trans 'Monitoring' %}</a><span>&rsaquo;</span>
<span class="title">{{ title }}</span>
</div>
{% endblock %}

{% block content %}
{% if object %}
   <form action="{% url exmo2010:monitoring_organization_import object.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
     <a href="{% url exmo2010:monitoring_organization_export object.pk %}">{% trans 'Export organizations' %}</a> /
     <label>{% trans "Import organizations from CSV" %}: <input type="file" name="orgfile"></label><input type="submit" value="{% trans 'Import' %}" />
   </form>
   <form action="{% url exmo2010:monitoring_parameter_import object.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
     <a href="{% url exmo2010:monitoring_parameter_export object.pk %}">{% trans 'Export parameters' %}</a> /
     <label>{% trans "Import parameters from CSV" %}: <input type="file" name="paramfile"></label><input type="submit" value="{% trans 'Import' %}" />
   </form>
   {% if not object.has_questions %}
       {% if object.has_questionnaire %}
           <a id="addqa" href="{% url exmo2010:add_questionnaire object.pk %}">{% trans 'Edit questionnaire' %}</a>
       {% else %}
           <a style="display: none;" id="addqa" href="{% url exmo2010:add_questionnaire object.pk %}">{% trans 'Edit questionnaire' %}</a>
           <br />
       {% endif %}
   {% else %}
       <div style="background-color: #FFFFCC">{% trans 'Questionnaire is already created. To delete it turn off "Add questionnaire" checkbox and save changes' %}.</div>
   {% endif %}
{% endif %}
<form action="." method="post" class="monitoring_form" id="main_form">{% csrf_token %}
<table>
    <tr><td><h2>{% trans 'Monitoring' %}</h2></td></tr>
    {{ form.non_field_errors }}
    {{ form.as_table }}
</table>
<input type="submit" name="submit" class="button">
</form>
{% endblock %}
