{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n future %}

<div id=monitoring_stats>
    {% trans 'Organizations count' %}: <a href="{% url 'exmo2010:organizations' monitoring.pk %}">{{ organization_all_count }}</a><br />
    {% trans 'Organizations with task' %}: <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}">{{ organization_with_task_count }}</a><br />
    {% trans 'Organizations with ready task' %}: {{ organization_ready_count }}<br />
    {% trans 'Organizations with approved task' %}: <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}?filter2={{ exmo2010.models.Task.TASK_APPROVED }}">{{ organization_approved_count }}</a><br />
</div>
