{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load table_header i18n adminmedia model_status check_object_permission %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/bubble.css"/>
{% endblock %}
{% block bubble %}{% include "exmo2010/helpers/inv_code_bubble.html" %}{% endblock %}
{% block content %}
    {% if active_tasks %}
        <div id=active_tasks>
            <h2>{% trans 'Active tasks' %}</h2>
            <table>
                {% for task in active_tasks %}
                    <tr><td>
                        <a href="{% url exmo2010:score_list_by_task task.pk %}">{{task.organization.monitoring.name}}:&nbsp;{{ task.organization.name|truncatewords:10 }}</a>
                    </td></tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div id=monitoring_list>
        <h2>{% trans 'Monitoring cycles' %}</h2>
        <table>
            {% table_header headers %}
            <tbody>
            <tr>
                <td colspan=2>
                    {% check_object_permission exmo2010.create_monitoring fakeobject as perm %}
                    {% if perm %}
                        <a href="{% url exmo2010:monitoring_add %}?{{ request.GET.urlencode }}">{% trans 'Add new monitoring' %}&nbsp;<img src="{{STATIC_URL}}admin/img/admin/icon_addlink.gif"></a>&nbsp;
                    {% endif %}
                </td>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>
                        {% check_object_permission exmo2010.view_tasks object as perm %}
                        {% if not perm %}
                            <a href="{% url exmo2010:monitoring_rating object.pk %}">{{ object }}</a>
                        {% else %}
                            <a href="{% url exmo2010:tasks_by_monitoring object.pk %}">{{ object.name }}</a>
                            {% check_object_permission exmo2010.edit_monitoring object as perm %}
                            {% if perm %}
                                &nbsp;<a href="{% url exmo2010:monitoring_manager object.pk 'update' %}?{{ request.GET.urlencode }}"><img src="{{STATIC_URL}}admin/img/admin/icon_changelink.gif" ></a>&nbsp;
                            {% endif %}
                            {% check_object_permission exmo2010.admin_monitoring object as perm %}
                            {% if perm and not object.is_publish %}
                                &nbsp;<a href="{% url exmo2010:monitoring_manager object.pk 'delete' %}?{{ request.GET.urlencode }}"><img src="{{STATIC_URL}}admin/img/admin/icon_deletelink.gif" ></a>&nbsp;
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% monitoring_status object.status %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "exmo2010/paginator.html" %}
    </div>
{%endblock%}