{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

{% if object_list.has_other_pages %}
    <div>
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">&lt; {% trans 'Prev' %}</a>
        {% endif %}

        <a href="?page=1">1</a> ...
        {% if object_list.number != 1 and object_list.number != object_list.paginator.num_pages %}
            {{ object_list.number }} ...
        {% endif %}
        <a href="?page={{ object_list.paginator.num_pages }}">{{ object_list.paginator.num_pages }}</a>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">{% trans 'Next' %} &gt;</a>
        {% endif %}
    </div>
{% endif %}
