{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}
    {% blocktrans %}Delete parameter {{param}}{% endblocktrans %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}

{% block content %}
    {% if param.score_set.all %}
        {% trans 'When you delete parameter you also delete this scores:'%}<br>
        {% for score in param.score_set.all %}
            <a href="{% url 'exmo2010:score_view' score.pk %}">{{ score }}</a><br>
        {% endfor %}
    {% endif %}
    <form method="post">{% csrf_token %}
        <p>{% trans 'Delete this parameter?' %}</p>
        <p><input type="submit" value="{% trans 'Send' %}" /></p>
    </form>
{% endblock %}
