{% extends 'exmo2010/base_site.html' %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/rating.css"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">{% trans "Home" %}</a>&rsaquo;
<a href="{% url exmo2010:monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
{{title}}
</div>
{% endblock %}
{% block pretitle %}
{% include "exmo2010/monitoring_utility.html" %}
{% endblock %}
{% block content %}
    <div style="margin-bottom: 10px;">
        <p>
        {% blocktrans %}
            You can get rating with various parameters.
            1) all parameters
            2) npa parameters
            3) selected parameters
            By default you see rating based on all types.
        {% endblocktrans %}
        </p>
        <p class="rating-menu">
        <b>{% trans 'Rating view' %}:</b>
        {% if rating_type == "all" %}
            <span>{% trans 'all parameters' %}</span>
        {% else %}
            <a href="?type=all" class="pseudolink">{% trans 'all parameters' %}</a>
        {% endif %}
        {% if rating_type == "npa" %}
            <span>{% trans 'npa parameters' %}</span>
        {% else %}
            <a href="?type=npa" class="pseudolink">{% trans 'npa parameters' %}</a>
        {% endif %}
        {% if rating_type == "user" %}
            <span>{% trans 'user selected' %}</span>
        {% else %}
            <a id="user-selcted" href="#" class="pseudolink">{% trans 'user selected' %}</a>
        {% endif %}
        </p>
    </div>
<div id="pselect_div" {% if rating_type != "user" %}style="display: none;"{% endif %}>
    <div style="height: 30px;">
        <h3 class="parameter-list" style="display: inline;">{% trans 'Parameter list' %}</h3>
    </div>
    <form action="." method="GET" id="pselect_form">
        <div class="scroll">
            <input type="hidden" name="type" value="user">
            {% for field in form %}
                {{ field }}{{ field.label_tag }}<br>
            {% endfor %}
        </div>
        <input type="submit" value="{% trans "Get rating" %}">
    </form>
</div>

<p id="parameters-toggle" class="arrow-up" style="{% if rating_type != "user" %}display: none;{% endif %}">
    <a href="#"
       class="pseudolink-toggle"
       style="float: right;">
       {% trans 'Hide parameter list' %}
    </a>
</p>


<br />

<h1>{{ monitoring.name }}
{% if rating_type == "npa" %} —
{% trans 'generated by parameters based on normative-legal acts' %}
{% endif %}</h1>

<div id=organization_list>
{% if object_list %}
<table>
  <thead>
    <td>{% trans "Position" %}</td>
    <td>{% trans "Organization" %}</td>
    <td>{% trans "URL" %}</td>
    {% if monitoring.status in monitoring.after_interaction_status %}
        {% if average.openness_first >= 0 %}
            <td>{% trans "First openness" %}*</td>
        {% endif %}
        <td>{% trans "Finally openness" %}</td>
    {% else %}
        <td>{% trans "Actualy openness" %}</td>
    {% endif %}
  </thead>
  <tbody>
  {% for object in object_list %}
        <tr class="{%if forloop.counter|divisibleby:'2'%}row2{%else%}row1{%endif%} {%ifchanged object.place%}rating-top-border{%endifchanged%}">
        {% ifchanged object.place %}
            <td rowspan={{object.place_count}} align='center' style="vertical-align:middle; background: none repeat scroll 0 0 white;">{{ object.place }}</td>
        {% endifchanged %}
        <td>{{ object.task.organization.name }}</td>
        <td><a href="{{ object.task.organization.url }}">{{ object.task.organization.url }}</a></td>
        {% if monitoring.status in monitoring.after_interaction_status and average.openness_first >= 0 %}
            <td>{{ object.openness_first|floatformat:3 }}</td>
        {% endif %}
        <td>{{ object.openness|floatformat:3 }}</td>
    </tr>
  {% endfor %}</tbody>
  <tr style="font-weight: bold">
      <td colspan=3>{% trans 'Average' %}</td>
      {% if monitoring.status in monitoring.after_interaction_status and average.openness_first >= 0 %}
          <td>{{ average.openness_first|floatformat:3 }}</td>
      {% endif %}
      <td>{{ average.openness|floatformat:3 }}</td>
  </tr>
  <tr style="font-weight: bold">
      <td colspan=
      {% if monitoring.status in monitoring.after_interaction_status and average.openness_first >= 0 %}
          4
      {% else %}
          3
      {% endif %}>
          {% trans 'Total organizations' %}
      </td>
      <td>{{ object_list|length }}</td>
  </tr>
</table>
{% if monitoring.status in monitoring.after_interaction_status and average.openness_first >= 0 %}
    <p class="footnote">
    * {% trans 'First openness &mdash; openness value before interact' %}
    </p>
{% endif %}
{% else %}
{% trans 'Empty list' %}
{% endif %}
</div>

<script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/jquery/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {

    function pseudolinkHandler( e ) {
        $('#user-selcted').removeClass('pseudolink-off')
        $('#user-selcted').addClass('pseudolink')
        $(e.target).removeClass('pseudolink')
        $(e.target).addClass('pseudolink-off')

        $('#pselect_div').hide()
        $('#parameters-toggle').hide()

        e.preventDefault();
    }

    $('#user-selcted').click(function( e ) {

        $('.rating-menu span').each(function(){
            $(this).removeClass('pseudolink-off')
            $(this).addClass('pseudolink')
            $(this).on("click", pseudolinkHandler);
        });

        $('#pselect_div').show()
        $(this).removeClass('pseudolink')
        $(this).addClass('pseudolink-off')
        $('#parameters-toggle').show()

        e.preventDefault();
     })

    $('#parameters-toggle').click(function( e ) {
        $('#pselect_div').toggle()

        if($('#pselect_div').is(":visible")) {
            //console.log('Hide')
            $('#parameters-toggle a').html('{% trans 'Hide parameter list' %}')
            $('#parameters-toggle').removeClass('arrow-down')
            $('#parameters-toggle').addClass('arrow-up')

        } else {
            //console.log('Show')
            $('#parameters-toggle a').html('{% trans 'Show parameter list' %}')
            $('#parameters-toggle').removeClass('arrow-up')
            $('#parameters-toggle').addClass('arrow-down')

        }

        e.preventDefault();
    })
});
</script>

{% endblock %}