{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% load pytils_numeral %}

<div>
    <p>
        {% blocktrans %}You can get rating with various parameters.
1) all parameters
2) npa parameters
3) selected parameters{% endblocktrans %}
    </p>
    {% if report %}
        <p>{% trans 'You can select rating type after monitoring selection' %}.</p>
        <form action="." method="GET" id="mselect_form">
            <b>{% trans 'Select monitoring' %}:</b><br/><br/>
            {% for field in mform %}
                {{ field }}<br/><br/>
            {% endfor %}
            <input type="submit" value="{% trans "Select" %}">
        </form>
    {% endif %}
</div>
{% if monitoring %}
    <div id="table_string">
        <table id="rating-menu">
            <tr>
                <td>
                    <span class="rating-menu">
                        <b>{% trans 'Rating view' %}:</b>
                        {% if rating_type == "all" %}
                        <span class="active">
                            <span>{% trans 'all parameters' %}</span>
                        </span>
                        {% else %}
                        <span>
                            <a href="?{% if report %}monitoring={{ monitoring.pk }}&{% endif %}type=all">{% trans 'all parameters' %}</a>
                        </span>
                        {% endif %}

                        {% if has_npa %}
                            {% if rating_type == "npa" %}
                                <span class="active">
                                    <span>{% trans 'npa parameters' %}</span>
                                </span>
                            {% else %}
                                <span>
                                    <a href="?{% if report %}monitoring={{ monitoring.pk }}&{% endif %}type=npa">{% trans 'npa parameters' %}</a>
                                </span>
                            {% endif %}
                            {% if rating_type == "other" %}
                                <span class="active">
                                    <span>{% trans 'other parameters' %}</span>
                                </span>
                            {% else %}
                                <span>
                                    <a href="?{% if report %}monitoring={{ monitoring.pk }}&{% endif %}type=other">{% trans 'other parameters' %}</a>
                                </span>
                            {% endif %}
                        {% endif %}
                        {% if rating_type == "user" %}
                            <span class="active">
                                <span>{% trans 'user selected' %}</span>
                            </span>
                        {% else %}
                            <span>
                                <a id="user-selcted" href="#" class="pseudo">{% trans 'user selected' %}</a>
                            </span>
                        {% endif %}
                    </span>
                </td>
                <td><div class="link-right">
                    <ul>
                    {% if monitoring.map_link %}<li>
                        <a href="{{ monitoring.map_link }}" target="_blank">
                            <i class="icon icon-map"></i> {% trans "Map" %}</a>
                    </li>{% endif %}
                    <li>
                        <a href="{% url exmo2010:monitoring_export monitoring.pk %}?format=json">
                            <i class="icon icon-download-alt"></i> {% trans 'Export as JSON' %}
                        </a></li>
                    <li>
                        <a href="{% url exmo2010:monitoring_export monitoring.pk %}?format=csv">
                            <i class="icon icon-download-alt"></i> {% trans 'Export as CSV' %}
                        </a></li>
                    </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="pselect_div">
        <div>
            <h3 class="parameter-list">{% trans 'Parameter list' %}</h3>
        </div>
        <form action="." method="GET" id="pselect_form">
            <div class="scroll">
                {% if report %}
                    <input type="hidden" name="monitoring" value="{{ monitoring.pk }}">
                {% endif %}
                <input type="hidden" name="type" value="user">
                {% for field in form %}
                    {{ field }}{{ field.label_tag }}<br>
                {% endfor %}
            </div>
            <input type="submit" value="{% trans "Get rating" %}">
        </form>
    </div>

    <p id="parameters-toggle" class="arrow-down" style="{% if rating_type != "user" %}display: none;{% endif %}">
        <a href="#" class="pseudo">
            {% trans 'Show parameter list' %}
        </a>
    </p>

    <h1>{{ monitoring.name }}
        {% if rating_type == "npa" %} —
            {% trans 'generated by parameters based on normative-legal acts' %}
        {% endif %}
        {% if rating_type == "other" %} —
            {% trans 'generated by other parameters' %}
        {% endif %}
        {% if rating_type == "user" %} —
            {% trans 'generated by parameters on user selected' %}
        {% endif %}
    </h1>

    <div id=organization_list>
        {% if object_list %}
            <table id="table_form">
                <thead>
                <td>{% trans "Position in rating" %}</td>
                <td>{% trans "Organization" %}</td>
                <td>{% trans "URL" %}</td>
                {% if monitoring.status in monitoring.after_interaction_status %}
                    {% if average.openness_initial >= 0 %}
                        {% if rating_type == "all" %}
                            <td>{% trans "First openness" %}*</td>
                        {% endif %}
                    {% endif %}
                    <td>{% trans "Finally openness" %}</td>
                {% else %}
                    <td>{% trans "Actualy openness" %}</td>
                {% endif %}
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr class="{% if forloop.counter|divisibleby:'2' %}row2{% else %}row1{% endif %}{% if forloop.last %} rating-bottom-border{% endif %}{% ifchanged object.place %} rating-top-border{% endifchanged %}">
                        {% ifchanged object.place %}
                            <td id="first_column" rowspan="{{ object.place_count }}">{{ object.place }}</td>
                        {% endifchanged %}
                        <td><a href="{% url exmo2010:score_list_by_task object.pk %}">{{ object.organization.name }}</a></td>
                        <td><a target="_blank" href="{{ object.organization.url }}">{{ object.organization.url }}</a></td>
                        {% if monitoring.status in monitoring.after_interaction_status and average.openness_initial >= 0 %}
                            {% if rating_type == "all" %}
                                <td>{{ object.openness_initial|floatformat:3 }}</td>
                            {% endif %}
                        {% endif %}
                        <td>{{ object.openness|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tr id="average">
                    <td colspan=3>{% trans 'Average value' %}</td>
                    {% if monitoring.status in monitoring.after_interaction_status and average.openness_initial >= 0 %}
                        {% if rating_type == "all" %}
                            <td>{{ average.openness_initial|floatformat:3 }}</td>
                        {% endif %}
                    {% endif %}
                    <td>{{ average.openness|floatformat:3 }}</td>
                </tr>
                <tr>
                    <td colspan="
                                {% if monitoring.status in monitoring.after_interaction_status and average.openness_initial >= 0 and rating_type == "all" %}
                                    5
                                {% else %}
                                    4
                                {% endif %}">
                        {{ total_orgs }}
                    </td>
                </tr>
            </table>
            {% if monitoring.status in monitoring.after_interaction_status and average.openness_initial >= 0 %}
                {% if rating_type == "all" %}
                    <p class="footnote">
                        * {% trans 'First openness &mdash; openness value before interact' %}
                    </p>
                {% endif %}
            {% endif %}
        {% else %}
            {% trans 'List is empty' %}
        {% endif %}
    </div>
{% endif %}
