{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n comments check_object_permission %}
{% check_object_permission exmo2010.comment_score object as can_comment %}
{% check_object_permission exmo2010.view_comment_score object as can_view_comment %}

{% if can_view_comment %}

    {% get_comment_list for object as comment_list %}
    {% if comment_list %}
        <h3 class="heading-comments-parameter">{% trans 'Comments' %}</h3>
        <table class="table-comments-parameter">
            <tbody>
            {% for comment in comment_list %}
                <tr id="c{{ comment.id }}">
                    <td class="author">
                        {% if comment.user.userprofile.is_expert or comment.user.is_superuser %}
                            {% if user.userprofile.is_expert or user.is_superuser %}
                                {{ comment.user_name }}
                            {% else %}
                                {% trans 'Foundation Analyst' %}
                            {% endif %}
                        {% else %}
                            {{ comment.user_name }}
                        {% endif %}
                        <br />
                        <span>
                            {{ comment.submit_date|date:"H:i d.m.Y" }}
                        </span>
                    </td>
                    <td>
                        {{ comment.comment|safe }}<br />
                        {% if request.user.userprofile.is_expertA and comment.user.userprofile.is_organization %}
                            {% url exmo2010:toggle_comment as toggle_url %}
                            <a class="toggle-comment"
                               style="border-bottom: 1px dashed;"
                               href="{{ toggle_url }}"
                               rel="{{ comment.pk }}">
                                {% if comment.status == 0 %}
                                    {% trans 'Close comment' %}
                                {% else %}
                                    {% trans 'Open comment' %}
                                {% endif %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

{% load wysiwyg %}
{% wysiwyg_setup %}

{% if can_comment %}

    {% if peremptory_day %}
        <div style="background-color: pink">
            {% trans 'Peremptory day to answer your question is' %}
            {{ peremptory_day|date:"j F Y" }}
        </div>
    {% endif %}

    <h3 class="heading-yourcomment-parameter">{% trans 'Your comment' %}</h3>

    {% get_comment_form for object as form %}
    <form action="{% comment_form_target %}" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% if user %}
            <input type="hidden" name="id_user" value="{{ user }}" />
        {% else %}
            <label class="label-comment">{{ form.user.label }}</label>
            <br />
            {{ form.user }}
            <br />
        {% endif %}
        {% if user.email %}
            <input type="hidden" name="id_email" value="{{ user.email }}" />
        {% else %}
            <label class="label-comment">{{ form.email.label }}</label>
            <br />
            {{ form.email }}
            <br />
        {% endif %}
        {{ form.comment }}
        {% wysiwyg_editor "id_comment" %}
        <br />
        <input type="hidden" name="next" value="{% url exmo2010:score_view object.pk %}" />
        <input type="submit" name="post" id="submit-comment" class="submit-post" value="{% trans 'Post' %}">
    </form>
{% endif %}

