{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load criteria_css_class %}
      <td width=55px class="{{score|criteria_css_class:'found'}}">
      {{score.found}}
      {% if score_interact and score_interact.found != score.found %}
        <span class="score_interact">({{score_interact.found}})</span>
      {% endif %}
      </td>
      <td width=55px class="{{score|criteria_css_class:'complete'}}">
      {% if score.parameter.complete %}
        {{score.complete|default:"-"}}
        {% if score_interact and score_interact.complete != score.complete %}
            <span class="score_interact">({{score_interact.complete|default:"-"}})</span>
        {% endif %}
      {% else %}
        &nbsp;
      {% endif %}
      </td>
      <td width=55px class="{{score|criteria_css_class:'topical'}}">
      {% if score.parameter.topical %}
        {{score.topical|default:"-"}}
        {% if score_interact and score_interact.topical != score.topical %}
            <span class="score_interact">({{score_interact.topical|default:"-"}})</span>
        {% endif %}
      {% else %}
        &nbsp;
      {% endif %}
      </td>
      <td width=55px class="{{score|criteria_css_class:'accessible'}}">
      {% if score.parameter.accessible %}
        {{score.accessible|default:"-"}}
        {% if score_interact and score_interact.accessible != score.accessible %}
            <span class="score_interact">({{score_interact.accessible|default:"-"}})</span>
        {% endif %}
      {% else %}
        &nbsp;
      {% endif %}
      </td>
      <td width=55px class="{{score|criteria_css_class:'hypertext'}}">
      {% if score.parameter.hypertext %}
        {{score.hypertext|default_if_none:"-"}}
        {% if score_interact and score_interact.hypertext != score.hypertext %}
            <span class="score_interact">({{score_interact.hypertext|default_if_none:"-"}})</span>
        {% endif %}
      {% else %}
        &nbsp;
      {% endif %}
      </td>
      <td width=55px class="{{score|criteria_css_class:'document'}}">
      {% if score.parameter.document %}
        {{score.document|default_if_none:"-"}}
        {% if score_interact and score_interact.document != score.document %}
            <span class="score_interact">({{score_interact.document|default_if_none:"-"}})</span>
        {% endif %}
      {% else %}
        &nbsp;
      {% endif %}
      </td>
      <td width=55px class="{{score|criteria_css_class:'image'}}">
      {% if score.parameter.image %}
        {{score.image|default_if_none:"-"}}
        {% if score_interact and score_interact.image != score.image %}
            <span class="score_interact">({{score_interact.image|default_if_none:"-"}})</span>
        {% endif %}
      {% else %}
        &nbsp;
      {% endif %}
      </td>
