{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

<div id="legend">
    <h3>{% trans 'Color legend' %}</h3>

    <table id="table_color">
        <tbody>
            <tr>
                <td class="first_column green">
                    {% trans 'Criterion has a high value.' %}
                </td>
                <td>
                    {% trans 'Criteria' %}: {% trans 'Found' %}, {% trans 'Hypertext' %}, {% trans 'Document' %}, {% trans 'Image' %} - {% trans 'Score' %} «1».<br />
                    {% trans 'Criteria' %}: {% trans 'Complete' %}, {% trans 'Topical' %}, {% trans 'Accessible' %} - {% trans 'Score' %} «3».
                </td>
            </tr>
            <tr>
                <td class="first_column yellow">
                    {% trans 'Criterion has a middle value.' %}
                </td>
                <td>
                    {% trans 'Criteria' %}: {% trans 'Complete' %}, {% trans 'Topical' %}, {% trans 'Accessible' %} - {% trans 'Score' %} «2».
                </td>
            </tr>
            <tr>
                <td class="first_column orange">
                    {% trans 'Criterion has a low value.' %}
                </td>
                <td>
                    {% trans 'Criteria' %}: {% trans 'Complete' %}, {% trans 'Topical' %}, {% trans 'Accessible' %} - {% trans 'Score' %} «1».
                </td>
            </tr>
            <tr>
                <td class="first_column red">
                    {% trans 'Information was not found on the website.' %}
                </td>
                <td>
                    {% trans 'Criteria' %}: {% trans 'Found' %}, {% trans 'Complete' %}, {% trans 'Topical' %}, {% trans 'Accessible' %} - {% trans 'Score' %} «0», {% trans 'information was not found on the website' %}.<br />
                    {% trans 'Criteria' %}: {% trans 'Hypertext' %}, {% trans 'Document' %}, {% trans 'Image' %} - {% trans 'Score' %} «0», {% trans 'information in the indicated formats was not found on the website' %}.
                </td>
            </tr>
            <tr>
                <td class="first_column gray">
                    {% trans 'Criterion is not considered for the parameter.' %}
                </td>
                <td>
                    {% trans 'Criteria' %}: {% trans 'Complete' %}, {% trans 'Topical' %}, {% trans 'Accessible' %}, {% trans 'Hypertext' %}, {% trans 'Document' %}, {% trans 'Image' %} {% trans 'are not considered for this parameter' %}.
                </td>
            </tr>
        </tbody>
    </table>

    <h3>{% trans 'Table of the possible variants of criteria values' %}</h3>

    <table id="table_variant">
        <thead>
            <tr>
                <th>{% trans 'Parameter name' %} / {% trans 'Criterion name' %}</th>
                <th>{% trans 'Found' %}</th>
                <th>{% trans 'Complete' %}</th>
                <th>{% trans 'Topical' %}</th>
                <th>{% trans 'Accessible' %}</th>
                <th>{% trans 'Hypertext' %}</th>
                <th>{% trans 'Document' %}</th>
                <th>{% trans 'Image' %}</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="first_column" rowspan="4">{% trans 'Parameter' %} 1</td>
                <td class="green" rowspan="4">{% trans 'Score' %} «1»</td>
                <td class="green">{% trans 'Score' %} «3»</td>
                <td class="green">{% trans 'Score' %} «3»</td>
                <td class="green">{% trans 'Score' %} «3»</td>
                <td class="green">{% trans 'Score' %} «1»</td>
                <td class="green">{% trans 'Score' %} «1»</td>
                <td class="green">{% trans 'Score' %} «1»</td>
            </tr>
            <tr>
                <td class="yellow">{% trans 'Score' %} «2»</td>
                <td class="yellow">{% trans 'Score' %} «2»</td>
                <td class="yellow">{% trans 'Score' %} «2»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
            </tr>
            <tr>
                <td class="orange">{% trans 'Score' %} «1»</td>
                <td class="orange">{% trans 'Score' %} «1»</td>
                <td class="orange">{% trans 'Score' %} «1»</td>
                <td class="gray" rowspan="2">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray" rowspan="2">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray" rowspan="2">{% trans 'Parameter is not evaluated on this criterion' %}</td>
            </tr>
            <tr>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
            </tr>

            <tr>
                <td class="first_column" rowspan="2">{% trans 'Parameter' %} 2</td>
                <td class="red" rowspan="2">{% trans 'Score' %} «0»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
                <td class="red">{% trans 'Score' %} «0»</td>
            </tr>
            <tr>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
                <td class="gray">{% trans 'Parameter is not evaluated on this criterion' %}</td>
            </tr>
        </tbody>
    </table>

    <h3>{% blocktrans with url="http://www.svobodainfo.org/ru/node/902" %}You can find more detailed information about research methods and criteria for evaluating of parameters in <a href="{{ url }}" target="_blank">Methodology of the Monitoring</a>.{% endblocktrans %}</h3>

</div>
