{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#comments" data-toggle="tab">
            {% trans 'Comments' %}
        </a>
    </li>
    <li>
        <a href="#claims" data-toggle="tab">
            {% trans 'Opened claims' %}
        </a>
    </li>
    <li>
        <a href="#clarifications" data-toggle="tab">
            {% trans 'Clarifications' %}
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="comments">
        {% include "exmo2010/score_comment.html" %}
    </div>
    <div class="tab-pane" id="claims">
        {# Score template #}
        {% include "exmo2010/score_claim.html" %}
    </div>
    <div class="tab-pane" id="clarifications">
        {# Clarifications template #}
    </div>
</div>