{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load static %}

<thead>
    <tr class="heading">
        {% for header in headers %}
            <th{{ header.class_attr|safe }}>
                {% if header.sortable %}<a href="?{{ header.url|escape }}">{% endif %}
                {{ header.text|capfirst }}
                {% if header.sortable %}</a>{% endif %}

                {% if header.filterable %}
                    <form action="." method="GET">
                        {% if header.select %}
                            <div style="display: table-cell">
                                <select name="filter{{ header.i }}">
                                    <option value="">---</option>
                                    {% for option in header.select %}
                                        <option value="{{option.0}}">{{ option.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div style="display: table-cell">
                                <input type="image" src="{% static 'admin/img/tooltag-arrowright_over.gif' %}">
                            </div>
                        {% else %}
                            <input name="filter{{ header.i }}" value="{{ header.filter }}">
                        {% endif %}
                        <input name="o" value="{{ header.o }}" type="hidden">
                        <input name="ot" value="{{ header.ot }}" type="hidden">
                    </form>
                {% endif %}
            </th>
        {% endfor %}
    </tr>
</thead>
