{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load table_header i18n adminmedia monitoring_stats model_status check_object_permission %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/bubble.css"/>
{% endblock %}
{% block extrahead %}{{ block.spuer }}
    <style>
        .ajaxloader {
            height: 11px;
            width: 11px;
        }
    </style>
    <script src="{{ STATIC_URL }}exmo2010/js/jquery/jquery.min.js"></script>
    <script>
        var baseURL='/exmo2010/tasks/task/';
        function change_status(task_id, status) {
            var loaderHTML='<img width="8" height="8" src="{{ STATIC_URL }}exmo2010/img/ajax-loader.gif" class="ajaxloader">';
            $('#task-status-'+task_id).html(loaderHTML);
            $.ajax({
                url: baseURL+task_id+'_'+status+'/',
                success: function(data) {
                    $('#task-status-'+task_id).html(data);
                }
            });
        }
        $(document).ready(function () {
            $('.task-status').each(function(){
                var task_id=$(this).data('taskid');
                var url=baseURL+task_id+'_get/';
                $(this).load(url);
            });
        });
    </script>
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">{% trans "Home" %}</a>&rsaquo;
<a href="{% url exmo2010:monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
{% if organization %}
<a href="{% url exmo2010:organization_list monitoring.pk %}">{% trans 'Organizations for monitoring ' %}{{monitoring}}</a>&rsaquo;
{% endif %}
{{ title }}
</div>
{% endblock %}
{% block bubble %}{% include "exmo2010/helpers/inv_code_bubble.html" %}{% endblock %}

{% block pretitle %}
{% if request.user.profile.is_internal %}
{% include "exmo2010/monitoring_utility.html" %}
{% endif %}
{% endblock %}

{% block content %}
{% check_object_permission exmo2010.admin_monitoring monitoring as perm_admin %}
<div id=task_list>
<table>
  {% table_header headers %}
  <tbody>
    {% if perm_admin %}
        <tr>
            <td colspan=5>
            {% if organization %}
                <a href="{% url exmo2010:task_add monitoring.pk organization.pk %}?{{ request.GET.urlencode }}">{% trans 'Add new task' %}&nbsp;<img src="{{STATIC_URL}}admin/img/admin/icon_addlink.gif"></a>
            {% else %}
                <a href="{% url exmo2010:task_add monitoring.pk %}?{{ request.GET.urlencode }}">{% trans 'Add new task' %}&nbsp;<img src="{{STATIC_URL}}admin/img/admin/icon_addlink.gif"></a>
            {% endif %}
            </td>
        </tr>
    {% endif %}
    {% for object in object_list %}
    <tr id="task{{ object.pk }}">

      <td>
        <a 
        {% if object.organization.monitoring.is_revision and object.user != user and user.profile.is_expertB and not user.profile.is_expertA %}
        style="color:red"
        {% endif %}
         href="{% url exmo2010:score_list_by_task object.pk %}" title="{{ object.organization.name}}">{{ object.organization.name|truncatewords:10 }}</a>
        {% if perm_admin %}
            &nbsp;<a href="{% url exmo2010:task_manager object.pk 'update' %}?{%if organization%}organization=1&{%endif%}{{ request.GET.urlencode }}"><img src="{{STATIC_URL}}admin/img/admin/icon_changelink.gif" ></a>&nbsp;
        {% endif %}
        {% if perm_admin and not monitoring.is_publish %}
            <a href="{% url exmo2010:task_manager object.pk 'delete' %}?{%if organization%}organization=1&{%endif%}{{ request.GET.urlencode }}"><img src="{{STATIC_URL}}admin/img/admin/icon_deletelink.gif"></a>
        {% endif %}
      </td>
      {% if perm_admin or user.userprofile.is_expertA %}
          <td>
              {{ object.user.userprofile.legal_name }}
          </td>
      {% endif %}
      {% if user.is_superuser or user.userprofile.is_expert %}
      <td id="task-status-{{ object.pk }}" class="task-status" data-taskid="{{ object.pk }}">
          <img src="{{ STATIC_URL }}exmo2010/img/ajax-loader.gif" class="ajaxloader">
      </td>
      {% endif %}

      {% if not user.profile.is_organization %}
      <td>
          <a href="{% url exmo2010:score_list_by_task object.pk %}">
              {{ object.complete|floatformat:1 }}
          </a>
      </td>
      {% endif %}

      {% if organization %}
      <td>
          {{ object.openness|floatformat:3 }}
      </td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "exmo2010/paginator.html" %}
</div>
{% if perm %}
    <br />
    {% monitoring_stats monitoring %}
{% endif %}
{%endblock%}
