{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
    <style>
        #id_email
        {
            margin-top: 1px;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}exmo2010/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exmo2010/js/user_settings.js"></script>
{% endblock %}

{% block content %}
    <h1>{% trans 'Preferences' %}</h1>
    {% if success %}
    <p style="color: red;">{% trans 'Settings are successfully saved' %}.</p>
    {% endif %}
    <p>{% trans 'Here you can change your account, password and notification settings.' %}</p>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            <h2>{% trans 'Personal info' %}</h2>
            <span class="fc_item_header">{{ form.first_name.label_tag }}</span>

            <div>
                {% if form.first_name.errors %}
                    <ul class="errorlist">
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="fc_field_header">{{ form.first_name }}</div>
            </div>

            <span class="fc_item_header">{{ form.patronymic.label_tag }}</span>

            <div>
                {% if form.patronymic.errors %}
                    <ul class="errorlist">
                        {% for error in form.patronymic.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="fc_field_header">{{ form.patronymic }}</div>
            </div>

            <span class="fc_item_header">{{ form.last_name.label_tag }}</span>

            <div>
                {% if form.last_name.errors %}
                    <ul class="errorlist">
                        {% for error in form.last_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="fc_field_header">{{ form.last_name }}</div>
            </div>

            {% if form.position %}
                <span class="fc_item_header">{{ form.position.label_tag }}</span>
                <div>
                    {% if form.position.errors %}
                        <ul class="errorlist">
                            {% for error in form.position.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="fc_field_header">{{ form.position }}</div>
                </div>

                <span class="fc_item_header">{{ form.phone.label_tag }}</span>
                <div>
                    {% if form.phone.errors %}
                        <ul class="errorlist">
                            {% for error in form.phone.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="fc_field_header">{{ form.phone }}</div>
                </div>
            {% endif %}

            <span class="fc_item_header">{{ form.email.label_tag }}</span>

            <div>
                {% if form.email.errors %}
                    <ul class="errorlist">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="fc_field_header">{{ form.email }}</div>
            </div>

            <span class="fc_item_header">{{ form.sex.label_tag }}</span>

            <div>
                {% if form.sex.errors %}
                    <ul class="errorlist">
                        {% for error in form.sex.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="fc_field_header">{{ form.sex }}</div>
            </div>
            {% if form.invitation_code %}
                <span class="fc_item_header">{{ form.invitation_code.label_tag }}</span>
                <div>
                    {% if form.invitation_code.errors %}
                        <ul class="errorlist">
                            {% for error in form.invitation_code.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="fc_field_header">{{ form.invitation_code }}</div>
                </div>
            {% endif %}
            <br /><hr />


            <h2>{% trans 'Change password' %}</h2>
            <span class="fc_item_header">{{ form.old_password.label_tag }}</span>
            <div>
                {% if form.old_password.errors %}
                    <ul class="errorlist">
                        {% for error in form.old_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="fc_field_header">{{ form.old_password }}</div>
            </div>

            <span class="fc_item_header">{{ form.new_password.label_tag }}</span>
            <div>
                {% if form.new_password.errors %}
                    <ul class="errorlist">
                        {% for error in form.new_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="fc_field_header">{{ form.new_password }}</div>
            </div>
            <br /><hr />


            <h2>{% trans 'E-mail notifications' %}</h2>
            {% if form.score_notification_type %}
                <span class="fc_item_header">{{ form.score_notification_type.label_tag }}</span>
                <div>
                    {% if form.score_notification_type.errors %}
                        <ul class="errorlist">
                            {% for error in form.score_notification_type.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="fc_field_header">{{ form.score_notification_type }}</div>
                </div>

                <div>
                    {% if form.score_notification_digest.errors %}
                        <ul class="errorlist">
                            {% for error in form.score_notification_digest.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div id="snd" class="fc_field_header">{{ form.score_notification_digest }}</div>
                </div>

                <span class="fc_item_header">{{ form.comment_notification_type.label_tag }}</span>
                <div>
                    {% if form.comment_notification_type.errors %}
                        <ul class="errorlist">
                            {% for error in form.comment_notification_type.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="fc_field_header">{{ form.comment_notification_type }}</div>
                </div>

                <div>
                    {% if form.comment_notification_digest.errors %}
                        <ul class="errorlist">
                            {% for error in form.comment_notification_digest.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div id="cnd" class="fc_field_header">{{ form.comment_notification_digest }}</div>
                </div>

                <span class="fc_item_header">{{ form.notify_on_my_comments.label_tag }}</span>
                <div>
                    {% if form.notify_on_my_comments.errors %}
                        <ul class="errorlist">
                            {% for error in form.notify_on_my_comments.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="fc_field_header">{{ form.notify_on_my_comments }}</div>
                </div>
            {% endif %}

            <span class="fc_item_header">{{ form.subscribe.label_tag }}</span>
            <div>
                {% if form.subscribe.errors %}
                    <ul class="errorlist">
                        {% for error in form.subscribe.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="fc_field_header">{{ form.subscribe }} {{ form.subscribe.help_text }}</div>
            </div>
            <br />
            <input type="submit" value="{% trans 'Save' %}">
        </div>
    </form>
{% endblock %}
