{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
    <style>
        #id_email
        {
            margin-top: 1px;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}exmo2010/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exmo2010/js/user_settings.js"></script>
{% endblock %}

{% block content %}
    <h1>{% trans 'Preferences' %}</h1>
    <p>{% trans 'Here you can change your account, password and notification settings.' %}</p>
    <h2>{% trans 'Personal info' %}</h2>
    {% if pers_inf_form_mess %}
        <p style="background-color: #80E580;">{% trans 'Personal info changed successfully' %}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <span class="fc_item_header">{% trans 'E-mail' %}</span>
            <div>
                <div class="fc_field_header">{{ email }}</div>
            </div>

            <span class="fc_item_header">{{ pers_inf_form.first_name.label }}</span>
            <div>
                <div class="fc_field_header">{{ pers_inf_form.first_name }}</div>
            </div>

            <span class="fc_item_header">{{ pers_inf_form.patronymic.label }}</span>
            <div>
                <div class="fc_field_header">{{ pers_inf_form.patronymic }}</div>
            </div>

            <span class="fc_item_header">{{ pers_inf_form.last_name.label }}</span>
            <div>
                <div class="fc_field_header">{{ pers_inf_form.last_name }}</div>
            </div>

            {% if is_organization %}
                <span class="fc_item_header">{{ pers_inf_form.position.label }}</span>
                <div>
                    <div class="fc_field_header">{{ pers_inf_form.position }}</div>
                </div>

                <span class="fc_item_header">{{ pers_inf_form.phone.label }}</span>
                <div>
                    <div class="fc_field_header">{{ pers_inf_form.phone }}</div>
                </div>
            {% endif %}
            <input type="submit" value="{% trans 'Save' %}">
        </div>
    </form>
    <hr />
    <h2>{% trans 'Invitation code' %}</h2>
    {% if inv_code_form_mess %}
        <p style="background-color: #80E580;">{{ inv_code_form_mess }}</p>
    {% endif %}
    {% if inv_code_form_err %}
        <p style="background-color: #FE9898;">{{ inv_code_form_err }}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <span class="fc_item_header">{{ inv_code_form.invitation_code.label }}</span>
            <div>
                <div class="fc_field_header">{{ inv_code_form.invitation_code }}</div>
            </div>
            <input type="submit" value="{% trans 'Send' %}">
        </div>
    </form>
    <hr />
    <h2>{% trans 'Change password' %}</h2>
    {% if ch_pass_form_err %}
        <p style="background-color: #FE9898;">
            {% if ch_pass_form.old_password.errors %}
                {{ ch_pass_form.old_password.errors.0 }}
            {% else %}
                {% if ch_pass_form.new_password.errors %}
                    {{ ch_pass_form.new_password.errors.0 }}
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
    {% if ch_pass_form_mess %}
        <p style="background-color: #80E580;">{{ ch_pass_form_mess }}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <span class="fc_item_header">{{ ch_pass_form.old_password.label }}</span>
            <div>
                <div class="fc_field_header">{{ ch_pass_form.old_password }}</div>
            </div>

            <span class="fc_item_header">{{ ch_pass_form.new_password.label }}</span>
            <div>
                <div class="fc_field_header">{{ ch_pass_form.new_password }}</div>
            </div>
            <input type="submit" value="{% trans 'Apply password change' %}">
        </div>
    </form>
    <hr />
    <h2>{% trans 'E-mail notifications' %}</h2>
    {% if send_notif_form_mess %}
        <p style="background-color: #80E580;">{{ send_notif_form_mess }}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            {% if is_internal or is_organization %}
                <span class="fc_item_header">{{ send_notif_form.score_notification_type.label }}</span>
                <div>
                    <div class="fc_field_header">{{ send_notif_form.score_notification_type }}</div>
                </div>

                <div>
                    <div id="snd" class="fc_field_header">{{ send_notif_form.score_notification_digest }}</div>
                </div>

                <span class="fc_item_header">{{ send_notif_form.comment_notification_type.label }}</span>
                <div>
                    <div class="fc_field_header">{{ send_notif_form.comment_notification_type }}</div>
                </div>

                <div>
                    <div id="cnd" class="fc_field_header">{{ send_notif_form.comment_notification_digest }}</div>
                </div>

                <div>
                    <div class="fc_field_header">{{ send_notif_form.notify_on_my_comments }} {{ send_notif_form.notify_on_my_comments.help_text }}</div>
                </div>
            {% endif %}
            <div>
                <div class="fc_field_header">{{ send_notif_form.subscribe }} {{ send_notif_form.subscribe.help_text }}</div>
            </div>
            <input type="submit" value="{% trans 'Save' %}">
        </div>
    </form>
{% endblock %}
