{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
<ul>
            <li><a href="{% url exmo2010:index %}">{% trans 'Dashboard' %}</a></li>
            {% if user.is_active %}
            <li><a href="{% url exmo.exmo2010.view.user.user_profile %}">{% trans 'Profile' %}</a></li>
            <li><a href="{% url django.contrib.auth.views.password_change %}">{% trans 'Change password' %}</a></li>
            <li><a href="{% url django.contrib.auth.views.logout %}">{% trans 'Log out' %}</a></li>
            {% else %}
            <li><a href="{% url django.contrib.auth.views.login %}">{% trans 'Log in' %}</a></li>
            {% endif %}
</ul>
{% endblock %}
