{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/login.css"/>
{% endblock %}

{% block content %}
    <h1>{% trans 'Log in the system' %}</h1>
    {% if request.user.is_authenticated %}
        <p>{% trans 'You are already logged in' %}.</p>
        {% url exmo2010:auth_logout as auth_logout_url %}
        <p>{% blocktrans %}If you really want to log in again, please <a href="{{ auth_logout_url }}">log out</a> first{% endblocktrans %}.</p>
    {% else %}
        <div id="content-main">
            <form action="" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <table class="table-login">
                    <tbody>

                    {% for field in form %}

                        {% if field.errors %}
                            <tr>
                                <td colspan="2">
                                    {% for error in field.errors %}
                                        <span class="form-error">{{ error }}</span>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td>
                                <label>
                                {% ifequal field.field form.username.field %}
                                    {% trans 'E-mail or username' %}
                                {% else %}
                                    {{ field.label }}
                                {% endifequal %}
                                </label>
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>

                    {% endfor %}
                    <tr>
                        <td>
                            <a href="{% url exmo2010:auth_password_reset %}">
                                {% trans 'Forgot your password' %}?
                            </a>
                        </td>
                        <td class="login-submit">
                            <input type="submit" value="{% trans 'Log in' %}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>
        </div>
        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    {% endif %}
{% endblock %}
