{% extends "exmo2010/base.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}{% load adminmedia %}{{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{{STATIC_URL}}admin/css/login.css"/>{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block userwelcome %}{% endblock %}

{% block userlinks %}{% endblock %}

{% block title %}{% trans 'Log in' %} | {% trans 'Exmo' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Log in' %}</h1>
    {% if request.user.is_authenticated %}
    <p>{% trans 'You are already logged in' %}.</p>
    {% url auth_logout as auth_logout_url %}
    <p>{% blocktrans %}If you really want to log in again, please <a href="{{ auth_logout_url }}">log out</a> first{% endblocktrans %}.</p>
    {% else %}
    <a href="{% url socialauth_begin 'vkontakte-oauth2' %}"><img src="{{STATIC_URL}}exmo2010/socialauth/VK.png" width="32" /></a>&nbsp;
    <a href="{% url socialauth_begin 'facebook' %}"><img src="{{STATIC_URL}}exmo2010/socialauth/f_logo.png" width="32" /></a>
    <br />
    <form action="{% url socialauth_begin 'livejournal' %}" method="post">
        {% csrf_token %}
        <label for="openid_lj_user">{% trans 'LiveJournal user' %}:</label>
        <input id="openid_lj_user" type="text" value="" name="openid_lj_user" />
        <input type="submit" value="{% trans 'Log in' %}"/>
    </form>
    <form action="{% url socialauth_begin 'openid' %}" method="post">
        {% csrf_token %}
        <label for="openid_identifier">OpenID:</label>
        <input id="openid_identifier" type="text" value="" name="openid_identifier" />
        <input type="submit" value="{% trans 'Log in' %}" />
    </form>
    <h2>{% trans 'or with your local login and password' %}:</h2>
    <div id="content-main">
        <form action="" method="post">
            {% csrf_token %}
            <table>{{ form }}</table>
            <input type="submit" value="{% trans 'Log in' %}"/><br/>
            <a href="{% url auth_password_reset %}">{% trans 'Recover forgotten password' %}</a><br/>
            <a href="{% url exmo2010:index %}">{% trans 'Go to main page' %}</a>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
    {% endif %}
{% endblock %}
