{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/auth.css"/>
{% endblock %}

{% block content %}
    <h1>{% trans 'Log in the system' %}</h1>
    {% if request.user.is_authenticated %}
        <p>{% trans 'You are already logged in' %}.</p>
        {% url exmo2010:auth_logout as auth_logout_url %}
        <p>{% blocktrans %}If you really want to log in again, please <a href="{{ auth_logout_url }}">log out</a> first{% endblocktrans %}.</p>
    {% else %}
        <noscript>
            <ul class="errorlist">
                <li>{% trans "In order for site to work correctly, turn Javascript in browser's settings." %}</li>
            </ul>
        </noscript>

        {% if resend_email %}
            <ul class="errorlist">
                <li>{% trans "This account is inactive. Did you recieve the letter containing a registration confirmation link?" %}</li>
            </ul>
        {% endif %}

        <div id="content-main">
            <form action="" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if form.errors %}
                <ul class="form-errors">
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                    <li id="id_err_{{ field.name }}">
                        {% for error in field.errors %}
                        <span class="form-error">
                            {% if error == required_error %}
                                {{ field.label }}
                                {% trans 'is required field' %}.
                            {% else %}
                                {{ field.label }}
                                {{ error }}
                            {% endif %}
                        </span>
                        {% endfor %}
                    </li>
                {% endif %}
                {% endfor %}
                {% if form.errors %}
                </ul>
                {% endif %}

                <table class="table-login table-implicit">
                    <tbody>
                    {% if resend_email %}
                        <tr>
                            <td colspan="2">
                                <a href="{% url exmo2010:auth_resend_email %}">
                                    {% trans 'Send the activation letter again' %}?
                                </a>
                            </td>
                        </tr>
                    {% endif %}

                    {% for field in form %}

                        <tr>
                            <td>
                                <label>
                                {% ifequal field.field form.username.field %}
                                    {% trans 'E-mail' %}
                                {% else %}
                                    {{ field.label }}
                                {% endifequal %}
                                </label>
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>

                    {% endfor %}
                    <tr>
                        <td>
                        </td>
                        <td class="login-submit">
                            <input type="submit" value="{% trans 'Log in' %}"/>
                            <a href="{% url exmo2010:auth_password_reset %}" class="forgot-password">{% trans 'Forgot your password' %}?</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>
        </div>
        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    {% endif %}
{% endblock %}
