{% extends "exmo2010/base.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}{% load adminmedia %}{{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{{STATIC_URL}}admin/css/login.css"/>{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block userwelcome %}{% endblock %}

{% block userlinks %}{% endblock %}

{% block title %}{% trans 'Password reset complete' %} | {% trans 'AIS Infometer' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Password reset complete' %}</h1>
    <p class="alert-info">{% trans "Your password has been set.  You may go ahead and log in now." %}<br />
    <a href="{% url exmo2010:auth_login %}">{% trans 'Log in' %}</a></p>
{% endblock %}
