{% extends "base_centered.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}{% trans 'Password recovery' %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/auth.css' %}"/>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() { $('input[name="new_password"]').focus(); })
    </script>
{% endblock %}

{% block content %}
    <h1>{% trans 'Password recovery' %}</h1>

    <div class="content">
        <div class="password-recovery-confirm-content-block">
            <div class="info-block">
                {% trans "Please, create a new password which will be used by you for entering the system. For password creation, use latin characters (A-Z, a-z) and digits (0-9)." %}
            </div>

            {% include "_form_errors.html" with form=form %}

            <form action="" class="new-password-form" id="new_password_form" method="post">{% csrf_token %}
                <div class="form-table">
                    {% for field in form %}
                        <div class="table-row">
                            <div class="table-cell-R">{{ field.label_tag }}</div>
                            <div class="table-cell-L">{{ field }}</div>
                        </div>
                    {% endfor %}

                    <div class="table-row">
                        <div class="table-cell-R"></div>
                        <div class="table-cell-L">
                            <input type="submit" value="{% trans 'Save password' %}"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
