{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}{% load i18n %}{% load url from future %}{% autoescape off %}{% trans "In order to reset your password, please follow the link:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'exmo2010:auth_password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Then you'll be able to enter a new password for your account." %}
{% endautoescape %}
