{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n static %}

{% block title %}{% trans 'Password reset (step 1 from 3)' %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/auth.css' %}"/>
{% endblock %}

{% block h1 %}<h1>{% trans 'Password reset (step 1 from 3)' %}</h1>{% endblock %}

{% block content %}
    <p class="alert-info">
        {% trans "In order to restore the password enter e-mail used by you during registration. You'll recieve a letter conataining a link to follow to be able to create a new password." %}
    </p>

    <form action="" method="post">{% csrf_token %}

        {% if form.errors %}
            <ul class="form-errors">
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li id="id_err_{{ field.name }}">
                                <span class="form-error">
                                    {% if error == required_error %}
                                        {{ field.label }}
                                        {% trans 'is required field' %}.
                                    {% else %}
                                        {{ error }}
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <table class="table-password-reset table-implicit">
            <tbody>
                <tr>
                    <td>
                        <label>{% trans "E-mail" %}</label>
                    </td>
                    <td>
                        {{ form.email }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="{% trans 'Recover password' %}"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
