{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
{% endblock %}

{% block content %}
    <h1>{% trans "Password reset" %}</h1>

    <p>{% trans "In order to reset your password enter your e-mail address below. We'll send you a message with a link which you should open and enter a new password." %}</p>

    <form action="" method="post">{% csrf_token %}
        {{ form.email.errors }}
        <p><label for="id_email">E-mail</label><br />
            {{ form.email }}<br />
            <input type="submit" value="{% trans 'Recover password' %}"/></p>
    </form>
{% endblock %}
