{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/auth.css"/>
{% endblock %}

{% block content %}
    <h1>{{ current_title }}</h1>

    <p class="alert-info">
        {% blocktrans %}In order to restore the password enter e-mail used by you during registration. You'll recieve a letter conataining a link to follow to be able to create a new password.{% endblocktrans %}
    </p>

    <form action="" method="post">{% csrf_token %}

        {% if form.errors %}
        <ul class="form-errors">
        {% endif %}
        {% for field in form %}
            {% if field.errors %}
            <li id="id_err_{{ field.name }}">
                {% for error in field.errors %}
                <span class="form-error">
                    {% if error == required_error %}
                        {{ field.label }}
                        {% trans 'is required field' %}.
                    {% else %}
                        {{ field.label }}
                        {{ error }}
                    {% endif %}
                </span>
                {% endfor %}
            </li>
        {% endif %}
        {% endfor %}
        {% if form.errors %}
        </ul>
        {% endif %}

        <table class="table-password-reset table-implicit">
            <tbody>
                <tr>
                    <td>
                        <label>{% trans "E-mail" %}</label>
                    </td>
                    <td>
                        {{ form.email }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="{% trans 'Recover password' %}"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
