{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/auth.css"/>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}exmo2010/js/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}exmo2010/js/registration.js"></script>
{% endblock %}

{% block content %}
    <h1>{{ current_title }}</h1>
    {% if request.user.is_authenticated %}
        <p>
            {% trans 'You are already logged in' %}.
        </p>
        {% url exmo2010:auth_logout as auth_logout_url %}
        <p>
            {% blocktrans %}If you really want to register again, please <a href="{{ auth_logout_url }}">log out</a> first{% endblocktrans %}.
        </p>
    {% else %}
        <div id="content-main">
            <form action="" method="post">
                {% csrf_token %}
                <noscript>
                    <ul class="form-errors">
                        <li>{% trans "In order for site to work correctly, turn Javascript in browser's settings." %}</li>
                    </ul>
                </noscript>

                {% if form.non_field_errors %}
                <ul class="form-errors">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if form.errors %}
                <ul class="form-errors">
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                    <li id="id_err_{{ field.name }}">
                        {% for error in field.errors %}
                        <span class="form-error">
                            {% if error == required_error %}
                                {{ field.label }}
                                {% trans 'is required field' %}.
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </span>
                        {% endfor %}
                    </li>
                {% endif %}
                {% endfor %}
                {% if form.errors %}
                </ul>
                {% endif %}

                <table class="table-registration table-implicit">
                    <tbody>
                    {% for field in form %}

                        {% if field.field != form.fields.subscribe %}
                        <tr id="id_row_{{ field.name }}">
                            <td class="label-registration">
                                <label>
                                    {{ field.field.label }}{% if field.field.required and field.name != 'status' %}<span class="required">*</span>{% endif %}
                                </label>
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                        <tr id="id_row_required">
                            <td>
                            </td>
                            <td colspan="2">
                                <span class="required">*</span> {% trans "required fields" %}
                            </td>
                        </tr>
                        <tr id="id_row_{{ form.subscribe.name }}">
                            <td class="label-registration">
                                <label>
                                    {{ form.subscribe.label }}{% if form.subscribe.required %}<span class="required">*</span>{% endif %}
                                </label>
                            </td>
                            <td class="subscribe" colspan="2">
                                {{ form.subscribe }} {{ form.subscribe.help_text }}
                            </td>
                        </tr>
                        <tr id="id_row_submit">
                            <td>
                            </td>
                            <td colspan="2">
                                <input type="submit" value="{% trans 'Register' %}"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="help-text" style="display: none;">
                    <p id="help-name" class="alert-info">
                        {% trans "Please, enter your name for us to know how to address you." %}
                    </p>
                    <p id="help-name-org" class="alert-info">
                        {% trans "Please, enter your name for us to know how to address you and to check whether you are an organisations representative." %}
                    </p>
                    <p id="help-status" class="alert-info">
                        {% trans "Your position may be necessary for a verification of your belonging to organisation you represent." %}
                    </p>
                    <p id="help-phone" class="alert-info">
                        {% trans "In order to solve problems you could meet, your contact phone is necessary." %}
                    </p>
                    <p id="help-email" class="alert-info">
                        {% trans "Will be used to confirm the registration and to enter the system." %}
                    </p>
                    <p id="help-password" class="alert-info">
                        {% trans "Create a complicated password using latin characters (A-Z, a-z) and digits (0-9)." %}
                    </p>
                    <p id="help-code" class="alert-info">
                        {% trans "Enter the code to get an access to scores of your organisation." %}
                    </p>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
