{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/registration.css"/>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}exmo2010/js/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#id_status").val() == '1') {
                $("#id_err_position").hide();
                $("#id_position").val("");
                $("#id_row_position").hide();
                $("#id_err_phone").hide();
                $("#id_phone").val("");
                $("#id_row_phone").hide();
                $("#id_err_invitation_code").hide();
                $("#id_invitation_code").val("");
                $("#id_row_invitation_code").hide();
            }

            $('#id_status').change(function () {
                if ($("#id_status").val() == '0') {
                    $("#id_row_position").show();
                    $("#id_row_phone").show();
                    $("#id_row_invitation_code").show();
                }
                else {
                    $("#id_err_position").hide();
                    $("#id_position").val("");
                    $("#id_row_position").hide();
                    $("#id_err_phone").hide();
                    $("#id_phone").val("");
                    $("#id_row_phone").hide();
                    $("#id_err_invitation_code").hide();
                    $("#id_invitation_code").val("");
                    $("#id_row_invitation_code").hide();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>{% trans 'Registration' %}</h1>
    {% if request.user.is_authenticated %}
        <p>
            {% trans 'You are already logged in' %}.
        </p>
        {% url exmo2010:auth_logout as auth_logout_url %}
        <p>
            {% blocktrans %}If you really want to register again, please <a href="{{ auth_logout_url }}">log out</a> first{% endblocktrans %}.
        </p>
    {% else %}
        <p>{% trans 'In order to log in the system, please register first.' %}</p>
        <div id="content-main">
            <form action="" method="post">
                {% csrf_token %}
                <noscript>
                    <ul class="form-errors">
                        <li>{% trans "In order for site to work correctly, turn Javascript in browser's settings." %}</li>
                    </ul>
                </noscript>

                {% if form.non_field_errors %}
                <ul class="form-errors">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if form.errors %}
                <ul class="form-errors">
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                    <li id="id_err_{{ field.name }}">
                        {% for error in field.errors %}
                        <span class="form-error">
                            {% if error == required_error %}
                                {{ field.label }}
                                {% trans 'is required field' %}.
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </span>
                        {% endfor %}
                    </li>
                {% endif %}
                {% endfor %}
                {% if form.errors %}
                </ul>
                {% endif %}

                <table class="table-registration">
                    <tbody>
                    {% for field in form %}

                        {% if field.field != form.fields.subscribe %}
                        <tr id="id_row_{{ field.name }}">
                            <td class="label-registration">
                                <label>
                                    {{ field.field.label }}{% if field.field.required and field.name != 'status' %}<span class="required">*</span>{% endif %}
                                </label>
                            </td>
                            <td>
                                {{ field }}
                            </td>
                            {% if field.field != form.fields.first_name and field.field != form.fields.patronymic and field.field != form.fields.last_name  %}
                            <td class="help-text-registration{% if field.help_text %} help-text{% endif %}">
                                {{ field.help_text }}
                            </td>
                            {% endif %}
                            {% if field.field == form.fields.first_name %}
                            <td class="help-text-registration help-text" rowspan="3">
                                {% trans 'Enter your first name, patronymic, and last name in order the system can address you with it' %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                        <tr id="id_row_required">
                            <td>
                            </td>
                            <td colspan="2">
                                <span class="required">*</span> {% trans "required fields" %}
                            </td>
                        </tr>
                        <tr id="id_row_{{ form.subscribe.name }}">
                            <td class="label-registration">
                                <label>
                                    {{ form.subscribe.label }}{% if form.subscribe.required %}<span class="required">*</span>{% endif %}
                                </label>
                            </td>
                            <td class="subscribe" colspan="2">
                                {{ form.subscribe }} {{ form.subscribe.help_text }}
                            </td>
                        </tr>
                        <tr id="id_row_submit">
                            <td>
                            </td>
                            <td colspan="2">
                                <input type="submit" value="{% trans 'Register' %}"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <script type="text/javascript">
            document.getElementById('id_first_name').focus()
        </script>
    {% endif %}
{% endblock %}
