{% extends "base_centered.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/auth.css' %}"/>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'exmo2010/js/registration.js' %}"></script>
{% endblock %}

{% block h1 %}{% if orgs %}<h1>{% trans 'Get access to scores' %}</h1>{% endif %}{% endblock %}

{% block content %}
    <div class="registration-content-block">
        {% if orgs %}
            {% include "registration/_auth_content_header.html" %}
        {% endif %}

        <noscript>
            <div class="warning-block">
                {% trans "For proper operation of the site please enable JavaScript in your browser settings. After that, refresh the page." %}
            </div>
        </noscript>

        <div class="tabs h2">
            <span><a href="{% url 'exmo2010:auth_login' %}?{{ request.GET.urlencode }}" class="pseudo">{% trans 'Login' %}</a></span>
            <span class="active">{% trans 'Registration' %}</span>
            <span><a href="{% url 'exmo2010:password_reset_request' %}?{{ request.GET.urlencode }}" class="pseudo">{% trans 'Password recovery' %}</a></span>
        </div>

        {% include "_form_errors.html" with form=form %}

        <form action="" class="registration-form" method="post">{% csrf_token %}
            <div class="form-table">
                <div class="table-row">
                    <div class="table-cell-R">{{ form.email.label_tag }}<span class="required">*</span></div>
                    <div class="table-cell-L">{{ form.email }}</div>
                    <div class="info-block">
                        {% trans "Used to confirm registration and to login." %}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">{{ form.password.label_tag }}<span class="required">*</span></div>
                    <div class="table-cell-L">{{ form.password }}</div>
                    <div class="info-block">
                        {% trans "Create a complicated password using latin characters (A-Z, a-z) and digits (0-9)." %}
                    </div>
                </div>

                {# Invitation code form input should be hidden if URL contains at least one invitation code. #}
                {% if orgs %}
                    {{ form.invitation_code.as_hidden }}
                {% else %}
                    <div class="table-row">
                        <div class="table-cell-R">{{ form.invitation_code.label_tag }}</div>
                        <div class="table-cell-L">{{ form.invitation_code }}</div>
                        <div class="info-block">
                            {% trans "Enter the code to get an access to scores of your organisation." %}
                        </div>
                    </div>
                {% endif %}

                <div class="table-row">
                    <div class="table-cell-R">{{ form.first_name.label_tag }}</div>
                    <div class="table-cell-L">{{ form.first_name }}</div>
                    <div id="help-name" class="info-block">
                        {% trans "Please, enter your name for us to know how to address you." %}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">{{ form.patronymic.label_tag }}</div>
                    <div class="table-cell-L">{{ form.patronymic }}</div>
                    <div class="info-block">
                        {% trans "Please, enter your name for us to know how to address you." %}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">{{ form.last_name.label_tag }}</div>
                    <div class="table-cell-L">{{ form.last_name }}</div>
                    <div id="help-name" class="info-block">
                        {% trans "Please, enter your name for us to know how to address you." %}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">{{ form.position.label_tag }}</div>
                    <div class="table-cell-L">{{ form.position }}</div>
                    <div class="info-block">
                        {% trans "Used to issue certificates to participants." %}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R">{{ form.phone.label_tag }}</div>
                    <div class="table-cell-L">{{ form.phone }}</div>
                    <div class="info-block">
                        {% trans "Used to resolve potential problems." %}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R"></div>
                    <div class="table-cell-L"><span class="required">*</span> {% trans "required fields" %}</div>
                    <div></div><!-- 1px width element. It fixed table width regardless info blocks. -->
                </div>

                <div class="table-row">
                    <div class="table-cell-R"></div>
                    <div class="table-cell-L">{{ form.notification }} {{ form.notification.label_tag }}</div>
                </div>

                <div class="table-row">
                    <div class="table-cell-R"></div>
                    <div class="table-cell-L">
                        <input type="submit" value="{% trans 'Register' %}"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
