{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n check_object_permission %}

<div id="sidebar_menu">
    <ul>
        {% if monitoring %}
            {# Cycle management #}
            {% if is_expertA %}
                <li class="nav-group">
                    {% trans 'Cycle management' %}
                </li>
            {% endif %}

            {% url 'exmo2010:tasks_by_monitoring' monitoring.pk as url %}
            <!-- {% trans "Tasks" %} -->
            {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Tasks" only %}

            {% if is_expertA %}
                {% url 'exmo2010:organizations' monitoring.pk as url %}
                {% url 'exmo2010:organizations_add' monitoring.pk as url2 %}
                {% url 'exmo2010:organizations_update' monitoring.pk org.pk as url3 %}
                {% url 'exmo2010:organizations_delete' monitoring.pk org.pk as url4 %}
                <!-- {% trans "Organizations" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url url2=url2 url3=url3 url4=url4 title="Organizations" only %}

                {% url 'exmo2010:representatives' monitoring.pk as url %}
                <!-- {% trans "Representatives" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Representatives" only %}

                {% url 'exmo2010:observers_groups' monitoring.pk as url %}
                {% url 'exmo2010:observers_group_add' monitoring.pk as url2 %}
                {% url 'exmo2010:observers_group_update' monitoring.pk obs_group.pk as url3 %}
                {% url 'exmo2010:observers_group_delete' monitoring.pk obs_group.pk as url4 %}
                <!-- {% trans "Observers" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url url2=url2 url3=url3 url4=url4 title="Observers" only %}

                {% url 'exmo2010:send_mail' monitoring.pk as url %}
                {% url 'exmo2010:send_mail_history' monitoring.pk as url2 %}
                {% include "exmo2010/sidebar/_item.html" with request=request url=url url2=url2 title="Mail" only %}
            {% endif %}

            {% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
            {% if perm %}
                {% url 'exmo2010:task_mass_assign_tasks' monitoring.pk as url %}
                <!-- {% trans "Task assignment" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Task assignment" only %}
            {% endif %}

            {% if is_expertA %}
                {% url 'exmo2010:set_npa_params' monitoring.pk as url %}
                <!-- {% trans "Parameter type" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Parameter type" only %}

                <li class="nav-group">
                    {% trans 'Reports' %}
                </li>
            {% endif %}

            {% url 'exmo2010:monitoring_parameter_filter' monitoring.pk as url %}
            <!-- {% trans "Task filtering" %} -->
            {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Task filtering" only %}

            {% if is_expert or request.user.is_superuser %}
                {% if is_expertA and not monitoring.no_interact %}
                    {% url 'exmo2010:monitoring_comment_report' monitoring.pk as url %}
                    <!-- {% trans "Comments" %} -->
                    {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Comments" only %}
                {% endif %}
            {% endif %}

            {% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
            {% if perm %}
                {% url 'exmo2010:clarification_report' monitoring.pk as url %}
                <!-- {% trans "Clarifications" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Clarifications" only %}

                {% url 'exmo2010:claim_report' monitoring.pk as url %}
                <!-- {% trans "Claims" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Claims" only %}

                {% url 'exmo2010:monitoring_by_experts' monitoring.pk as url %}
                <!-- {% trans "Experts" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Experts" only %}

                {% url 'exmo2010:monitoring_parameter_found_report' monitoring.pk as url %}
                <!-- {% trans "Presence of the parameter" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Presence of the parameter" only %}
            {% endif %}

            {% if not is_expertB or request.user.is_superuser or monitoring.status == 5 %}
                {% url 'exmo2010:monitoring_rating' monitoring.pk as url %}
                <!-- {% trans "Rating" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Rating" only %}
            {% endif %}

            {% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
            {% if perm %}
                {# Reports #}
                {% if is_expertA %}
                    <li class="nav-group">
                        {% trans 'Export' %}
                    </li>
                {% endif %}

                {% url 'exmo2010:monitoring_by_criteria_mass_export' monitoring.pk as url %}
                <!-- {% trans "Criterion" %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Criterion" only %}

                {% if monitoring.has_questionnaire %}
                    <li>
                        <a
                                {% if not monitoring.ready_export_answers %}
                                    href="#"
                                    onclick='alert("{% trans 'You must have approved task for export' %} ")'
                                {% else %}
                                    href="{% url 'exmo2010:monitoring_answers_export' monitoring.pk %}"
                                {% endif %}
                                >{% trans 'Questionnaire' %}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% else %}
            {% url 'exmo2010:task_scores' task.pk as url %}
            <!-- {% trans 'Scores table' %} -->
            {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Scores table" only %}

            {% url 'exmo2010:recommendations' task.pk as url %}
            <!-- {% trans 'Scores' %} -->
            {% include "exmo2010/sidebar/_item.html" with request=request url=url title="Recommendations list" only %}

            {% if request.user.profile.is_expertA %}
                {% url 'exmo2010:task_history' task.pk as url %}
                <!-- {% trans 'History' %} -->
                {% include "exmo2010/sidebar/_item.html" with request=request url=url title="History" only %}
            {% endif %}
        {% endif %}
    </ul>
</div>
