# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

Django==1.5.11
Django-Select2==4.2.2
MySQL-python==1.2.5
Pillow==2.6.1

# South 0.8 - 0.8.4 has bug with fixtures in tests http://south.aeracode.org/ticket/1395
# And bug with sqlite3 migrations:
# FATAL ERROR - The following SQL query failed: CREATE UNIQUE INDEX "sqlite_autoindex_exmo2010_score_1" ON "exmo2010_score"("task_id", "parameter_id", "revision");
# DatabaseError: object name reserved for internal use: sqlite_autoindex_exmo2010_score_1
# Error in migration: exmo2010:0031_auto__del_field_score_edited__add_field_score_last_modified__add_field
South==0.7.6

amqp==1.4.6
amqplib==1.0.2
anyjson==0.3.3
argparse==1.3.0
beautifulsoup4==4.3.2
celery==3.1.17
distribute==0.6.38
django-annoying==0.8.0
django-bleach
django-celery==3.1.16
django-celery-with-mongodb==3.0
django-ckeditor==4.4.7
django-keyedcache==1.5.1
django-livesettings==1.4-14
django-modeltranslation==0.8
django-reversion==1.7.1
django-widget-tweaks
kombu==3.0.24
lxml==3.4.1
pymongo==2.7.2
python-dateutil==2.3
pytils

#for testing:
SQLAlchemy
django-inmemorystorage
django-nose
nose-parameterized
mock
model-mommy
selenium
Werkzeug==0.9.4
django_extensions
django-debug-toolbar==1.0.1

# This forked version of User Panel supports django-debug-toolbar 1.0.1
git+https://github.com/Fak3/django-debug-toolbar-user-panel.git
