{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n check_object_permission trim_links future %}

{% if score.perms.view_claim %}
    {% if claim_list %}
    <table class="table-messages-parameter">
        <tbody>
        {% for c in claim_list %}
            <tr>
                <td{% if not c.close_user and not score.perms.add_claim %} class="not-answered"{% endif %}>
                    <span class="messages-author"> {{ c.creator.profile.legal_name }} </span>

                    <span class="messages-date"> {{ c.open_date|date:"SHORT_DATETIME_FORMAT" }} </span>

                    <div class="messages-content"> {{ c.comment|safe|trim_links:url_length }} </div>

                    {% if score.perms.delete_claim %}
                    <div class="claim-delete-container">
                        <a class="delete-claim pseudo" href="{% url 'exmo2010:claim_delete' %}" rel="{{ c.pk }}"> {% trans "Delete claim" %} </a>
                    </div>
                    {% endif %}

                    {% if c.answer %}
                    <div class="messages-answer">
                        <span class="messages-author"> {{ c.close_user.profile.legal_name }} </span>
                        <span class="messages-date"> {{ c.close_date|date:"SHORT_DATETIME_FORMAT" }} </span>
                        <div class="messages-content"> {{ c.answer|safe|trim_links:url_length }} </div>
                    </div>
                    {% endif %}

                    {% if not request.user.is_superuser and c.creator != request.user and not c.answer and score.perms.answer_claim %}
                    <div class="messages-reply">
                        <a class="answer-claim pseudo" href="#" rel="{{ c.pk }}"> {% trans "Answer claim" %} </a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        {% trans 'There are no claims' %}
    {% endif %}
{% endif %}

{% if score.perms.add_claim or score.perms.answer_claim %}
    <div id="add-claim"{% if score.perms.answer_claim and not score.perms.add_claim %} style="display: none;"{% endif %}>
        <form action="{% url 'exmo2010:claim_create' score.pk %}" method="post">{% csrf_token %}
            {% for field in claim_form.hidden_fields %} {{field}} {% endfor %}
            <div class="fieldWrapper">
                {% if score.perms.add_claim %}
                    <h3 class="claim-label heading-yourmessage-parameter">{% trans "Your claim" %}</h3>
                    {{ claim_form.comment }}
                    <input type="submit" disabled=true class="submit-post" value="{% trans 'Put forward' %}">
                {% else %}
                    <h3 class="claim-label heading-yourmessage-parameter">{% trans "Your claim answer" %}</h3>
                    {{ claim_form.comment }}
                    <input type="submit" disabled=true class="submit-post" value="{% trans 'Reply' %}">
                {% endif %}
            </div>
        </form>
    </div>
{% endif %}
