{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/reports_analyst.css' %}"/>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'exmo2010/js/reports_analyst.js' %}"></script>
{% endblock %}

{% block pretitle %}
    {% include "menu_interaction.html" with active_item="3" %}
{% endblock %}

{% block h1 %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
    <table class="base-table">
        <tbody>
            <tr>
                <th>{% trans 'Time and date' %}</th>
                <th>{% trans 'Organization' %}</th>
                <th>{% trans 'Link to claim' %}</th>
            </tr>
        </tbody>
    </table>

    {% if claims %}
        <table class="base-table">
            <tbody>
            <tr>
                <td colspan="3" class="report-title open">
                    <span>{% trans 'Without answer' %}</span> ({{ claims|length }})
                </td>
            </tr>
            </tbody>
        </table>

        <table class="base-table open">
            <tbody>
                {% include "claim_list_table.html" %}
            </tbody>
        </table>
    {% endif %}

    <table class="base-table">
        <tbody>
            <tr>
                <td colspan="3" class="report-title closed" rel="{% url 'exmo2010:claim_list' %}">
                    <span>{% trans 'Processed' %}</span>&nbsp;<img src="{% static 'exmo2010/img/ajax-loader.gif' %}" />
                </td>
            </tr>
        </tbody>
    </table>

    <table class="base-table closed">
        <tbody>
        </tbody>
    </table>
{% endblock %}
