{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

<form method="post" action="?{{request.GET.urlencode}}">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <table class="table-implicit">
         {% for field in form %}
            {% if field.errors %}
                <tr>
                    <td colspan="2">
                        {% for error in field.errors %}
                            <span class="form-error">{{ error }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% if field.field != form.fields.monitoring %}
        <tr>
            <td>
                <label>
                    {% if field.label == form.url.label %}{% trans 'Website' %}{% else %}{{ field.label }}{% endif %}{% if field.field.required %}<span class="required">*</span>{% endif %}
                </label>
            </td>
            <td>
                {{ field }}
            </td>
         </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td>
                {{ form.monitoring }}
{#                <input type="hidden" name="monitoring" id="id_monitoring" value="{{monitoring.pk}}" />#}
            </td>
            <td>
                <input type="submit" name="submit_add" value="{% if org_type == "add" or org_type == "all" %}{% trans "Add" %}{% else %}{% trans "Save" %}{% endif %}"/>
            </td>
        </tr>
    </table>
</form>