*.pyc
*.db
django_key
ghostdriver.log
local_settings.py
analytics.html
release.txt
*~
*.mo
*.egg
*.gz
_build
.idea
*.swp
*.kate-swp
*.orig
.kateproject
.kateproject.d
eml_mails
.DS_Store
.coverage
.coveragerc

/env
cover/
/venv
/cache/*
/static/*
/media/*
