/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

/* Non-editable table, Partially editable table and Editable table */

.score-table {
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: separate;
    *border-collapse: collapse;
    border: #fff 1px solid;
    width: 100%;
}

.score-table label {
    color: #333;
}

.score-table th {
    padding: 8px 12px;
    background: none, transparent;
    border-bottom: #fff 1px solid;
    border-left: #bbb 1px solid;
    color: #333;
}

.score-table td {
    padding: 8px 12px;
    height: 22px;
    border-left: #bbb 1px solid;
    border-top: #bbb 1px solid;
    border-bottom: #fff 1px solid;
}

.score-table td:first-child {
    border-left: #fff 1px solid;
}

.criteria {
    width: 165px;
}

.score-table textarea {
    height: 1.2em;
    resize: none;
    width: 99%;
    margin: 0;
    color: #333;
}

/* Non-editable table and Partially editable table */

.non-editable .value, .partially-editable .value {
    width: 80px;
    text-align: center;
}

/* Editable table */

.editable .value {
    width: 170px;
    padding: 0 14px;
    white-space: nowrap;
}

.editable .value ul {
    list-style: none;
    margin: 0;
    padding: 7px 0;
    position: relative;
    top: 7px;
    display: inline;
    white-space:nowrap;
}

.editable .value ul li {
    list-style: none;
    display: inline;
    padding-left: 20px;
    padding-top: 4px;
}

.editable .value ul li:first-child {
    padding-left: 0;
}
