/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

div.breadcrumbs {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 20px;
    display: block;
    border: 0;
    background-image: none;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    height: 22px;
}

div.breadcrumbs a, div.breadcrumbs span {
    display: block;
    float: left;
    height: 14px;
}


div.breadcrumbs a:first-child {
    background-image: url(../img/home_out.gif);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 16px;
}

div.breadcrumbs a:first-child:hover {
    background-image: url(../img/home_in.gif);
}

div.breadcrumbs span.breadcrumb-arrow {
    background-image: url(../img/breadcrumb_arrow.png);
    background-position: 0px 3px;
    background-repeat: no-repeat;
    width: 10px;
}

div.breadcrumbs span.title {
    font-size: 12px;
    color: #333;
    padding-right: 5px;
}

div.breadcrumbs a {
    padding-right: 5px;
}
