/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.bubble-dashboard-container
{
    margin: 0px -10px -5px -10px;
}


.bubble
{
    margin: 20px;
    padding: 10px;
    background-color: #FEEACB;
    border: #FECB80 1px solid;
}

.bubble p
{
    margin: 0px;
    color: #000000;
    line-height: 19px;
}

.bubble form
{
    margin-top: 10px;
}

.bubble label
{
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}

.bubble input[type="text"]
{
    width: 150px;
}