.table-login td
{
    vertical-align: middle;
}
.table-login label
{
    font-weight: bold;
}
.forgot-password
{
    margin-top: 10px;
}
.required
{
    color: red;
}
.p-required
{
    margin-top: 14px;
}

.login-submit
{
    float: right;
    text-align: right;
}

.form-error
{
    color: red;
}