/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* Layout */

.monitoring-status-div {
    margin-top: 10px;
    display: block;
    float: left;
}

.monitoring-status-left {
    width: 470px;
    margin-right: 40px;
}

.monitoring-status-right
{
    width: 430px;
}

.monitoring-stat-hr {
    margin: 15px 0 15px 0;
    background-color: #CCCCCC;
    color: #CCCCCC;
}

.monitoring-stat
{
    width: 100%;
}

.monitoring-status {
    width: 100%;
}

/* Table */

.row1 {
    background: none repeat scroll 0 0 #F2F2F2;
}

.row2 {
    background: none repeat scroll 0 0 white;
}

.monitoring-status-left .value {
    width: 155px;
}

.monitoring-status-right .value {
    width: 45px;
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px solid #999999;
    border-bottom: 0;
    border-right: 0;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

/* Headings */

h1
{
    margin-bottom: 2px;
}

h3
{
    margin-top: 10px;
}

.monitoring-name
{
    font-size: 14px;
    color: #333;
}

/* Menu */

#report_menu
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.menuitem
{
    padding-left: 20px;
    font-size: 14px;
}

.menuitem:first-child
{
    padding-left: 0;
}