/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.table-registration td
{
    vertical-align: middle;
    border-bottom-color: #fff;
    padding: 4px 6px;
    font-size: 13px;
    font-family: Arial;
    line-height: 18px;
}

.table-registration td:first-child
{
    padding-left: 0px;
    text-align: right;
    width: 127px;
}

.label-registration label
{
    color: #333;
}

td input[type="text"]
{
    width: 300px;
    font-size: 13px;
}

td select
{
    width: 308px;
    font-size: 13px;
}

.table-registration ul
{
    padding-left: 0;
}

.table-registration ul > li
{
    list-style: none;
}

.required
{
    color: red;
}

td.subscribe
{
    padding-top: 9px;
    padding-bottom: 9px;
}

.subscribe input
{
    position: relative;
    bottom: 2px;
}

.help-text
{
    background-color: #f6f6f6;
}

.form-errors
{
    margin-left: 5px;
    padding-left: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #fecdcd;
    border: #fe9898 1px solid;
    color: #000000;
}

ul.form-errors
{
    padding-left: 28px;
}

ul.form-errors li
{
    list-style: disc;
}

.form-errors li
{
    padding-left: 0px;

    padding-top: 10px;
    padding-bottom: 10px;


    font-size: 13px;
    font-family: Arial;
}

span.form-error
{
    font-size: 13px;
    font-family: Arial;
}