.score-ok-nonzero{
    background: #80e580;
    border-bottom-color: #80e580 !important;
}

.score-ok-val1{
    background: #fecb80;
    border-bottom-color:  #fecb80 !important;
}

.score-ok-val2{
    background: #fefe80;
    border-bottom-color: #fefe80 !important;
}

.score-ok-val3{
    background: #80e580;
    border-bottom-color: #80e580 !important;
}

.score-ok-zero{
    background: #fe9898;
    border-bottom-color: #fe9898 !important;
}

.score-none {
    background: #a0a0a0;
    border-bottom-color: #a0a0a0  !important;
}