/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.score-ok-nonzero{
    background: #80e580;
    border-bottom-color: #80e580 !important;
}

.score-ok-val1{
    background: #fecb80;
    border-bottom-color:  #fecb80 !important;
}

.score-ok-val2{
    background: #fefe80;
    border-bottom-color: #fefe80 !important;
}

.score-ok-val3{
    background: #80e580;
    border-bottom-color: #80e580 !important;
}

.score-ok-zero{
    background: #fe9898;
    border-bottom-color: #fe9898 !important;
}

.score-none {
    background: #a0a0a0;
    border-bottom-color: #a0a0a0  !important;
}