/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/
.score-ok-nonzero{
    background: #80e580;
    text-align: center;
}

.score-ok-val1{
    background: #fecb80;
    text-align: center;
}

.score-ok-val2{
    background: #fefe80;
    text-align: center;
}

.score-ok-val3{
    background: #80e580;
    text-align: center;
}

.score-ok-zero{
    background: #fe9898;
    text-align: center;
}

.score-none {
    background: #a0a0a0;

}

#score_list td {
    border-collapse: collapse;
    border: 1px solid;
}

#score_list table {
    width: 100%
}

#legend td {
    border-collapse: collapse;
    border: 1px solid;
}

.score_interact {
    font-size: 9px;
    opacity: 0.5;
}

.ajaxloader {
    display: inline-block;
}

.comment-unreaded {
    float: right;
}

/*Styles for ankete*/

#fc_container {
    background: none repeat scroll 0 0 #FFFFCC;
    clear: both;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.fc_item_header{
    font-size: 12px;
    font-weight: bold;
    font-family: "Verdana";
    margin-bottom: 7px;
}

.fc_field_header{
    margin-top: 8px;
    margin-bottom: 15px;
}

.aqtext{
    width: 600px;
}

.aqint{
    text-align: right;
}

.fc_field_header ul li {
    list-style-type: none
}


/* Score legend */

ol
{
    margin:0;
    padding:0;
}

p
{
    margin:0;
}

.c9
{
    vertical-align:middle;
    width:85.05000000000001pt;
    border-style:solid;
    background-color:#80e580;
    border-color:#000000;
    border-width:1.0pt;
    padding:0pt 5.4pt 0pt 5.4pt
}
.c21
{
    vertical-align:middle;
    width:99.35pt;
    border-style:solid;
    background-color:#80e580;
    border-color:#000000;
    border-width:1.0pt;
    padding:0pt 5.4pt 0pt 5.4pt
}
.c14
{
    vertical-align:top;
    width:133.0pt;
    border-style:solid;
    background-color:#fecb80; /* orange */
    border-color:#000000;
    border-width:1.0pt;
    padding:0pt 5.4pt 0pt 5.4pt
}
.c7
{
    vertical-align:middle;
    width:75.64999999999998pt;
    border-style:solid;
    background-color:#fe9898;
    border-color:#000000;
    border-width:1.0pt;
    padding:0pt 5.4pt 0pt 5.4pt
}
.c2{
    vertical-align:top;
    width:133.0pt;
    border-style:solid;
    background-color:#80e580;
    border-color:#000000;
    border-width:1.0pt;
    padding:0pt 5.4pt 0pt 5.4pt
}
.c17
{
    vertical-align:middle;
    width:87.29999999999998pt;
    border-style:solid;
    background-color:#a0a0a0;
    border-color:#000000;
    border-width:1.0pt;
    padding:0pt 5.4pt 0pt 5.4pt
}
.c1{
    vertical-align:top;
    width:133.0pt;
    border-style:solid;
    background-color:#fefe80;
    border-color:#000000;
    border-width:1.0pt;
    padding:0pt 5.4pt 0pt 5.4pt}
.c29
{
    vertical-align:middle;
    width:99.25000000000006pt;
    border-style:solid;
    background-color:#fecb80; /* orange */
    border-color:#000000;
    border-width:1.0pt;
    padding:0pt 5.4pt 0pt 5.4pt
}
.c30{vertical-align:middle;width:99.25000000000006pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}
.c22{vertical-align:middle;width:87.29999999999998pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}
.c23{vertical-align:middle;width:85.05000000000001pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}
.c10{vertical-align:middle;width:75.64999999999998pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}

.c34{vertical-align:top;width:133.0pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}
.c31{vertical-align:middle;width:133.0pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}
.c19{vertical-align:middle;width:154.25pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}
.c26{vertical-align:middle;width:99.35pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}
.c3{vertical-align:middle;width:616.6pt;border-style:solid;border-color:#000000;border-width:1.0pt;padding:0pt 5.4pt 0pt 5.4pt}
.
c13{line-height:1.15;padding-top:0pt;text-align:left;direction:ltr;padding-bottom:0pt}
.c0{line-height:1.0;padding-top:0pt;text-align:center;direction:ltr;padding-bottom:0pt}
.c15{line-height:1.0;padding-top:0pt;text-align:left;direction:ltr;padding-bottom:0pt}
.c27{line-height:1.0;padding-top:0pt;text-align:left;direction:ltr;padding-bottom:10.0pt}
.c35
{
    width:728.4999999999999pt;
    background-color:#ffffff;
    padding:85.1pt 56.7pt 42.5pt 56.7pt
}
.c18{font-size:12pt;}
.c11{font-size:10pt;}
.c4{font-size:10pt;}
.c20{font-size:12pt;}
.c32
{
    background-color:#fecb80 /* orange */
}
.c24
{
    background-color:#fe9898
}
.c8{font-weight:bold}
.c6{border-collapse:collapse}
.c12{height:11pt}

.c28
{
    background-color:#80e580
}
.c16
{
    background-color:#a0a0a0
}
.c25
{
    background-color:#a0a0a0
}
.c5
{
    height:0pt
}
.c33
{
    background-color:#fefe80
}
