/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/


.heading-comments-parameter
{
    margin-top: 34px;
    margin-bottom: 5px;
    color: #333;
}

.table-messages-parameter {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

.table-messages-parameter td {
    padding: 8px;
    line-height: 17px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.table-messages-parameter .messages-author
{
    font-size: 13px;
    width: 140px;
    font-weight: bold;
}

.heading-yourmessage-parameter
{
    font-size: 13px;
    color: #333;
}

.messages-date
{
    float: right;
    font-size: 11px;
    color: #666;
}

.messages-content
{
    padding: 0;
    margin: 0;
    padding-top: 6px;
}

.messages-content p
{
    padding: 0;
    margin: 0;
}

.answer-missed
{
    background-color: #ffdddd;
}

.answer-today
{
    background-color: #ffffdd;
}

.answer-later
{
    background-color: #ddffdd;
}

.notification-peremptory
{
    padding: 5px;
    font-size:14px;
    font-weight: bold;
    background-color: #ffdddd;
}

.toggle-comment-container
{
    margin-top: 7px;
}

.toggle-comment
{
    font-size:12px;
    font-weight: bold;
    border-bottom: 1px dashed;
}

.submit-post
{
    margin-top: 7px;
}

.claim-delete-container
{
    margin-top: 7px;
}

.messages-pseudo
{
    font-size:12px;
    font-weight: bold;
    border-bottom: 1px dashed;
}

a.messages-pseudo-off
{
    font-size:12px;
    font-weight: bold;
    border-bottom: none;
    color: #000;
    cursor: text;
}

a.messages-pseudo-off:hover
{
    color: #000;
}

.messages-answer
{
    margin-top: 10px;
    border-top: 1px #bbb solid;
    padding-left: 50px;
    padding-top: 10px;
}

.not-answered
{
    background-color: #ffdddd;
}

.messages-reply
{
    margin-top: 5px;
}

.reply-form-tweak
{
    padding-top: 5px;
}