{% extends "admin_tools/dashboard/module.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load check_object_permission i18n %}
{% block module_content %}
    {% spaceless %}
    {% for child in module.children %}
        {% if child.title %}<h2>child.title</h2>{% endif %}
        <ul class="{{ module.layout }}">
        {% if child.object_list %}
        {% with obj=child.object_list|first %}
            {% check_object_permission exmo2010.create_monitoring obj as perm %}
        {% if perm %}
            <li><a href="{% url exmo2010:monitoring_add %}">{% trans 'Add new monitoring' %}&nbsp;<img src="{{STATIC_URL}}admin/img/icon_addlink.gif"></a></li>
        {% endif %}
        {% endwith %}
        {% endif %}

        {% for object in child.object_list %}
            <li class="{% cycle 'odd' 'even' %}">
            {% check_object_permission exmo2010.view_tasks object as perm %}
            {% if not perm %}
                <a href="{% url exmo2010:monitoring_rating object.pk %}">{{ object }}</a>
            {% else %}
                <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                {% check_object_permission exmo2010.edit_monitoring object as perm %}
                {% if perm %}
                    &nbsp;
                    <a href="{% url exmo2010:monitoring_update object.pk %}">
                        <img src="{{STATIC_URL}}admin/img/icon_changelink.gif" >
                    </a>
                {% endif %}
                {% check_object_permission exmo2010.delete_monitoring object as perm %}
                {% if perm %}
                    &nbsp;
                    <a href="{% url exmo2010:monitoring_delete object.pk %}">
                        <img src="{{STATIC_URL}}admin/img/icon_deletelink.gif" >
                    </a>
                {% endif %}
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    {% endspaceless %}
{% endblock %}
