/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

/* == ORGANIZATIONS CONTENT BLOCK == */

h2 {
    display: inline;
    margin-right: 12px;
    vertical-align: top;
}

select,
textarea,
input[type="text"] {
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.tab-content {
    margin-top: 20px;
}


/* == ORGANIZATIONS == */

.base-table caption {
    margin-bottom: 15px;
}

.base-table th {
    white-space: nowrap;
}

#monitoring_stats {
    margin-top: 15px;
}

/* Organization search form */

.select-cell {
    padding-left: 5px !important;
    width: 205px;
}


/* == ORGANIZATIONS EDIT == */

.organizations-table td {
    border: none;
}

.organizations-table textarea,
.organizations-table input[name="url"] {
    width: 250px;
}

.organizations-table textarea {
    height: 85px;
}

.organizations-table td:first-child {
    text-align: right;
    white-space: nowrap;
}

.field {
    width: 100%;
}

.help-text {
    position: absolute;
    display: none;
    padding-left: 20px;
    width: 450px;
}

a.org_invite_link {
    margin: 0 10px;
}

#group_actions {
    margin: 10px 0 20px;
}

#group_actions input.action {
    margin: 0 10px;
    width: 130px;
}

#invite_links_window {
    width: 730px;
    background-color: white;
    padding: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


#invite_links_window h2 {
    padding-left: 5px;
}

#invite_links_window a.close_window {
    float: right;
}

#invite_links_window .invite_widgets input.invite_link {
    width: 480px;
}

#invite_links_window .invite_widgets input.email {
    width: 200px;
}

#invite_links_window table td, th {
    border: none;
    font-weight: inherit;
}


#invite_links_window table.digest {
    margin: 10px 0 15px;
}
