/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

/* == ORGANIZATION CONTENT BLOCK == */

.org-content-block h2 {
    display: inline;
    margin-right: 12px;
    vertical-align: top;
}

.tab-content {
    margin-top: 20px;
    width: 100%;
}

.tab-content div.active {
    display: block;
}


/* == ORGANIZATION LIST == */

.base-table {
    margin-top: 20px;
}
/* Organization search form */

.select-cell {
    padding-left: 5px !important;
    width: 205px;
}


/* == ORGANIZATION EMAIL FORM == */

.org-email-form .destination {
    display: table-cell;
    width: 200px;
}

.org-email-form .destination div {
    padding-left: 15px;
}

.org-email-form .destination div:first-child {
    padding-left: 0;
}

.org-email-form .table-cell {
    border: none;
    text-align: left;
}

.org-email-form .table-cell:first-child {
    vertical-align: top;
    text-align: right;
    line-height: 22px;
}

.org-email-form input[type="text"] {
    width: 590px;
}

.org-email-form .text-area {
    position: relative;
    padding: 5px 6px;
}

.org-email-form p {
    margin: 0;
}

.org-email-form .alert-info {
    position: absolute;
    margin: 5px;
    width: 270px;
}

.org-email-form select {
    width: 200px;
}

.org-email-form input[type="submit"] {
    width: 100px;
}


/* == ORGANIZATION FORM == */

.table-implicit td:first-child {
    text-align: right;
}

.table-implicit textarea {
    width: 250px;
    height: 85px;
}

.table-implicit input[name="org-url"] {
    width: 250px;
}

.field {
    width: 100%;
}

.errorlist {
    text-align: left;
}


/* == MAIL HISTORY == */

.mail_history td:first-child,
.mail_history td:last-child,
.mail_history th:first-child,
.mail_history th:last-child {
    width: 1%;
    white-space: nowrap;
}

td.pseudo {
    border-bottom: 1px solid #eeeeee;
}

/* Mail history search form */

#mail_history_search_form > input[name="date_filter_history"] {
    width: 140px;
}

#mail_history_search_form > select {
    margin: 10px 4px;
    width: 190px;
}

td.comment .preview-container {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 17px;
}

#help-text {
    position: absolute;
    padding-left: 9px;
    width: 450px;
    background: url(../../../static/exmo2010/img/registration-triangle.png) 0 10px no-repeat;
}
