/*
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

h2, h3, input, select {
    margin: 0;
}

h2 {
    display: inline;
}

i.download {
    background: url("../../../static/exmo2010/img/download.png") no-repeat;
    background-size: 16px 16px;
    /* AlphaImageLoader is background-size property for IE8 and below */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../../static/exmo2010/img/download.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../../static/exmo2010/img/download.png', sizingMethod='scale')";
}

.representatives-table {
    margin-top: 20px;
}

.filter input[type="text"], .filter select {
    width: 49%;
}

.table-name {
    padding: 20px 5px 10px;
    border: none;
}

th {
    border-top: none;
}

td {
    border-top: 1px solid #eeeeee;
}

tr.zebra:nth-child(odd) {
    background: #f5f5f5;
}
