{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

{% block title %}{{ monitoring.name }}{% endblock %}

{% block extra_css %}
    <style>
        h2, ul {margin: 0;}
        h3 {margin-top: 10px;}
        input[type="submit"] {width: 100px;}
        .task-assignment-block {margin-top: 20px;}
        .table-cell-R {
            vertical-align: baseline;
            line-height: 20px;
        }
    </style>
{% endblock %}

{% block extra_script %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h1 class="sidebar">{{ monitoring.name }}</h1>

    {% include "_sidebar_monitoring.html" %}

    <div class="content cell">
        {% regroup messages by tags as messages %}

        {% if messages %}
            {% for tags in messages %}
                {% if tags.grouper == 'warning' %}
                    <div class="{{ tags.grouper }}">
                        <ul>
                            {% for message in tags.list %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <h2>{% trans "Task assignment" %}</h2>

        <div class="task-assignment-block">
            {% include "_form_errors.html" with form=form %}

            <form action="" method="post">{% csrf_token %}
                <div class="form-table">
                    <div class="table-row">
                        <div class="table-cell-R">
                            {{ form.expert.label }}
                        </div>

                        <div class="table-cell-L">
                            {{ form.expert }}
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell-R">
                            {{ form.organizations.label }}
                        </div>

                        <div class="table-cell-L">
                            {{ form.organizations }}
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell-R"></div>

                        <div class="table-cell-L">
                            <input type="submit" value="{% trans 'Assign' %}"/>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell-R"></div>

                        <div class="table-cell-L">
                            {% if messages %}
                                {% for tags in messages %}
                                    {% if tags.grouper == 'info' %}
                                        <h3>{% blocktrans count counter=tags.list|length %}{{ counter }} task was created{% plural %}{{ counter }} tasks was created{% endblocktrans %}</h3>
                                        <ul>
                                            {% for message in tags.list %}
                                                <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
