{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}{{ monitoring.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/organizations.css' %}"/>
{% endblock %}

{% block content %}

    <h1 class="sidebar">{{ monitoring.name }}</h1>

    {% include "_sidebar_monitoring.html" %}

    <div class="content cell">
        {% include '_messages.html' %}

        <div class="organizations-content-block">
            <h2>{% trans 'Organization deleting' %}</h2>

            <div class="tab-content">
                <div>
                    {% if org.task_set.all %}
                        <p>{% trans 'When you delete organization you also delete this tasks:'%}</p>
                        {% for task in org.task_set.all %}
                            <p><a href="{% url 'exmo2010:task_scores' task.pk %}">{{ task }}</a></p>
                        {% endfor %}
                    {% endif %}
                </div>

                <form action="?{{ request.GET.urlencode }}" method="post">{% csrf_token %}
                    <p>{% trans 'Delete this organization?' %}</p>
                    <p><input type="submit" value="{% trans 'Send' %}" /></p>
                </form>
            </div>
        </div>
    </div>
{%endblock%}
