{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}{% trans 'Parameter-criteria filter' %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/monitoring_parameter_filter.css' %}" />
{% endblock %}

{% block extra_script %}
    <script>
        $(function () {
            var relevant = {
                {% for param in form.parameter.field.queryset %}
                    {{ param.pk }}: "{{ param.relevant_criteria|join:' ' }}", {% endfor %}
            };

            function showRelevant() {
                var criteria = relevant[$("#id_parameter").val()].split(' ');
                $('table.criteria tbody tr').hide();
                for (i=0; i<criteria.length; i++) {
                    $('table.criteria tbody tr.row-' + criteria[i]).show();
                }
            }

            if ({{ hide }}) {
                $('#filter_params').hide();
                $('input[type="submit"]').attr('disabled', 'disabled').hide();
            } else {
                showRelevant();
            }

            $('select').change(function() {
                var param_value = $("#id_parameter").val();

                // Reset criteria radio-inputs to '-'
                $('table.criteria input[value="5"]').click();

                $("#id_parameter").val(param_value);

                var empty_value = (param_value == '');

                $('#filter_params').toggle(!empty_value);
                if (!empty_value) {
                    $("table.criteria tr").show();
                    showRelevant();
                }
                $('input[type="submit"]').prop('disabled', empty_value).toggle(!empty_value);
            });

        });
    </script>
{% endblock %}

{% block content %}
    <h1 class="sidebar">{{ monitoring.name }}</h1>

    {% include "_sidebar_monitoring.html" %}

    <div class="content cell">

        {% include '_messages.html' %}

        <h2>{% trans 'Parameter-criteria filter' %}</h2>

        <div class="parameter-filter-content-block">
            {% include "_form_errors.html" with form=form %}

            <form id="filter_form" method="post" action="">{% csrf_token %}
                {{ form.parameter }}

                <div id="filter_params">
                    <table class="criteria">
                        <thead>
                            <tr>
                                <th>{% trans "Evaluation criterion" %}</th>
                                <th>{% trans "Value" %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for field in form.criteria_fields %}
                                <tr class="row-{{ field.name }}">
                                    <td>{{ field.label }}</td>  <td>{{ field }}</td>
                                </tr>
                                {% if field.errors  %}
                                    <tr class="row-{{ field.name }}">
                                        <td colspan="2"> {{ field.errors }} </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="task-statuses">
                        <h4>{% trans "Task status" %}</h4>
                        {{ form.t_opened }}{{ form.t_opened.label_tag }}<br />
                        {{ form.t_closed }}{{ form.t_closed.label_tag }}<br />
                        {{ form.t_approved }}{{ form.t_approved.label_tag }}
                    </div>
                </div>

                <input type="submit" value="{% trans 'Filter' %}"/>
            </form>

            {% if scores %}
                <table class="results">
                    <thead>
                        <tr>
                            <th>{% trans 'Task' %}</th>
                            <th>{% trans 'Parameter' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in scores %}
                            <tr>
                                <td><a href="{% url 'exmo2010:task_scores' score.task.pk %}">{{ score.task }}</a></td>
                                <td><a href="{% url 'exmo2010:score' score.pk %}">{{ score.parameter }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
