{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% spaceless %}
{% load i18n get_object_by_pk %}
Report from {{ start_date }} to {{ end_date }}
{% with site.domain as baseurl %}
Note:
Limit is {{limit}} days.

Statistics:
Total organizations in monitoring: {{ total_org_count }}
Registered organizations: {{ reg_org_count }}
Organizations with comments from organization: {{ active_organization_stats|length }}
Comments count from organizations: {{ org_comments_count }}
Comments count from organizations with reply date in limit: {{ comments_with_reply|length }}
Comments count from organizations with reply date out of limit: {{ fail_comments_with_reply|length }}
Comments count from organizations without reply and date in limit: {{ comments_without_reply|length }}
Comments count from organizations without reply and should be answered today: {{ fail_soon_comments_without_reply|length }}
Comments count from organizations without reply and date out of limit: {{ fail_comments_without_reply|length }}

Statistics by organization:
{% for active_organization in active_organization_stats %}
{{ active_organization.org }}: {{ active_organization.comments_count }} ({{ active_organization.task.user }})
{% endfor %}

Statistics by iifd employers:
{% for active_iifd_person in active_iifd_person_stats %}
{{ active_iifd_person }}: {{ active_iifd_person.comments_count }}
{% endfor %}
Total: {{ iifd_comments_count }}


Comments list from organizations without reply and date out of limit ({{ fail_comments_without_reply|length }}):
{% for c in fail_comments_without_reply %}
{% get_object_by_pk exmo2010.Score c.object_pk as score %}
{{ c.submit_date }} -- {{ c.user }} -- http://{{ baseurl }}{% url exmo2010:score_view c.object_pk %} ({{score.task.user}})
{% endfor %}

Comments list from organization that needs to reply today (exclude list above) ({{ fail_soon_comments_without_reply|length }}):
{% for c in fail_soon_comments_without_reply %}
{% get_object_by_pk exmo2010.Score c.object_pk as score %}
{{ c.submit_date }} -- {{ c.user }} -- http://{{ baseurl }}{% url exmo2010:score_view c.object_pk %} ({{score.task.user}})
{% endfor %}

Comments list from organization that needs to reply (exclude list above) ({{ comments_without_reply|length }}):
{% for c in comments_without_reply %}
{% get_object_by_pk exmo2010.Score c.object_pk as score %}
{{ c.submit_date }} -- {{ c.user }} -- http://{{ baseurl }}{% url exmo2010:score_view c.object_pk %} ({{score.task.user}})
{% endfor %}
{% endwith %}
{% endspaceless %}
