{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012, 2013 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n check_object_permission model_status %}
{% if object.open %}
    {% check_object_permission exmo2010.close_task object as perm %}
    {% task_status object.status %}
    {% if perm %} : <a href="#task{{ object.pk }}" onclick="change_status('{{ object.pk }}', 'close')">{% trans 'close' %}</a>
    {% endif %}
{% endif %}
{% if object.ready %}
    {% check_object_permission exmo2010.check_task object as perm %}
    {% task_status object.status %}
    {% if perm %}
        : <a href="#task{{ object.pk }}" onclick="change_status('{{ object.pk }}', 'check')">{% trans 'check' %}</a>
    {% endif %}
    {% check_object_permission exmo2010.open_task object as perm %}
    {% if perm %}
        / <a href="#task{{ object.pk }}" onclick="change_status('{{ object.pk }}', 'open')">{% trans 'open' %}</a>
    {% endif %}
{% endif %}
{% if object.checked %}
    {% check_object_permission exmo2010.approve_task object as perm %}
    {% task_status object.status %}
    {% if perm %}
        : <a href="#task{{ object.pk }}" onclick="change_status('{{ object.pk }}', 'approve')">{% trans 'approve' %}</a>
    {% endif %}
{% endif %}
{% if object.approved %}
    {% task_status object.status %}
    {% check_object_permission exmo2010.open_task object as perm %}
    {% if perm %}
        : <a href="#task{{ object.pk }}" onclick="change_status('{{ object.pk }}', 'open')">{% trans 'open' %}</a>
    {% endif %}
{% endif %}
