#score_list .score-ok-nonzero{
	background:green;
	text-align: center;
        }

#score_list .score-ok-zero{
	background:red;
	text-align: center;
        }

#score_list .score-none {
	background:gray;

        }

#score_list td {
        border-collapse: collapse;
        border: 1px solid;
        }

#score_list table {
        width: 100%
        }
