{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static widget_tweaks %}

{% block title %}
    {% if param.pk %}
        {% trans 'Edit parameter' %}
    {% else %}
        {% trans 'Add new parameter' %}
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/parameter.css' %}" />
{% endblock %}

{% block extra_script %}
    {{ form.media }}
{% endblock %}

{% block h1 %}
    <h1>
        {% if param.pk %}
            {% trans 'Edit parameter' %}
        {% else %}
            {% trans 'Add new parameter' %}
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    {% if param.pk %}
        <a class="likeabutton" href="{% url 'exmo2010:parameter_delete' view.task.pk param.pk %}">{% trans 'Delete' %}</a>
    {% endif %}

    <p>{{ form.non_field_errors }}</p>

    <form method="post" action="?{{ request.GET.urlencode }}">{% csrf_token %}
        <table id="param_form">
            {% include "_form_field.html" with field=form.code %}
            {% if param.pk %}
                <tr>
                    <td><label>{% trans 'name'|capfirst %}</label></td>
                    <td class="field">{{ param }}</td>
                </tr>
            {% endif %}
            {% include "_form_field.html" with field=form.trans_fields.name|add_class:"name_input" %}
            {% include "_form_field.html" with field=form.trans_fields.grounds %}
            {% include "_form_field.html" with field=form.trans_fields.rating_procedure %}
            {% include "_form_field.html" with field=form.trans_fields.notes %}
            {% include "_form_field.html" with field=form.exclude %}
            {% include "_form_field.html" with field=form.weight %}
            {% include "_form_field.html" with field=form.complete %}
            {% include "_form_field.html" with field=form.topical %}
            {% include "_form_field.html" with field=form.accessible %}
            {% include "_form_field.html" with field=form.hypertext %}
            {% include "_form_field.html" with field=form.document %}
            {% include "_form_field.html" with field=form.image %}
            {% include "_form_field.html" with field=form.npa %}
        </table>

        <input type="submit" value="{% trans 'Save' %}" />
        {% if param.pk %}
            <input type="submit" name="submit_and_send" value="{% trans 'Save and send notifications' %}" />
        {% else %}
            <input type="reset" class="button" value="{% trans 'Reset' %}"/>
        {% endif %}
    </form>
{% endblock %}
