{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n future widget_tweaks %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}exmo2010/css/parameter.css" />
{% endblock %}

{% block content %}
    <p>{{ form.non_field_errors }}</p>

    <form method="post" action="?{{request.GET.urlencode}}">{% csrf_token %}
        <table id="param_form">
            {% include "_form_field.html" with field=form.code %}
            {% include "_form_field.html" with field=form.trans_fields.name|add_class:"name_input" %}
            {% include "_form_field.html" with field=form.trans_fields.description %}
            {% include "_form_field.html" with field=form.exclude %}
            {% include "_form_field.html" with field=form.weight %}
            {% include "_form_field.html" with field=form.complete %}
            {% include "_form_field.html" with field=form.topical %}
            {% include "_form_field.html" with field=form.accessible %}
            {% include "_form_field.html" with field=form.hypertext %}
            {% include "_form_field.html" with field=form.document %}
            {% include "_form_field.html" with field=form.image %}
            {% include "_form_field.html" with field=form.npa %}
        </table>

        <input type="submit" value="{% trans 'Save' %}" />
        {% if param.pk %}
            <input type="submit" name="submit_and_send" value="{% trans 'Save and send notifications' %}" />
        {% else %}
            <input type="reset" class="button" value="{% trans 'Reset' %}"/>
        {% endif %}
    </form>
{% endblock %}
