{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n admin_tools_dashboard_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/bubble.css"/>
{% endblock %}

<script type="text/javascript" src="{{ media_url }}/admin_tools/js/utils.js"></script>

<script type="text/javascript" charset="utf-8">
    // Load js files syncronously and conditionally

    var js_files = [
        {
            src : '{{ media_url }}/exmo2010/js/jquery/jquery.min.js',
            test: function() { return typeof(jQuery) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery-ui.min.js',
            test: function() { return typeof(jQuery.ui) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/json.min.js',
            test: function() { return typeof(JSON.stringify) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.cookie.min.js',
            test: function() { return typeof(jQuery.cookie) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.dashboard.js',
            test: function() { return true; }
        },
        {
{% if user.is_active %}
            src : '{{ media_url }}/admin_tools/js/dashboard.js',
{% else %}
            src : '{{ STATIC_URL }}/dashboard/js/dashboard-cookie.js',
{% endif %}
            test: function() { return true; }
        }{% for js in dashboard.Media.js %},
        {
            src : '{{ media_url }}/{{ js }}',
            test: function() { return true; }
        }{% endfor %}
    ];

    loadScripts(js_files, function(){
        jQuery(function($) {
            init_dashboard(
                '{{ dashboard.get_id }}',
                {{ dashboard.columns }},
                {% autoescape off %}{{ dashboard_preferences }}{% endautoescape %},
                '{% url admin-tools-dashboard-set-preferences dashboard.get_id %}'
            );
        });
    });
</script>
<div class="bubble-dashboard-container">
{% block bubble %}{% include "exmo2010/helpers/inv_code_bubble.html" %}{% endblock %}
</div>
<div id="dashboard-panel">
    <h3><a href="#">{% trans "Modules" %}</a></h3>
    {% if has_disabled_modules %}
    <ul>
        {% spaceless %}
        {% for module in dashboard.children %}
        {% if not module.enabled %}
        <li><a href="#" rel="module_{{ module.id }}" class="addlink add-dashboard-module">{{ module.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endspaceless %}
    </ul>
    {% endif %}
</div>
<div id="{{ dashboard.get_id }}" class="dashboard-container">
    {% for module in dashboard.children %}
{% admin_tools_render_dashboard_module module %}{% endfor %}
</div>
