{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}exmo2010/css/score.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}exmo2010/css/score_list-parameter-colours.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}exmo2010/css/score_messages.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/bubble.css"/>
{% endblock %}

{% if request.user.profile.is_expert %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}exmo2010/js/jquery/jquery.min.js"></script>
    {% include "tabs_js.html" %}
    {% include "exmo2010/score/messages_js.html" %}
{% endblock %}
{% endif %}

{% block title %}{{ parameter }}{% endblock %}

{% block bubble %}{% include "exmo2010/helpers/inv_code_bubble.html" %}{% endblock %}

{% block content %}

{% include "exmo2010/score/parameter_header.html" %}

{% load criteria_css_class %}

<table class="table-parameter">
    <thead>
    <th class="criteria">{% trans 'Evaluation criterion' %}</th>
    <th class="value">{% trans 'Value' %}</th>
    <th class="explanation">{% trans 'Explanation' %}</th>
    </thead>
    <tbody>
        <tr>
            <td>{% trans 'Found' %}</td>
            <td class="value {{object|criteria_css_class:'found'}}">
                {{ object.found|default_if_none:"—" }}
            </td>
            <td>{% if object.foundComment %}{{ object.foundComment }}{% endif %}</td>
        </tr>

        {% if parameter.complete %}
        <tr>
            <td>{% trans 'Complete' %}</td>
            <td class="value {{object|criteria_css_class:'complete'}}">
                {{ object.complete|default_if_none:"—" }}
            </td>
            <td>{% if object.completeComment %}{{ object.completeComment }}{% endif %}</td>
        </tr>
        {% endif %}

        {% if parameter.topical %}
        <tr>
            <td>{% trans 'Topical' %}</td>
            <td class="value {{object|criteria_css_class:'topical'}}">
                {{ object.topical|default_if_none:"—" }}
            </td>
            <td>{% if object.topicalComment %}{{ object.topicalComment }}{% endif %}</td>
        </tr>
        {% endif %}

        {% if parameter.accessible %}
        <tr>
            <td>{% trans 'Accessible' %}</td>
            <td class="value {{object|criteria_css_class:'accessible'}}">
                {{ object.accessible|default_if_none:"—" }}
            </td>
            <td>{% if object.accessibleComment %}{{ object.accessibleComment }}{% endif %}</td>
        </tr>
        {% endif %}

        {% if parameter.hypertext %}
        <tr>
            <td>{% trans 'Hypertext' %}</td>
            <td class="value {{object|criteria_css_class:'hypertext'}}">
                {{ object.hypertext|default_if_none:"—" }}
            </td>
            <td>{% if object.hypertextComment %}{{ object.hypertextComment }}{% endif %}</td>
        </tr>
        {% endif %}

        {% if parameter.document %}
        <tr>
            <td>{% trans 'Document' %}</td>
            <td class="value {{object|criteria_css_class:'document'}}">
                {{ object.document|default_if_none:"—" }}
            </td>
            <td>{% if object.documentComment %}{{ object.documentComment }}{% endif %}</td>
        </tr>
        {% endif %}

        {% if parameter.image %}
        <tr>
            <td>{% trans 'Image' %}</td>
            <td class="value {{object|criteria_css_class:'image'}}">
                {{ object.image|default_if_none:"—" }}
            </td>
            <td>{% if object.imageComment %}{{ object.imageComment }}{% endif %}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% if object.comment %}
<dl>
    <dt>
        {% trans 'Recomendations' %}
    </dt>
    <dd>
        {{ object.comment }}
    </dd>
</dl>
{% endif %}

{# Проверка всех прав для сообщений #}

{% load check_object_permission %}

{% check_object_permission exmo2010.view_comment_score object as view_comment %}
{% check_object_permission exmo2010.add_comment_score object as add_comment %}
{% check_object_permission exmo2010.close_comment_score object as close_comment %}

{% check_object_permission exmo2010.view_clarification_score object as view_clarification %}
{% check_object_permission exmo2010.add_clarification_score object as add_clarification %}
{% check_object_permission exmo2010.answer_clarification_score object as answer_clarification %}

{% check_object_permission exmo2010.add_claim_score object as add_claim %}
{% check_object_permission exmo2010.view_claim_score object as view_claim %}
{% check_object_permission exmo2010.answer_claim_score object as answer_claim %}
{% check_object_permission exmo2010.delete_claim_score object as delete_claim %}


{% if request.user.profile.is_expert and view_comment or request.user.profile.is_expert and view_claim or request.user.profile.is_expert and view_clarification %}
    {% include "exmo2010/score/tabs.html" %}
{% else %}
    {% if view_comment %}
        {% load wysiwyg %}
        {% wysiwyg_setup %}
        <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/ck-change-plugin.js"></script>
        <h3 class="heading-comments-parameter">{% trans "Comments" %}</h3>
        {% include "exmo2010/score/comment.html" %}
    {% endif %}
{% endif %}

{% endblock %}
