{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n adminmedia check_object_permission %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/score.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tables.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/score_messages.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.autosize.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/score.form.js"></script>
    {% if object %}
        <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/bootstrap-tab.js"></script>
        {% include "exmo2010/score/messages_js.html" %}
    {% endif %}
{% endblock %}

{% block content %}

{% include "exmo2010/score/parameter_header.html" %}

<form action="" method="post" class="score">{% csrf_token %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<p>{{ form.non_field_errors }}</p>

{{ form.parameter.as_hidden }}
{{ form.task.as_hidden }}

<table class="score-table editable">
    <thead>
        <tr>
            <th class="criteria">
                {% trans "Evaluation criterion" %}
            </th>
            <th>
                {% trans "Value" %}
            </th>
            <th class="explanation">
                {% trans "Explanation" %}
            </th>
        </tr>
    </thead>

    <tbody>
    {# Наличие #}
        <tr>
            <td>
                <label>{{ form.found.label }}</label>
            </td>
            <td class="value">
                {{ form.found }}
            </td>
            <td class="explanation">
                {{ form.foundComment }}
            </td>
        </tr>

        {% if form.found.errors %}
        <tr>
            <td colspan="3">
            {{ form.found.errors }}
            </td>
        </tr>
        {% endif %}

    {# Полнота #}
    {% if parameter.complete %}
        <tr>
            <td>
                <label>{{ form.complete.label }}</label>
            </td>
            <td class="value">
                {{ form.complete }}
            </td>
            <td class="explanation">
                {{ form.completeComment }}
            </td>
        </tr>
        {% if form.complete.errors %}
        <tr>
            <td colspan="3">
                {{ form.complete.errors }}
            </td>
        </tr>
        {% endif %}
    {% endif %}

    {# Астуальность #}
    {% if parameter.topical %}
        <tr>
            <td>
                <label>{{ form.topical.label }}</label>
            </td>
            <td class="value">
                {{ form.topical }}
            </td>
            <td class="explanation">
                {{ form.topicalComment }}
            </td>
        </tr>
        {% if form.topical.errors %}
            <tr>
                <td colspan="3">
                    {{ form.topical.errors }}
                </td>
            </tr>
        {% endif %}
    {% endif %}

    {# Навигационная доступность #}
    {% if parameter.accessible %}
        <tr>
            <td>
                <label>{{ form.accessible.label }}</label>
            </td>
            <td class="value">
                {{ form.accessible }}
            </td>
            <td class="explanation">
                {{ form.accessibleComment }}
            </td>
        </tr>
        {% if form.accessible.errors %}
            <tr>
                <td colspan="3">
                    {{ form.accessible.errors }}
                </td>
            </tr>
        {% endif %}
    {% endif %}

    {# HTML доступность #}
    {% if parameter.hypertext %}
        <tr>
            <td>
                <label>{{ form.hypertext.label }}</label>
            </td>
            <td class="value">
                {{ form.hypertext }}
            </td>
            <td class="explanation">
                {{ form.hypertextComment }}
            </td>
        </tr>
        {% if form.hypertext.errors %}
            <tr>
                <td colspan="3">
                    {{ form.hypertext.errors }}
                </td>
            </tr>
        {% endif %}
    {% endif %}

    {# Файловая доступность #}
    {% if parameter.document %}
        <tr>
            <td>
                <label>{{ form.document.label }}</label>
            </td>
            <td class="value">
                {{ form.document }}
            </td>
            <td class="explanation">
                {{ form.documentComment }}
            </td>
        </tr>
        {% if form.document.errors %}
            <tr>
                <td colspan="3">
                    {{ form.document.errors }}
                </td>
            </tr>
        {% endif %}
    {% endif %}

    {# Графическая доступость #}
    {% if parameter.image %}
        <tr>
            <td>
                <label>{{ form.image.label }}</label>
            </td>
            <td class="value">
                {{ form.image }}
            </td>
            <td class="explanation">
                {{ form.imageComment }}
            </td>
        </tr>
        {% if form.image.errors %}
            <tr>
                <td colspan="3">
                    {{ form.image.errors }}
                </td>
            </tr>
        {% endif %}
    {% endif %}
    </tbody>
</table>

<h3 class="recomendation">
    {{ form.comment.label }}
</h3>
{{ form.comment }}

<input type="submit" id="submit_score" value={% trans 'Save' %} />

<span class="button-bar">
    <span class="reset-button">
        <input type="reset" value={% trans 'Reset' %} />
    </span>
</span>

{% check_object_permission exmo2010.exclude_parameter parameter as perm %}
{% if perm %}
    <span class="non-relevant-button">
    <input type="button"
           value="{% trans 'Set non-relevant' %}"
           onclick="window.location.href='{% url exmo2010:parameter_manager task.pk parameter.pk 'exclude' %}?{{ request.GET.urlencode }}'" />
    </span>
{% endif %}

</form>

{% if object %}

{% load check_object_permission %}

{% check_object_permission exmo2010.view_comment_score object as view_comment %}
{% check_object_permission exmo2010.add_comment_score object as add_comment %}
{% check_object_permission exmo2010.close_comment_score object as close_comment %}
{% check_object_permission exmo2010.view_claim_score object as view_claim %}

{% include "exmo2010/score/tabs.html" %}

{% endif %}
{% endblock %}

