{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n adminmedia check_object_permission criteria_css_class urlize_target_blank %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/score.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tables.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/score_messages.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/score_list-parameter-colours.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.autosize.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/score.form.js"></script>
    {% if object %}
        <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/bootstrap-tab.js"></script>
        {% include "exmo2010/score/messages_js.html" %}
    {% endif %}
{% endblock %}


{% block content %}

{% include "exmo2010/score/parameter_header.html" %}

<div class="criteria_edit_line">
    <h2>{% trans 'Score by criterion' %}
    {% include "tabs_edit.html" %}</h2>
</div>

{# start--нередактируемая таблица #}
<div id="non_editable_table">
    <table class="score-table non-editable">
        <thead>
            <tr>
                <th class="criteria">
                    {% trans 'Evaluation criterion' %}
                </th>
                <th>
                    {% trans 'Value' %}
                </th>
                <th class="explanation">
                    {% trans 'Explanation' %}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <label>
                        {% trans 'Found' %}
                    </label>
                </td>
                <td class="value {{object|criteria_css_class:'found'}}">
                    {{ object.found|default:"—" }}
                </td>
                <td>
                    {{ object.foundComment|default:""|urlize_target_blank:url_length }}
                </td>
            </tr>

            {% if parameter.complete %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Complete' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'complete'}}">
                        {{ object.complete|default:"—" }}
                    </td>
                    <td>
                        {{ object.completeComment|default:""|urlize_target_blank:url_length }}
                    </td>
                </tr>
            {% endif %}

            {% if parameter.topical %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Topical' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'topical'}}">
                        {{ object.topical|default:"—" }}
                    </td>
                    <td>
                        {{ object.topicalComment|default:""|urlize_target_blank:url_length }}
                    </td>
                </tr>
            {% endif %}

            {% if parameter.accessible %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Accessible' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'accessible'}}">
                        {{ object.accessible|default:"—" }}
                    </td>
                    <td>
                        {{ object.accessibleComment|default:""|urlize_target_blank:url_length }}
                    </td>
                </tr>
            {% endif %}

            {% if parameter.hypertext %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Hypertext' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'hypertext'}}">
                        {{ object.hypertext|default:"—" }}
                    </td>
                    <td>
                        {{ object.hypertextComment|default:""|urlize_target_blank:url_length }}
                    </td>
                </tr>
            {% endif %}

            {% if parameter.document %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Document' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'document'}}">
                        {{ object.document|default:"—" }}
                    </td>
                    <td>
                        {{ object.documentComment|default:""|urlize_target_blank:url_length }}
                    </td>
                </tr>
            {% endif %}

            {% if parameter.image %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Image' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'image'}}">
                        {{ object.image|default:"—" }}
                    </td>
                    <td>
                        {{ object.imageComment|default:""|urlize_target_blank:url_length }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if object.comment %}
        <p class="recomendation">
            {% trans 'Recomendations' %}
        </p>
        {{ object.comment|default:""|urlize_target_blank:url_length }}
    {% endif %}
</div>
{# end--нередактируемая таблица #}



{# start--редактируемая таблица #}
<div id="editable_table">
    <form action="" method="post" class="score">{% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <p>{{ form.non_field_errors }}</p>

    {{ form.parameter.as_hidden }}
    {{ form.task.as_hidden }}

    <table class="score-table editable">
        <thead>
            <tr>
                <th class="criteria">
                    {% trans 'Evaluation criterion' %}
                </th>
                <th>
                    {% trans 'Value' %}
                </th>
                <th class="explanation">
                    {% trans 'Explanation' %}
                </th>
            </tr>
        </thead>

        <tbody>
            {# Наличие #}
            <tr>
                <td>
                    <label>
                        {% trans 'Found' %}
                    </label>
                </td>
                <td class="value">
                    {{ form.found }}
                </td>
                <td class="explanation">
                    {{ form.foundComment }}
                </td>
            </tr>

            {% if form.found.errors %}
                <tr>
                    <td colspan="3">
                        {{ form.found.errors }}
                    </td>
                </tr>
            {% endif %}

            {# Полнота #}
            {% if parameter.complete %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Complete' %}
                        </label>
                    </td>
                    <td class="value">
                        {{ form.complete }}
                    </td>
                    <td class="explanation">
                        {{ form.completeComment }}
                    </td>
                </tr>

                {% if form.complete.errors %}
                    <tr>
                        <td colspan="3">
                            {{ form.complete.errors }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {# Астуальность #}
            {% if parameter.topical %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Topical' %}
                        </label>
                    </td>
                    <td class="value">
                        {{ form.topical }}
                    </td>
                    <td class="explanation">
                        {{ form.topicalComment }}
                    </td>
                </tr>

                {% if form.topical.errors %}
                    <tr>
                        <td colspan="3">
                            {{ form.topical.errors }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {# Навигационная доступность #}
            {% if parameter.accessible %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Accessible' %}
                        </label>
                    </td>
                    <td class="value">
                        {{ form.accessible }}
                    </td>
                    <td class="explanation">
                        {{ form.accessibleComment }}
                    </td>
                </tr>

                {% if form.accessible.errors %}
                    <tr>
                        <td colspan="3">
                            {{ form.accessible.errors }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {# HTML доступность #}
            {% if parameter.hypertext %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Hypertext' %}
                        </label>
                    </td>
                    <td class="value">
                        {{ form.hypertext }}
                    </td>
                    <td class="explanation">
                        {{ form.hypertextComment }}
                    </td>
                </tr>

                {% if form.hypertext.errors %}
                    <tr>
                        <td colspan="3">
                            {{ form.hypertext.errors }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {# Файловая доступность #}
            {% if parameter.document %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Document' %}
                        </label>
                    </td>
                    <td class="value">
                        {{ form.document }}
                    </td>
                    <td class="explanation">
                        {{ form.documentComment }}
                    </td>
                </tr>

                {% if form.document.errors %}
                    <tr>
                        <td colspan="3">
                            {{ form.document.errors }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {# Графическая доступость #}
            {% if parameter.image %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Image' %}
                        </label>
                    </td>
                    <td class="value">
                        {{ form.image }}
                    </td>
                    <td class="explanation">
                        {{ form.imageComment }}
                    </td>
                </tr>

                {% if form.image.errors %}
                    <tr>
                        <td colspan="3">
                            {{ form.image.errors }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
    </table>

    <p class="recomendation">
        {{ form.comment.label }}
    </p>
    {{ form.comment }}

    <input type="submit" id="submit_score" value={% trans 'Save' %} />

    {# только для эксперта А - кнопка "Признать нерелевантным" #}
    {% check_object_permission exmo2010.exclude_parameter parameter as perm %}
    {% if perm %}
        <span class="non-relevant-button">
        <input type="button"
               value="{% trans 'Set non-relevant' %}"
               onclick="window.location.href='{% url exmo2010:parameter_manager task.pk parameter.pk 'exclude' %}?{{ request.GET.urlencode }}'" />
        </span>
    {% endif %}

    </form>
</div>
{# end--редактируемая таблица #}




{# start--частично редактируемая таблица #}
<div id="partially_editable_table">
    <form action="" method="post" class="score">{% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <p>{{ form.non_field_errors }}</p>

    {{ form.parameter.as_hidden }}
    {{ form.task.as_hidden }}

    <table class="score-table partially-editable">
        <thead>
            <tr>
                <th class="criteria">
                    {% trans 'Evaluation criterion' %}
                </th>
                <th>
                    {% trans 'Value' %}
                </th>
                <th class="explanation">
                    {% trans 'Explanation' %}
                </th>
            </tr>
        </thead>

        <tbody>
            {# Наличие #}
            <tr>
                <td>
                    <label>
                        {% trans 'Found' %}
                    </label>
                </td>
                <td class="value {{object|criteria_css_class:'found'}}">
                    {{ object.found|default:"—" }}
                    {{ form.found.as_hidden }}
                </td>
                <td class="explanation">
                    {{ form.foundComment }}
                </td>
            </tr>

            {# Полнота #}
            {% if parameter.complete %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Complete' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'complete'}}">
                        {{ object.complete|default:"—" }}
                        {{ form.complete.as_hidden }}
                    </td>
                    <td class="explanation">
                        {{ form.completeComment }}
                    </td>
                </tr>
            {% endif %}

            {# Астуальность #}
            {% if parameter.topical %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Topical' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'topical'}}">
                        {{ object.topical|default:"—" }}
                        {{ form.topical.as_hidden }}
                    </td>
                    <td class="explanation">
                        {{ form.topicalComment }}
                    </td>
                </tr>
            {% endif %}

            {# Навигационная доступность #}
            {% if parameter.accessible %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Accessible' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'accessible'}}">
                        {{ object.accessible|default:"—" }}
                        {{ form.accessible.as_hidden }}
                    </td>
                    <td class="explanation">
                        {{ form.accessibleComment }}
                    </td>
                </tr>
            {% endif %}

            {# HTML доступность #}
            {% if parameter.hypertext %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Hypertext' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'hypertext'}}">
                        {{ object.hypertext|default:"—" }}
                        {{ form.hypertext.as_hidden }}
                    </td>
                    <td class="explanation">
                        {{ form.hypertextComment }}
                    </td>
                </tr>
            {% endif %}

            {# Файловая доступность #}
            {% if parameter.document %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Document' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'document'}}">
                        {{ object.document|default:"—" }}
                        {{ form.document.as_hidden }}
                    </td>
                    <td class="explanation">
                        {{ form.documentComment }}
                    </td>
                </tr>
            {% endif %}

            {# Графическая доступость #}
            {% if parameter.image %}
                <tr>
                    <td>
                        <label>
                            {% trans 'Image' %}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'image'}}">
                        {{ object.image|default:"—" }}
                        {{ form.image.as_hidden }}
                    </td>
                    <td class="explanation">
                        {{ form.imageComment }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <p class="recomendation">
        {{ form.comment.label }}
    </p>
    {{ form.comment }}

    <input type="submit" id="submit_score" value={% trans 'Save' %} />

    {# только для эксперта А - кнопка "Признать нерелевантным" #}
    {% check_object_permission exmo2010.exclude_parameter parameter as perm %}
    {% if perm %}
        <span class="non-relevant-button">
        <input type="button"
               value="{% trans 'Set non-relevant' %}"
               onclick="window.location.href='{% url exmo2010:parameter_manager task.pk parameter.pk 'exclude' %}?{{ request.GET.urlencode }}'" />
        </span>
    {% endif %}

    </form>
</div>
{# end--частично редактируемая таблица #}


{% if object %}

    {% check_object_permission exmo2010.view_comment_score object as view_comment %}
    {% check_object_permission exmo2010.add_comment_score object as add_comment %}
    {% check_object_permission exmo2010.close_comment_score object as close_comment %}
    {% check_object_permission exmo2010.view_claim_score object as view_claim %}

    {% include "exmo2010/score/tabs_dev.html" %}

{% endif %}

{% endblock %}
