{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n adminmedia check_object_permission criteria_css_class wysiwyg urlize_target_blank %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/score.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tables.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/score_messages.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/score_list-parameter-colours.css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.autosize.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/score.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/score.tabs.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ccc-tabs.js"></script>
    {% if object %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/score.comments.js"></script>
    {% endif %}
{% endblock %}


{% block content %}

{% wysiwyg_setup %}
<script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/ck-change-plugin.js"></script>

{% if object %}
    {% check_object_permission exmo2010.view_comment_score object as view_comment %}
    {% check_object_permission exmo2010.add_comment_score object as add_comment %}
    {% check_object_permission exmo2010.close_comment_score object as close_comment %}

    {% check_object_permission exmo2010.view_clarification_score object as view_clarification %}
    {% check_object_permission exmo2010.add_clarification_score object as add_clarification %}
    {% check_object_permission exmo2010.answer_clarification_score object as answer_clarification %}

    {% check_object_permission exmo2010.view_claim_score object as view_claim %}
    {% check_object_permission exmo2010.add_claim_score object as add_claim %}
    {% check_object_permission exmo2010.answer_claim_score object as answer_claim %}
    {% check_object_permission exmo2010.delete_claim_score object as delete_claim %}
{% endif %}

{% check_object_permission exmo2010.exclude_parameter parameter as perm %}

{% include "parameter_header.html" %}

<div class="criteria_edit_line">
    <h2>
        {% trans 'Score by criterion' %}
        {% include "tabs_edit.html" %}
    </h2>
</div>

<form action="" method="post" id="non_editable_table_form" class="score">{% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <input type="hidden" name="name" value="{{ user }}" />
    <input type="hidden" name="email" value="{{ user.email }}" />
    <input type="hidden" name="next" value="{% url exmo2010:score_view object.pk %}" />

    <p>{{ form.non_field_errors }}</p>

    {{ form.parameter.as_hidden }}
    {{ form.task.as_hidden }}

    <table class="score-table non-editable">
        <thead>
            <tr>
                <th class="criteria">
                    {% trans 'Evaluation criterion' %}
                </th>
                <th>
                    {% trans 'Value' %}
                </th>
                <th class="explanation">
                    {% trans 'Explanation' %}
                </th>
            </tr>
        </thead>

        <tbody>
            {# Наличие #}
            <tr>
                <td>
                    <label>
                        {{ form.found.label }}
                    </label>
                </td>
                <td class="value {{object|criteria_css_class:'found'}}">
                    <span class="non_edit_table part_edit_table">{{ object.found|default_if_none:"—" }}</span>
                    <span class="edit_table">{{ form.found }}</span>
                </td>
                <td class="explanation">
                    <span class="non_edit_table">{{ object.foundComment|default:""|urlize_target_blank:url_length }}</span>
                    <span class="edit_table part_edit_table">{{ form.foundComment }}</span>
                </td>
            </tr>

            {# Полнота #}
            {% if parameter.complete %}
                <tr>
                    <td>
                        <label>
                            {{ form.complete.label }}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'complete'}}">
                        <span class="non_edit_table part_edit_table">{{ object.complete|default_if_none:"—" }}</span>
                        <span class="edit_table">{{ form.complete }}</span>
                    </td>
                    <td class="explanation">
                        <span class="non_edit_table">{{ object.completeComment|default:""|urlize_target_blank:url_length }}</span>
                        <span class="edit_table part_edit_table">{{ form.completeComment }}</span>
                    </td>
                </tr>
            {% endif %}

            {# Актуальность #}
            {% if parameter.topical %}
                <tr>
                    <td>
                        <label>
                            {{ form.topical.label }}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'topical'}}">
                        <span class="non_edit_table part_edit_table">{{ object.topical|default_if_none:"—" }}</span>
                        <span class="edit_table">{{ form.topical }}</span>
                    </td>
                    <td class="explanation">
                        <span class="non_edit_table">{{ object.topicalComment|default:""|urlize_target_blank:url_length }}</span>
                        <span class="edit_table part_edit_table">{{ form.topicalComment }}</span>
                    </td>
                </tr>
            {% endif %}

            {# Навигационная доступность #}
            {% if parameter.accessible %}
                <tr>
                    <td>
                        <label>
                            {{ form.accessible.label }}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'accessible'}}">
                        <span class="non_edit_table part_edit_table">{{ object.accessible|default_if_none:"—" }}</span>
                        <span class="edit_table">{{ form.accessible }}</span>
                    </td>
                    <td class="explanation">
                        <span class="non_edit_table">{{ object.accessibleComment|default:""|urlize_target_blank:url_length }}</span>
                        <span class="edit_table part_edit_table">{{ form.accessibleComment }}</span>
                    </td>
                </tr>
            {% endif %}

            {# HTML доступность #}
            {% if parameter.hypertext %}
                <tr>
                    <td>
                        <label>
                            {{ form.hypertext.label }}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'hypertext'}}">
                        <span class="non_edit_table part_edit_table">{{ object.hypertext|default_if_none:"—" }}</span>
                        <span class="edit_table">{{ form.hypertext }}</span>
                    </td>
                    <td class="explanation">
                        <span class="non_edit_table">{{ object.hypertextComment|default:""|urlize_target_blank:url_length }}</span>
                        <span class="edit_table part_edit_table">{{ form.hypertextComment }}</span>
                    </td>
                </tr>
            {% endif %}

            {# Файловая доступность #}
            {% if parameter.document %}
                <tr>
                    <td>
                        <label>
                            {{ form.document.label }}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'document'}}">
                        <span class="non_edit_table part_edit_table">{{ object.document|default_if_none:"—" }}</span>
                        <span class="edit_table">{{ form.document }}</span>
                    </td>
                    <td class="explanation">
                        <span class="non_edit_table">{{ object.documentComment|default:""|urlize_target_blank:url_length }}</span>
                        <span class="edit_table part_edit_table">{{ form.documentComment }}</span>
                    </td>
                </tr>
            {% endif %}

            {# Графическая доступость #}
            {% if parameter.image %}
                <tr>
                    <td>
                        <label>
                            {{ form.image.label }}
                        </label>
                    </td>
                    <td class="value {{object|criteria_css_class:'image'}}">
                        <span class="non_edit_table part_edit_table">{{ object.image|default_if_none:"—" }}</span>
                        <span class="edit_table">{{ form.image }}</span>
                    </td>
                    <td class="explanation">
                        <span class="non_edit_table">{{ object.imageComment|default:""|urlize_target_blank:url_length }}</span>
                        <span class="edit_table part_edit_table">{{ form.imageComment }}</span>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {# Рекомендации #}
    <p class="recomendation">
        {% if object.comment %}
            <span class="non_edit_table">
                {{ form.recomendation.label|capfirst }}
            </span>
        {% endif %}
        <span class="edit_table part_edit_table">
            {{ form.recomendation.label|capfirst }}
        </span>
    </p>
    <span class="non_edit_table">
        {{ object.comment|default:""|urlize_target_blank:url_length }}
    </span>
    <span class="edit_table part_edit_table">
        {{ form.recomendation }}
    </span>

    <div>
        {# Кнопка "Сохранить" #}
        <input type="submit" name="submit_scores" id="submit_scores" value="{% trans 'Save' %}" />

        {# Кнопка "Признать нерелевантным" #}
        {% if perm %}
            <span class="non_relevant_button">
            <input type="button"
                   value="{% trans 'Set non-relevant' %}"
                   onclick="window.location.href='{% url exmo2010:parameter_manager task.pk parameter.pk 'exclude' %}?{{ request.GET.urlencode }}'" />
            </span>
        {% endif %}
    </div>

    {# Табы #}
    {% if object %}
        {% include "tabs.html" %}
    {% endif %}

    <div class="tab-content-comments">
        {% if view_comment %}
            <div class="active" id="comments">
                {% include "comment.html" %}
            </div>
            {% if add_comment %}
                <div id="comment_field">
                    <p>{% trans 'Your comment' %}</p>
                    {{ form.comment }}
                    <input type="submit" name="submit_comment" id="submit_comment" value="{% trans 'Post comment' %}" />
                    <input type="submit" name="submit_score_and_comment" id="submit_score_and_comment" value="{% trans "Post comment and change score" %}" />
                    {% wysiwyg_editor "id_comment" %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</form>

<div class="tab-content-clarifications hidden">
    {% if view_clarification %}
        <div class="{% if not view_comment %} active{% endif %}" id="clarifications">
            {% include "clarification.html" %}
        </div>
    {% endif %}
</div>

<div class="tab-content-claims hidden">
    {% if view_claim %}
        <div class="{% if not view_comment and not view_clarification %} active{% endif %}" id="claims">
            {% include "claim.html" %}
        </div>
    {% endif %}
</div>

{% endblock %}
