{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n hash static %}

{% spaceless %}
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
        <head>
            <title>
                {% trans "Task " %} {{ task.id }}
            </title>
            <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'css/task_report.css' %}" />
        </head>

        <body>
            <h1>{{ task.organization.name }}: {{ task.organization.monitoring.name }}</h1>

            <table>
                <thead>
                    <tr>
                        <td>{% trans 'Code' %}</td>
                        <td>{% trans 'Name' %}</td>
                        <td>{% trans 'Openness' %}</td>
                        <td>{% trans 'Weight' %}</td>
                        <td>{% trans 'Found' %}</td>
                        <td>{% trans 'Complete' %}</td>
                        <td>{% trans 'Topical' %}</td>
                        <td>{% trans 'Accessible' %}</td>
                        <td>{% trans 'HTML' %}</td>
                        <td>{% trans 'Document' %}</td>
                        <td>{% trans 'Image' %}</td>
                    </tr>
                </thead>

                <tbody>
                    {% for parameter in parameters %}
                        {% with score_dict|hash:parameter.pk as score %}
                            <tr>
                                <td>{{ parameter.code }}</td>
                                <td>{{ parameter.name }}</td>
                                {% if score %}
                                    <td>{{ score.openness }}</td>
                                    <td>{{ score.parameter.weight }}</td>
                                    {% include "exmo2010/score_criteria_table.html" %}
                                    {% if report == 'printfull' %}
                                        {% if score.comment %}</tr><tr><td>{% trans 'recommendations' %}</td><td colspan=10>{{ score.comment|linebreaks }}</td>{% endif %}
                                    {% endif %}
                                {%else%}
                                    <td colspan=10></td>
                                {%endif%}
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </body>
        <br>
        {% block footer %}
            {% include "exmo2010/footer.html" %}
        {% endblock %}
    </html>
{% endspaceless %}
