{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% spaceless %}
{% load i18n hash check_object_permission %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% trans "Task " %} {{ task.id }}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{{STATIC_URL}}admin/css/base.css{% endblock %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{{STATIC_URL}}admin/css/rtl.css{% endblock %}" />{% endif %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
<div>
{% with task.organization.monitoring as monitoring %}
{% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
{% endwith %}
<h1>{% if perm %}{{ task.user }}: {% endif %}{{ task.organization.name }}: {{ task.organization.monitoring.name }}</h1>

<table>
<thead>
  <td>{% trans 'Code' %}</td>
  <td>{% trans 'Name' %}</td>
  <td>{% trans 'Openness' %}</td>
  <td>{% trans 'Weight' %}</td>
  <td>{% trans 'Found' %}</td>
  <td>{% trans 'Complete' %}</td>
  <td>{% trans 'Topical' %}</td>
  <td>{% trans 'Accessible' %}</td>
  <td>{% trans 'HTML' %}</td>
  <td>{% trans 'Document' %}</td>
  <td>{% trans 'Image' %}</td>
</thead>
<tbody>
{% for parameter in parameters %}
{% with score_dict|hash:parameter.pk as score %}
      <tr width=100% id='parameter_{{ parameter.code }}'>
      <td width=4%>{{ parameter.code }}</td>
      <td>
        {{ parameter.name }}
      </td>
      {% if score %}
      <td>{{ score.openness }}</td>
      <td>{{ score.parameter.weight }}</td>
      {% include "exmo2010/score_criteria_table.html" %}
      {% if report == 'printfull' %}
        {% if score.completeComment and score.parameter.complete %}</tr><tr><td>{% trans "explanation for 'Complete' criterion" %}</td><td colspan=7>{{ score.completeComment|linebreaks }}</td>{% endif %}
        {% if score.topicalComment and score.parameter.topical %}</tr><tr><td>{% trans "explanation for 'Topical' criterion" %}</td><td colspan=7>{{ score.topicalComment|linebreaks }}</td>{% endif %}
        {% if score.accessibleComment and score.parameter.accessible %}</tr><tr><td>{% trans "explanation for 'Accessible' criterion" %}</td><td colspan=7>{{ score.accessibleComment|linebreaks }}</td>{% endif %}
        {% if score.hypertextComment and score.parameter.hypertext %}</tr><tr><td>{% trans "explanation for 'Hypertext' criterion" %}</td><td colspan=7>{{ score.hypertextComment|linebreaks }}</td>{% endif %}
        {% if score.documentComment and score.parameter.document %}</tr><tr><td>{% trans "explanation for 'Document' criterion" %}</td><td colspan=7>{{ score.documentComment|linebreaks }}</td>{% endif %}
        {% if score.comment %}</tr><tr><td>{% trans 'recomendations' %}</td><td colspan=7>{{ score.comment|linebreaks }}</td>{% endif %}
      {% endif %}
      {%else%} {# if score #}
        <td colspan=7></td>
      {%endif%} {# if score #}
      </tr>
{% endwith %}
{% endfor %}
    </tbody></table>
</div><br>
{% endspaceless %}
{% block footer %}{% include "exmo2010/footer.html" %}{% endblock %}
