{% extends "exmo2010/email_base.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n get_object_by_pk %}

{% block title %}{% endblock %}

{% block content %}
    <p>{% trans 'Hello' %} {{ user.userprofile.legal_name }}!</p>
    <p>{% trans 'Digest from' %} {{from}} {% trans 'till' %} {{till}}</p>
    {% for comment in comments %}
        <p>----------</p>
        {% get_object_by_pk exmo2010.Score comment.object_pk as score %}
        <p>{{ score.task.organization }}: {{ score.parameter }}</p>
        <p>{% trans 'Date' %}: {{ comment.submit_date }}</p>
        <p>{% trans 'User' %}: {% if comment.user.userprofile.is_expert %}{% if user.userprofile.is_expert %}{{ comment.user.userprofile.legal_name }}{% else %}{{ expert }}{% endif %}{% else %}{{ comment.user.userprofile.legal_name }}{% endif %}</p>
        <p>{% trans 'Comment' %}:</p>
        <p>{{ comment.comment|safe }}</p>
        <p>{% trans 'Link' %}: <a href="http://{{ site }}{{ score.get_absolute_url }}">{{ site }}{{ score.get_absolute_url }}</a></p>
    {% endfor %}
{% endblock content %}
