/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

#header #navigation-menu {
    background-image: none;
    background-color: #3678A2;
    height: 40px;
    padding-right: 10px;
}

#header ul#navigation-menu li {
    padding: 0;
    margin: 0;
    line-height: 18px;
    height: auto;
}

#header ul#navigation-menu li.brand a {
    font-family: Arial;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 16px;
}

#header ul#navigation-menu li.person {
    position: absolute;
    right: 0;
    z-index: 9999;
    text-align: right;
    outline: none;
}

#header ul#navigation-menu li.person a {
    outline: none;
}

#header ul#navigation-menu li a {
    display: block;
    text-transform: none;
    text-decoration: none;
    padding: 11px 10px;
    border-right: none;
    color: #fff;
    background-color: #3678A2;
    margin: 0;
    font-family: Arial;
    font-size: 14px;
}

#header ul#navigation-menu li:hover,
#header ul#navigation-menu li.over,
#header ul#navigation-menu li.selected {
    background-image: none;
}

#header ul#navigation-menu li a:hover,
#header ul#navigation-menu li.over a:hover,
#header ul#navigation-menu li.selected a:hover {
    color: #ccc;
}

#header ul#navigation-menu li.first a {
    margin: 0px;
    padding-top: 11px;
    text-indent: 0px;
    background-image: none;
    background-color: #3678A2;
}

#header ul#navigation-menu li.selected a {
    background-image: none;
    background-color: #005c9c;
}

#header ul#navigation-menu li span {
    float: none;
    position: static;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 10px;
    width: 10px;
    /* dropdown icon */
    background-image: url(../img/menu_arrow_down.png);
    background-position: 1px 0px;
}

#header ul#navigation-menu li.person span {
    height: 10px;
    width: 21px;
    background-position: 1px 0px;
}

#header ul#navigation-menu li ul {
    border-bottom: 1px solid #ededed;
}

#header ul#navigation-menu li ul li {
    padding: 0;
    float: none;
    background: none;
    z-index: 9999;
}

#header ul#navigation-menu li ul li a,
#header ul#navigation-menu li.selected ul li a {
    padding: 5px 10px;
    font-family: Arial;
    font-size: 13px;
    color: #005c9c;
    background-color: #fff;
    display: block;
    border: 1px solid #ededed;
    border-width: 0 1px;
    text-transform: none;
    min-width: 88px;
    height: 100%;
}

#header ul#navigation-menu li ul li a:hover,
#header ul#navigation-menu li.selected ul li a:hover {
    color: #005c9c;
    text-decoration: underline;
}

.menuitem-hover
{
    background-color: #fff !important;
    color: #333 !important;
}

.menuarrow-hover
{
    background-image: url(../img/menu_arrow_up.png) !important;
}

#userarea {
    padding: 0;
    z-index: inherit;
    text-align: right;
    z-index: 9999;
}

#userarea div {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-width: 0 0 1px 1px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 7px;
}

#header ul#navigation-menu div#userarea a {
    padding: 0;
    padding-right: 27px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline;
    background: none;
    font-family: Arial;
    font-size: 13px;
    color: #005C9C;
}

#header ul#navigation-menu div#userarea div.auth a:first-child {
    background: transparent url(../../dashboard/img/pinion.png) no-repeat 10px 0px;
    padding-left: 30px;
}

#header ul#navigation-menu div#userarea div.auth a {
    background: transparent url(../../dashboard/img/exit.png) center left no-repeat;
    padding-left: 20px;
}

#header ul#navigation-menu div#userarea a:hover {
    text-decoration: underline;
}

#header ul#navigation-menu div#userarea img {
    display: inline;
    vertical-align: middle;
    padding-right: 3px;
    position: relative;
    top: -1px;
    z-index: 9999;
}

.hidden
{
    display: none;
}

#header ul#navigation-menu li.auth-menu {
    float: right;
}

#header ul#navigation-menu li:hover ul,
#header ul#navigation-menu li.over ul,
#header ul#navigation-menu li ul li:hover ul,
#header ul#navigation-menu li ul li.over ul {
    display: none;
}
