/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

h2 {
    margin-top: 10px;
    margin-bottom: 3px;
}

input {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
}

.header-block {
    margin-bottom: 20px;
}

.tabs {
    position: relative;
    width: 100%;
    text-align: center;
}

/* TODO: remove this block in US #2285 */
.warning-block {
    margin-bottom: 20px;
}

/* overridden like "warning-block" class from base_style.css */
.warning {
    margin: 10px 0 0;
    padding: 5px;
    border: 1px solid #fe9898;
    background-color: #fecdcd;
}

.form-table {
    margin: 0 auto;
}

.form-table input[type="text"],
.form-table input[type="password"] {
    width: 250px;
}

.form-table input[name="notification"] {
    vertical-align: baseline;
}

input[type="submit"] {
    margin-right: 20px;
}

.login-form,
.registration-form,
.resend-email-form,
.new-password-form,
.password-recovery-form {
    position: relative;
    margin-top: 10px;
}

.login-form input[type="submit"] {
    width: 85px;
}

.password-recovery-form input[type="submit"] {
    width: 150px;
}

.registration-content-block .info-block {
    position: absolute;
    display: none;
    margin: 5px 0 0 5px;
}
