/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.table-login label
{
    font-weight: normal;
}

.table-login td, .table-password-reset td
{
    vertical-align: middle;
}

.table-login tr td:first-child
{
    text-align: right;
}

.table-login td input[type="text"], .table-login td input[type="password"],
.table-password-reset td input[type="text"]
{
    width: 250px;
}

.table-login td input[type="submit"]
{
    width: 85px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 24;
}

.forgot-password
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 24;
    padding-left: 18px;
    position: relative;
    top: 2px;
}
.required
{
    color: red;
}
.p-required
{
    margin-top: 14px;
}

.login-submit
{

}

.form-error
{
    color: red;
}

.table-registration td
{
    vertical-align: middle;
    padding: 4px 6px;
    font-size: 13px;
    line-height: 18px;
}

.table-registration td:first-child
{
    padding-left: 0px;
    text-align: right;
    width: 127px;
}

.label-registration label
{
    color: #333;
}

td input[type="text"]
{
    width: 300px;
    font-size: 13px;
}

td select
{
    width: 308px;
    font-size: 13px;
}

.table-registration ul
{
    padding-left: 0;
}

.table-registration ul > li
{
    list-style: none;
}

.required
{
    color: red;
}

td.subscribe
{
    padding-top: 9px;
    padding-bottom: 9px;
}

.subscribe input
{
    position: relative;
    bottom: 2px;
}

#help-text
{
    position: absolute;
    width: 450px;
    left: 475px;
    background-image: url(../img/registration-triangle.png);
    background-position: 0px 15px;
    background-repeat: no-repeat;
    padding-left: 9px;
}

.form-errors
{
    margin-left: 5px;
    padding-left: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #fecdcd;
    border: #fe9898 1px solid;
    color: #000000;
}

ul.form-errors
{
    padding-left: 28px;
}

ul.form-errors li
{
    list-style: disc;
}

.form-errors li
{
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

span.form-error
{
    font-size: 13px;
}