/*
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

* {
    margin: 0;
}

*:not(ul, ol) {
    padding: 0;
}

html,
body {
    min-width: 830px;
    height: 100%;
    background-color: #f8f8f8;
}

body {
    color: #222222;
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

/*Opera Fix*/
body:before {
    float: left;
    margin-top: -32767px; /* negate effect of float */
    width: 0;
    height: 100%;
    content: "";
}

#main {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100%;
    background-color: #ffffff;
    margin-bottom: -100px;
    border-top: 1px solid #fff;
}

#main.fixed-width {
    margin: 0 auto;
    min-width: 770px;
    max-width: 950px;
    border: 1px solid #D7D7D7;
}

#main.fixed-width .table,
#main.fixed-width .base-table {
    margin-right: -5px;
    margin-left: -5px;
    max-width: 920px;
}

#main.error-page {
    padding-bottom: 100px;
}

#main.error-page #content_outer {
    margin-top: 39px;
}

#main.error-page div.content {
    padding: 15px 20px;
}

#main.error-page div.content div {
    padding: 10px 10px 5px 10px;
    background-color: #666666;
    color: #ffffff;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    min-width: 830px;
    width: 100%;
    background-color: #ffffff;
}

h1.sidebar {
    margin: 0;
    background-color: #f8f8f8;
    padding: 20px 20px 10px;
    min-height: 32px;
}

h1 {
    padding: 15px 20px 0px;
}

#content_outer {
    margin-top: 102px;
    width: 100%;
}

.fixed-width #content_outer {
    padding-bottom: 100px;
    border: 1px solid #FFF;
    box-sizing: border-box;
}

.without_breadcrumbs #content_outer {
    padding-bottom: 100px;
    margin-top: 73px;  /* header height without breadcrumbs */
    border-top: none;
}

div.content {
    padding: 15px 20px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}


div.content.cell {
    display: table-cell;
    border-top: 1px solid #d7d7d7;
}

#footer {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100px;
    border-top: 1px solid #d6d6d6;
    background-color: #eeeeee;
    z-index: 100;
    width: 100%;
    clear: both;
    margin-top: -100px;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}

* html .clearfix {
    height: 1%;
}


.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.inline {
    display: inline;
}
