/*
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

* {
    margin: 0;
}

*:not(ul, ol) {
    padding: 0;
}

html,
body {
    min-width: 830px;
    height: 100%;
    background-color: #f8f8f8;
}

body {
    color: #222222;
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

/*Opera Fix*/
body:before {
    float: left;
    margin-top: -32767px; /* negate effect of float */
    width: 0;
    height: 100%;
    content: "";
}

#main {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100%;
    border: 1px solid #d7d7d7;  /* webkit fix */
    background-color: #ffffff;
}

#main.index #content {
    margin-top: 72px;  /* header height without breadcrumbs */
}

#main.fixed-width {
    margin: 0 auto;
    min-width: 770px;
    max-width: 950px;
}

#main.fixed-width .table,
#main.fixed-width .base-table {
    margin-right: -5px;
    margin-left: -5px;
    max-width: 920px;
}

#main.sidebar {
    margin-left: 240px;
}

#main.sidebar #sidebar {
    margin-left: -240px;
}

#main.sidebar #content {
    margin-top: 0;
}

#main.error-page #content {
    margin-top: 39px;
}

#main.error-page #content div {
    padding: 10px 10px 5px 10px;
    background-color: #666666;
    color: #ffffff;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    min-width: 830px;
    width: 100%;
    background-color: #ffffff;
}

#sidebar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    margin-top: 103px;  /* 105px header - 2*1px boarder */
    background-color: #f8f8f8;
}

#sidebar h1 {
    margin: 0;
    padding: 20px 20px 10px;
}

#sidebar_menu {
    position: relative;
    float: left;
    width: 239px;  /* 240px width - 1px border */
}

#content {
    margin-top: 102px;  /* header height with breadcrumbs */
    padding: 15px 20px 115px 20px;  /* bottom = footer height + common padding */
    border-top: 1px solid #d7d7d7;
    background-color: #ffffff;
}

#footer {
    position: relative;
    clear: both;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    border-top: 1px solid #d6d6d6;
    background-color: #eeeeee;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}

* html .clearfix {
    height: 1%;
}
