/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.parameter-filter-content-block {
    margin-top: 20px;
}

.select2-container {
    width: 100%;
}

table.criteria {
    margin: 20px 0;
}

table.criteria th,
table.criteria td {
    padding: 5px 0 5px 15px;
}

table.criteria tr td:first-child {
    padding-right: 15px;
}

h4,
table.criteria ul {
    margin: 0;
    padding: 0;
}

table.criteria ul li {
    display: inline;
    padding-right: 15px;
}

.task-statuses {
    margin-bottom: 20px;
    line-height: 20px;
}

.task-statuses input[type="checkbox"] {
    margin-right: 5px;
}
