/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.table-invitations td.comment
{
    padding-left: 10px;
}

.clearfix
{
    float: left;
}

.clearfix div
{
    float: left;
    padding: 0 0 3px 0;
}

.clearfix div.title
{
    width: 90px;
    padding: 3px 10px 0 0;
    text-align: right;
}

.clearfix div.content
{
    width: 600px;
}

.clearfix div.content select
{
    width: 200px;
}

.clearfix div.content input[type="submit"]
{
    width: 100px;
}

.clearfix div.notification
{
    float: none;
    margin-left: 700px;
    padding-left: 10px;
}

.clearfix div.content textarea
{
    width: 100%;
    height: 300px;
}