/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.clearfix
{
    float: left;
}

.clearfix div
{
    float: left;
    padding: 0 0 3px 0;
}

.clearfix div.title
{
    width: 90px;
    padding: 3px 10px 0 0;
    text-align: right;
}

.clearfix div.content
{
    width: 600px;
}

.clearfix div.content select
{
    width: 200px;
}

.clearfix div.content input[type="submit"]
{
    width: 100px;
}

.clearfix div.notification
{
    float: none;
    margin-left: 700px;
    padding-left: 10px;
}

.clearfix div.content textarea
{
    width: 100%;
    height: 300px;
}

.table-implicit td:first-child
{
    text-align: right;
}

.table-implicit td textarea
{
    width: 250px;
    height: 85px;
}

.table-implicit td input[type="text"]
{
    width: 250px;
}

.table-implicit td input[type="text"]#id_org-name
{
    width: 600px;
}

.heading td a
{
    color: #222;
    border-bottom: 1px #222 dotted;
}

.heading td a:hover
{
    text-decoration: none;
    border-bottom: none;
}

.heading td
{
    font-weight: bold;
}

.base-table.history
{
    width: 100%;
}

.base-table.history td:first-child
{
    width: 120px;
}

.base-table.history td.invitation
{
    width: 190px;
}

.base-table.history td.comment
{
    cursor: pointer;
}

.base-table.history td input[name="date_filter_history"]
{
    width: 140px;
}

.base-table.history td select[name="invite_filter_history"]
{
    width: 190px;
}

.base-table.history form {
    width: 500px;
}

.base-table.history form > * {
    display: block;
    float: left;
}

.base-table.history form > img {
    position: relative;
    top: 7px;
}

.base-table.history form > select, .base-table.history form > input[type="submit"] {
    position: relative;
    top: 1px;
}

.base-table.history form > select {
    margin-left: 4px;
    margin-right: 4px;
}

.notification .alert-info
{
    width: 270px;
}

.clearfix.invite-form {
    width: 100%;
}

td.comment .preview-container {
    display: block;
    width: 100%;
    height: 17px;
    overflow: hidden;
}

#help-text
{
    position: absolute;
    width: 450px;
    background-image: url(../img/registration-triangle.png);
    background-position: 0px 10px;
    background-repeat: no-repeat;
    padding-left: 9px;
}