/*
# This file is part of EXMO2010 software.
# Copyright 2013 Al Nikolov
# Copyright 2013-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.rating-menu {
    margin-bottom: 15px;
}

.rating-menu h2 {
    display: inline;
    margin-right: 12px;
    margin-bottom: 0;
    vertical-align: top;
}

i.download-alt {
    background: url("../img/glyphicons-halflings.png") -96px -24px no-repeat;
}

#user-defined-parameters {
    margin-top: 15px;
}

.parameter-list-heading {
    margin-bottom: 5px;
}

.param_scroll {
    overflow-y: scroll;
    margin-bottom: 2px;
    padding: 3px 0;
    max-height: 150px;
    border: 1px solid #000000;
    line-height: 20px;
}

.param_scroll ul li {
    position: relative;
    left: -30px;
    padding: 0;
    list-style-type: none;
}

.scroll input[type="checkbox"] {
    margin-right: 10px;
}

form.filter {
    margin: 15px 0;
}

form.filter input {
    height: 25px;
    font-size: 13px;
}


table.base-table {
    width: 100%;
}

table.base-table tr:nth-child(odd) {
    background: #f5f5f5;
}
table.base-table tr:nth-child(even) {
    background: #ffffff;
}

table.base-table tfoot td {
    border-bottom: #d7d7d7 1px solid;
}

table.base-table tfoot tr:hover td {
    background-color: #ffffff;
}

th.tablesorter-headerDesc  span.arrow:before {
    content: "↓";
}

th.tablesorter-headerAsc span.arrow:before {
    content: "↑";
}

th span {
    border-bottom: 1px dotted;
    cursor: pointer;
}

th.tablesorter-headerAsc span,
th.tablesorter-headerDesc span {
    border-bottom: none;
}

/* Rating Table */

th.place {
    width: 50px;
}

th.init-openness {
    width: 119px;
}

th.openness {
    width: 92px;
}

th.diff {
    width: 77px;
}

th.representatives {
    width: 50px;
}

th.comments {
    width: 70px;
}

th.settings {
    width: 16px;
    text-align: right;
}

td.place {
    text-align: center;
}

td.place > span {
    position: relative;
    left: -8px;
    display: block;
}

td.comments {
    text-align: left;
}

td.diff > div {
    position: relative;
    width: 100%;
    height: 100%;
}

td.diff > div > span {
    position: relative;
    right: 15px;
    display: block;
    float: right;
}

td.diff > div > img {
    position: absolute;
    top: 5px;
    right: -1px;
    display: block;
}

td.init-openness,
td.openness {
    text-align: right;
}

td.init-openness {
    padding-right: 65px;
}

td.openness {
    padding-right: 37px;
}


/* Ratings Table */

th.map,
td.map {
    width: 14px;
}

th.monitoring,
th.published,
th.sites {
    vertical-align: bottom;
}

th.published {
    width: 120px;
}

th.sites {
    width: 65px;
}

th.average {
    width: 100px;
}


p.total-organizations {
    padding: 15px 5px;
}

.rate-direction {
    position: relative;
    top: -1px;
}

a.pseudo {
    margin-top: 1px;
}

p#parameter-list-heading {
    margin-bottom: 2px;
}

.placeholder {
    color: #999999;
}
