/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

/* Parameter */

.table-parameter
{
    border-spacing: 0;
    border-collapse: separate;
    *border-collapse: collapse;
    border: #fff 1px solid;
    width: 100%;
}

.table-parameter th
{
    padding: 8px 12px;
    background-image: none;
    background-color: transparent;
    border-bottom: #fff 1px solid;
    border-left: #bbb 1px solid;
    color: #333;
}

.table-parameter td
{
    padding: 8px 12px;
    border-left: #bbb 1px solid;
    border-top: #bbb 1px solid;
    border-bottom: #fff 1px solid;
}

.table-parameter td:first-child
{
    border-left: #fff 1px solid;
}

.table-parameter .value
{
    width: 80px;
    text-align: center;
}

.table-parameter .criteria
{
    width: 20%;
}

.heading-comments-parameter
{
    margin-top: 34px;
    margin-bottom: 5px;
    color: #000;
}

.table-comments-parameter {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

.table-comments-parameter a {
    cursor: pointer;
    color: #5B80B2;
}

.table-comments-parameter td {
    padding: 8px;
    line-height: 17px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.table-comments-parameter .author
{
    font-size: 13px;
    width: 140px;
    font-weight: bold;
}

.table-comments-parameter .author span
{
    font-weight: normal;
    font-size: 11px;
    color: #333;
}

.textarea-parameter
{
    width: 55%;
    margin-bottom: 10px;
    overflow: auto;
}


.label-comment
{

}

#id_email
{
    margin-top: 5px;
    margin-bottom: 15px;
}

#id_comment
{
    margin-top: 3px;
    margin-bottom: 4px;
    width: 55%;
    overflow: auto;
}

.form-requred
{
    color: red;
}




/* Filter by parameter */

fieldset {
    padding: 0;
    margin: 0 0 19px 0;
    border: 0;
}

.label-parameter-filter
{
    color: #333;
    margin-bottom: 5px;
}

.select-parameter {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: block;
    height: 22px;
}

.table-filter_by_parameter
{
    border-spacing: 0;
    border-collapse: separate;
    *border-collapse: collapse;
    border: #fff 1px solid;
}

.table-filter_by_parameter th
{
    padding: 8px 12px;
    background-image: none;
    background-color: transparent;
    border-bottom: #fff 1px solid;
    border-left: #bbb 1px solid;
    color: #333;
    text-align: center;
}

.table-filter_by_parameter td
{
    padding: 8px 12px;
    border-left: #bbb 1px solid;
    border-top: #bbb 1px solid;
    border-bottom: #fff 1px solid;
}

.table-filter_by_parameter td:first-child
{
    border-left: #fff 1px solid;
}

.table-filter_by_parameter td label
{
    font-size: 13px;
    color: #333;
    position: relative;
    top: 3px;
    margin-right: 17px;
    margin-left: 2px;
}

input[type=checkbox]
{
    margin-bottom: 7px;
}

input[type=checkbox] + label
{
    color: #333;
    margin-left: 5px;
}

label
{
    font-size: 13px;
}

/* Score header */

.score-header
{
    float: left;
    display: block;
    margin-bottom: 5px;
}

.score-header dt
{
    clear: both;

    float: left;
    display: block;

    margin-top: 0px;
    padding-right: 5px;
}

.score-header dd
{
    margin-bottom: 7px;
}

.score-header dd.parm-description
{
    clear: both;
    display: block;
    float: left;
    margin-top: 1px;
    line-height: 21px;
}

form.score {
    margin-bottom: 20px;
}

ul.nav-tabs a {
    font-size: 18px;
}