{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

<div class="header-menu error_page">
    <ul id="navigation_menu" class="errors-header">
        <li class="brand">
            <a class="logo_{{ request.LANGUAGE_CODE }}" href="{% url 'exmo2010:index' %}"></a>
        </li>
        <li>
            <a href="{% url 'exmo2010:index' %}">{% trans 'Main' %}</a>
        </li>
        <li>
            <a href="{% url 'exmo2010:ratings' %}">{% trans 'Rating' %}</a>
        </li>
        <li>
            <a href="{% url 'exmo2010:help' %}">{% trans 'Help' %}</a>
        </li>
    </ul>

    <ul id="notification_menu" class="errors-header">
        <li class="portal">
            <a href="http://infometer.org/" target="_blank">{% trans 'To portal' %}</a>
        </li>
    </ul>
</div>
