{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

<script type="text/javascript" src="{% static 'exmo2010/js/sidebar.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/sidebar.css' %}" />

<div id="sidebar_pad"></div>

<div id="sidebar" class="" data-urlname="{{ request.resolver_match.url_name }}">
    <ul>
        <li data-urls="monitorings_list monitoring_add monitoring_update">
            <a href="{% url 'exmo2010:monitorings_list' %}">{% trans "Monitoring cycles" %}</a>
        </li>

        {% if is_expertB %}
            <li data-urls="tasks_index">
                <a href="{% url 'exmo2010:tasks_index' %}">{% trans "Tasks" %}</a>
            </li>

            <li class="nav-group">
                {% trans 'Messages' %}
            </li>
            <li data-urls="comments_index">
                <a href="{% url 'exmo2010:comments_index' %}">
                    {% trans "Comments" %}: {{request.user.profile.get_not_answered_comments.count}}
                </a>
            </li>
            <li data-urls="clarifications_index">
                <a href="{% url 'exmo2010:clarifications_index' %}">
                    {% trans "Clarifications" %}: {{request.user.profile.get_opened_clarifications.count}}
                </a>
            </li>
            <li data-urls="claims_index">
                <a href="{% url 'exmo2010:claims_index' %}">
                    {% trans "Claims" %}: {{request.user.profile.get_opened_claims.count}}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
