{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

<script type="text/javascript" src="{% static 'exmo2010/js/sidebar.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/sidebar.css' %}" />

<div id="sidebar_pad"> </div>

<div id="sidebar" class="monitoring" data-urlname="{{ request.resolver_match.url_name }}">
    <ul>
        {% if is_expertA %}
            <li class="nav-group">
                {% trans 'Cycle management' %}
            </li>
        {% endif %}

        <li data-urls="tasks_by_monitoring">
            <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}">{% trans "Tasks" %}</a>
        </li>

        {% if is_expertA %}
            <li data-urls="organizations organizations_add organizations_update organizations_delete">
                <a href="{% url 'exmo2010:organizations' monitoring.pk %}">{% trans "Organizations" %}</a>
            </li>

            <li data-urls="representatives">
                <a href="{% url 'exmo2010:representatives' monitoring.pk %}">{% trans "Representatives" %}</a>
            </li>

            <li data-urls="observers_groups observers_group_add observers_group_update observers_group_delete">
                <a href="{% url 'exmo2010:observers_groups' monitoring.pk %}">{% trans "Observers" %}</a>
            </li>

            <li data-urls="send_mail send_mail_history">
                <a href="{% url 'exmo2010:send_mail' monitoring.pk %}">{% trans "Mail" %}</a>
            </li>

            <li data-urls="mass_assign_tasks">
                <a href="{% url 'exmo2010:mass_assign_tasks' monitoring.pk %}">{% trans "Task assignment" %}</a>
            </li>

            <li data-urls="set_npa_params">
                <a href="{% url 'exmo2010:set_npa_params' monitoring.pk %}">{% trans "Parameter type" %}</a>
            </li>

            <li class="nav-group">
                {% trans 'Reports' %}
            </li>
        {% endif %}

        <li data-urls="monitoring_parameter_filter">
            <a href="{% url 'exmo2010:monitoring_parameter_filter' monitoring.pk %}">{% trans "Task filtering" %}</a>
        </li>

        {% if is_expertA %}
            {% if not monitoring.no_interact %}
                <li data-urls="monitoring_comment_report">
                    <a href="{% url 'exmo2010:monitoring_comment_report' monitoring.pk %}">{% trans "Comments" %}</a>
                </li>
            {% endif %}

            <li data-urls="clarification_report">
                <a href="{% url 'exmo2010:clarification_report' monitoring.pk %}">{% trans "Clarifications" %}</a>
            </li>
            <li data-urls="claim_report">
                <a href="{% url 'exmo2010:claim_report' monitoring.pk %}">{% trans "Claims" %}</a>
            </li>
            <li data-urls="monitoring_by_experts">
                <a href="{% url 'exmo2010:monitoring_by_experts' monitoring.pk %}">{% trans "Experts" %}</a>
            </li>
            <li data-urls="monitoring_parameter_found_report">
                <a href="{% url 'exmo2010:monitoring_parameter_found_report' monitoring.pk %}">{% trans "Presence of the parameter" %}</a>
            </li>
        {% endif %}

        {% if is_expertA or monitoring.status == exmo2010.models.PUB %}
            <li data-urls="monitoring_rating">
                <a href="{% url 'exmo2010:monitoring_rating' monitoring.pk %}">{% trans "Rating" %}</a>
            </li>
        {% endif %}

        {% if is_expertA %}
            <li class="nav-group">
                {% trans 'Export' %}
            </li>

            <li data-urls="monitoring_by_criteria_mass_export">
                <a href="{% url 'exmo2010:monitoring_by_criteria_mass_export' monitoring.pk %}">{% trans "Criterion" %}</a>
            </li>
            {% if monitoring.has_questionnaire %}
                <li>
                    <a
                        {% if not monitoring.ready_export_answers %}
                            href="#"
                            onclick='alert("{% trans 'You must have approved task for export' %} ")'
                        {% else %}
                            href="{% url 'exmo2010:monitoring_answers_export' monitoring.pk %}"
                        {% endif %}
                        >{% trans 'Questionnaire' %}</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>
