{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

<script type="text/javascript" src="{% static 'exmo2010/js/sidebar.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/sidebar.css' %}" />

<div id="sidebar_pad"> </div>

<div id="sidebar" class="task" data-urlname="{{ request.resolver_match.url_name }}">
    <ul>
        <li data-urls="task_scores">
            <a href="{% url 'exmo2010:task_scores' task.pk %}">{% trans "Scores table" %}</a>
        </li>

        <li data-urls="recommendations">
            <a href="{% url 'exmo2010:recommendations' task.pk %}">{% trans "Recommendations list" %}</a>
        </li>

        {% if request.user.profile.is_expertA %}
            <li data-urls="task_history">
                <a href="{% url 'exmo2010:task_history' task.pk %}">{% trans "History" %}</a>
            </li>
        {% endif %}
    </ul>
</div>
