{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static admin_tools_menu_tags theming_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>
            {% block title %} {{ title }} {% endblock %} | {% trans 'AIS Infometer' %}
        </title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta property="og:image" content="{% static 'exmo2010/img/infometer_logo_100x100.png' %}" />
        <meta property="og:description" content="{{ exmo2010.livesettings.og_description }}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'exmo2010/img/favicon.png' %}" />

        <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/base_structure.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/base_style.css' %}" />
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static 'admin/css/rtl.css' %}" />
        {% endif %}
        {% admin_tools_render_menu_css %}
        {% render_theming_css %}
        {% block extra_css %}{% endblock %}

        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
        {{ media|default:"" }}
        <script type="text/javascript" src="{% static 'exmo2010/js/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui-1.10.4.custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui-i18n.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <script type="text/javascript" src="{% static 'exmo2010/js/csrf.js' %}"></script>
        {% block extra_script %}{% endblock %}

        {% include "analytics.html" %}
    </head>

    <body>
        {% block main %}{% endblock %}

        <div id="footer">
            {% include "_footer.html" %}
        </div>
    </body>
</html>
