{% extends "exmo2010/email_base.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2013 Foundation "Institute for Information Freedom Development"
# Copyright 2013 Al Nikolov
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

{% block title %}{{ subject }}{% endblock %}

{% block content %}
    <h3>{% trans 'Monitoring cycle' %}</h3>
    <p>
        <a href="{{ monitoring_url }}">{{ monitoring_name }}</a>
    </p>

    <h3>{% trans 'Organization' %}</h3>
    <p>
        <a href="{{ organization_url }}">{{ organization_name }}</a>
    </p>

    <h3>{% trans 'User' %}</h3>
    <p>{{ user_name }}, {{ email }}</p>

    <h3>{% trans 'Deliver' %}</h3>
    <p>{{ on_address }}</p>

    <h3>{% trans 'Content of the certificate' %}</h3>
    <p>{{ description }}</p>
    {% if prepare_for %}
        <p>{{ prepare_for }}</p>
    {% endif %}
    {% if special_wishes %}
        <p>{{ special_wishes }}</p>
    {% endif %}
{% endblock %}
