{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2013 Al Nikolov
# Copyright 2013-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}{% trans 'Openness certificate' %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/ratings.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/certificate_order_form.css' %}" />
{% endblock %}

{% block extra_script %}
    {{ wizard.form.media }}
    <script type="text/javascript" src="{% static 'exmo2010/js/jquery/jquery.placeholder.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'exmo2010/js/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'exmo2010/js/jquery.tablesorter.js' %}"></script>
    <script type="text/javascript" src="{% static 'exmo2010/js/certificate_order_form.js' %}"></script>
{% endblock %}

{% block h1 %}<h1>{% trans 'Openness certificate' %}</h1>{% endblock %}

{% block content %}
    {% if not view.tasks %}
        <p class="warning"> {% trans 'Organization list is empty, please change the organization filter' %} </p>
    {% endif %}

    {% if form_hidden %}
        <div class="confirm">
            <p>{% trans 'Openness certificate will be prepared and sent within 5 working days.' %}</p>

            <h2>{% trans 'Deliver' %}</h2>
            <p>{{ on_address }}</p>

            <h2>{% trans 'Content of the certificate' %}</h2>
            <p>{{ description }}</p>
            {% if prepare_for %} <p> {{prepare_for}} </p> {% endif %}
            {% if special_wishes %} <p> {{special_wishes}} </p> {% endif %}

            <input type="submit" id="confirm" value="{% trans "Confirm order" %}"/>
            <a id="previous_form">{% trans "Back to certificate ordering" %}</a>
        </div>
    {% endif %}

    <div class="{{form_hidden}}">
        <p>
            {% trans 'You can order a certificate of informational openness for yourself, your organization or colleagues working on the website.' %}
            {% trans 'We will prepare an individual certificate and send it to your e-mail address or use Russian post services.' %}
        </p>

        <div class="rating-menu clearfix">
            <h2>{% trans "Rating" %}</h2>

            <ul class="switcher">
                <li {% if view.rating_type == "all" %}class="active"{% endif %}>
                    <a href="?rating_type=all" class="pseudo{% if view.rating_type == "all" %}-off{% endif %}">
                        {% trans 'common' %}
                    </a>
                </li>

                {% if view.vary_rating_type %}
                    <li {% if view.rating_type == "npa" %}class="active"{% endif %}>
                        <a href="?rating_type=npa" class="pseudo{% if view.rating_type == "npa" %}-off{% endif %}">
                            {% trans 'normative' %}
                        </a>
                    </li>

                    <li {% if view.rating_type == "other" %}class="active"{% endif %}>
                        <a href="?rating_type=other" class="pseudo{% if view.rating_type == "other" %}-off{% endif %}">
                            {% trans 'recommendatory' %}
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>

        <form class="filter clearfix" action="" method="GET">
            <div>
                <input type=text id="name_filter" name="name_filter" value="{{ request.GET.name_filter }}" placeholder="{% trans 'Organization' %}" />
            </div>
            <input type=submit value="{% trans 'Find' %}" />
        </form>

        <form id="certificate_form" action="" method="POST">{% csrf_token %}
            {{form.rating_type.as_hidden}}

            <div class="step1">
                <table id="rating-data" class="base-table">
                    <thead>
                        <tr>
                            <th> <span>{% trans "Publication date" %}</span>&nbsp;<span class="arrow"></span> </th>
                            <th> <span>{% trans "Organization" %}</span>&nbsp;<span class="arrow"></span> </th>
                            <th class="website"> <span>{% trans "Website" %}</span>&nbsp;<span class="arrow"></span> </th>
                            <th class="place"> <span>{% trans "Position" %}</span>&nbsp;<span class="arrow"></span> </th>
                            <th class="openness"> <span>{% trans "Final openness" %}</span>&nbsp;<span class="arrow"></span> </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pk, task in view.tasks.items %}
                        <tr>
                            <td class="published">
                                <input type="radio" value="{{ pk }}" name="task_id"
                                        {% ifequal form.task_id.value|add:"0" pk %}
                                            checked="checked"
                                        {% endifequal %}>

                                <span data-verbose="{{ task.organization.monitoring.publish_date }}">
                                    {{ task.organization.monitoring.publish_date|date:"Y.m.d" }}
                                </span>
                            </td>
                            <td> <a href="{% url 'exmo2010:recommendations' pk %}">{{ task.organization.name }}</a> </td>
                            <td> <a target="_blank" href="{{ task.organization.url }}">{{ task.organization.url }}</a> </td>
                            <td class="place"> <span>{{ task.place }}</span> </td>
                            <td class="openness"> {{ task.task_openness|floatformat:3 }}% </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="main_block">
                    <div class="radio_group">
                        <div class="left_field"> {{ form.addressee.label_tag }} </div>
                        <div class="right_field">
                            {% for radio in form.addressee %} {{ radio.tag }} {{ radio.choice_label }}<br> {% endfor %}
                        </div>

                        <div class="left_field"> {{ form.delivery_method.label_tag }} </div>
                        <div class="right_field">
                            {% for radio in form.delivery_method %} {{ radio.tag }} {{ radio.choice_label }}<br> {% endfor %}
                        </div>
                    </div>

                    <div class="person_group">
                        {{ form.name.errors }}
                        <div class="left_field"> {{ form.name.label_tag }} <span class="required">*</span> </div>
                        <div class="right_field"> {{ form.name }} </div>

                        <div class="left_field"> {{ form.wishes.label_tag }} </div>
                        <div class="right_field"> {{ form.wishes }} </div>
                    </div>

                    <div class="email_group">
                        {{ form.email.errors }}
                        <div class="left_field"> {{ form.email.label_tag }} <span class="required">*</span> </div>
                        <div class="right_field"> {{ form.email }} </div>
                    </div>

                    <div class="post_group">
                        <h2>{%  trans 'Mail address of the recipient' %}</h2>

                        {{ form.for_whom.errors }}
                        <div class="left_field"> {{ form.for_whom.label_tag }} <span class="required">*</span> </div>
                        <div class="right_field"> {{ form.for_whom }} </div>

                        {{ form.zip_code.errors }}
                        <div class="left_field"> {{ form.zip_code.label_tag }} <span class="required">*</span> </div>
                        <div class="right_field"> {{ form.zip_code }} </div>

                        {{ form.address.errors }}
                        <div class="left_field"> {{ form.address.label_tag }} <span class="required">*</span> </div>
                        <div class="right_field">  {{ form.address }} </div>
                    </div>

                    <div class="buttons_group">
                        <div class="left_field"> </div>
                        <div class="right_field">
                            <input {% if not view.tasks %}disabled=true{% endif %} type="submit" value="{% trans 'Order certificate' %}"/> </div>
                    </div>
                </div>

                <div class="certificate_group">
                    <a href="{% static 'exmo2010/img/certificate.jpg' %}" target="_blank">
                        <img src="{% static 'exmo2010/img/certificate.jpg' %}" id="certificate_image">
                    </a>
                    <div>
                        <a href="{% static 'exmo2010/img/certificate.jpg' %}" target="_blank">{% trans 'Enlarge example' %}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
