{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% spaceless %}
    <html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
        <head>
            <title>
                {% block title %}{% endblock title %}
            </title>

            <link rel="shortcut icon" type="image/png" href="{% static 'exmo2010/img/favicon.png' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/base.css' %}" />
        </head>

        <body>
            <div id="container">
                {% include 'errors_header.html' %}
                {% block header_content %}{% endblock header_content %}

                    <div id="content">
                        <div id="int_content">
                            {% block content %}{% endblock content %}
                        </div>
                    </div>

                <div id="push"></div>
            </div>
            {% include "exmo2010/_footer.html" %}
        </body>
    </html>
{% endspaceless %}
