{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n check_object_permission hash static future %}

{% for param in parameters %}
    <tr width=100% id='parameter_{{param.code}}'>
        <td width="4%">{{param.code}}</td>
        <td>
            {% if param.score %}
                {% if perm and param.score.claim_color %}
                    {% if is_expertB and param.score.task.user_id == request.user.id or is_expertA %}
                        <img src="{{ STATIC_URL }}exmo2010/icon_{{ param.score.claim_color }}.gif" alt="{% trans 'claim' %}" />
                    {% endif %}
                {% endif %}

                <a href="{% url 'exmo2010:score_view' param.score.pk %}?{{request.GET.urlencode}}">{{ param.name }}</a>
            {% else %}
                {% if perm_fill_task %}
                    <a href="{% url 'exmo2010:score_add' task.pk param.pk %}?{{request.GET.urlencode}}">{{ param.name }}</a>
                {% else %}
                    {{ param.name }}
                {% endif %}
            {% endif %}

            {% if perm_admin_monitoring %}
                &nbsp;<a href="{% url 'exmo2010:parameter_update' task.pk param.pk %}?{{ request.GET.urlencode }}">
                    <img src="{% static 'admin/img/icon_changelink.gif' %}" >
                </a>&nbsp;
                {% if not monitoring.is_published %}
                    &nbsp;<a href="{% url 'exmo2010:parameter_delete' task.pk param.pk %}?{{ request.GET.urlencode }}">
                        <img src="{% static 'admin/img/icon_deletelink.gif' %}" >
                    </a>&nbsp;
                {% endif %}
            {% endif %}

            {% if param.url %}
                <a href="{{ param.url }}"><img src="{% static 'exmo2010/icon_newcomment.png' %}" class="float-right" /></a>
            {% endif %}
        </td>

        {% if param.score %}
            {% include "exmo2010/score_criteria_table.html" with score=param.score score_interact=score_interact_dict|hash:param.pk %}
        {% else %}
            <td colspan=7></td>
        {% endif %}

        <td>{{ param.weight }}</td>
    </tr>
{% endfor %}
