{% extends request.user.is_expert|yesno:"base_sidebar.html,base_centered.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static trim_links target_blank bleach_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'scores/recommendations.css' %}" />
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'scores/recommendations.js' %}"></script>

    {% if task.approved and orgs_count > 1 %}
        <script>
            $(document).ready(function() {
                // insert loader image
                $('<span class="rating-ajax" />').insertBefore('#rating_place');
                // get rating places
                $.getJSON("{% url 'exmo2010:rating_update' %}", { task_id: "{{ task.id }}" })
                    .done(function(data) {
                        var val = data['rating_place'];
                        if (val) {
                            $('#rating_place').text(val + ' ' + '{% trans 'place' %}').show();
                        }
                        $('.rating-ajax').remove();
                    });
            });
        </script>
    {% endif %}
{% endblock %}

{% block h1 %}<h1>{{ task.organization.name }}</h1>{% endblock %}

{% block content %}
    <div class="recommendations-header-block">
        {% if is_expert %}
            <h2>{% trans "Recommendations list" %}</h2>
        {% else %}
            <h2>{% trans "View" %}</h2>
        {% endif %}

        {% if not is_expert %}
            <div class="tabs">
                <span class="active"><a href="{% url 'exmo2010:recommendations' task.pk %}">{% trans 'recommendations list' %}</a></span>
                <span><a href="{% url 'exmo2010:task_scores' task.pk %}">{% trans 'scores table' %}</a></span>
            </div>
        {% endif %}

{#  START -- Болванка для ссылок на печать  #}
{#        <div class="float-right">#}
{#            <i class="icon"></i>#}
{#            <a href="{% url 'exmo2010:index' %}" class="pseudo">{% trans 'Print' %}</a>#}
{#            <i class="icon"></i>#}
{#            <a href="{% url 'exmo2010:index' %}" class="pseudo">{% trans 'Print with comments' %}</a>#}
{#        </div>#}
{#  END -- Болванка для ссылок на печать  #}

        <p>
            {% if task.approved %}
                {% if is_expert and not mon.is_published %}
                    {% url 'exmo2010:tasks_by_monitoring' mon.pk as url %}
                {% else %}
                    {% url 'exmo2010:monitoring_rating' mon.pk as url %}
                {% endif %}

                {% if orgs_count > 1 %}
                    &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links monitoring_name=mon.name %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a> has <span id="rating_place"></span> in the rating <a href="{{ url }}" target="_blank">{{ monitoring_name }}</a>.{% endblocktrans %}<br />
                {% else %}
                    &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links monitoring_name=mon.name %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a> is the only one in the rating <a href="{{ url }}" target="_blank">{{ monitoring_name }}</a>.{% endblocktrans %}<br />
                {% endif %}
            {% else %}
                &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a>.{% endblocktrans %}<br/>
            {% endif %}

            {% ifnotequal openness None %}
                &mdash;
                {% if delta > 0 %}
                    {% blocktrans with delta=delta|floatformat %}Fulfilled recommendations make up {{ delta }}% website openness increase.{% endblocktrans %}
                {% endif %}
                {% if mon.is_published %}
                    {% blocktrans with openness=openness|floatformat %}Final openness <span>{{ openness }}%</span>.{% endblocktrans %}<br />
                {% else %}
                    {% blocktrans with openness=openness|floatformat %}Current openness <span>{{ openness }}%</span>.{% endblocktrans %}<br />
                {% endif %}
            {% endifnotequal %}

            {% if orgs_count > 1 %}
                &mdash; {% blocktrans count orgs_count=orgs_count %}Total amount of organizations {{ orgs_count }}. {% plural %} Total amount of organizations {{ orgs_count }}. {% endblocktrans %}<br />
            {% endif %}

            {% if mon.is_interact and registered_count > 1 %}
                &mdash; {% blocktrans %}{{ registered_count }} organizations are working to increase their websites openness.{% endblocktrans %}
                {% if is_organization %}
                    {% blocktrans %}Your rating position will decrease as their openness increases.{% endblocktrans %}
                {% endif %}
                <br />
            {% endif %}

            {% if is_organization %}
                {% if mon.is_published %}
                    {% url 'exmo2010:certificate_order' as certificate_order_url %}
                    &mdash; {% blocktrans %}<a href="{{ certificate_order_url }}" target="_blank">Order Certificate</a> with rating position of the website and its openness value.{% endblocktrans %}<br />
                {% else %}
                    &mdash; {% blocktrans with publish_date=mon.publish_date %}Order Certificate reflecting your website rating position and openness value after publication of the rating ({{ publish_date }}).{% endblocktrans %}<br />
                {% endif %}
            {% endif %}
        </p>

        {% if is_organization %}
            <p>
                {% if mon.is_interact %}
                    {% blocktrans %}We will change assessments in case you inform us that recommendations are fulfilled. To do it, please leave a comment under this recommendation.{% endblocktrans %}
                {% endif %}

                {% if mon.is_finishing %}
                    {% blocktrans with publish_date=mon.publish_date %}You can not leave new comments. We are answering the latest comments and correct assessments. Please wait till rating is published {{ publish_date }}.{% endblocktrans %}
                {% endif %}
            </p>
        {% endif %}
    </div>

    <div class="recommendations-block">
        <table>
            <h2>
                {% if not request.user.is_expert %}
                    {% trans 'Recommendations list' %}
                {% endif %}
                {% if total_cost %}
                    &nbsp;
                    <span class="float-right">{{ total_cost|floatformat }}%</span>
                {% endif %}
            </h2>

            {% if scores|length == 0 %}
                <p>{% trans 'No recommendations' %}</p>
            {% else %}

                {% for score in scores %}
                    {% if score.is_relevant %}
                        <tr id="param{{ score.parameter.pk }}">
                            <td class='code'><a href="{% url 'exmo2010:score' score.pk %}">{{ score.parameter.code }}</a></td>
                            <td class='center'>
                                <a target="_blank" href="{% url 'exmo2010:score' score.pk %}">{{ score.parameter.name }}</a>
                                <p>{{ score.recommendations|escape|urlizetrunc:70|target_blank|linebreaksbr }}</p>
                                {% if score.parameter.grounds and score.cost != 0 %}
                                    <a href="#show_grounds" class="pseudo">{% trans 'Show grounds' %}</a>
                                    <a href="#hide_grounds" style="display:none;" class="pseudo">{% trans 'Hide grounds' %}</a>
                                    <div class="grounds" style="display:none;" >{{ score.parameter.grounds|bleach }}</div>
                                {% endif %}
                            </td>
                            {% if score.cost == 0 %}
                                <td class='cost complete'>{% trans 'Ready' %}</td>
                            {% else %}
                                <td class='cost'>+{{ score.cost|floatformat }}%</td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr class="nonrelevant">
                            <td class='code'>{{ score.parameter.code }}</td>
                            <td class='center'>{{ score.recommendations|escape|urlizetrunc:70|target_blank|linebreaksbr }}</td>
                            <td class='cost'>{% trans 'Deleted' %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </table>
    </div>
{% endblock %}
