{% extends "base_centered.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static comments %}
{% load bleach from bleach_tags %}
{% load date_until linkify remove_extra_dot strict_bleach workdays_still_left from exmo2010_filters %}

{% block title %}{{ param.code }} &mdash; {{ param.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'scores/score.css' %}" />
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'jquery.autosize.js' %}"></script>
    <script type="text/javascript" src="{% static 'scores/score_all_users.js' %}"></script>
    {% if request.user.is_expert %}
        <script type="text/javascript" src="{% static 'scores/score_expert.js' %}"></script>
    {% elif request.user.is_organization %}
        <script type="text/javascript" src="{% static 'scores/score_orguser.js' %}"></script>
    {% endif %}
{% endblock %}

{% block bubble %}{% include "exmo2010/helpers/inv_code_bubble.html" %}{% endblock %}

{% block h1 %}<h1>{{ param.code }} &mdash; {{ param.name }}</h1>{% endblock %}

{% block content %}
    <div class="score-header-block">
        {% if param.perms.exclude_parameter %}
            <form action="{% url 'exmo2010:post_org_param_relevance' %}" method="POST"> {% csrf_token %}
                <input type="hidden" name="task_pk" value="{{task.pk}}"/>
                <input type="hidden" name="param_pk" value="{{param.pk}}"/>
                {% if param.relevant %}
                    <input type="hidden" name="set_relevant" value="false"/>
                    <input type="submit" class="red" value="{% trans 'Set non-relevant' %}"/>
                {% else %}
                    <input type="hidden" name="set_relevant" value="1"/>
                    <input type="submit" class="green" value="{% trans 'Set relevant' %}"/>
                {% endif %}
            </form>
            <a href="{% url 'exmo2010:parameter_update' task.pk param.pk %}">{% trans 'Edit parameter' %}</a>
        {% endif %}
        {% if not param.relevant %}
            <div class="nonrelevant_notice">
            {% blocktrans with org_name=org.name %}This parameter is considered non-relevant for organization {{org_name}}.{% endblocktrans %}
            </div>
        {% endif %}

        <h2>{% trans 'Parameter characteristics' %}:</h2>
        <p>
            {% url 'exmo2010:monitoring_rating' param.monitoring.pk as rating_url %}
            {% url 'exmo2010:task_scores' task.pk as task_url %}
            &mdash; {% blocktrans with org_url=org.url|linkify|bleach org_name=org.name monitoring=param.monitoring.name %}The parameter is evaluated for the website {{ org_url }} of the <a href="{{ task_url }}">{{ org_name }}</a> within the rating <a href="{{ rating_url }}">{{ monitoring }}</a>.{% endblocktrans %}<br />
            &mdash; {% trans 'Social significance coefficient equals' %} {{ param.weight }}.<br />
            {% if param.monitoring.has_npa %}
                &mdash; {% trans 'Parameter type' %}: {{ param.npa_display }}.
            {% endif %}
        </p>

        {% if param.grounds %}
            <h2>{% trans "Grounds" %}:</h2>
            {{ param.grounds|bleach }}
        {% endif %}

        {% if param.rating_procedure %}
            <h2>{% trans "Rating procedure" %}:</h2>
            {{ param.rating_procedure|bleach }}
        {% endif %}

        {% if param.notes and request.user.is_expert %}
            <h2>{% trans "Notes" %}:</h2>
            {{ param.notes|bleach }}
        {% endif %}

        {% if request.user.is_expert and param.monitoring.status != 0 and score.pk %}
            <div>
                {% if score_interim %}
                    <div class="score-editor">
                        <h2>{% trans 'Initial score`s author' %}</h2>
                        <p>{% if score_interim.editor %}{{ score_interim.editor.legal_name }}, {% endif %}{{ score_interim.last_modified|date:"DATE_FORMAT" }}</p>
                    </div>
                {% endif %}

                <div class="score-editor">
                    <h2>{% trans 'Current score`s author' %}</h2>
                    <p>{% if score.editor %}{{ score.editor.legal_name }}, {% endif %}{{ score.last_modified|date:"DATE_FORMAT" }}</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="pseudo-links-block">
        <h2>{% trans 'Scores' %}</h2>

        {% if not request.user.is_expert %}
            <div class="tabs">
                <span><a href="#show_explanations" class="pseudo">{% trans 'show explanations' %}</a></span>
                <span class="float-right"><a href="#show_interim_score" class="pseudo" data-url="{% url 'exmo2010:ajax_set_profile_setting' %}" data-active="{{ request.user.is_active }}">{% if show_interim_score %}{% trans 'hide initial scores' %}{% else %}{% trans 'show initial scores' %}{% endif %}</a></span>
            </div>
        {% endif %}

        {% if score.perms.edit_score %}
            {% if interaction and score.pk %}
                <div class="tabs reply-edit">
                    <span><a href="#reply" class="pseudo">{% trans 'Reply' %}</a></span>
                    <span><a href="#change_score" class="pseudo">{% trans 'Change score' %}</a></span>
                </div>
            {% endif %}
        {% endif %}
    </div>

    {% if not request.user.is_expert %}
        <div class="explanations-block hidden">
            <p>{% blocktrans %}<strong>Availability ('Found')</strong> describes the fact of publishing the information or service corresponding to the particular parameter at the official website (0; 1).{% endblocktrans %}</p>
            {% if param.complete %}
                <p>{% blocktrans %}<strong>Comprehensiveness ('Complete')</strong> describes the sufficiency of the information published at the official websites for forming an integral idea by the particular parameter (1; 2; 3).{% endblocktrans %}</p>
            {% endif %}
            {% if param.topical %}
                <p>{% blocktrans %}<strong>Relevance ('Topical')</strong> describes the updating rate of the information available at the official website as well as its relevance at the moment of the expert analyzes (1; 2; 3).{% endblocktrans %}</p>
            {% endif %}
            {% if param.accessible %}
                <p>{% blocktrans %}<strong>Navigability ('Accessible')</strong> describes convenience for finding information relevant to the given parameter at the official website. It takes in consideration whether the information is placed in a correct section, and how many consecutive hyperlinks, starting from the home page, are to be followed (1; 2; 3).{% endblocktrans %}</p>
            {% endif %}
            {% if param.hypertext %}
                <p>{% blocktrans %}<strong>HTML accessibility ('Hypertext')</strong> describes the fact of placing the parameter information at the official website in HTML format, facilitating the search (0; 1).{% endblocktrans %}</p>
            {% endif %}
            {% if param.document %}
                <p>{% blocktrans %}<strong>File accessibility ('Document')</strong> describes the fact of placing the document required by the given parameter at the official website in a format that allows the user to store it at his/her hardware devices, to search for and to copy extracts of the text in the document so that the users can further use the information (0; 1).{% endblocktrans %}</p>
            {% endif %}
            {% if param.image %}
                <p>{% blocktrans %}<strong>Graphic accessibility ('Image')</strong> describes the fact of placing the document required by the given parameter at the official website in the graphic format the actual image of the document so that the users can read its original version (0; 1).{% endblocktrans %}</p>
            {% endif %}
            <p>{% blocktrans %}<strong>Parameter`s score</strong> is the openness of the parameter calculated as a product of criteria fines.{% endblocktrans %}</p>
            <p>{% blocktrans %}<strong>Score changes</strong> is the difference between current parameter`s score and the parameter`s score after the initial evaluation.{% endblocktrans %}</p>
        </div>
    {% endif %}

    {% if score.pk %}
        {% if interaction or not score.perms.edit_score %}
            <div class="tab-reply-block">
                <div class="table zebra non-editable-score-table">
                    <div class="thead">
                        <div class="table-row">
                            {% for field in score_table %}
                                <div class="table-cell {{ field.criterion }}">
                                    {{ field.label }}
                                </div>
                            {% endfor %}
                            <div class="table-cell parameters-score">
                                {% trans 'Parameter`s score' %}
                            </div>
                            <div class="table-cell score-changes score-interim {% if not show_interim_score %}hidden{% endif %}">
                                {% trans 'Score changes' %}
                            </div>
                        </div>
                    </div>
                    <div class="tbody">
                        <div class="table-row">
                            {% for field in score_table %}
                                <div class="table-cell {% if not field.max_score %}text-color-red{% endif %}">
                                    {{ field.score|default_if_none:'–' }}
                                    {% if field.score_interim != '' and field.score != field.score_interim %}
                                        <span class="score-interim {% if not show_interim_score %}hidden{% endif %}">({{ field.score_interim|default_if_none:'–' }})</span>
                                    {% endif %}
                                    {% if not field.max_score %}<div class="underline"></div>{% endif %}
                                </div>
                            {% endfor %}
                            <div class="table-cell {% if score.openness != 100 %}text-color-red{% endif %}">
                                {{ score.openness|floatformat }}%
                                {% if score.openness != 100 %}
                                    <div class="progressbar">
                                        <div style="width: {{ score.openness|floatformat:"0" }}%;"></div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="table-cell score-interim {% if not show_interim_score %}hidden{% endif %}">
                                {{ score_delta|floatformat }}%
                                {% if score_delta > 0 %}
                                    <img src="{% static 'exmo2010/img/rate_up_8x5.svg' %}">
                                {% elif score_delta < 0 %}
                                    <img src="{% static 'exmo2010/img/rate_down_8x5.svg' %}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="links-recommendations-area">
                    <div class="links read_edit">
                        <h2>{% trans 'Found information links' %}</h2>
                        {% if score.perms.edit_score %}
                            <div class="tabs">
                                <span><a href="#" class="pseudo" id="edit_links">{% trans 'edit' %}</a></span>
                            </div>
                            <div class="edit">
                                <form action="{% url 'exmo2010:post_score_links' score.pk %}">{% csrf_token %}
                                    {{ form.links }}
                                    <input type="submit" value="{% trans 'Save' %}" />
                                    <div class="tabs">
                                        <span><a href="#" class="pseudo cancel">{% trans 'Cancel' %}</a></span>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                        <div class="read" data-empty_text="{% trans 'No links' %}">
                            {% if score.links %}
                                {{ score.links|linkify|strict_bleach:'a'|linebreaksbr }}
                            {% else %}
                                {% trans 'No links' %}
                            {% endif %}
                        </div>
                    </div>

                    <div>
                        <div class="recommendations read_edit">
                            <h2>{% trans 'Recommendations' %}</h2>
                            {% if score.perms.edit_score %}
                                <div class="tabs">
                                    <span><a href="#" class="pseudo" id="edit_recommendations">{% trans 'edit' %}</a></span>
                                </div>
                                <div id="recommendations_form" class="edit">
                                    <form action="{% url 'exmo2010:post_recommendations' score.pk %}">{% csrf_token %}
                                        {{ form.recommendations }}
                                        <input type="submit" disabled="disabled" value="{% trans 'Save' %}" />
                                        <div class="tabs">
                                            <span><a href="#" class="pseudo cancel">{% trans 'Cancel' %}</a></span>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                            <div class="read" data-empty_text="{% trans 'No recommendations' %}">
                                {% if score.recommendations %}
                                    {{ score.recommendations|linkify|strict_bleach:'a'|linebreaksbr }}
                                {% else %}
                                    {% trans 'No recommendations' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if score.perms.edit_score %}
        <div class="tab-edit-block">
            <form method="post" class="tab_edit {% if interaction and score.pk %}hidden{% endif %}">{% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div class="errors">
                    {{ form.non_field_errors }}
                </div>

                <div class="form-table editable-score-table {{ recommendations_required|yesno:'recommendations_required,' }}">
                    <div class="tbody">
                        {% for field in criteria %}
                            <div class="table-row" data-max="{{ field.field.choices|last|last }}" data-initial="{{ field.initial|default_if_none:'' }}">
                                <div class="table-cell-R label">{{ field.label }}</div>
                                <div class="table-cell-R">{{ field }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="links-recommendations-area">
                    <div class="links">
                        <h2>{% trans 'Found information links' %}</h2>
                        {{ form.links }}
                    </div>

                    <div class="recommendations">
                        <h2>{% trans 'Recommendations' %}</h2>
                        {{ form.recommendations }}
                    </div>
                </div>

                {% if interaction and score.pk %}
                    <input type="hidden" name='{{ comment_form.comment.auto_id|slice:"3:" }}' />
                {% else %}
                    <input type="submit" value="{% trans 'Save' %}" />
                {% endif %}
            </form>
        </div>
    {% endif %}

    {% if score.pk and task.perms.view_comments %}
        <div class="comments-block">
            <h2>{% trans "Comments" %}</h2>

            {% get_comment_list for score as comment_list %}
            {% if comment_list %}
                <table class="table table-messages-parameter">
                    <tbody>
                    {% for comment in comment_list %}
                        <tr id="c{{ comment.id }}">
                            <td
                            {% with comment.submit_date|workdays_still_left:param.monitoring.time_to_answer as ndays %}
                                {% if request.user.is_expert and not comment.posted_by_expert and comment.status == comment.OPEN %}
                                    class="answer-{% if ndays < 0 %}missed{% elif ndays > 0 %}later{% else %}today{% endif %}"
                                {% endif %}
                            {% endwith %}
                            >
                                <span class="messages-author">
                                    {% if comment.posted_by_expert and not request.user.is_expert %}
                                        {{ masked_expert_name }}
                                    {% else %}
                                        {{ comment.user.legal_name }}
                                    {% endif %}
                                </span>

                                <span class="messages-date">
                                    {{ comment.submit_date|date:"DATETIME_FORMAT" }}
                                </span>

                                <div class="messages-content">{{ comment.comment|linkify|bleach }}</div>

                                {% if request.user.is_expertA and not comment.posted_by_expert and comment.status != comment.ANSWERED %}
                                    <div class="toggle-comment-container">
                                        <a href="{% url 'exmo2010:toggle_comment' %}" rel="{{comment.pk}}">
                                            {% if comment.status == comment.OPEN %}
                                                {% trans 'Close without answer' %}
                                            {% else %}
                                                {% trans 'Open comment' %}
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% if request.user.is_organization and not comment.posted_by_expert and comment.status == comment.OPEN %}
                            <tr class="orguser-notification">
                                <td>
                                    {% blocktrans with deadline_date=comment.submit_date|date_until:score.parameter.monitoring.time_to_answer|date:"DATE_FORMAT"|remove_extra_dot %}Deadline for answer to your comment is {{ deadline_date }}.{% endblocktrans %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% trans 'There are no comments' %}</p>
            {% endif %}
            <a id="last_comment"></a>
        </div>
    {% endif %}

    {% if score.pk and score.perms.add_comment %}
        {% if interaction and request.user.is_expert %}
            <div class="tabs reply-edit">
                <span> <a href="#reply" class="pseudo"> {% trans 'Reply' %} </a> </span>
                <span> <a href="#change_score" class="pseudo"> {% trans 'Change score' %} </a> </span>
            </div>
        {% endif %}

        <div class="comment-form {% if request.user.is_expert %}hidden{% endif %}">
            <form method="post" action="{% url 'exmo2010:post_score_comment' score.pk %}">{% csrf_token %}
                {{ comment_form.comment }}
                <input type="submit"  class="tab-reply-block" id="submit_comment" value="{% trans 'Post comment' %}" disabled="disabled" />
                {% if score.perms.edit_score %}
                    <input type="submit" class="tab_edit" id="submit_score_and_comment" value="{% trans 'Post comment and change score' %}" disabled="disabled" />
                {% endif %}
            </form>
        </div>
    {% endif %}

    {% if not param.relevant %}
        <div class="nonrelevant_notice">
        {% blocktrans with org_name=org.name %}This parameter is considered non-relevant for organization {{org_name}}.{% endblocktrans %}
        </div>
    {% endif %}

    {% if score.pk and score.perms.view_claim %}
        <div class="tabs h2">
            <span> <a href="#clarifications" class="pseudo"> {% trans 'Clarifications' %} </a> </span>
            <span> <a href="#claims" class="pseudo">  {% trans 'Claims' %} </a> </span>
        </div>

        <div class="tab-content-clarifications hidden">
            <div id="clarifications"> {% include "clarification.html" %} </div>
        </div>

        <div class="tab-content-claims hidden">
            <div id="claims"> {% include "claim.html" %} </div>
        </div>
    {% endif %}
{% endblock %}
