{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% spaceless %}
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
        <head>
            <title>{{ task.organization.name }}</title>
            <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/base_structure.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/base_style.css' %}"/>
            <style>
                body { padding: 0 10px; background-color: #ffffff; }
                .copyrights-fonts { margin: 0; }
                h1 { margin-bottom: 10px; }
                h2 { margin: 20px 0 10px; }
                h3 { font-size: inherit; font-weight: bold; margin-top: 10px; }
                p { margin: 0;}
                thead td { vertical-align: bottom; }
                #footer_print { margin-top: 20px; font-size: 10px; }
                #footer_print div.first { margin-bottom: 10px; }
            </style>
        </head>

        <body>
            <h1>{{ task.organization.name }}</h1>

            <p>{% trans 'Data source:' %} {{ task_scores_url }}</p>

            {% with task.organization.monitoring.has_npa as has_npa %}
                {% for score in task.relevant_scores %}
                    <h2>{{ score.parameter.code }} —  {{ score.parameter.name }}</h2>
                    <table>
                        <thead>
                            <tr>
                                <td>{% trans 'Found' %}</td>
                                <td>{% trans 'Complete' %}</td>
                                <td>{% trans 'Topical' %}</td>
                                <td>{% trans 'Accessible' %}</td>
                                <td>{% trans 'HTML' %}</td>
                                <td>{% trans 'Document' %}</td>
                                <td>{% trans 'Image' %}</td>
                                <td>{% trans 'Parameter`s score' %}</td>
                                <td>{% trans 'Weight' %}</td>
                                {% if has_npa %}
                                    <td>{% trans 'Type' %}</td>
                                {% endif %}
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{ score.found }}</td>
                                {% for crit in score.criteria %}
                                    <td>{{ crit|default:'' }}</td>
                                {% endfor %}

                                <td>{{ score.openness }}</td>
                                <td>{{ score.parameter.weight }}</td>
                                {% if has_npa %}
                                    <td>{{ score.parameter.npa_display }}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>

                    <h3>{% trans 'Found information links' %}</h3>
                    {% if score.links %}
                        <p>{{ score.links|linebreaksbr}}</p>
                    {% else %}
                        <p>{% trans 'No links' %}</p>
                    {% endif %}

                    <h3>{% trans 'Recommendations' %}</h3>
                    {% if score.recommendations %}
                        <p>{{ score.recommendations|linebreaksbr}}</p>
                    {% else %}
                        <p>{% trans 'No recommendations' %}</p>
                    {% endif %}
                {% endfor %}
            {% endwith %}

            {% include "exmo2010/_footer_print.html" %}
        </body>
    </html>
{% endspaceless %}
