{% extends request.user.is_expert|yesno:"base_sidebar.html,base_centered.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static trim_links %}

{% block title %}{{ task.organization.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'scores/score_list.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/bubble.css' %}"/>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'exmo2010/js/jquery.tablesorter.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".relevant-params-table").tablesorter();
            $(".nonrelevant-params-table").tablesorter();

            {% if task.approved and orgs_count > 1 %}
                // insert loader image
                $('<span class="rating-ajax" />').insertBefore('#rating_place');
                // get rating places
                $.getJSON("{% url 'exmo2010:rating_update' %}", { task_id: "{{ task.id }}" })
                    .done(function(data) {
                        var val = data['rating_place'];
                        if (val) {$('#rating_place').text(val + ' ' + '{% trans 'place' %}').show();}
                        $('.rating-ajax').remove();
                });
            {% endif %}

            {% if is_expertA %}
                // one click import task
                $('#upload_link').click(function() {
                    $("#upload_form input[type='file']").click();
                    return false
                });

                $('#upload_form').change(function () {
                    this.submit();
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block h1 %}<h1>{{ task.organization.name }}</h1>{% endblock %}

{% block bubble %}
    {% include "exmo2010/helpers/inv_code_bubble.html" %}
{% endblock %}

{% block content %}
    <div class="task-scores-header-block">
        {% if is_expert %}
            <h2>{% trans "Scores table" %}</h2>
        {% else %}
            <h2>{% trans "View" %}</h2>

            <div class="tabs">
                <span><a href="{% url 'exmo2010:recommendations' task.pk %}">{% trans 'recommendations list' %}</a></span>
                <span class="active"><a href="{% url 'exmo2010:task_scores' task.pk %}">{% trans 'scores table' %}</a></span>
            </div>
        {% endif %}

        <div class="utils">
            {% if is_expertA %}
                <i class="icon add"></i>
                <a href="{% url 'exmo2010:parameter_add' task.pk %}">{% trans 'Add new parameter' %}</a>
                <i class="icon upload"></i>
                <a href="#" id="upload_link" class="pseudo">{% trans 'Import task' %}</a>
                <form id="upload_form" action="{% url 'exmo2010:task_import' task.pk %}" method="post" enctype="multipart/form-data" class="hidden">{% csrf_token %}
                    <input type="file" accept=".csv" name="taskfile">
                    <input type="submit" value="{% trans 'Import' %}" />
                </form>
            {% endif %}
            <i class="icon print"></i>
            <a href="{% url 'exmo2010:task_scores_print' task.pk %}" target="_blank">{% trans 'Print' %}</a>
            <i class="icon download"></i>
            <a href="{% url 'exmo2010:task_export' task.pk %}" class="pseudo">{% trans 'Save as CSV' %}</a>
        </div>

        <p>
            {% if task.approved %}
                {% if is_expert and not mon.is_published %}
                    {% url 'exmo2010:tasks_by_monitoring' mon.pk as url %}
                {% else %}
                    {% url 'exmo2010:monitoring_rating' mon.pk as url %}
                {% endif %}

                {% if orgs_count > 1 %}
                    &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links monitoring_name=mon.name %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a> has <span id="rating_place"></span> in the rating <a href="{{ url }}" target="_blank">{{ monitoring_name }}</a>.{% endblocktrans %}<br />
                {% else %}
                    &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links monitoring_name=mon.name %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a> is the only one in the rating <a href="{{ url }}" target="_blank">{{ monitoring_name }}</a>.{% endblocktrans %}<br />
                {% endif %}
            {% else %}
                &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a>.{% endblocktrans %}<br/>
            {% endif %}

            {% ifnotequal openness None %}
                &mdash;
                {% if delta > 0 %}
                    {% blocktrans with delta=delta|floatformat %}Fulfilled recommendations make up {{ delta }}% website openness increase.{% endblocktrans %}
                {% endif %}
                {% if mon.is_published %}
                    {% blocktrans with openness=openness|floatformat %}Final openness <span>{{ openness }}%</span>.{% endblocktrans %}<br />
                {% else %}
                    {% blocktrans with openness=openness|floatformat %}Current openness <span>{{ openness }}%</span>.{% endblocktrans %}<br />
                {% endif %}
            {% endifnotequal %}

            {% if orgs_count > 1 %}
                &mdash; {% blocktrans count orgs_count=orgs_count %}Total amount of organizations {{ orgs_count }}. {% plural %} Total amount of organizations {{ orgs_count }}. {% endblocktrans %}<br />
            {% endif %}
        </p>
    </div>

    {% if relevant_parameters_exist or nonrelevant_parameters_exist %}
        <form class="filter" action="" method="GET">
            <div class="table">
                <div class="table-cell">
                    {{ view.queryform.name }}
                </div>
                <div class="table-cell submit-cell">
                    <input type="submit" value="{% trans 'Find' %}" />
                </div>
            </div>
        </form>

        {% if relevant_parameters_exist %}
            <table class="base-table relevant-params-table">
                <thead>
                    <tr>
                        {% if is_expert %}
                            <th class="icons-column"></th>
                            <th class="icons-column"></th>
                        {% endif %}
                        <th class="code">
                            {% trans 'Code' %}
                        </th>
                        <th class="parameter">
                            {% trans 'Parameter' %}
                        </th>
                        {% if is_expertA %}
                            <th class="icons-column"></th>
                        {% endif %}
                        {% if is_expert %}
                            <th class="scores-column">{% trans 'Fnd' context 'Found abbreviation' %}</th>
                            <th class="scores-column">{% trans 'Com' context 'Complete abbreviation' %}</th>
                            <th class="scores-column">{% trans 'Top' context 'Topical abbreviation' %}</th>
                            <th class="scores-column">{% trans 'Acc' context 'Accessible abbreviation' %}</th>
                            <th class="scores-column">{% trans 'HTML' context 'Hypertext abbreviation' %}</th>
                            <th class="scores-column">{% trans 'Doc' context 'Document abbreviation' %}</th>
                            <th class="scores-column">{% trans 'Img' context 'Image abbreviation' %}</th>
                        {% endif %}
                        <th class="score">{% trans 'Score' %}</th>
                        <th class="difference">{% trans 'Difference' %}</th>
                        {% if is_expert %}
                            <th class="weight">{% trans 'Weight' %}</th>
                        {% endif %}
                        {% if mon.has_npa %}
                            <th class="type">{% trans 'Type' %}</th>
                        {% endif %}
                    </tr>
                </thead>

                {% if relevant_parameters %}
                    <tbody>
                        {% for parameter in relevant_parameters %}
                            <tr>
                                {% if is_expert %}
                                    <td class="icons-column">
                                        {% if parameter.score_pk and not parameter.score_accomplished %}
                                            <img src="{% static 'exmo2010/img/red_spot_5x5.svg' %}" />
                                        {% endif %}
                                    </td>
                                    <td class="icons-column">
                                        {% if parameter.comment_url %}
                                            <a href="{{ parameter.comment_url }}"><img src="{% static 'exmo2010/img/icon_newcomment.png' %}" /></a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td class="code">
                                    {% if parameter.score_pk %}
                                        <a href="{% url 'exmo2010:score' parameter.score_pk %}">{{ parameter.code }}</a>
                                    {% else %}
                                        {% if task.perms.fill_task %}
                                            <a href="{% url 'exmo2010:score_add' task.pk parameter.pk %}">{{ parameter.code }}</a>
                                        {% else %}
                                            {{ parameter.code }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="parameter">
                                    {% if parameter.score_pk %}
                                        <a href="{% url 'exmo2010:score' parameter.score_pk %}">{{ parameter.name }}</a>
                                    {% else %}
                                        {% if task.perms.fill_task %}
                                            <a href="{% url 'exmo2010:score_add' task.pk parameter.pk %}">{{ parameter.name }}</a>
                                        {% else %}
                                            {{ parameter.name }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% if is_expertA %}
                                    <td class="icons-column">
                                        <a href="{% url 'exmo2010:parameter_update' task.pk parameter.pk %}">
                                            <img src="{% static 'admin/img/icon_changelink.gif' %}" />
                                        </a>
                                    </td>
                                {% endif %}
                                {% if is_expert %}
                                    {% if parameter.score_table %}
                                        {% for score in parameter.score_table %}
                                            {% if score %}
                                                <td class="scores-column {% if not score.max_score %}text-color-red{% endif %}">
                                                    {{ score.score_final|default_if_none:"–" }}
                                                    {% if score.score_interim != '' and score.score_interim != score.score_final %}
                                                        <span class="score-interim">({{ score.score_interim|default_if_none:"–" }})</span>
                                                    {% endif %}
                                                    {% if score and not score.max_score %}<div class="underline"></div>{% endif %}
                                                </td>
                                            {% else %}
                                                <td class="scores-column text-color-grey">–</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <td colspan="7"></td>
                                    {% endif %}
                                {% endif %}
                                <td class="score {% if parameter.score_openness != 100 %}text-color-red{% endif %}">
                                    {% ifnotequal parameter.score_openness None %}
                                        {{ parameter.score_openness|floatformat }}%
                                        {% if parameter.score_openness != 100 %}
                                            <div class="progressbar">
                                                <div style="width: {{ parameter.score_openness|floatformat:"0" }}%;"></div>
                                            </div>
                                        {% endif %}
                                    {% endifnotequal %}
                                </td>
                                <td class="difference">
                                    {% ifnotequal parameter.score_openness_delta None %}
                                        <span>{{ parameter.score_openness_delta|floatformat }}%</span>
                                        {% if parameter.score_openness_delta > 0 %}
                                            <img src="{% static 'exmo2010/img/rate_up_8x5.svg' %}">
                                        {% elif parameter.score_openness_delta < 0 %}
                                            <img src="{% static 'exmo2010/img/rate_down_8x5.svg' %}">
                                        {% endif %}
                                    {% endifnotequal %}
                                </td>
                                {% if is_expert %}
                                    <td class="weight">{{ parameter.weight }}</td>
                                {% endif %}
                                {% if mon.has_npa %}
                                    <td class="type">{{ parameter.npa_display }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>

                    <tfoot>
                        <tr>
                            {% if is_expertA %}
                                <td colspan="12">
                            {% elif is_expert %}
                                <td colspan="11">
                            {% else %}
                                <td colspan="2">
                            {% endif %}
                                {% trans 'Total score openness' %}
                            </td>
                            <td class="score {% if openness != 100 %}text-color-red{% endif %}">
                                {% ifnotequal openness None %}
                                    {{ openness|floatformat }}%
                                    {% if openness != 100 %}
                                        <div class="progressbar">
                                            <div style="width: {{ openness|floatformat:"0" }}%;"></div>
                                        </div>
                                    {% endif %}
                                {% endifnotequal %}
                            </td>
                            <td class="difference">
                                {% ifnotequal delta None %}
                                    <span>{{ delta|floatformat }}%</span>
                                    {% if delta > 0 %}
                                        <img src="{% static 'exmo2010/img/rate_up_8x5.svg' %}">
                                    {% elif delta < 0 %}
                                        <img src="{% static 'exmo2010/img/rate_down_8x5.svg' %}">
                                    {% endif %}
                                {% endifnotequal %}
                            </td>
                            {% if is_expert and mon.has_npa %}
                                <td colspan="2"></td>
                            {% elif is_expert or mon.has_npa %}
                                <td></td>
                            {% else %}
                            {% endif %}
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        {% endif %}

        {% if nonrelevant_parameters_exist %}
            <h2>{% trans 'Non relevant parameters' %}</h2>

            <table class="base-table nonrelevant-params-table">
                <thead>
                    <tr>
                        <th class="icons-column"></th>
                        <th class="code">
                            {% trans 'Code' %}
                        </th>
                        <th class="parameter">
                            {% trans 'Parameter' %}
                        </th>
                        {% if is_expertA %}
                            <th class="icons-column"></th>
                        {% endif %}
                        <th class="scores-column">{% trans 'Fnd' context 'Found abbreviation' %}</th>
                        <th class="scores-column">{% trans 'Com' context 'Complete abbreviation' %}</th>
                        <th class="scores-column">{% trans 'Top' context 'Topical abbreviation' %}</th>
                        <th class="scores-column">{% trans 'Acc' context 'Accessible abbreviation' %}</th>
                        <th class="scores-column">{% trans 'HTML' context 'Hypertext abbreviation' %}</th>
                        <th class="scores-column">{% trans 'Doc' context 'Document abbreviation' %}</th>
                        <th class="scores-column">{% trans 'Img' context 'Image abbreviation' %}</th>
                        <th class="score">{% trans 'Score' %}</th>
                        <th class="difference">{% trans 'Difference' %}</th>
                        <th class="weight">{% trans 'Weight' %}</th>
                        {% if mon.has_npa %}
                            <th class="type">{% trans 'Type' %}</th>
                        {% endif %}
                    </tr>
                </thead>

                {% if nonrelevant_parameters %}
                    <tbody>
                        {% for parameter in nonrelevant_parameters %}
                            <tr>
                                <td class="icons-column">
                                    {% if parameter.comment_url %}
                                        <a href="{{ parameter.comment_url }}"><img src="{% static 'exmo2010/img/icon_newcomment.png' %}" /></a>
                                    {% endif %}
                                </td>
                                <td class="code">
                                    {% if parameter.score_pk %}
                                        <a href="{% url 'exmo2010:score' parameter.score_pk %}">{{ parameter.code }}</a>
                                    {% else %}
                                        {% if task.perms.fill_task %}
                                            <a href="{% url 'exmo2010:score_add' task.pk parameter.pk %}">{{ parameter.code }}</a>
                                        {% else %}
                                            {{ parameter.code }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="parameter">
                                    {% if parameter.score_pk %}
                                        <a href="{% url 'exmo2010:score' parameter.score_pk %}">{{ parameter.name }}</a>
                                    {% else %}
                                        {% if task.perms.fill_task %}
                                            <a href="{% url 'exmo2010:score_add' task.pk parameter.pk %}">{{ parameter.name }}</a>
                                        {% else %}
                                            {{ parameter.name }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% if is_expertA %}
                                    <td class="icons-column">
                                        <a href="{% url 'exmo2010:parameter_update' task.pk parameter.pk %}">
                                            <img src="{% static 'admin/img/icon_changelink.gif' %}" />
                                        </a>
                                    </td>
                                {% endif %}
                                {% if parameter.score_table %}
                                    {% for score in parameter.score_table %}
                                        {% if score %}
                                            <td class="scores-column">
                                                {{ score.score_final|default_if_none:"–" }}
                                                {% if score.score_interim != '' and score.score_interim != score.score_final %}
                                                    <span class="score-interim">({{ score.score_interim|default_if_none:"–" }})</span>
                                                {% endif %}
                                                {% if score and not score.max_score %}<div class="underline inactive"></div>{% endif %}
                                            </td>
                                        {% else %}
                                            <td class="scores-column">–</td>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <td colspan="7"></td>
                                {% endif %}
                                <td class="score">
                                    {% ifnotequal parameter.score_openness None %}
                                        {{ parameter.score_openness|floatformat }}%
                                        {% if parameter.score_openness != 100 %}
                                            <div class="progressbar inactive">
                                                <div style="width: {{ parameter.score_openness|floatformat:"0" }}%;"></div>
                                            </div>
                                        {% endif %}
                                    {% endifnotequal %}
                                </td>
                                <td class="difference">
                                    {% ifnotequal parameter.score_openness_delta None %}
                                        <span>{{ parameter.score_openness_delta|floatformat }}%</span>
                                        {% if parameter.score_openness_delta > 0 %}
                                            <img src="{% static 'exmo2010/img/rate_up_gray_8x5.svg' %}">
                                        {% elif parameter.score_openness_delta < 0 %}
                                            <img src="{% static 'exmo2010/img/rate_down_gray_8x5.svg' %}">
                                        {% endif %}
                                    {% endifnotequal %}
                                </td>
                                <td class="weight">{{ parameter.weight }}</td>
                                {% if mon.has_npa %}
                                    <td class="type">{{ parameter.npa_display }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        {% endif %}
    {% else %}
        <div class="noparameters">{% trans 'No parameters' %}</div>
    {% endif %}

    {% if questionnaire_form %}
        <div id="questionnaire">
            <h1>{{ mon.get_questionnaire.title }}</h1>
            {% if mon.get_questionnaire.comment %}
                <h2>{{ mon.get_questionnaire.comment|linebreaksbr }}</h2>
            {% endif %}
            <form action="{% url 'exmo2010:post_questionnaire' task.pk %}#questionnaire" method="post">{% csrf_token %}
                <div>
                    {% if questionnaire_form.non_field_errors %}
                        <ul class="errorlist">
                        {% for error in questionnaire_form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% for field in questionnaire_form %}
                        <span class="questionnaire-field-header">{{ forloop.counter }}.&nbsp;{{ field.label_tag }}</span>
                            <div>
                                {% if field.errors %}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if field.help_text %}
                                    <span>{{ field.help_text }}</span><br>
                                {% endif %}

                                <div class="questionnaire-field">{{ field }}</div>
                            </div>
                    {% endfor %}
                </div>
                <input type="submit" value="{% trans 'Save' %}" {% if not task.perms.fill_task %}disabled{% endif %}>
            </form>
        </div>
    {% endif %}
{% endblock %}
