{% extends request.user.is_expert|yesno:"base_sidebar.html,base_centered.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static trim_links check_object_permission %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'scores/score_list.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/bubble.css' %}"/>
{% endblock %}

{% block extra_script %}
    {% if task.approved and orgs_count > 1 %}
        <script>
            $(document).ready(function() {
                // insert loader image
                $('<span class="rating-ajax" />').insertBefore('#rating_place');
                // get rating places
                $.getJSON("{% url 'exmo2010:rating_update' %}", { task_id: "{{ task.id }}" })
                    .done(function(data) {
                        var val = data['rating_place'];
                        if (val) {$('#rating_place').text(val + ' ' + '{% trans 'place' %}').show();}
                        $('.rating-ajax').remove();
                    });
            });
        </script>
    {% endif %}

    {% if is_expertA %}
        <script>
            $(document).ready(function() {
                // one click import task
                $('#upload_link').click(function() {
                    $("#upload_form input[type='file']").click();
                    return false
                });

                $('#upload_form').change(function () {
                    this.submit();
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block sidebar_h1 %}
    {% if is_expert %}
        <h1>{{ task.organization.name }}</h1>
    {% endif %}
{% endblock %}

{% block bubble %}
    {% include "exmo2010/helpers/inv_code_bubble.html" %}
{% endblock %}

{% block h1 %}
    {% if not is_expert %}
        <h1>{{ title }}</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="task-scores-header-block">
        {% if is_expert %}
            <h2>{% trans "Scores table" %}</h2>
        {% else %}
            <h2>{% trans "View" %}</h2>
        {% endif %}

        {% if not is_expert %}
            <div class="tabs">
                <span><a href="{% url 'exmo2010:recommendations' task.pk %}">{% trans 'recommendations list' %}</a></span>
                <span class="active"><a href="{% url 'exmo2010:task_scores' task.pk %}">{% trans 'scores table' %}</a></span>
            </div>
        {% endif %}

        <div class="float-right">
            {% if is_expertA %}
                <i class="icon add"></i>
                <a href="{% url 'exmo2010:parameter_add' task.pk %}">{% trans 'Add new parameter' %}</a>
                <i class="icon upload"></i>
                <a href="#" id="upload_link" class="pseudo">{% trans 'Import task' %}</a>
                <form id="upload_form" action="{% url 'exmo2010:task_import' task.pk %}" method="post" enctype="multipart/form-data" class="hidden">{% csrf_token %}
                    <input type="file" accept=".csv" name="taskfile">
                    <input type="submit" value="{% trans 'Import' %}" />
                </form>
            {% endif %}
            <i class="icon print"></i>
            <a href="{% url 'exmo2010:task_scores_print' task.pk %}" target="_blank">{% trans 'Print' %}</a>
            <i class="icon download"></i>
            <a href="{% url 'exmo2010:task_export' task.pk %}" class="pseudo">{% trans 'Save as CSV' %}</a>
        </div>

        <p>
            {% if task.approved %}
                {% if is_expert and not mon.is_published %}
                    {% url 'exmo2010:tasks_by_monitoring' mon.pk as url %}
                {% else %}
                    {% url 'exmo2010:monitoring_rating' mon.pk as url %}
                {% endif %}

                {% if orgs_count > 1 %}
                    &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links monitoring_name=mon.name %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a> has <span id="rating_place"></span> in the rating <a href="{{ url }}" target="_blank">{{ monitoring_name }}</a>.{% endblocktrans %}<br />
                {% else %}
                    &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links monitoring_name=mon.name %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a> is the only one in the rating <a href="{{ url }}" target="_blank">{{ monitoring_name }}</a>.{% endblocktrans %}<br />
                {% endif %}
            {% else %}
                &mdash; {% blocktrans with org_url=task.organization.url trim_org_url=task.organization.url|trim_links %}Site <a href="{{ org_url }}" target="_blank">{{ trim_org_url }}</a>.{% endblocktrans %}<br/>
            {% endif %}

            {% ifnotequal openness None %}
                &mdash;
                {% if delta > 0 %}
                    {% blocktrans with delta=delta|floatformat %}Fulfilled recommendations make up {{ delta }}% website openness increase.{% endblocktrans %}
                {% endif %}
                {% if mon.is_published %}
                    {% blocktrans with openness=openness|floatformat %}Final openness <span>{{ openness }}%</span>.{% endblocktrans %}<br />
                {% else %}
                    {% blocktrans with openness=openness|floatformat %}Current openness <span>{{ openness }}%</span>.{% endblocktrans %}<br />
                {% endif %}
            {% endifnotequal %}

            {% if orgs_count > 1 %}
                &mdash; {% blocktrans count orgs_count=orgs_count %}Total amount of organizations {{ orgs_count }}. {% plural %} Total amount of organizations {{ orgs_count }}. {% endblocktrans %}<br />
            {% endif %}
        </p>
    </div>

    <div id=score_list>
        {% check_object_permission exmo2010.fill_task task as perm_fill_task %}

        <table>
            {% include 'exmo2010/table_header.html' with headers=headers %}

            <tbody>
                <tr>
                    <td colspan=10>
                        {% if perm_admin_monitoring %}
                            <a href="{% url 'exmo2010:parameter_add' task.pk %}?{{ request.GET.urlencode }}">
                                {% trans 'Add new parameter' %}&nbsp;<img src="{% static 'admin/img/icon_addlink.gif' %}">
                            </a>&nbsp;
                        {%endif%}
                    </td>
                </tr>
            {% if mon.has_npa %}
                <tr><td colspan=10 style="background-color: #F2F2F2; font-weight: bold;">{% trans 'Normative parameters' %}</td></tr>
                {% include 'scores/_scores_table.html' with parameters=parameters_npa %}
                <tr><td colspan=10 style="background-color: #F2F2F2; font-weight: bold;">{% trans 'Recommendatory parameters' %}</td></tr>
            {% endif %}

            {% include 'scores/_scores_table.html' with parameters=parameters_other %}
            </tbody>
        </table>
    </div><br>

    {% if form %}
        <div id='fc_container'>
            <a name="q"></a>
            <h1>{{ task.organization.monitoring.get_questionnaire.title }}</h1>
            {% if task.organization.monitoring.get_questionnaire.comment %}
                <h2>{{ task.organization.monitoring.get_questionnaire.comment|linebreaksbr }}</h2>
            {% endif %}
            <form action="{% url 'exmo2010:task_scores' task.pk %}#q" method="post">
                {% csrf_token %}
                <div>
                    {% if form.non_field_errors %}
                        <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% for field in form %}
                        <span class="fc_item_header">{{ forloop.counter }}.&nbsp;{{ field.label_tag }}</span>
                            <div>
                                {% if field.errors %}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if field.help_text %}
                                    <span>{{ field.help_text }}</span><br>
                                {% endif %}
                                <div class="fc_field_header">{{ field }}</div>
                            </div>
                    {% endfor %}
                </div>
                <input type="submit" value="{% trans 'Save' %}" {% if not perm_fill_task %}disabled{% endif %}>
            </form>
        </div>
        <br>
    {% endif %}

    {% include "exmo2010/score_legend.html" %}
{% endblock %}
