{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

<p>
Infometer is a system of expert monitoring of websites, developed by the Freedom of Information Foundation.
</p>

<p>
With the help of the Infometer our experts examine websites of organizations to increase their information openness. The main purpose of the Infometer system is to make the official websites more informative, user-friendly and complying with legal requirements.
</p>

<p>
Infometer creates a field of communication, allowing simultaneous monitoring and consultation.  Within this framework, organization representatives are enabled to address questions to experts and point out possible mistakes of their assessments.   After receiving recommendations and making appropriate website changes in a timely manner, an organization representative may increase the scores and get a higher final place in the rating. Ratings for network resources consist of one type (for example, a rating of openness on websites of arbitration courts in the Russian Federation).
</p>

<p>
Participated in the interaction courts of general jurisdiction have increased information openness of their websites by 53% on the average.
</p>

<p>
In some cases, the organization representative achieved information openness increase of 75% during the period of interaction (Supreme Court of the Republic of Altai, Regional courts of general jurisdiction, 2012).
</p>

<p>
Information regarding the results of the monitoring and the final statistics of the research are published on Infometer and are open to all internet users.
</p>

<p>
Further information regarding the Infometer system may be found in the “Help” section.
</p>
