{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
<div class="contents topic" id="contents">
    <p class="topic-title first">Contents</p>
    <ol class="simple">
        <li>
            <a href="#how-can-you-register-in-the-infometer-system" id="id1">How can you register in the Infometer system?</a>
        </li>
        <li>
            <a href="#if-you-are-already-registered" id="id2">If you are already registered</a>
        </li>
        <li>
            <a href="#what-is-invitation-code" id="id3">What is “Invitation code”?</a>
        </li>
        <li>
            <a href="#what-to-do-in-infometer" id="id4">What to do in Infometer?</a>
        </li>
        <li>
            <a href="#how-can-you-submit-commentary-to-infometer" id="id5">How can you submit commentary to Infometer?</a>
        </li>
        <li>
            <a href="#how-can-you-see-a-rating-of-organization-participated-in-the-monitoring" id="id6">How can you see a rating of organization participated in the monitoring?</a>
        </li>
        <li>
            <a href="#how-to-recover-your-password" id="id7">How to recover your password?</a>
        </li>
        <li>
            <a href="#feedback" id="id8">Feedback</a>
        </li>
        <li>
            <a href="#important-links" id="id9">Important Links</a>
        </li>
    </ol>
</div>
<div class="section" id="how-can-you-register-in-the-infometer-system">
    <h2>How can you register in the Infometer system?</h2>
    <p>It is important for organization representatives to register in the
Infometer system in order to have a possibility to increase the scores
of organization websites.</p>
    <p>For registration in the Infometer system, you must complete the
following steps:</p>
    <ol class="arabic">
        <li>
            <p class="first">
                Go to the “Registration” link in the upper right corner of the page
or to the following link:
                <a class="reference external" href="{{registration_url}}">{{registration_url}}</a>
                    .
            </p>
        </li>
        <li>
            <p class="first">Fill out the registration form (fields marked an asterisk are
necessary to complete the form).</p>
            <p>Registration (step 1 of 2)</p>
            <p>Status</p>
            <p>First name</p>
            <p>Middle name</p>
            <p>Last name</p>
            <p>Position</p>
            <p>Telephone</p>
            <p>E-mail*</p>
            <p>Password*</p>
            <p>Invitation code*</p>
            <p>If you are an organization representative and you want to increase the
scores of your website field, choose “organization representative” in
the field “Status”.</p>
            <p>In the “Password” field, we recommend you to create a complex
password, using Latin letters (A-Z, a-z) and numbers (0-9) for safety
reasons.</p>
            <p>In the “Invitation code” field, an organization representative
includes the automated code which is contained in your letter of
invitation upon registration.</p>
            <p>After filling out the registration form click the button labeled
“Register.”</p>
        </li>
        <li>
            <p class="first">Confirm registration.</p>
            <p>After registration, an email will be sent to your listed address. In
order to confirm registration, you must click the link included in the
letter.</p>
            <p>For each new monitoring cycle it will be necessary for the
organization representative to submit a new invitation code in his
profile settings.</p>
        </li>
    </ol>
</div>
<div class="section" id="if-you-are-already-registered">
    <h2>If you are already registered</h2>
    <p>If you are already registered in Infometer just enter the system, go
to the settings page through the link in the upper right corner, enter
the code in the “Invitation Code” field. Now you can interact with our
experts with the help of comments.</p>
</div>
<div class="section" id="what-is-invitation-code">
    <h2>What is “Invitation code”?</h2>
    <p>The “Invitation code” is a set of symbols which is used in the
following situations:</p>
    <ol class="arabic simple">
        <li>a new user enters Invitation code in the appropriate box while
filling out the registration form (see question number 1)</li>
        <li>those who have worked previously in the system enter Invitation
code in the appropriate box under “Settings” ( see question number 2).</li>
    </ol>
    <p>
        Invitation code can be found in a letter sent at the beginning of the
monitoring cycle to the email address listed on the website of the
organization. If for any reason you have not received an invitation
code after the beginning of monitoring cycle, please let our technical
support team know through email (
        <a class="reference external" href="mailto:{{support_email}}">{{support_email}}</a>
        ) or
telephone (+7 (812)766-03-66).
    </p>
</div>
<div class="section" id="what-to-do-in-infometer">
    <h2>What to do in Infometer?</h2>
    <p>In the Infometer system you can:</p>
    <ul class="simple">
        <li>See the scores of organizations’ websites;</li>
        <li>Increase the scores of your organization website, following the
recommendations of experts (for registered organization
representatives);</li>
        <li>Leave a comment to a score or recommendation of a expert, express
your disagreement/doubt about a score or just notify about the changes
you have made ​​to the website following the recommendations of the
experts (for registered organization representatives);</li>
        <li>Order an Information Transparency Certificate showing the % of your
website information openness.</li>
    </ul>
</div>
<div class="section" id="how-can-you-submit-commentary-to-infometer">
    <h2>How can you submit commentary to Infometer?</h2>
    <p>Only organization representative may leave a comment.</p>
    <p>After successful registration in the system (see above question “How
can you register in the Infometer system), organization representative
may leave comment to the given scores of an agency in Infometer.</p>
    <ol class="arabic">
        <li>
            <p class="first">Enter the system through your registered account: go to the link
“Enter” (Войти), in the upper right corner of the page.</p>
        </li>
        <li>
            <p class="first">Enter e-mail address and your password</p>
        </li>
        <li>
            <p class="first">Go to “My scores” section on the shortcut bar on the left, or in
the main navigation menu (top left).</p>
        </li>
    </ol>
    <p>You can also see the scores of your organization by clicking on the
title of the monitoring cycle on the main page Infometer.</p>
    <p>All the scores on your organization are available in “My scores”
section.</p>
    <ol class="arabic simple">
        <li>Click on the separate parameter</li>
        <li>Click on the hyperlink “Comments” at the end of the page with a
description of the parameter</li>
        <li>Enter the comment text in the box with the title “Your comment”.</li>
    </ol>
    <p>After you leave a comment you will see a message about a period of
answer to your comment.</p>
    <p>You can be informed about these actions by a notification on the
e-mail which was indicated in the registration form, if such a
function on the “Settings” page is activated.</p>
</div>
<div class="section" id="how-can-you-see-a-rating-of-organization-participated-in-the-monitoring">
    <h2>How can you see a rating of organization participated in the monitoring?</h2>
    <p>Go to the “Ratings” link in the main menu (top left), click on the
monitoring cycle from the list.</p>
    <p>You can build ratings, depending on the type of parameters: all
parameters, parameters on the basis of legal acts, recommendatory
parameters, parameters selected by you (user rating).</p>
</div>
<div class="section" id="how-to-recover-your-password">
    <h2>How to recover your password?</h2>
    <p>If you forgot your password, it can be recovered. Click on the link
“Sign in” in the upper right corner of the page. Then go through the
link “Forgot password?”.</p>
    <p>Write the e-mail address which you used to fill the registration form
in the box «E-mail». An email with a link will be sent to this
address. You should click on the link and then enter a new password.</p>
</div>
<div class="section" id="feedback">
    <h2>Feedback</h2>
    <p>There is hyperlink in the basement of Infometer (the field at the
bottom of the page) with a feedback form for your complaints,
questions, comments.</p>
</div>
<div class="section" id="important-links">
    <h2>Important Links</h2>
    <p>
        Regulations for Interaction between organization representatives and
FIF Researchers
        <a class="reference external" href="http://www.svobodainfo.org/ru/node/898">http://www.svobodainfo.org/ru/node/898</a>
    </p>
    <p>
        Methodology for the Monitoring of Government Bodies’ Official Websites
        <a class="reference external" href="http://www.svobodainfo.org/ru/node/902">http://www.svobodainfo.org/ru/node/902</a>
    </p>
</div>
