{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n wysiwyg %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exmo2010/css/feedback.css"/>
{% endblock %}

{% block content %}

{% if success %}
    <p class="alert-success">
        {% trans "You've sent the letter to EXMO maintenance staff. You'll recieve an answer in 3 buisness days." %}
    </p>
{% endif %}

<p>
{% url exmo2010:help as url %}
{% blocktrans %}
If you've got troubles using system, please, check <a href="{{ url }}">Help page</a> out. If you didn't find an answer for your question, ask our specialists.
{% endblocktrans %}
</p>
<p>
{% trans "Please, describe your problem with as much detail as possible." %}
</p>

    {% wysiwyg_setup %}
    <script type="text/javascript" src="{{ STATIC_URL }}exmo2010/js/ck-change-plugin.js"></script>

    <form action="" method="post">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
                <div class="clearfix{% if field.field == form.fields.email and request.user.is_active %} hidden{% endif %}">
                    <div class="label">
                        <label>{{ field.label }}</label>
                    </div>
                    <div class="field">
                        {{ field }}
                    </div>
                </div>
        {% endfor %}

        {% wysiwyg_editor "id_comment" %}

                <div class="clearfix">
                    <div class="label">
                    </div>
                    <div class="field">
                        <input type="submit" value="{% trans 'Send' %}"/>
                    </div>
                </div>
    </form>

{% endblock %}