{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
<div id="footer">
    <div>
        <p>
            <a href="{% url exmo2010:about %}">{% trans "About" %}</a> |
            <a href="http://www.svobodainfo.org/ru/node/902" target="_blank">{% trans "Methodology" %}</a> |
            <a href="{% url exmo2010:feedback %}">{% trans "Feedback" %}</a>
        </p>
        <p class="copyrights">
            <span>{% blocktrans with url="http://www.svobodainfo.org/" %}Copyright 2012, 2013 Foundation "<a href="{{ url }}">Institute for Information Freedom Development</a>"{% endblocktrans %}<br /></span>
            {% trans 'Copyright 2010, 2011 Non-profit Partnership "Institute of Information Freedom Development"' %}<br />
            {% trans 'Copyright 2010, 2011 Al Nikolov' %}<br />
            {% blocktrans with url="http://www.svobodainfo.org/exmo" %}<a href="{{ url }}">This program</a> is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.{% endblocktrans %}
        </p>
    </div>
</div>
