{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block content %}
    <h1>{% trans 'Help' %}</h1>
    <h2>Каково назначение автоматизированной информационной системы EXMO?</h2>
    <p><b>Автоматизированная информационная система EXMO</b> разработана для проведения мониторинга официальных сайтов органов власти.</p>
    <p>АИС EXMO позволяет представителям органов власти до подведения итогов текущего цикла мониторинга и формирования рейтинга информационной доступности официальных сайтов органов власти знакомиться с предварительными результатами мониторинга официального сайта своего органа власти; задавать вопросы, касающиеся поставленных оценок по каждому параметру, экспертам, проводившим мониторинг; указывать на возможные ошибки в этих оценках, а также информировать экспертов о произведенных на официальном сайте своего органа власти изменениях с целью корректировки оценок.</p>
    <p>В результате такого взаимодействия представителей органов власти с экспертами повышается объективность результатов мониторинга, а также, как правило, повышается степень информационной доступности официального сайта органов власти и позиция этого органа власти в рейтинге.</p>
    <p>Кроме того, АИС EXMO позволяет всем заинтересованным лицам знакомиться с окончательными результатами мониторинга после их подведения.</p>

    <h2>Как зарегистрироваться в системе EXMO?</h2>
    <p>В целях ознакомления с предварительными результатами мониторинга по своему органу власти и коммуникации с экспертами для представителей органов власти обеспечивается доступ к АИС EXMO.</p>
    <p>Для доступа к АИС EXMO представителям органов власти необходимо пройти регистрацию. Регистрация инициируется путем направления представителем органа власти соответствующего запроса в Фонд Свободы Информации (Институт Развития Свободы Информации).</p>
    <p>Регистрация необходима для планирования нагрузки экспертов в ходе работы в период взаимодействия и прогнозирования времени отклика.</p>
    <p>Регистрация представителей органов власти осуществляется при каждом новом цикле мониторинга.</p>
    <h3>Запрос на регистрацию</h3>
    <p>Представители органов власти, желающие получить доступ к системе, направляют запрос на регистрацию в АИС EXMO на адрес электронной почты, указанный в приглашении на регистрацию. В запросе на регистрацию должны быть приведены следующие сведения:<br/>
    а) Наименование органа власти, сотрудник которого желает получить доступ к системе<br/>
    б) Официальный адрес электронной почты</p>
    <h3>Ограничения в регистрации</h3>
    <p>От одного органа власти в АИС EXMO может быть зарегистрировано несколько представителей.</p>
    <h3>Порядок регистрации</h3>
    <p>Приглашение на регистрацию в АИС EXMO представителям, участвующим в текущем цикле мониторинга органов власти, направляется им заблаговременно на адрес электронной почты, указанный на официальном сайте органа власти или иной адрес электронной почты органа власти. В приглашении указывается дата начала и окончания регистрации, адрес электронной почты, по которому необходимо направлять запросы на регистрацию. Приглашение на регистрацию в АИС EXMO также размещается на сайте Фонда Свободы Информации (Института Развития Свободы Информации).</p>
    <p>Уведомление о получении Фондом запроса на регистрацию направляется в автоматическом режиме на адрес электронной почты, с которого был направлен запрос на регистрацию.</p>
    <p>Период взаимодействия и время ответа рассчитываются, исходя из количества зарегистрированных представителей органов власти, а также из объема ресурсов, направляемых на обеспечение бесперебойной коммуникации экспертов с зарегистрированными представителями органов власти в рамках АИС EXMO. В исключительных случаях, связанных с большим числом поступивших от зарегистрированных представителей органов власти сообщений, время ответа может быть увеличено.</p>

    <h2>Как осуществляется доступ к АИС EXMO представителей органов власти?</h2>
    <p>После обработки запросов на регистрацию, полученных от представителей органов власти, в ответ на запрос представителю органа власти направляется ссылка на страницу регистрации и <b>уникальный код для регистрации в АИС EXMO</b>. Эти данные направляются органам власти на официальный адрес электронной почты, указанный в Запросе на регистрацию. В уведомлении также указываются даты начала и окончания Периода взаимодействия и время ответа.</p>
    <p>Доступ в систему зарегистрированных представителей органов власти в течение периода взаимодействия открыт круглосуточно и осуществляется через веб-интерфейс по адресу <a href="http://exmo.svobodainfo.org">http://exmo.svobodainfo.org</a>.</p>
    <p>Доступ в АИС EXMO может быть ограничен в связи с проведением технологических работ. Информация об ограничении доступа в систему и сроках проведения технических работ размещается на странице авторизации доступа в систему АИС EXMO. При существенных по времени ограничениях доступа период взаимодействия может быть продлен, о чем всем зарегистрированным представителям органов власти будет направлено соответствующее уведомление.</p>
    <p>Для доступа в систему необходимо перейти на страницу регистрации <a href="http://exmo.svobodainfo.org/exmo2010/accounts/register/">http://exmo.svobodainfo.org/exmo2010/accounts/register/</a> и пройти процедуру регистрации, введя информацию о себе, а также код приглашения. Оценки сайта органа власти отображаются только после начала периода взаимодействия.</p>
    <p>Для доступа к оценкам сайта органа власти и их комментирования необходимо перейти в раздел "Оценки моей организации".</p>
    <h3>Открытие доступа</h3>
    <p>Доступ к АИС EXMO открывается для зарегистрированных представителей органов власти одновременно после завершения предварительной оценки официального сайта в рамках текущего цикла мониторинга. Уведомления об открытии доступа в систему направляются на официальный адрес электронной почты всех зарегистрированных представителей органов власти, участвующих в текущем цикле мониторинга.</p>
    <h3>Доступ к системе в период взаимодействия</h3>
    <p>Зарегистрированный представитель органа власти в течение периода взаимодействия имеет возможность ознакомиться только с оценками своего официального сайта.</p>
    <p>Для комментирования любого из параметров оценки, в том числе для сообщений об изменениях на сайте, необходимо перейти по ссылке на соответствующий параметр в таблице оценок.</p>
    <p>Обсуждение зарегистрированными представителями органов власти предварительных результатов мониторинга с экспертами возможно в течение всего периода взаимодействия и только посредством функционала АИС EXMO. Обсуждение результатов происходит через сервис обратной связи, предоставляющий соответствующим зарегистрированным представителям органа власти возможность задать вопрос или оставить комментарий к оценкам по каждому параметру мониторинга. При этом сообщение автоматически публикуется на странице с оценками параметра, а на официальный адрес электронной почты, указанный в запросе на регистрацию, приходит уведомление с содержанием сообщения.</p>
    <p>После оставления зарегистрированным представителем органа власти в АИС EXMO сообщения в течение времени отклика там же публикуется ответ экспертов, и при необходимости корректируется соответствующая оценка, о чем также направляется уведомление с содержанием ответа на официальный адрес электронной почты, указанный в запросе на регистрацию. АИС EXMO обеспечивает для зарегистрированных представителей органов власти возможность отключения или изменения функции направления уведомлений посредством соответствующих настроек интерфейса. Отключение или изменение функции уведомлений можно произвести на странице "Настройки".</p>
    <p>В случае, если в течение периода взаимодействия будут вноситься изменения на сайт органа власти, необходимо сообщить об этом экспертам, оставив комментарий в соответствующем параметре в АИС EXMO и приведя ссылку на соответствующий раздел сайта, чтобы эксперты могли оперативно изменить проставленные оценки. Изменения оценок производятся только на основании комментариев, оставленных в АИС EXMO.</p>
    <p>По завершении периода взаимодействия сообщения зарегистрированных представителей органов власти перестают приниматься к рассмотрению. При этом за зарегистрированным представителем органа власти сохраняется доступ в систему с возможностью видеть все сообщения, опубликованные в период взаимодействия, и результаты мониторинга, касающиеся сайта соответствующего органа власти.</p>
    <h3>Доступ к системе по истечении периода взаимодействия</h3>
    <p>По завершению мониторинга за зарегистрированными представителями органов власти сохраняется доступ в систему с возможностью видеть все сообщения, опубликованные в период взаимодействия, и результаты мониторинга, касающиеся своего органа власти.</p>
    <h3>Доступ к окончательным результатам мониторинга</h3>
    <p>Доступ к окончательным результатам завершенного цикла мониторинга по всем органам власти обеспечивается посредством АИС EXMO любым заинтересованным лицам без регистрации.</p>

    <h2>Каков порядок опубликования результатов законченного цикла мониторинга официальных сайтов органов власти в автоматизированной информационной системе EXMO?</h2>
    <h3>Цели опубликования</h3>
    <p>Целями опубликования результатов законченного цикла мониторинга официальных сайтов органов власти в автоматизированной информационной системе EXMO являются:<br/>
    * доведение до сведения общественности полученных в результате проведения цикла мониторинга данных, характеризующих открытость в деятельности органах власти на определенный период времени;<br/>
    * предоставление возможности органам власти изучить эти данные и использовать их для развития своих официальных сайтов;<br/>
    * обеспечение прозрачности в деятельности Фонда Свободы Информации (Института Развития Свободы Информации).</p>
    <h3>Объем данных подлежащих опубликованию в АИС EXMO</h3>
    <p>Опубликованию подлежат следующие исходные данные по каждому органу власти:<br/>
    * все параметры и критерии, используемые в рамках проведения цикла мониторинга;<br/>
    * значения всех коэффициентов по каждому критерию и каждому параметру;<br/>
    * пояснения экспертов группы Б по критериям и параметрам (в случае их наличия).</p>
    <p>Опубликованию подлежат следующие производные данные:<br/>
    * рейтинг информационной доступности официальных сайтов органов власти, участвовавших в мониторинге;<br/>
    * среднее значение коэффициента информационной доступности по органам власти, участвовавшим в мониторинге;<br/>
    * рейтинг информационной доступности органов власти по уровню в иерархии (в случае мониторинга официальных сайтов судов, которые разделяются на три уровня: районные, областные и Верховный Суд РФ);<br/>
    * среднее значение коэффициента информационной доступности по каждому уровню в иерархии.</p>
    <p>Не подлежат опубликованию комментарии зарегистрированных представителей органов власти и экспертов, оставленные в АИС EXMO в период взаимодействия.</p>
    <h3>Форма опубликования результатов мониторинга</h3>
    <p>Результаты каждого законченного цикла мониторинга публикуются в АИС EXMO в формате HTML, позволяющем пользователю ознакомиться с перечнем параметров, шкалой критериев и со значениями всех коэффициентов по каждому параметру, критерию и органу власти, участвующему в законченном цикле мониторинга. Пользователям обеспечивается возможность ознакомиться с опубликованными результатами каждого законченного цикла мониторинга без регистрации и иных ограничений, в том числе без ограничений по времени.</p>
    <h2>Важные ссылки</h2>
    <p>Регламент взаимодействия представителей органов власти с экспертами в ЕХМО:<br/>
    <a href="http://www.svobodainfo.org/ru/node/898">http://www.svobodainfo.org/ru/node/898</a></p>
    <p>При возникновении вопросов, связанных с работой системы EXMO, обращайтесь в службу технической поддержки: <b>tsupport@svobodainfo.org</b>.</p>
{% endblock %}
