{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}exmo2010/css/help_page.css" />
{% endblock %}

{% block content %}
    <h1>{% trans 'Help' %}</h1>
    <h2>Каково назначение автоматизированной информационной системы EXMO?</h2>
    <p class="bold">ЭКСМО — комплексная информационная система, предназначенная для проведения интерактивных мониторингов официальных сайтов органов власти с целью повышения уровня их информационной открытости, а также сбора, обработки и хранения результатов мониторинга и ознакомления с ними всех заинтересованных пользователей (органов власти, СМИ, исследователей и др.).</p>
    <p>ЭКСМО представляет собой эффективную коммуникационную площадку органов власти и экспертов, основной целью которой является сделать официальные сайты лучше и удобнее для пользователей, более открытыми и прозрачными, а также соответствующими российским законам о доступе к информации.</p>
    <p>ЭКСМО позволяет представителям органов власти до подведения итогов текущего цикла мониторинга и формирования рейтинга информационной открытости сайтов знакомиться с предварительными результатами мониторинга своего официального сайта, исправлять выявленные недостатки и задавать вопросы по параметрам и присвоенным оценкам. Представители органов власти вправе  не соглашаться с позицией экспертов Фонда. В результате такого взаимодействия производится пересмотр оценок по параметрам, и изменяется итоговый коэффициент информационной открытости официальных сайтов. Эксперты Фонда всегда открыты к диалогу и готовы совместными усилиями разобраться в любой спорной ситуации.</p>
    <p>Кроме того,  ЭКСМО позволяет всем заинтересованным лицам знакомиться с окончательными результатами мониторинга.</p>

    <p class="bold">ЭКСМО решает следующие задачи:</p>
    <ul>
        <li>проведение интерактивного мониторинга официальных сайтов органов власти с целью повышения уровня их информационной открытости</li>
        <li>сбор, хранение и обработка данных об информационной открытости сайтов различных организаций и органов власти</li>
        <li>обеспечение качественного и оперативного взаимодействия между органами власти и экспертами Фонда с целью повышения информационной открытости сайтов</li>
        <li>обеспечение возможности органам власти получить дистанционную практико-ориентированную индивидуальную консультацию экспертов относительно содержания их официальных сайтов и их соответствия законам о доступе к информации</li>
        <li>доведение до сведения общественности полученных в результате проведения цикла мониторинга данных, характеризующих информационную открытость органов власти за определенный период времени </li>
    </ul>

    <h2>Как зарегистрироваться в системе EXMO?</h2>
    <p>В целях ознакомления с предварительными результатами мониторинга по своему сайту и коммуникации с экспертами для представителей органов власти обеспечивается доступ к  ЭКСМО.</p>
    <p>Для этого представителям органов власти необходимо пройти регистрацию и ввести код приглашения. Регистрация осуществляется после заполнения специальной формы на странице ЭКСМО <a href="http://exmo.svobodainfo.org/exmo2010/accounts/register/">http://exmo.svobodainfo.org/exmo2010/accounts/register/</a></p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_1.png" />
    <p>Для регистрации представителя органа власти необходимо заполнить основные поля регистрационной формы (звездочкой отмечены поля, обязательные к заполнению):</p>
    <ol>
        <li>В поле «Статус» необходимо выбрать «представитель организации».</li>
        <li>Поля «Имя», «Отчество», «Фамилия» и «Должность» необходимы, чтобы эксперты Фонда знали, как к Вам обращаться в процессе коммуникации.</li>
        <li>Указание контактного телефона необходимо для оперативного решения проблем, которые могут  возникнуть в процессе использования АИС ЭКСМО.</li>
        <li>Указание адреса электронной почты является обязательным и необходимо для подтверждения регистрации, входа в систему, для рассылки уведомлений о комментариях, изменениях оценок и новостей. Кроме того, адрес электронной почты может быть использован для восстановления пароля в случае его утраты.</li>
        <li>Введение пароля является обязательным и необходимо для входа в систему. Рекомендуем создавать сложный пароль, используя латинские буквы (A-Z, a-z) и цифры (0-9) для обеспечения безопасности.</li>
        <li>В поле «Код приглашения» необходимо ввести код для получения доступа к оценкам своей организации (код приглашения высылается автоматически в письме-приглашении на регистрацию перед началом взаимодействия). Информация, полученная в этом поле, используется для привязки пользователя к конкретной организации в цикле мониторинга. Если по каким-либо причинам Вы не получили код приглашения, пожалуйста, свяжитесь с нашей службой технической поддержки по электронной почте <a href="mailto:tsupport@svobodainfo.org">tsupport@svobodainfo.org</a> или тел. +7 (812) 766-52-61</li>
        <li>После заполнения регистрационной формы нажмите на кнопку «Зарегистрироваться».</li>
    </ol>

    <p>После регистрации на указанный e-mail отправляется письмо. Для подтверждения регистрации необходимо перейти по ссылке внутри письма. После этого можно использовать весь функционал системы ЭКСМО.</p>
    <p>Регистрация необходима для обеспечения беспрепятственного доступа органов власти к результатам мониторинга по своим сайтам, а также для планирования нагрузки экспертов в ходе работы в период взаимодействия и прогнозирования времени отклика.</p>
    <p>Для обеспечения безопасности и актуализации регистрационных данных  в каждом новом цикле мониторинга уже зарегистрированному органу власти в настойках профиля необходимо ввести только новый код приглашения.</p>
    
    <h2>Приглашение на регистрацию</h2>
    <p>Приглашение на регистрацию в  ЭКСМО представителям органов власти, участвующим в текущем цикле мониторинга, направляется заблаговременно на адрес электронной почты, указанный на официальном сайте органа власти. В приглашении указывается дата начала и окончания регистрации, периода взаимодействия, а также ссылка на страницу в АИС ЭКСМО, на которой осуществляется регистрация. Анонс-приглашение на регистрацию в  ЭКСМО также размещается на главной странице <a href="http://svobodainfo.org/">сайта Фонда</a>. Регистрация представителей органов власти осуществляется в течение всего периода взаимодействия.</p>
    <p>Для того, чтобы зарегистрироваться в системе ЭКСМО для взаимодействия с экспертами Фонда, представителю органа власти необходимо:</p>
    <ol>
        <li>Перейти по ссылке <a href="http://exmo.svobodainfo.org/exmo2010/accounts/register/">http://exmo.svobodainfo.org/exmo2010/accounts/register/</a></li>
        <li>Заполнить форму регистрации</li>
        <li>Ввести код приглашения для доступа к оценкам своей организации, полученный в письме-приглашении Фонда</li>
    </ol>

    <p>Перед началом взаимодействия эксперты определяют продолжительность периода, на который для представителей органов власти будет открыт доступ к ЭКСМО (далее — период взаимодействия), а также время, необходимое на обработку одного сообщения зарегистрированного представителя органа власти, оставленного в системе ЭКСМО (время отклика). Период взаимодействия и время отклика рассчитываются исходя из количества зарегистрированных представителей органов власти, а также из объема ресурсов, направляемых на обеспечение бесперебойной коммуникации экспертов с зарегистрированными представителями органов власти в рамках ЭКСМО. В исключительных случаях, связанных с большим числом поступивших от зарегистрированных представителей органов власти сообщений, время отклика может быть увеличено.</p>
    <p>Доступ к предварительным результатам мониторинга осуществляется только после регистрации представителя органа власти в ЭКСМО.</p>
    
    <h2>Удаление учетной записи в ЭКСМО</h2>
    <p>Дезактивация регистрационных данных производится специалистами Фонда только по обращению от представителя соответствующего органа власти, направленному на адрес электронной почты: <a href="mailto:tsupport@svobodainfo.org">tsupport@svobodainfo.org</a></p>
    
    <h2>Ограничение доступа в ЭКСМО</h2>
    <p>Доступ к ЭКСМО результатам мониторинга во время периода взаимодействия открывается для зарегистрированных представителей органов власти одновременно после завершения предварительной оценки официального сайта в рамках текущего цикла мониторинга.</p>
    <p>Доступ в систему зарегистрированных представителей органов власти в течение периода взаимодействия открыт круглосуточно и осуществляется по адресу <a href="http://exmo.svobodainfo.org/">http://exmo.svobodainfo.org</a></p>
    <p>Доступ в ЭКСМО может быть ограничен в связи с проведением технологических работ. Информация об ограничении доступа в систему и сроках проведения технических работ размещается на странице авторизации доступа в систему ЭКСМО. При ограничениях доступа период взаимодействия может быть продлен, о чем всем зарегистрированным представителям органов власти будет направлено соответствующее уведомление.</p>

    <h2>Доступ к системе в период взаимодействия</h2>
    <p>Зарегистрированные представители органов власти в период взаимодействия имеют возможность ознакомиться с результатами мониторинга только по официальному сайту своего органа власти.</p>
    <p>Для просмотра опубликованных циклов мониторинга необходимо перейти на главную страницу ЭКСМО и выбрать интересующий цикл мониторинга (кликнув по  гиперссылке).</p>
    <p>Для того, чтобы перейти на страницу оценок своего органа власти, необходимо войти в систему под своей учетной записью. Для этого нужно ввести на странице <a href="http://exmo.svobodainfo.org/exmo2010/accounts/login/">http://exmo.svobodainfo.org/exmo2010/accounts/login/</a> логин (или адрес электронной почты) и пароль.</p>
    <p>Для доступа в систему необходимо перейти на страницу регистрации <a href="http://exmo.svobodainfo.org/exmo2010/accounts/register/">http://exmo.svobodainfo.org/exmo2010/accounts/register/</a> и пройти процедуру регистрации, введя информацию о себе, а также код приглашения. Оценки сайта органа власти отображаются только после начала периода взаимодействия.</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_2.png" />
    <p>Далее перейдите в раздел «Мои оценки» на панели быстрого доступа или основного навигационного меню.</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_3.png" />
    <p>Также оценочную таблицу своего органа власти можно увидеть, кликнув по нужному названию цикла мониторинга на главной странице ЭКСМО.</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_4.png" />
    <p>На странице оценок можно просматривать сводные оценки по организации и оценки по каждому параметру.</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_5.png" />
    <p>На указанной странице содержится следующая информация:</p>
    <ul>
        <li>название организации, являющееся ссылкой на сайт организации (объект мониторинга)</li>
        <li>КИО сайта (Коэффициент информационной открытости – показатель, характеризующий степень  открытости сайта)</li>
        <li>в скобках отображается место организации в сводном рейтинге информационной открытости</li>
        <li>КИО по параметрам на основе нормативных правовых актов: отображается коэффициент информационной открытости,  рассчитанный по параметрам на основе нормативных правовых актов</li>
        <li>КИО по дополнительным параметрам: отображается коэффициент информационной открытости, рассчитанный по дополнительным (экспертным) параметрам</li>
        <li>версия для печати: при нажатии в новом окне открывается страница без шапки с таблицей оценок в упрощенном виде без цветового кодирования.</li>
        <li>версия для печати с комментариями: при нажатии в новом окне открывается страница без шапки с таблицей оценок в упрощенном виде без цветового кодирования, под параметрами в таблице отображаются комментарии к оценкам критериев</li>
        <li>экспортировать задачу в CSV: при нажатии предлагается сохранить файл формата CSV, содержащий таблицу оценок организации по всем параметрам и критериям, с комментариями к оценке критерия</li>
    </ul>

    <p>Таблица оценок содержит следующую информацию:</p>
    <ul>
        <li>В начале списка параметров располагаются параметры на основе нормативных правовых актов. Также при наличии экспертных параметров в таблице будет заголовок «Дополнительные параметры», который будет отделять параметры на основе НПА от экспертных (дополнительных) параметров</li>
        <li>В столбце «Параметр» находится список всех параметров, по которым производилась оценка сайта</li>
        <li>в столбцах «Наличие», «Полнота», «Актуальность», «Навигационная доступность», «HTML доступность» и «Файловая доступность» отображаются выставленные экспертами оценки.</li>
        <li>в столбце «КСЗ» отображается поставленный параметру коэффициент социальной значимости.</li>
        <li>внизу страницы оценок содержится расшифровка цветовой схемы, используемой для визуализации поставленных оценок</li>
    </ul>

    <p>Чтобы увидеть пояснения экспертов по оценкам параметров, а также ссылки на найденную на сайтах информацию, необходимо кликнуть по гиперссылке конкретного параметра.</p>
    <p>Обсуждение зарегистрированными представителями органов власти предварительных результатов мониторинга с экспертами возможно в течение всего периода взаимодействия и только посредством функционала системы ЭКСМО.</p>
    <p>Обсуждение результатов происходит через сервис обратной связи, предоставляющий зарегистрированным представителям органа власти возможность задать вопрос или оставить комментарий к оценкам по каждому параметру мониторинга.  При этом сообщение автоматически публикуется на странице с оценками параметра (комментарий будет виден только экспертам Фонда и зарегистрированному пользователю от органа власти), а на официальный адрес электронной почты, указанный в регистрационной форме, приходит уведомление с содержанием сообщения.</p>
    <p>После оставления зарегистрированным представителем органа власти сообщения в ЭКСМО в течение времени отклика там же публикуется ответ экспертов и при необходимости корректируется соответствующая оценка, о чем также направляется уведомление с содержанием ответа на официальный адрес электронной почты, указанный в регистрационной форме.</p>
    <p>Для того, чтобы оставить сообщение, следует перейти по гиперссылке конкретного параметра:</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_6.png" />
    <p>На появившейся странице оценок параметра появится поле для комментариев. В появившемся поле можно написать комментарий (задать вопрос) эксперту Фонда.</p>
    <p>После написания комментария следует кликнуть на кнопку «Оставить комментарий».</p>
    <p>После этого комментарий будет опубликован в системе. Эксперт ответит Вам на комментарий в этом же поле в течение установленного периода времени.</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_7.png" />
    <p>После опубликования комментария на этой же странице отображается информация о дате и времени оставления комментария, а также о крайнем сроке ответа на комментарий от представителя Фонда.</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_8.png" />
    <p>По истечении периода взаимодействия сообщения зарегистрированных представителей органов власти к рассмотрению не принимаются. ЭКСМО обеспечивает для зарегистрированных представителей органов власти возможность отключения или изменения функции направления уведомлений посредством соответствующих настроек интерфейса на странице "Настройки".</p>

    <h2>Восстановление пароля для входа в систему</h2>
    <p>На страницу смены пароля пользователь может попасть со страницы «<a href="http://exmo.svobodainfo.org/exmo2010/accounts/login/">Войти в систему</a>», перейдя по ссылке «<a href="http://exmo.svobodainfo.org/exmo2010/accounts/password/reset/">Забыли пароль?</a>».</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_9.png" />
    <p>Пользователь может восстановить пароль,  если он его забыл.</p>
    <p>Для того, чтобы восстановить пароль, в поле «E-mail» следует ввести адрес электронной почты представителя органа власти. На этот адрес будет отправлено письмо со ссылкой, перейдя по которой, можно будет ввести новый пароль.</p>
    <p>При нажатии на кнопку «Восстановить пароль» проверяется корректность данных, введённых в поля ввода, и, если данные верны, пользователь авторизуется и  перенаправляется на главную страницу системы.  Если данные неверны, то выдается ошибка.</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_10.png" />
    
    <h3>Настройка различных параметров аккаунта представителя организации</h3>
    <p>Для того, чтобы перейти в раздел, содержащий возможности настройки различных параметров аккаунта представителя организации, следует перейти в раздел «Настройки» панели быстрого доступа.</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_11.png" /><br/>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_12.png" />
    <p>На этой странице можно изменить настройки своего профиля,  сменить пароль и настроить рассылку уведомлений для более комфортной работы в системе:</p>
    <ul>
        <li>изменить имя</li>
        <li>изменить фамилию</li>
        <li>изменить отчество</li>
        <li>изменить должность</li>
        <li>изменить контактный телефон</li>
        <li>изменить пароль</li>
        <li>изменить параметры рассылки уведомлений об изменении оценок (варианты выбора: не присылать, сообщать о каждом новом изменении, сообщать о всех изменениях за промежуток времени.  Дополнительный выпадающий список появляющийся при выборе значения «сообщать о всех изменениях за промежуток времени». Варианты выбора: в 1 час, в 3 часа, в 6 часов, в 12 часов, в 24 часа).</li>
        <li>изменить параметры рассылки уведомлений о комментариях (варианты выбора основного выпадающего списка: не присылать, о каждом новом изменении, о всех за промежуток времени. Дополнительный выпадающий список появляющийся при выборе в основном значения «сообщать о всех изменениях за промежуток времени». Варианты выбора: в 1 час, в 3 часа, в 6 часов, в 12 часов, в 24 часа).</li>
        <li>включить функцию  «Присылать мои комментарии» (следует поставить галочку в соответствующем поле)</li>
    </ul>

    <p>После завершения настроек следует нажать на кнопку «Сохранить»</p>
    
    <h2>Доступ к системе по истечении периода взаимодействия</h2>
    <p>По завершению мониторинга за зарегистрированными представителями органов власти сохраняется доступ в систему с возможностью видеть все сообщения, опубликованные в период взаимодействия, и результаты мониторинга, касающиеся своего органа власти.</p>
    
    <h2>Доступ к окончательным результатам мониторинга</h2>
    <p>Доступ к опубликованным результатам завершенного цикла мониторинга по всем органам власти обеспечивается посредством ЭКСМО всем заинтересованным лицам без регистрации.</p>
    <p>Итоги Мониторинга официальных сайтов органов власти являются общедоступной информацией и по его завершении подлежат свободному опубликованию, в том числе в СМИ, для всеобщего ознакомления.</p>

    <h2>Каков порядок опубликования результатов завершенного цикла мониторинга официальных сайтов органов власти в АИС ЭКСМО?</h2>
    <h3>Цели опубликования</h3>
    <p>Целями опубликования результатов завершенного цикла мониторинга официальных сайтов органов власти в  ЭКСМО являются:</p>
    <ul>
        <li>доведение до сведения общественности полученных в результате проведения цикла мониторинга данных, характеризующих информационную открытость органов власти за определенный период времени;</li>
        <li>предоставление возможности органам власти изучить эти данные и использовать их для развития своих официальных сайтов.</li>
    </ul>

    <h3>Объем данных, подлежащих опубликованию в ЭКСМО</h3>
    <p>Опубликованию подлежат следующие исходные данные по каждому органу власти:</p>
    <ul>
        <li>все параметры и критерии, используемые в рамках проведения цикла мониторинга;</li>
        <li>значения всех коэффициентов по каждому критерию и каждому параметру;</li>
        <li>пояснения экспертов группы Б по критериям и параметрам (в случае их наличия).</li>
    </ul>

    <p>Опубликованию подлежат следующие производные данные:</p>
    <ul>
        <li>рейтинг информационной открытости официальных сайтов органов власти, участвовавших в мониторинге;</li>
        <li>среднее значение коэффициента информационной открытости по органам власти, участвовавшим в мониторинге;</li>
        <li>рейтинг информационной открытости органов власти по уровню в иерархии (в случае мониторинга официальных сайтов судов, которые разделяются на три уровня: районные, областные и Верховный Суд РФ);</li>
        <li>среднее значение коэффициента информационной открытости по каждому уровню в иерархии.</li>
    </ul>

    <p class="bold italic">Не подлежат опубликованию комментарии зарегистрированных представителей органов власти и экспертов, оставленные в АИС EXMO в период взаимодействия.</p>
    <h3>Форма опубликования результатов мониторинга</h3>
    <p>Результаты каждого законченного цикла мониторинга публикуются в ЭКСМО в формате HTML, позволяющем пользователю ознакомиться с перечнем параметров, шкалой критериев и со значениями всех коэффициентов по каждому параметру, критерию и органу власти, участвовавшему в завершенном цикле мониторинга.</p>
    <p>Пользователям обеспечивается возможность ознакомиться с опубликованными результатами каждого завершенного цикла мониторинга без регистрации и иных ограничений.</p>
    
    <h2>Как посмотреть рейтинги по уже опубликованным циклам мониторинга?</h2>
    <p>В разделе «Рейтинги» содержатся рейтинги по всем опубликованным циклам мониторинга.</p>
    <p>Чтобы ознакомиться с рейтингом, необходимо выбрать цикл мониторинга. После этого можно выбрать вид рейтинга в выпадающем списке «Выберите цикл мониторинга».</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_13.png" />
    <p>Выбрать вид рейтинга можно в соответствующем поле.</p>
    <ul>
        <li>рейтинг по всем параметрам</li>
        <li>рейтинг по параметрам на основе НПА</li>
        <li>рейтинг по дополнительным (экспертным) параметрам</li>
        <li>рейтинг по пользовательским параметрам (формируется по параметрам, заданных пользователем из общего списка)</li>
    </ul>

    <img src="{{STATIC_URL}}exmo2010/img/instruction_14.png" />
    
    <h2>Как узнать статистику по циклам мониторинга?</h2>
    <p>В разделе «Статистика» пользователь может узнать основную статистику по текущим и завершенным циклам мониторинга, а именно:</p>
    <ul>
        <li>название цикла мониторинга</li>
        <li>этап цикла мониторинга</li>
        <li>дата начала первоначальной оценки</li>
        <li>дата начала этапа взаимодействия</li>
        <li>дата окончания этапа взаимодействия</li>
        <li>дата публикации результатов мониторинга</li>
        <li>сколько всего сайтов в цикле мониторинга</li>
        <li>закончена ли оценка сайтов</li>
        <li>сколько зарегистрированных представителей организаций</li>
        <li>сколько активных представителей организаций</li>
        <li>сколько задействовано аналитиков</li>
        <li>сколько поступило комментариев от представителей организаций</li>
        <li>сколько поступило комментариев от аналитиков</li>
        <li>среднее значение первичного КИО</li>
        <li>среднее значение актуального КИО</li>
    </ul>

    <img src="{{STATIC_URL}}exmo2010/img/instruction_15.png" />

    <h2>Форма обратной связи в ЭКСМО</h2>
    <p>В подвале (поле внизу страницы) ЭКСМО расположена гиперссылка на форму обратной связи</p>
    <img src="{{STATIC_URL}}exmo2010/img/instruction_16.png" />
    <p>По этой форме принимаются обращения, вопросы, замечания в службу технической поддержки ЭКСМО.</p>
    
    <h2>Важные ссылки</h2>
    <p>Регламент взаимодействия представителей органов власти с экспертами в  ЭКСМО: <a href="http://www.svobodainfo.org/ru/node/898">http://www.svobodainfo.org/ru/node/898</a></p>
    <p>Методика мониторинга официальных сайтов органов власти: <a href="http://www.svobodainfo.org/ru/node/902">http://www.svobodainfo.org/ru/node/902</a></p>
    <p>При возникновении вопросов, связанных с работой ЭКСМО, обращайтесь в нашу службу технической поддержки по эл. почте <a href="mailto:{{ support_email }}">{{ support_email }}</a> или тел. +7(812)766-03-66</p>

{% endblock %}
