{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/settings.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/form_errors.css' %}"/>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'exmo2010/js/user_settings.js' %}"></script>
{% endblock %}

{% block h1 %}<h1>{% trans 'Preferences' %}</h1>{% endblock %}

{% block content %}
    <p>{% trans 'Here you can change your account, password and notification settings.' %}</p>

    <h2>{% trans 'Personal information' %}</h2>

    {% if pers_inf_form_mess %}
        <p class="success">
            {% trans 'Personal information successfully changed' %}
        </p>
    {% endif %}

    {% include "exmo2010/helpers/form_errors.html" with form=pers_inf_form %}

    <form action="" method="post">
        {% csrf_token %}
        <table class="table-setings">
            <tbody>
                <tr>
                    <td>
                        {% trans 'E-mail' %}
                    </td>
                    <td>
                        {{ email }}
                    </td>
                </tr>
                {% for field in pers_inf_form %}
                <tr>
                    <td>
                        {{ field.label_tag }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="{% trans 'Save' %}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr />

    {% if not is_internal %}
    <h2>{% trans 'Invitation code' %}</h2>

    {% if inv_code_form_mess %}
        <p class="success">
            {{ inv_code_form_mess }}
        </p>
    {% endif %}

    {% include "exmo2010/helpers/form_errors.html" with extra_error=inv_code_form_err %}

    <form action="" method="post">
        {% csrf_token %}
        <table class="table-setings">
            <tbody>
            {% for field in inv_code_form %}
                <tr>
                    <td>
                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="{% trans 'Send' %}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr />
    {% endif %}

    <h2>{% trans 'Change password' %}</h2>

    {% include "exmo2010/helpers/form_errors.html" with form=ch_pass_form %}

    {% if ch_pass_form_mess %}
        <p class="success">
            {{ ch_pass_form_mess }}
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table class="table-setings">
            <tbody>
            {% for field in ch_pass_form %}
                <tr>
                    <td>
                        {{ field.label_tag }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="{% trans 'Apply password change' %}" />
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <hr />

    <h2>{% trans 'E-mail notifications' %}</h2>

    {% if send_notif_form_mess %}
        <p class="success">
            {{ send_notif_form_mess }}
        </p>
    {% endif %}

    {% include "exmo2010/helpers/form_errors.html" with form=send_notif_form %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="main_block">
            {% if is_internal or is_organization %}
                <div  class="float-left">
                    {{ send_notif_form.notification_type.label }}
                </div>
                <div class="right_field">
                    {{ send_notif_form.notification_type }}
                    {{ send_notif_form.notification_interval }}
                </div>
                <div class="right_field">
                    {{ send_notif_form.notification_self }}
                    {{ send_notif_form.notification_self.label }}
                </div>
                <div class="right_field">
                    {{ send_notif_form.notification_thread }}
                    {{ send_notif_form.notification_thread.label }}
                </div>
            {% endif %}

            <div class="right_field">
                {{ send_notif_form.subscribe }}
                {{ send_notif_form.subscribe.label }}
            </div>

            <div class="right_field">
                <input type="submit" name="notify_submit" value="{% trans 'Save' %}" />
            </div>
        </div>
    </form>
{% endblock %}
