{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n trim_links urlize_soup target_blank future %}

{% if score.perms.view_clarification %}
    {% if score.clarification_set.all %}
        <table class="table-messages-parameter">
            <tbody>
            {% for c in score.clarification_set.all %}
                <tr>
                    <td {% if not c.close_user and not score.perms.add_clarification %} class="not-answered"{% endif %}>
                        <span class="messages-author"> {{ c.creator.profile.legal_name }} </span>

                        <span class="messages-date"> {{ c.open_date|date:"SHORT_DATETIME_FORMAT" }} </span>

                        <div class="messages-content"> {{ c.comment|safe|urlize_soup|trim_links|target_blank }} </div>

                        {% if c.answer %}
                            <div class="messages-answer">
                                <span class="messages-author"> {{ c.close_user.profile.legal_name }} </span>
                                <span class="messages-date"> {{ c.close_date|date:"SHORT_DATETIME_FORMAT" }} </span>
                                <div class="messages-content"> {{ c.answer|safe|urlize_soup|trim_links|target_blank }} </div>
                            </div>
                        {% endif %}

                        {% if not request.user.is_superuser and c.creator != request.user and not c.answer and score.perms.answer_clarification %}
                            <div class="messages-reply">
                                <a class="answer_form_toggle pseudo" href="#" data-prefix="{{ c.answer_form.prefix }}">
                                    {% trans "Answer clarification" %}
                                </a>
                            </div>

                            <div class="answer_form reply-form-tweak" style="display: none;">
                                <form action="{% url 'exmo2010:clarification_answer' c.pk %}" method="post">{% csrf_token %}
                                    <div class="fieldWrapper">
                                        <h3 class="claim-label heading-yourmessage-parameter">{% trans "Your clarification answer" %}</h3>
                                        {{ c.answer_form.answer }}
                                        <input type="submit" disabled="disabled" class="submit-post" value="{% trans 'Reply' %}">
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans 'There are no clarifications' %}
    {% endif %}
{% endif %}

{% if score.perms.add_clarification %}
    <div id="add-clarification">
        <form action="{% url 'exmo2010:clarification_create' score.pk %}" method="post">{% csrf_token %}
            <div class="fieldWrapper">
                <h3 class="clarification-label heading-yourmessage-parameter">{% trans "Your clarification" %}</h3>
                {{ models.Clarification.form.comment }}
                <input type="submit" disabled="disabled" class="submit-post" value="{% trans 'Clarify' %}">
            </div>
        </form>
    </div>
{% endif %}
