/*
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

h2 {
    margin: 0;
}

.observers-content-block > h2 {
    display: inline;
    margin-right: 12px;
}

.tab-content {
    margin-top: 15px;
}

.submit-cell {
    width: 80px;
}

.observers-table caption {
    margin-bottom: 15px;
}

.observers-table table th span {
    cursor: pointer;
    border-bottom: 1px dotted;
}

#observers_form td {
    text-align: right;
    border: none;
}

#observers_form td.field {
    text-align: left;
}

#edit_btn {
    width: 120px;
    margin-right: 20px;
}

#add_btn {
    width: 100px;
}

.delete-form {
    margin-top: 10px;
}

.delete-form input {
    width: 185px;
    margin-top: 20px;
}

tr.zebra:nth-child(odd) {
    background: #f5f5f5;
}
