{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}

{% block nav_sidebar %}
    {% include "exmo2010/nav_sidebar/monitoring_utility.html" %}
{% endblock %}

{% block nav_sidebar_title %}<h1>{{ monitoring.name }}</h1>{% endblock %}
{% block content_title %}{% trans "Task assignment" %}{% endblock %}
{% block content_class %}sidebar-ident{% endblock %}
{% block content %}
    {% if log %}
        <div id="failure">{% trans "Process log:" %}:
            <ul>
                {% for message in log %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">{% csrf_token %}
        <select multiple="multiple" name="users">
            {% for user in users %}<option value="{{user.pk}}">{{user.userprofile.legal_name}}</option>{% endfor %}
        </select>
        <select multiple="multiple" name="organizations">
            {% for organization in organizations %}<option value="{{organization.pk}}">{{organization.name}}</option>{% endfor %}
        </select>
        <input type="submit" value="{% trans 'Send' %}" />
    </form>

{% endblock %}
{% block footer %}{% include "exmo2010/footer.html" %}{% endblock %}
