{% extends "base_sidebar.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}{{ view.task.organization.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/reports_analyst.css' %}"/>
{% endblock %}

{% block h1 %}<h1>{{ view.task.organization.name }}</h1>{% endblock %}

{% block bubble %}
    {% include "exmo2010/helpers/inv_code_bubble.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans 'History' %}</h2>

    <table class="base-table">
        <tbody>
            <tr>
                <th>{% trans 'Time and date' %} <span class="arrow">↓</span></th>
                <th>{% trans 'Expert' %}</th>
                <th>{% trans 'Stage' %}</th>
            </tr>

            {% for item in history %}
                <tr>
                    <td>{{ item.timestamp|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ item.user.userprofile.legal_name }}</td>
                    <td>{{ item.get_status_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
