{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n monitoring_stats static %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .ajaxloader {
            height: 11px;
            width: 11px;
        }
    </style>
    <script>
        $(function(){
            function show_status_actions(td) {
                $(td).children('img').hide();  // hide "loading..." image
                $(td).children('.task_status_display').show();
                var perms = $(td).data('perms').split(' ');
                for (var i = 0; i < perms.length; i++) {
                    action_class = '.perms_' + perms[i];
                    $(td).find(action_class).show();  // show permitted action
                }
            }

            $('td.task-status').each(function(){show_status_actions(this)});

            $(document).on('click', 'td.task-status a', function () {
                var td = $(this).closest('td')
                td.children().hide().filter('img').show();  // hide contents, show "loading..." image
                $.post($(this).attr('href'))
                    .done(function(new_data) {
                        td.data('perms', new_data.perms);
                        td.children('.task_status_display').html(new_data.status_display);
                        show_status_actions(td);
                    })
                    .fail(function() {
                        // Permision denied or error
                        show_status_actions(td);  // just show previous state
                    })
                return false;
            });
        });
    </script>
{% endblock %}

{% block nav_sidebar %}
    {% if request.user.is_active and request.user.userprofile.is_expert or request.user.is_superuser %}
        {% include "exmo2010/nav_sidebar/monitoring_utility.html" %}
    {% endif %}
{% endblock %}
{% block nav_sidebar_title %}
    {% if request.user.is_active and request.user.userprofile.is_expert or request.user.is_superuser %}
        <h1>{{ monitoring.name }}</h1>
    {% endif %}
{% endblock %}
{% block content_class %}
    {% if request.user.is_active and request.user.userprofile.is_expert or request.user.is_superuser %}
        sidebar-ident
    {% endif %}
{% endblock %}

{% block content_title %}{% trans "Tasks" %}{% endblock %}
{% block content %}
<div id=task_list>
    <table>
        {% include 'exmo2010/table_header.html' with headers=headers %}

        <tbody>
        {% if monitoring.perms.admin_monitoring %}
            <tr>
                <td colspan=5>
                    <a href="{% url 'exmo2010:task_add' monitoring.pk %}?{{ request.GET.urlencode }}">{% trans 'Add new task' %}
                        &nbsp;<img src="{% static 'admin/img/icon_addlink.gif' %}"></a>
                </td>
            </tr>
        {% endif %}
        {% for task in object_list %}
            <tr id="task{{ task.pk }}">
                <td>
                    <a href="{% url 'exmo2010:score_list_by_task' task.pk %}" title="{{ task.organization.name}}">{{ task.organization.name|truncatewords:10 }}</a>
                    {% if monitoring.perms.admin_monitoring %}
                        &nbsp;<a href="{% url 'exmo2010:task_update' task.pk %}?{{request.GET.urlencode}}">
                            <img src="{% static 'admin/img/icon_changelink.gif' %}" ></a>&nbsp;
                    {% endif %}
                    {% if monitoring.perms.admin_monitoring and not monitoring.is_published %}
                        <a href="{% url 'exmo2010:task_delete' task.pk %}?{{ request.GET.urlencode }}">
                            <img src="{% static 'admin/img/icon_deletelink.gif' %}"></a>
                    {% endif %}
                </td>
                {% if monitoring.perms.admin_monitoring or user.userprofile.is_expertA %}
                    <td>
                        {{ task.user.userprofile.legal_name }}
                    </td>
                {% endif %}
                <td id="task-status-{{ task.pk }}" class="task-status" data-perms="{{task.perms}}">
                    <img class="ajaxloader hidden" width="8" height="8" src="{% static 'exmo2010/img/ajax-loader.gif' %}">
                    <span class="task_status_display">{{task.get_status_display}}</span>
                    <span class="perms_close_task hidden">&nbsp;<a href="{% url 'exmo2010:ajax_task_close' task.pk %}">{% trans 'close' %}</a></span>
                    <span class="perms_approve_task hidden">&nbsp;<a href="{% url 'exmo2010:ajax_task_approve' task.pk %}">{% trans 'approve' %}</a></span>
                    <span class="perms_open_task hidden">&nbsp;<a href="{% url 'exmo2010:ajax_task_open' task.pk %}">{% trans 'open' %}</a></span>
                </td>

                <td>
                    <a href="{% url 'exmo2010:score_list_by_task' task.pk %}">
                        {{ task.completeness|floatformat:1 }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "exmo2010/paginator.html" %}
</div>
{% if perm %}
    <br />
    {% monitoring_stats monitoring %}
{% endif %}
{%endblock%}
