{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n adminmedia check_object_permission %}
{% block extrahead %}{{ block.super }}
{% url django.views.i18n.javascript_catalog as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"/jsi18n/" }}"></script>
<script type="text/javascript">
function toggle(el) {
    django.jQuery('#' + el).toggle();
}
</script>
<script type="text/javascript">
function doZebra( comment_table )
{
   var table = document.getElementById( comment_table ); 
   f = 0; 
   for( var i=0; i < table.rows.length; i++ ){      
      table.rows[i].className = ( f ? 'bg1' : 'bg2' ); 
      f = ( f ? 0 : 1 );
   }
}
</script>
{{ media }}
{% endblock %}
{% block extrastyle %}{{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/forms.css" />   
   <style type="text/css">
      #head = {	      
         text-align:center;	
      }
      #cmenu {
         position: absolute; 
         right: 0px;         
         top: 112px; 
         width: 200px; 
         height:  235px;
         padding: 5px; 
         background: #f0f0f0;
         outline: 1px solid #F0F0F0;
      }
      tr.bg1 td { background-color:#DFE6E8; font-size: small; }
      tr.bg2 td { background-color:White;  font-size: small;}
   </style>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
   <a href="/">{% trans "Home" %}</a>&rsaquo;
   <a href="{% url exmo2010:monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
   <a href="{% url exmo2010:all_comments 1 %}">{% trans 'Comments' %}</a>&rsaquo;
{% if comment_type == 'all_comments' %}   
   <a href="{% url exmo2010:all_comments 1 %}">{% trans 'All comments' %}</a>&rsaquo;   
{% endif %}
{% if comment_type == 'unrequited_comments' %}
   <a href="{% url exmo2010:unrequited_comments 1 %}">{% trans 'Unrequited comments' %}</a>&rsaquo;   
{% endif %}
{% if comment_type == 'respond_comments' %}
   <a href="{% url exmo2010:respond_comments 1 %}">{% trans 'Respond comments' %}</a>&rsaquo;
{% endif %}
{% if comment_type == 'claim_comments' %}
   <a href="{% url exmo2010:claim_comments 1 %}">{% trans 'Claim comments' %}</a>&rsaquo;
{% endif %}   
</div>
{% endblock %}

{% block content %}
   <div id = "cmenu">
      <div style="width: 50%; margin-top: 35px; margin-left: auto; margin-right: auto; line-height: 200%; font-size: large;">{{ ctitle }}</div>
      <div style="line-height: 150%; padding-left: 20px;"> 
         <a href="{% url exmo2010:all_comments 1 %}">{% trans 'All comments' %}</a></br>
         <a href="{% url exmo2010:unrequited_comments 1 %}">{% trans 'Unrequited comments' %}</a>&nbsp;({{unrequited_count}})</br>
         <a href="{% url exmo2010:respond_comments 1 %}">{% trans 'Respond comments' %}</a>&nbsp;({{respond_count}})</br>
         <a href="{% url exmo2010:claim_comments 1 %}">{% trans 'Claim comments' %}</a></br>
      </div>
   </div>
   <div style="margin-left: 20px; margin-top: 20px; margin-right: 235px;" >  
   <table id="comment_table">
      <tr >
         <td><h3>User name</h1></td><td><h3>Comments</h1></td><td><h3>Add</h1></td><td><h3>Submit date</h1></td>
      </tr>
      {% for cm in comments %}
      <tr>
         <td >{{ cm.user_name }}</td>
         <td >{{ cm.comment }}</td>
         <td ><a href="{% url exmo2010:score_add_comment cm.object_pk %}">>>></a></td>
         <td style="width:  110px;">{{ cm.submit_date }}</td>
      </tr>
      {% endfor %}
   </table>   
   </div>
   <div style="width: 150px; margin-left: auto; margin-right: auto; outline: 1px solid #F0F0F0;">
      {% if comment_type == 'all_comments' %} 
         {% if pos_dec != 0 %}
            <a href="{% url exmo2010:all_comments pos_dec %}">{% trans '<< Prev' %}</a>&rsaquo;
         {% endif %}
         {% if next_stop == 0 %}
            <a href="{% url exmo2010:all_comments pos_inc %}">{% trans 'Next >>' %}</a>&rsaquo;
         {% endif %}
      {% endif %}
      {% if comment_type == 'unrequited_comments' %}
         {% if pos_dec != 0 %}
            <a href="{% url exmo2010:unrequited_comments pos_dec %}">{% trans '<< Prev' %}</a>&rsaquo;
         {% endif %}
         {% if next_stop == 0 %}
            <a href="{% url exmo2010:unrequited_comments pos_inc %}">{% trans 'Next >>' %}</a>&rsaquo;
         {% endif %}  
      {% endif %}
      {% if comment_type == 'respond_comments' %}
         {% if pos_dec != 0 %}
            <a href="{% url exmo2010:respond_comments pos_dec %}">{% trans '<< Prev' %}</a>&rsaquo;
         {% endif %}
         {% if next_stop == 0 %}
            <a href="{% url exmo2010:respond_comments pos_inc %}">{% trans 'Next >>' %}</a>&rsaquo;
         {% endif %}
      {% endif %}
      {% if comment_type == 'claim_comments' %}
         {% if pos_dec != 0 %}
            <a href="{% url exmo2010:claim_comments pos_dec %}">{% trans '<< Prev' %}</a>&rsaquo;
         {% endif %}
         {% if next_stop == 0 %}
            <a href="{% url exmo2010:claim_comments pos_inc %}">{% trans 'Next >>' %}</a>&rsaquo;
         {% endif %}
      {% endif %}   

   </div>  
<script type="text/javascript">doZebra('comment_table');</script>
{% endblock %}
