{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% extends "exmo2010/base_site.html" %}
{% load table_header i18n adminmedia monitoring_stats task_status %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Home' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
{{title}}
</div>
{% endblock %}
{% block pretitle %}
{% include "exmo2010/monitoring_utility.html" %}
{% endblock %}
{% block content %}
<div id=expert_list>
<table>
  {% table_header headers %}
  <tbody>
    <tr><td>
    {% for object in object_list %}
      <tr>
      <td>
        <a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring monitoring.pk %}?filter1={{ object.username }}">{{ object.username }}</a>
      </td>
      <td>
        <a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring monitoring.pk %}?filter1={{ object.username }}&filter2={%task_status 'open' %}">{{ object.open_tasks }}</a>
      </td>
      <td>
        <a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring monitoring.pk %}?filter1={{ object.username }}&filter2={%task_status 'ready' %}">{{ object.ready_tasks }}</a>
      </td>
      <td>
        <a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring monitoring.pk %}?filter1={{ object.username }}&filter2={%task_status 'approved' %}">{{ object.approved_tasks }}</a>
      </td>
      <td>
        <a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring monitoring.pk %}?filter1={{ object.username }}">{{ object.all_tasks }}</a>
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "exmo2010/paginator.html" %}
</div>
{% if user.is_superuser %}
    <br />
    {% monitoring_stats monitoring %}
{% endif %}
{%endblock%}
