{% load i18n %}
{% block agpl %}
<div id="footer" style='font-size: 10px;'>
<p>Copyright 2010, 2011 Al Nikolov</p>
<p>Copyright 2010, 2011 Institute for Information Freedom Development</p>
<p>This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.</p>
<p>This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.</p>
<p>A copy of the license should be available <a href="{{ MEDIA_URL }}exmo2010/license.txt">here</a>.
   If not, see <a href="http://www.gnu.org/licenses/">GNU licenses</a>.</p>
<p>Source code is available from <a href="http://vps.svobodainfo.org/exmo">EXMO site</a>.</p>
<p><img src="{{ MEDIA_URL }}exmo2010/license.png" alt="License" /></p>
</div>
<!-- STATS: Total: %(totTime).2f Python: %(pyTime).2f DB: %(dbTime).2f Queries: %(queries)d -->
{% endblock %}
