{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% block title %}{% trans 'External users gender distribution' %} | {% trans 'Exmo' %}{% endblock %}
{% block content %}
    <h1>{% trans 'External users gender distribution' %}:</h1>
        <table border="1">
            <tr>
                <th>{% trans 'Sex' %}</th>
                <th>{% trans 'Number of users' %}</th>
            </tr>
            {% for r in results %}
            <tr>
                {% if forloop.last %}
                <th>{{ r.0 }}</th>
                <th>{{ r.1 }}</th>
                {% else %}
                <td>{{ r.0 }}</td>
                <td>{{ r.1 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
{% endblock %}
