<!--
Copyright 2010 Al Nikolov <root@toor.spb.ru>, Helsinki, Finland
Copyright 2010 Institute of Information Freedom Development, non-profit partnership, Saint-Petersburg, Russia

This file is part of EXMO2010 software.

EXMO2010 is NOT distributable. NOBODY is permitted to use it without a written permission from the
above copyright holders.
-->
{% block nav %}
<style>
    #userinfo {
	width: 100%;
    }
    form { margin: 0px; padding: 0px; }
    table { border-color: #CCCCCC; border-collapse: collapse; }
</style>
<div id=userinfo>
{% if user.is_authenticated %}
Welcome, {{user.first_name}} {{user.last_name}} ({%firstof user.email%}) (<a href={% url django.contrib.auth.views.logout %}>Logout</a>)&nbsp;|
<a href={% url exmo.exmo2010.views.tasks %}>Tasks</a>{% if user.is_superuser %}&nbsp;|&nbsp;<a href=/admin>Admin</a>{%endif%}

{% else %}
Welcome, Anonymous (<a href={% url django.contrib.auth.views.login %}>Login</a>)
{%endif%}
</div>
{% endblock%}
