<!--
Copyright 2010 Al Nikolov <root@toor.spb.ru>, Helsinki, Finland
Copyright 2010 Institute of Information Freedom Development, non-profit partnership, Saint-Petersburg, Russia

This file is part of EXMO2010 software.

EXMO2010 is NOT distributable. NOBODY is permitted to use it without a written permission from the
above copyright holders.
-->
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main" align=center valign=top>
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">Username:</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">Password:</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
