{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n check_object_permission %}
{% if monitoring %}
<div id="utility">
  <a href="{% url exmo2010:organization_list monitoring.pk %}">{% trans 'Organizations' %}</a> /
  <a href="{% url exmo2010:tasks_by_monitoring monitoring.pk %}">{% trans 'Tasks' %}</a> /
{% if user.userprofile.is_expert or user.is_superuser %}
  <a href="{% url exmo2010:monitoring_parameter_filter monitoring.pk %}">{% trans 'Parameter-criteria filter' %}</a> /
  <a href="{% url exmo2010:all_comments 1 %}">{% trans 'Comment report' %}</a> /
{% endif %}
{% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
{% if perm %}
  <a href="{% url exmo2010:monitoring_by_experts monitoring.pk %}">{% trans 'Experts' %}</a> /
  <a href="{% url exmo2010:task_mass_assign_tasks monitoring.pk %}">{% trans 'Mass assign' %}</a> /
  <a href="{% url exmo2010:monitoring_by_criteria_mass_export monitoring.pk %}">{% trans 'Export by criteria' %}</a> /
  <a href="{% url exmo2010:claim_report monitoring.pk %}">{% trans 'Claim report' %}</a> /
{% endif %}
{% check_object_permission exmo2010.rating_monitoring monitoring as can_rating %}
{% if can_rating %}
  <a href="{% url exmo2010:monitoring_rating monitoring.pk %}" target="_blank">{% trans 'Rating' %}</a> /
{% endif %}
{% if perm %}
  <a href="{% url exmo2010:monitoring_parameter_found_report monitoring.pk %}" target="_blank">{% trans 'Parameter found report' %}</a> /
{% endif %}
</div>
{% endif %}
