{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n task_status %}
<div id=monitoring_stats>
    {% trans 'Organizations count' %}: <a href="{% url exmo.exmo2010.views.organization_list monitoring.pk %}">{{ organization_all_count }}</a><br />
    {% trans 'Organizations with task' %}: <a href="{% url exmo.exmo2010.views.tasks_by_monitoring monitoring.pk %}">{{ organization_with_task_count }}</a><br />
    {% trans 'Organizations with ready task' %}: {{ organization_ready_count }}<br />
    {% trans 'Organizations with approved task' %}: <a href="{% url exmo.exmo2010.views.tasks_by_monitoring monitoring.pk %}?filter2={% task_status 'approved' %}">{{ organization_approved_count }}</a><br />
</div>
