{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% block title %}{% trans "Import results" %} {{monitoring}}/{{file}} {% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">{% trans "Home" %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.monitoring.monitoring_manager monitoring.pk 'update' %}">{% trans 'Edit monitoring' %} {{monitoring}}</a>&rsaquo;
{{title}}
</div>
{% endblock %}
{% block content %}

{% include "exmo2010/csv_import_log.html" %}

<div id=back><a href="{% url exmo.exmo2010.view.monitoring.monitoring_manager monitoring.pk 'update' %}">{% trans "Back to the monitoring" %}</a></div>

{% endblock %}
