{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010 Al Nikolov
# Copyright 2010 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load table_header i18n in_group adminmedia %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url exmo.exmo2010.views.monitoring_list %}">{% trans 'Home' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.views.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
{{title}}
</div>
{% endblock %}
{% block content %}
<div id=monitoring_list>
<table>
  {% table_header headers %}
  <tbody>
    <tr><td>
        {%if user.is_superuser%}
            <a href="{% url exmo.exmo2010.views.organization_manager monitoring.pk, 0,'add' %}?{{ request.GET.urlencode }}"><img src="{% admin_media_prefix %}img/admin/icon_addlink.gif"></a>&nbsp;
        {%endif%}</td><td>{% trans 'Add new organization' %}</td></tr>
    {% for object in object_list %}
      <tr>
      <td>
        {%if user.is_superuser%}
            <a href="{% url exmo.exmo2010.views.organization_manager monitoring.pk, object.pk,'update' %}?{{ request.GET.urlencode }}"><img src="{% admin_media_prefix %}img/admin/icon_changelink.gif" ></a>&nbsp;
            <a href="{% url exmo.exmo2010.views.organization_manager monitoring.pk, object.pk,'delete' %}?{{ request.GET.urlencode }}"><img src="{% admin_media_prefix %}img/admin/icon_deletelink.gif"></a>
        {%endif%}
      </td>
      <td><a href="{% url exmo.exmo2010.views.tasks_by_monitoring_and_organization monitoring.pk, object.pk %}">{{ object.name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "exmo2010/paginator.html" %}
</div>
{%endblock%}
{% block footer %}{% include "exmo2010/footer.html" %}{% endblock %}
