{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">{% trans "Home' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;&nbsp;
<a href="{% url exmo.exmo2010.view.organization.organization_list monitoring.pk %}">{{ monitoring }}</a>&rsaquo;&nbsp;
{{ title }}
</div>
{% endblock %}
{% block content %}
{% if deleted_objects %}
{% trans 'When you delete organization you also delete this tasks:'%}<br>
{% for do in deleted_objects %}
<a href="{% url exmo.exmo2010.view.score.score_list_by_task do.pk %}">{{ do }}</a><br>
{% endfor %}
{% endif %}

<form method="post" action="{% url exmo.exmo2010.view.organization.organization_manager monitoring.pk,object.pk,'delete' %}?{{request.GET.urlencode}}">{% csrf_token %}
  <p>{% trans 'Delete this organization?' %}</p>
  <p><input type="submit" /></p>
</form>
{% endblock %}
