{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load table_header i18n adminmedia monitoring_stats check_object_permission %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">{% trans "Home' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
{{title}}
</div>
{% endblock %}
{% block pretitle %}
{% include "exmo2010/monitoring_utility.html" %}
{% endblock %}
{% block content %}
<div id=organization_list>
<table>
  {% table_header headers %}
  <tbody>
    <tr><td>
        {% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
        {%if perm%}
            <a href="{% url exmo.exmo2010.view.organization.organization_manager monitoring.pk, 0,'add' %}?{{ request.GET.urlencode }}">{% trans 'Add new organization' %}&nbsp;<img src="{{STATIC_URL}}admin/img/admin/icon_addlink.gif"></a>&nbsp;
        {%endif%}</td></tr>
    {% for object in object_list %}
      <tr>
      <td>
      <a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring_and_organization monitoring.pk, object.pk %}">{{ object.name }}</a>
        {% if perm %}
            &nbsp;<a href="{% url exmo.exmo2010.view.organization.organization_manager monitoring.pk, object.pk,'update' %}?{{ request.GET.urlencode }}"><img src="{{STATIC_URL}}admin/img/admin/icon_changelink.gif" ></a>
        {%endif%}
        {% if perm and not monitoring.is_publish %}
            &nbsp;<a href="{% url exmo.exmo2010.view.organization.organization_manager monitoring.pk, object.pk,'delete' %}?{{ request.GET.urlencode }}"><img src="{{STATIC_URL}}admin/img/admin/icon_deletelink.gif" ></a>
        {%endif%}
      </td>
      {% if perm %}
      <td>
        {{ object.task__count }}
      </td>
      {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "exmo2010/paginator.html" %}
</div>
{% if perm %}
    <br />
    {% monitoring_stats monitoring %}
{% endif %}
{%endblock%}
