<!--
Copyright 2010 Al Nikolov <root@root.spb.ru>, Helsinki, Finland
Copyright 2010 Institute of Information Freedom Development, non-profit partnership, Saint-Petersburg, Russia

This file is part of EXMO2010 software.

EXMO2010 is NOT distributable. NOBODY is permitted to use it without a written permission from the
above copyright holders.
-->
<h1>Parameters for {{ organization }}</h1>

<ul>
{% for object in object_list %}
  <li><a href="{% url exmo.exmo2010.views.score_by_organization_parameter_detail organization.pk object.pk %}" name="edit">{{ object }}<a></li>
{% endfor %}
</ul>
