{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% spaceless %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% trans "Rating " %} {{ monitoring }}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}exmo2010/rating.css" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<div id=content>
<h1>{% trans "Rating " %} {{ monitoring }}</h1>
<div id=organization_list>
{% if object_list %}
<table>
  <thead><td>{% trans "Position" %}</td><td>{% trans "Organization" %}</td><td>{% trans "URL" %}</td><td>{% trans "Openness" %}</td></thead>
  <tbody>{% for object in object_list %}
            <tr {%ifchanged object.place%}style="border-top:solid; border-color:#333333;"{%endifchanged%} class="group{{object.category}}">
        {% ifchanged object.place %}
            <td rowspan={{object.place_count}} align='center' style="vertical-align:middle">{{ object.place }}</td>
        {% endifchanged %}
        <td class="rating_color">{{ object.task.organization.name }}</td>
        <td class="rating_color"><a href="{{ object.task.organization.url }}">{{ object.task.organization.url }}</a></td>
        <td class="rating_color">{{ object.openness|floatformat:3 }}</td>
    </tr>
  {% endfor %}</tbody>
  <tr style="font-weight: bold"><td colspan=3>{% trans 'Average' %}</td><td>{{ average|floatformat:3 }}</td></tr>
  <tr style="font-weight: bold"><td colspan=3>{% trans 'Total organizations' %}</td><td>{{ object_list|length }}</td></tr>
</table>
{% else %}
{% trans 'Empty list' %}
{% endif %}
</div>
</div>
{% block footer %}{% include "exmo2010/footer.html" %}{% endblock %}
</body></html>
{% endspaceless %}
