{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011, 2012 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n comments check_object_permission %}
{% check_object_permission exmo2010.comment_score object as can_comment %}
{% check_object_permission exmo2010.view_comment_score object as can_view_comment %}
{% if can_view_comment %}
<p><hr>
<div id='score_comment'>
{% get_comment_list for object as comment_list %}
{% if comment_list %}
    {% trans 'Comments' %}:
    <table width=100%>
    <thead>
    <th>{% trans 'Date' %}</th>
    <th>{% trans 'User' %}</th>
    <th>{% trans 'Comment' %}</th>
    </thead>
    <tbody>
{% for comment in comment_list %}
    <tr id="c{{ comment.id }}">
    <td>{{ comment.submit_date }}</td>
    <td>
    {% if comment.user.userprofile.is_expert or comment.user.is_superuser %}
      {% if user.userprofile.is_expert or user.is_superuser %}
        {{ comment.user }}
      {% else %}
        svobodainfo
      {% endif %}
    {% else %}
      {{ comment.user }}
    {% endif %}
    </td>
    <td>{{ comment.comment }}</td>
    </tr>
{% endfor %}
    </tbody>
    </table>
{% endif %}
{% if can_comment %}
    <p><a href="{% url exmo.exmo2010.view.score.score_add_comment object.pk %}">{% trans 'Add new comment' %}</a></p>
{% endif %}
</div>
{% endif %}
