{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010 Al Nikolov
# Copyright 2010 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% include "exmo2010/header.html" %}
{% load table_header %}
{% include "exmo2010/paginator.html" %}

<h1>Score list for {{task.organization}} ({{task.user}})</h1>

<table>
  {% table_header headers %}
  <tbody>
    {% for object in object_list %}
      <tr>
      <td>{{ object.fullcode }}</td>
      <td><a href={%if object.status %}{% url exmo.exmo2010.views.score_detail_direct object.status,'update' %}?{{request.GET.urlencode}}
      {% else %}{% url exmo.exmo2010.views.score_detail task.pk object.pk %}{% endif %}>{{ object.name }}</a></td>
      <td>{%if object.status %}OK{% else %}&nbsp;{% endif %}</td>
      <td>{%if object.status %}<a href={% url exmo.exmo2010.views.score_detail_direct object.status,'delete' %}?{{request.GET.urlencode}}>delete</a>{% else %}&nbsp;{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "exmo2010/footer.html" %}