{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n %}
{% block title %}{{parameter}}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Home' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.organization.organization_list task.organization.monitoring.pk %}">{% trans 'Organizations for monitoring ' %}{{task.organization.monitoring}}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring_and_organization task.organization.monitoring.pk, task.organization.pk %}">{{ task.organization.name }}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.score.score_list_by_task task.pk %}">{% trans 'Score list for' %}&nbsp;{{ task.organization.name }}</a>&rsaquo;
{{title}}
</div>
{% endblock %}
{% block content %}
<h2><a href={{task.organization.url }}>{{task.organization.name}}</a></h2>
<div id=parameter_desc>
{% trans 'Parameter' %}: {{ parameter }}<br>
</div>
<br>
<div id=score_add>
<table id=score_add_table>
    <thead>
    <th>{% trans 'Criteria' %}</th>
    <th>{% trans 'Value' %}</th>
    </thead>
    <tbody>
    <tr><td>{% trans 'Found' %}</td><td>{{ object.found }}</td>
{% if parameter.complete and object.complete %}
    <tr><td>
    {% trans 'Complete' %}</td><td> {{ object.complete }}</td></tr>
      {%if object.completeComment %}
       <tr><td>
        {% trans 'Comment for complete' %}</td><td>{{ object.completeComment }}</td>
       </tr>
      {% endif %}
{% endif %}
{% if parameter.topical and object.topical %}
    <tr><td>
    {% trans 'Topical' %}</td><td>{{ object.topical }}</td></tr>
      {% if object.topicalComment %}
      <tr><td>
        {% trans 'Comment for topical' %}</td><td>{{ object.topicalComment }}</td>
      </tr>
      {% endif %}
{% endif %}
{% if parameter.accessible and object.accessible %}
    <tr id=score_add_accessible><td>
    {% trans 'Accessible' %}</td><td>{{ object.accessible }}</td></tr>
    {% if object.accessibleComment %}
      <tr id=score_add_accessibleComment><td>
        {% trans 'Comment for accessible' %}</td><td>{{ object.accessibleComment }}</td></tr>
    {% endif %}
{% endif %}
{% if parameter.hypertext and object.hypertext %}
    <tr id=score_add_hypertext>
    <td>{% trans 'Hypertext' %}</td><td>{{ object.hypertext }}</td>
    </tr>
      {% if object.hypertextComment %}
      <tr id=score_add_hypertextComment>
        <td>{% trans 'Comment for hypertext' %}</td><td>{{ object.hypertextComment }}</td>
      </tr>
      {% endif %}
{% endif %}
{% if parameter.document and object.document %}
    <tr id=score_add_document>
    <td>{% trans 'Document' %}</td><td>{{ object.document }}</td>
    </tr>
    {% if object.documentComment %}
      <tr id=score_add_documentComment>
        <td>{% trans 'Comment for document' %}</td><td>{{ object.documentComment }}</td>
      </tr>
    {% endif %}
{% endif %}
{% if parameter.image and object.image %}
    <tr id=score_add_image>
    <td>{% trans 'Image' %}</td><td>{{ object.image }}</td>
    </tr>
    {% if object.imageComment %}
      <tr id=score_add_imageComment>
        <td>{% trans 'Comment for image' %}</td><td>{{ object.imageComment }}</td>
      </tr>
    {% endif %}
{% endif %}
{% if object.comment %}
    <tr id=score_add_comment>
    <td>{% trans 'Common parameter comment' %}</td><td>{{ object.comment }}</td>
    </tr>
{% endif %}
    </tbody>
</table>
</div>
{% include "exmo2010/score_claim.html" %}
{% include "exmo2010/score_comment.html" %}
{% endblock %}
