{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load table_header i18n get_object_by_pk adminmedia %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% if user.is_superuser or user.userprofile.is_expert %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}exmo2010/score_list_expert.css" />
{% else %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}exmo2010/score_list.css" />
{% endif %}
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Home' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.organization.organization_list task.monitoring.pk %}">{% trans 'Organizations for monitoring ' %}{{task.monitoring.name}}({{ task.monitoring.type }})</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring_and_organization task.monitoring.pk, task.organization.pk %}">{{ task.organization.name }}</a>&rsaquo;
{{title}}
</div>
{% endblock %}
{% block content %}
<div id=score_list>
<h2><a href="{{task.organization.url}}">{{task.organization.name}}</a>&nbsp;&mdash;&nbsp;{% trans 'Openness' %}:&nbsp;{{ task.openness|floatformat:3 }}%</h2>

<div id=utility>
     <a href="{% url exmo.exmo2010.view.score.score_list_by_task task.pk 'print' %}" target="_blank">{% trans "Print" %}</a> /
     <a href="{% url exmo.exmo2010.view.score.score_list_by_task task.pk 'printfull' %}" target="_blank">{% trans "Print with comments" %}</a>
{% if user.is_superuser or user.userprofile.is_expert %}
   <form action="{% url exmo.exmo2010.view.task.task_import task.pk %}" method="post" enctype="multipart/form-data">{% csrf_token %}
     <a href="{% url exmo.exmo2010.view.task.task_export task.pk %}">{% trans "Export task to CSV" %}</a> /
     <label>{% trans "Import task from CSV" %}: <input type="file" name="taskfile"></label><input type="submit" value="{% trans 'Import' %}" />
   </form>
   {% if importLog %}<div>{{importLog}}</div>{% endif %}
{% endif %}
</div>

<table>
{% table_header headers %}
<tbody>
{%for object in object_list%}
{%get_object_by_pk exmo2010.Score object.score_pk as score %}
  {% ifchanged object.group.group %}
    <tr id='parameter_{{object.group.group.fullcode}}'><td colspan=10>{{object.group.group}}</td></tr>
  {% endifchanged %}
  {% ifchanged object.group %}
    <tr id='parameter_{{object.group.fullcode}}'><td colspan=10>{{object.group}}</td></tr>
  {% endifchanged %}
      <tr width=100% id='parameter_{{object.fullcode}}'>
      <td width=4%>{{ object.fullcode }}</td>
      <td>
      {% if user.userprofile.is_expert or user.is_superuser %}
       {% if score %}
       {% if score.claim_color %}<img src="{{ MEDIA_URL }}exmo2010/icon_{{score.claim_color}}.gif" alt="{% trans 'claim' %}" />{% endif %}
            <a href="{% url exmo.exmo2010.view.score.score_view score.pk %}?{{request.GET.urlencode}}">{{ object.name }}</a>
       {% else %}
        <a href="{% url exmo.exmo2010.view.score.score_add task.pk object.pk %}?{{request.GET.urlencode}}">{{ object.name }}</a>
       {% endif %}
       {% if user.is_superuser %}
            &nbsp;<a href="{% url exmo.exmo2010.view.parameter.parameter_manager task.pk, object.pk, 'update' %}?{{ request.GET.urlencode }}"><img src="{% admin_media_prefix %}img/admin/icon_changelink.gif" ></a>&nbsp;
       {% endif %}
      {% else %}
       {% if score %}
         <a href="{% url exmo.exmo2010.view.score.score_view score.pk %}?{{request.GET.urlencode}}">{{ object.name }}</a>
       {% endif %}
      {% endif %}
      </td>
      {%if score %}
      {% include "exmo2010/score_criteria_table.html" %}
      {%else%}
        <td colspan=7></td>
      {%endif%}
      </tr>
{% endfor %}
    </tbody></table>
</div><br>
{% endblock %}
