{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n adminmedia comments %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Home' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.monitoring.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.organization.organization_list score.task.organization.monitoring.pk %}">{% trans 'Organizations for monitoring ' %}{{score.task.organization.monitoring}}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.task.tasks_by_monitoring_and_organization score.task.organization.monitoring.pk, score.task.organization.pk %}">{{ score.task.organization.name }}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.score.score_list_by_task score.task.pk %}">{% trans 'Score list for' %}&nbsp;{{ score.task.organization.name }}</a>&rsaquo;
<a href="{% url exmo.exmo2010.view.score.score_view score.pk %}">{{ score.parameter }}</a>&rsaquo;
{{title}}
</div>
{% endblock %}
{% block content %}
{% get_comment_form for score as form %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {{ form.content_type.as_hidden }}
  {{ form.object_pk.as_hidden }}
  {{ form.timestamp.as_hidden }}
  {{ form.security_hash.as_hidden }}
  {% if user %}
  <input type="hidden" name="id_user" value="{{ user }}" />
  {% else %}
  <p>{{ form.user.label_tag }}{{ form.user }}</p>
  {% endif %}
  {% if user.email %}
  <input type="hidden" name="id_email" value="{{ user.email }}" />
  {% else %}
  <p>{{ form.email.label_tag }}{{ form.email }}</p>
  {% endif %}
  <p>{{ form.comment.label_tag }}{{ form.comment }}</p>
  <input type="hidden" name="next" value="{% url exmo.exmo2010.view.score.score_view score.pk %}" />
  <tr>
    <td></td>
    <td><input type="submit" name="post" class="submit-post" value="{% trans 'Post' %}"></td>
  </tr>
</form>
{% endblock %}
