<!--
# This file is part of EXMO2010 software.
# Copyright 2010 Al Nikolov
# Copyright 2010 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-->
{% include "exmo2010/header.html" %}
<h2><a href={{task.organization.url }}>{{task.organization.name}}</a></h2>
<div id=links>
<a href="{% url exmo.exmo2010.views.score_list_by_task task.pk %}">К списку оценок</a>
</div>
<!--<style>
#parameter_desc {
    position:fixed;
    right:5%;
    top:30%;
    width:60%;
}
</style>-->

<div id=parameter_desc>
<table id=parameter_desc_table>
<th>Описание параметра</th>
<tr><td>
Наименование: {{ parameter }}<br>
Описание: {{ parameter.description }}
</td></tr>
</table>
</div>

<div id=score_form>
<form
  method="post"
  action="."
>
  <div id=score_form_body>
    <div id=score_form_found>{{ form.found.label_tag }}</dt><dd>{{ form.found }} {{ form.found.errors }}</div>
{% if parameter.completeRequired %}
    <div id=score_form_complete>
    <dt>{{ form.complete.label_tag }}</dt><dd>{{ form.complete }} {{ form.complete.errors }}</dd>
      <div id=score_form_completeComment>
	<dt>{{ form.completeComment.label_tag }}</dt><dd>{{ form.completeComment }} {{ form.completeComment.errors }}</dd>
      </div>
    </div>
{% endif %}
{% if parameter.topicalRequired %}
    <div id=score_form_topical>
    <dt>{{ form.topical.label_tag }}</dt><dd>{{ form.topical }} {{ form.topical.errors }}</dd>
      <div id=score_form_topicalComment>
	<dt>{{ form.topicalComment.label_tag }}</dt><dd>{{ form.topicalComment }} {{ form.topicalComment.errors }}</dd>
      </div>
    </div>
{% endif %}
{% if parameter.accessibleRequired %}
    <div id=score_form_accessible>
    <dt>{{ form.accessible.label_tag }}</dt><dd>{{ form.accessible }} {{ form.accessible.errors }}</dd>
      <div id=score_form_accessibleComment>
	<dt>{{ form.accessibleComment.label_tag }}</dt><dd>{{ form.accessibleComment }} {{ form.accessibleComment.errors }}</dd>
      </div>
    <dt>{{ form.accessibleHTML.label_tag }}</dt><dd>{{ form.accessibleHTML }} {{ form.accessibleHTML.errors }}</dd>
      <div id=score_form_accessibleHTMLComment>
	<dt>{{ form.accessibleHTMLComment.label_tag }}</dt><dd>{{ form.accessibleHTMLComment }} {{ form.accessibleHTMLComment.errors }}</dd>
      </div>
    <dt>{{ form.accessibleDigital.label_tag }}</dt><dd>{{ form.accessibleDigital }} {{ form.accessibleDigital.errors }}</dd>
      <div id=score_form_accessibleDigitalComment>
	<dt>{{ form.accessibleDigitalComment.label_tag }}</dt><dd>{{ form.accessibleDigitalComment }} {{ form.accessibleDigitalComment.errors }}</dd>
      </div>
    <dt>{{ form.accessibleGraph.label_tag }}</dt><dd>{{ form.accessibleGraph }} {{ form.accessibleGraph.errors }}</dd>
      <div id=score_form_accessibleGraphComment>
	<dt>{{ form.accessibleGraphComment.label_tag }}</dt><dd>{{ form.accessibleGraphComment }} {{ form.accessibleGraphComment.errors }}</dd>
      </div>
    </div>
{% endif %}
    <div id=score_form_comment>
    <dt>{{ form.comment.label_tag }}</dt><dd>{{ form.comment }} {{ form.comment.errors }}</dd>
    </div>
    <input type="hidden" name="task" id="id_task" value="{{task.pk}}" />
    <input type="hidden" name="parameter" id="id_parameter" value="{{parameter.pk}}" />
    {# form.task.as_hidden #}
    {# form.parameter.as_hidden #}

  </div>
  <input type="submit" value="Save"><input type="reset" value="Reset">
</form>
</div>
{% include "exmo2010/footer.html" %}