<thead>
  {% for header in headers %}
    <td{{ header.class_attr|safe }}>
      {% if header.sortable %}<a href="?{{ header.url|safe }}">{% endif %}
      {{ header.text }}
      {% if header.sortable %}</a>{% endif %}
      {% if header.filterable %}
        <form method="GET">
        <input name="filter{{ header.i }}" value="{{ header.filter }}">
        <input name="o" value="{{ header.o }}" type="hidden">
        <input name="ot" value="{{ header.ot }}" type="hidden">
        </form>
      {% endif %}
    </td>
  {% endfor %}
</thead>