{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010 Al Nikolov
# Copyright 2010 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
<thead>
  {% for header in headers %}
    <td{{ header.class_attr|safe }}>
      {% if header.sortable %}<a href="?{{ header.url|safe }}">{% endif %}
      {{ header.text }}
      {% if header.sortable %}</a>{% endif %}
      {% if header.filterable %}
        <form>
        <input name="filter{{ header.i }}" value="{{ header.filter }}">
        <input name="o" value="{{ header.o }}" type="hidden">
        <input name="ot" value="{{ header.ot }}" type="hidden">
        </form>
      {% endif %}
    </td>
  {% endfor %}
</thead>