<!--
Copyright 2010 Al Nikolov <root@toor.spb.ru>, Helsinki, Finland
Copyright 2010 Institute of Information Freedom Development, non-profit partnership, Saint-Petersburg, Russia

This file is part of EXMO2010 software.

EXMO2010 is NOT distributable. NOBODY is permitted to use it without a written permission from the
above copyright holders.
-->
<thead>
  {% for header in headers %}
    <td{{ header.class_attr|safe }}>
      {% if header.sortable %}<a href="?{{ header.url|safe }}">{% endif %}
      {{ header.text }}
      {% if header.sortable %}</a>{% endif %}
      {% if header.filterable %}
        <form>
        <input name="filter{{ header.i }}" value="{{ header.filter }}">
        <input name="o" value="{{ header.o }}" type="hidden">
        <input name="ot" value="{{ header.ot }}" type="hidden">
        </form>
      {% endif %}
    </td>
  {% endfor %}
</thead>