{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010 Al Nikolov
# Copyright 2010 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n adminmedia %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url exmo.exmo2010.views.monitoring_list %}">{% trans 'Home' %}</a>&rsaquo;
<a href="{% url exmo.exmo2010.views.monitoring_list %}">{% trans 'Monitoring' %}</a>&rsaquo;
{% if organization %}
<a href="{% url exmo.exmo2010.views.organization_list monitoring.pk %}">{% trans 'Organizations of ' %}{{monitoring.name}}{% trans ' for type ' %}{{ monitoring.type }}</a>&rsaquo;
<a href="{% url exmo.exmo2010.views.tasks_by_monitoring_and_organization monitoring.pk, organization.pk %}">{{ organization.name }}</a>&rsaquo;
{% else %}
<a href="{% url exmo.exmo2010.views.tasks_by_monitoring monitoring.pk %}">{% trans 'Task of ' %}{{monitoring.name}}{% trans ' for type ' %}{{ monitoring.type }}</a>&rsaquo;
{% endif %}
{{title}}
</div>
{% endblock %}
{% block content %}

<p>{{ form.non_field_errors }}</p>

<form method="post" action="?{{request.GET.urlencode}}">{% csrf_token %}
  <p>{{form.user.label_tag}}{{ form.user }} {{ form.user.errors }}</p>
  {% if object %}
  <p>{{form.status.label_tag}}{{ form.status }} {{ form.status.errors }}</p>
  {% else %}
  <p>{{form.status.as_hidden}}</p>
  {% endif %}
  <p><input type="hidden" name="monitoring" id="id_monitoring" value="{{monitoring.pk}}" /></p>
  {% if organization %}
  <p><input type="hidden" name="organization" id="id_organization" value="{{organization.pk}}" /></p>
  {% else %}
  <p>{{form.organization.label_tag}}{{ form.organization }} {{ form.organization.errors }}</p>
  {% endif %}
  <p><input type="submit" /><input class="button" type="reset" /></p>
</form>
{% endblock %}
{% block footer %}{% include "exmo2010/footer.html" %}{% endblock %}
