<!--
Copyright 2010 Al Nikolov <root@toor.spb.ru>, Helsinki, Finland
Copyright 2010 Institute of Information Freedom Development, non-profit partnership, Saint-Petersburg, Russia

This file is part of EXMO2010 software.

EXMO2010 is NOT distributable. NOBODY is permitted to use it without a written permission from the
above copyright holders.
-->
{% include "exmo2010/header.html" %}
{% load table_header %}
{% include "exmo2010/paginator.html" %}

<h1>Task list</h1>
{%if request.user.is_superuser%}
<a href="{% url exmo.exmo2010.views.task_manager 0,'add' %}?{{ request.GET.urlencode }}">Add a new task</a>
{%endif%}
<table>
  {% table_header headers %}
  <tbody>
    {% for object in object_list %}
      <tr>
      {%if request.user.is_superuser%}
      <td><a href="{% url exmo.exmo2010.views.task_manager object.pk,'delete' %}?{{ request.GET.urlencode }}">Delete</a></td>
      {%endif%}
      <td><a href="{% url exmo.exmo2010.views.task_manager object.pk,'update' %}?{{ request.GET.urlencode }}">{{ object.organization.name }}</a></td>
      {%if request.user.is_superuser%}<td>{{ object.user.username }}</td>{%endif%}
      <td>{% if object.open %}+{% endif %}</td>
      <td><a href="{% url exmo.exmo2010.views.score_list_by_task object.pk %}">{{ object.complete }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
