{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010 Al Nikolov
# Copyright 2010 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% block content %}
{% load table_header i18n in_group %}
<div id=task_list>
<h2>{% trans 'Task list' %}</h2>
{%if user.is_superuser%}
<a href="{% url exmo.exmo2010.views.task_manager 0,'add' %}?{{ request.GET.urlencode }}">{% trans 'Add a new task' %}</a>
{%endif%}
{% if object_list %}
<table>
  {% table_header headers %}
  <tbody>
    {% for object in object_list %}
      <tr>
      {%if user.is_superuser%}
      <td><a href="{% url exmo.exmo2010.views.task_manager object.pk,'delete' %}?{{ request.GET.urlencode }}">{% trans 'Delete' %}</a></td>
      {%endif%}
      <td><a href="{% url exmo.exmo2010.views.task_manager object.pk,'update' %}?{{ request.GET.urlencode }}">{{ object.organization.name }}</a></td>
      {%if user.is_superuser%}<td>{{ object.user.username }}</td>{%endif%}
      {% if user.is_superuser or user|in_group:'experts' %}
      <td>
        {% if object.open %}
         <a href="{% url exmo.exmo2010.views.task_manager object.pk,'close' %}?{{ request.GET.urlencode }}">{% trans 'close' %}</a>
        {% endif %}
        {% if object.ready %}
         {% if user.is_superuser %}
          <a href="{% url exmo.exmo2010.views.task_manager object.pk,'approve' %}?{{ request.GET.urlencode }}">{% trans 'approve' %}</a>
         {% else %}
          {% trans 'closed' %}
         {% endif %}
        {% endif %}
        {% if object.approved %}
         {% trans 'approved' %}
        {% endif %}
      </td>
      {% endif %}
      <td><a href="{% url exmo.exmo2010.views.score_list_by_task object.pk %}">{{ object.complete }}</a></td>
      <td>{{ object.openness }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include "exmo2010/paginator.html" %}
{% else %}
{% trans 'Empty list' %}
{% endif %}
</div>
{%endblock%}
{% block footer %}{% include "exmo2010/footer.html" %}{% endblock %}
