{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% spaceless %}
{% load i18n get_object_by_pk check_object_permission %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% trans "Task " %} {{ task.id }}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<div>
{% check_object_permission exmo2010.admin_monitoring task.organization.monitoring as perm %}
<h1>{% if perm %}{{ task.user }}: {% endif %}{{ task.organization.name }}: {{ task.organization.monitoring.name }}</h1>

<table>
<thead>
  <td>{% trans 'Code' %}</td>
  <td>{% trans 'Name' %}</td>
  <td>{% trans 'Openness' %}</td>
  <td>{% trans 'Found' %}</td>
  <td>{% trans 'Complete' %}</td>
  <td>{% trans 'Topical' %}</td>
  <td>{% trans 'Accessible' %}</td>
  <td>{% trans 'HTML' %}</td>
  <td>{% trans 'Document' %}</td>
  <td>{% trans 'Image' %}</td>
</thead>
<tbody>
{%for object in object_list%}
{% get_object_by_pk exmo2010.Score object.score_pk as score %}
  {% ifchanged object.group.group %}
    <tr id='parameter_{{object.group.group.fullcode}}'><td colspan=10>{{object.group.group}}</td></tr>
  {% endifchanged %}
  {% ifchanged object.group %}
    <tr id='parameter_{{object.group.fullcode}}'><td colspan=10>{{object.group}}</td></tr>
  {% endifchanged %}
      <tr width=100% id='parameter_{{object.fullcode}}'>
      <td width=4%>{{ object.fullcode }}</td>
      <td>
        {{ object.name }}
      </td>
      {%if score %}
      <td>{{ score.openness }}</td>
      {% include "exmo2010/score_criteria_table.html" %}
      {% if report == 'printfull' %}
        {% if score.completeComment and score.parameter.complete %}</tr><tr><td>{% trans 'completeComment' %}</td><td colspan=7>{{ score.completeComment|linebreaks }}</td>{% endif %}
        {% if score.topicalComment and score.parameter.topical %}</tr><tr><td>{% trans 'topicalComment' %}</td><td colspan=7>{{ score.topicalComment|linebreaks }}</td>{% endif %}
        {% if score.accessibleComment and score.parameter.accessible %}</tr><tr><td>{% trans 'accessibleComment' %}</td><td colspan=7>{{ score.accessibleComment|linebreaks }}</td>{% endif %}
        {% if score.hypertextComment and score.parameter.hypertext %}</tr><tr><td>{% trans 'hypertextComment' %}</td><td colspan=7>{{ score.hypertextComment|linebreaks }}</td>{% endif %}
        {% if score.documentComment and score.parameter.document %}</tr><tr><td>{% trans 'documentComment' %}</td><td colspan=7>{{ score.documentComment|linebreaks }}</td>{% endif %}
        {% if score.comment %}</tr><tr><td>{% trans 'comment' %}</td><td colspan=7>{{ score.comment|linebreaks }}</td>{% endif %}
      {% endif %}
      {%else%} {# if score #}
        <td colspan=7></td>
      {%endif%} {# if score #}
      </tr>
{% endfor %}
    </tbody></table>
</div><br>
{% endspaceless %}
{% block footer %}{% include "exmo2010/footer.html" %}{% endblock %}
