{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010 Al Nikolov
# Copyright 2010 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% spaceless %}
{% load i18n get_object_by_pk break %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% trans "Task " %} {{ task.id }}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<div>
<h1>{% if user.is_superuser %}{{ task.user }}: {% endif %}{{ task.organization.name }}: {{ task.monitoring.name }}</h1>

<table>
<thead>
  <td>{% trans 'Code' %}</td>
  <td>{% trans 'Name' %}</td>
  <td>{% trans 'Openness' %}</td>
  <td>{% trans 'Found' %}</td>
  <td>{% trans 'Complete' %}</td>
  <td>{% trans 'Topical' %}</td>
  <td>{% trans 'Accessible' %}</td>
  <td>{% trans 'HTML' %}</td>
  <td>{% trans 'Document' %}</td>
  <td>{% trans 'Image' %}</td>
</thead>
<tbody>
        {%for category in categories%}

{%for object in object_list%}{%if object.group.group == category%}
            <tr id='parameter_{{category.code}}'><td colspan=10>{{category}}</td></tr>
{{ forloop|break }}
{%endif%}{%endfor%}

            {%for subcategory in subcategories%}
            {%if subcategory.group == category%}

{%for object in object_list%}{%if object.group == subcategory%}
                <tr id='parameter_{{subcategory.fullcode}}'><td colspan=10>{{subcategory}}</td></tr>
{{ forloop|break }}
{%endif%}{%endfor%}

                {%for object in object_list%}{%if object.group == subcategory%}
      <tr width=100% id='parameter_{{object.fullcode}}'>
      <td width=4%>{{ object.fullcode }}</td>
      <td>
        {{ object.name }}
      </td>
      {%if object.status%}
      {%get_object_by_pk exmo2010.Score object.status as score %}
      <td>{{ score.openness }}</td
      <td width=55px
        {%if score.found == 0 %}
          class="score-ok-zero"
        {%else%}
          class="score-ok-nonzero"
        {%endif%}>
      {{score.found}}
      </td>
      <td width=55px
      {%if score.complete %}
        {%if score.complete == 0 %}
          class="score-ok-zero"
        {%else%}
          class="score-ok-nonzero"
        {%endif%}
      {% else %}
      class="score-none"
      {% endif %}>
      {%if score.complete %}{{score.complete}}{%else%}&nbsp;{%endif%}
      </td>
      <td width=55px
      {%if score.topical %}
        {%if score.topical == 0 %}
          class="score-ok-zero"
        {%else%}
          class="score-ok-nonzero"
        {%endif%}
      {% else %}
      class="score-none"
      {% endif %}>
      {%if score.topical %}{{score.topical}}{%else%}&nbsp;{%endif%}
      </td>
      <td width=55px
      {%if score.accessible %}
        {%if score.accessible == 0 %}
          class="score-ok-zero"
        {%else%}
          class="score-ok-nonzero"
        {%endif%}
      {% else %}
      class="score-none"
      {% endif %}>
      {%if score.accessible %}{{score.accessible}}{%else%}&nbsp;{%endif%}
      </td>
      <td width=55px
      {%if score.hypertext != None %}
        {%if score.hypertext == 0 %}
          class="score-ok-zero"
        {%else%}
          class="score-ok-nonzero"
        {%endif%}
      {% else %}
      class="score-none"
      {% endif %}>
      {%if score.hypertext != None %}{{score.hypertext}}{%else%}&nbsp;{%endif%}
      </td>
      <td width=55px
      {%if score.document != None %}
        {%if score.document == 0 %}
          class="score-ok-zero"
        {%else%}
          class="score-ok-nonzero"
        {%endif%}
      {% else %}
      class="score-none"
      {% endif %}>
      {%if score.document != None %}{{score.document}}{%else%}&nbsp;{%endif%}
      </td>
      <td width=55px
      {%if score.image != None %}
        {%if score.image == 0 %}
          class="score-ok-zero"
        {%else%}
          class="score-ok-nonzero"
        {%endif%}
      {% else %}
      class="score-none"
      {% endif %}>
      {%if score.image != None %}{{score.image}}{%else%}&nbsp;{%endif%}
      </td>
      {% if report == 'printfull' %}
        {% if score.completeComment %}</tr><tr><td>{% trans 'completeComment' %}</td><td colspan=7>{{ score.completeComment|linebreaks }}</td>{% endif %}
        {% if score.topicalComment %}</tr><tr><td>{% trans 'topicalComment' %}</td><td colspan=7>{{ score.topicalComment|linebreaks }}</td>{% endif %}
        {% if score.accessibleComment %}</tr><tr><td>{% trans 'accessibleComment' %}</td><td colspan=7>{{ score.accessibleComment|linebreaks }}</td>{% endif %}
        {% if score.hypertextComment %}</tr><tr><td>{% trans 'hypertextComment' %}</td><td colspan=7>{{ score.hypertextComment|linebreaks }}</td>{% endif %}
        {% if score.documentComment %}</tr><tr><td>{% trans 'documentComment' %}</td><td colspan=7>{{ score.documentComment|linebreaks }}</td>{% endif %}
        {% if score.comment %}</tr><tr><td>{% trans 'comment' %}</td><td colspan=7>{{ score.comment|linebreaks }}</td>{% endif %}
      {% endif %}
      {%else%}
        <td colspan=7></td>
      {%endif%}
      </tr>
    {% endif %}
    {% endfor %}
    {%endif%}{%endfor%}
        {%endfor%}
    </tbody></table>
</div><br>
{% endspaceless %}
{% block footer %}{% include "exmo2010/footer.html" %}{% endblock %}
