<!--
Copyright 2010 Al Nikolov <root@root.spb.ru>, Helsinki, Finland
Copyright 2010 Institute of Information Freedom Development, non-profit partnership, Saint-Petersburg, Russia

This file is part of EXMO2010 software.

EXMO2010 is NOT distributable. NOBODY is permitted to use it without a written permission from the
above copyright holders.
-->
{% include "exmo2010/header.html" %}
<form method="POST" action="{% url exmo.exmo2010.views.task_manager object.pk,'delete' %}">
  <p>Delete this task?</p>
  <input type="submit">
</form>