{% extends "exmo2010/base_site.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010-2011 Al Nikolov
# Copyright 2010-2011 Institute for Information Freedom Development
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n adminmedia %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

<p>{{ form.non_field_errors }}</p>

{% block content %}
<form method="post" action="{% url exmo.exmo2010.view.user.user_profile object.pk%}">{% csrf_token %}
<p>{{form.first_name.label_tag}}{{ form.first_name }}</p>
<p>{{form.last_name.label_tag}}{{ form.last_name }}</p>
<p>{{form.email.label_tag}}{{ form.email }}</p>
{% if user.profile.is_organization %}
{{ form.notify_score_change.label_tag }}{{ form.notify_score_change }}</p>
{% endif %}
<p><input type="submit" /><input class="button" type="reset" /></p>
</form>
{% endblock %}
