/*
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

h2 {
    margin: 0;
}

.recommendations-header-block h2 {
    display: inline;
    margin-right: 10px;
    vertical-align: top;
}

a.grounds_toggle {
    margin-bottom: 5px;
    display: inline-block;
}

div.comment_deadline {
    padding: 5px;
    background-color: #ddffdd;
    margin: 0 -8px -8px;
}

div.recommendations-header-block p {
    margin-top: 10px;
}

div.recommendations-header-block p span {
    font-size: 18px;
}

tr.nonrelevant td.center div.param {
    margin-bottom: 10px;
}

div.comment_forbidden_notice {
    background-color: #FECDCD;
    padding: 5px;
    margin: 5px 0;
}

div.comment-form {
    background-color: #F1F0EE;
    padding: 5px;
    margin-top: 5px;
}

div.comment-form input.fake_input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.comment span.author {
    font-size: 13px;
    width: 140px;
    font-weight: bold;
}

div.comment span.date {
    float: right;
    font-size: 11px;
    color: #666;
}

div.comment div.body {
    margin: 0;
    padding: 6px 0 0;
}


div.comments div.comment {
    padding: 8px;
    line-height: 17px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #BBB;
}

div.comments div.comment-toggle {
    background-color: #F1F0EE;
    cursor: pointer;
    line-height: 14px;
    padding: 9px;
    text-align: center;
    color: #005C9C;
}

.recommendations-block {
    margin-top: 20px;
    width: 100%;
    max-width: 940px;  /* 85 + 760 + 65 + 3 * (l_padding + r_padding) */
    min-width: 790px;
}
.recommendations-block table {
    width: 100%;
}

.recommendations-block caption {
    padding: 0 5px;
    margin-bottom: 10px;
}

.recommendations-block td.code {
    min-width: 85px;
    width: 85px;
    font-size: 18px;
}

.recommendations-block tr.nonrelevant td.code {
    color: #666666;
}

.recommendations-block td.center {
    max-width: 760px;
    min-width: 610px;
}

.recommendations-block td.center > p {
    font-size: 15px;
    line-height: 20px;
}

.recommendations-block tr.nonrelevant td.center {
    color: #666666;
}

hr {
    border-color: #d7d7d7;
    background-color: #d7d7d7;
}

.recommendations-block .cost {
    text-align: right;
    min-width: 65px;
    width: 65px;
    font-size: 18px;
    color: #CD0200;
}

.recommendations-block tr.nonrelevant td.cost,
.recommendations-block td.complete {
    color: #222222;
}

.recommendations-block td {
    border-bottom: none;
    padding: 15px 5px;
}
.recommendations-block tr {
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

.grounds {
    margin: 10px 0;
    border: 1px dashed #d7d7d7;
    background-color: #f5f5f5;
}

.grounds p {
    margin: 0;
    padding: 10px;
}
