/*
# This file is part of EXMO2010 software.
# Copyright 2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

.recommendations-header-block h2 {
    display: inline;
    margin-right: 10px;
    vertical-align: top;
}

p {
    margin-top: 10px;
}

p span {
    font-size: 18px;
}

.recommendations-block {
    margin-top: 20px;
    width: 100%;
    max-width: 940px;  /* 85 + 760 + 65 + 3 * (l_padding + r_padding) */
    min-width: 790px;
}
.recommendations-block table {
    width: 100%;
}

.recommendations-block h2 {
    padding: 0 5px;
}

.recommendations-block h2 span {
    color: #CD0200;
}

.recommendations-block td.code {
    min-width: 85px;
    width: 85px;
    font-size: 18px;
}
.recommendations-block tr.nonrelevant td.code {
    color: #666666;
}

.recommendations-block td.center {
    max-width: 760px;
    min-width: 610px;
}
.recommendations-block td.center > p {
    font-size: 15px;
    line-height: 20px;
}
.recommendations-block tr.nonrelevant td.center {
    color: #666666;
}
.recommendations-block td.cost {
    text-align: right;
    min-width: 65px;
    width: 65px;
    font-size: 18px;
    color: #CD0200;
}
.recommendations-block tr.nonrelevant td.cost {
    color: #222222;
}

.recommendations-block td.cost.complete {
    color: #222222;
}

.recommendations-block td {
    border-bottom: none;
    padding: 15px 5px;
}
.recommendations-block tr {
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}



.grounds {
    margin: 10px 0;
    border: 1px dashed #d7d7d7;
    background-color: #f5f5f5;
}

.grounds p {
    margin: 0;
    padding: 10px;
}
