/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

h2 {
    display: inline;
    margin-right: 10px;
    vertical-align: top;
}

p {
    margin-top: 10px;
}

p span {
    font-size: 18px;
}


/* Score table colors style */

.score-ok-nonzero{
    background: #80e580;
    text-align: center;
}

.score-ok-val1{
    background: #fecb80;
    text-align: center;
}

.score-ok-val2{
    background: #fefe80;
    text-align: center;
}

.score-ok-val3{
    background: #80e580;
    text-align: center;
}

.score-ok-zero{
    background: #fe9898;
    text-align: center;
}

.score-none {
    background: #a0a0a0;

}

#score_list td {
    border-collapse: collapse;
    border: 1px solid;
}

#score_list table {
    width: 100%
}

.score_interact {
    font-size: 12px;
    opacity: 0.5;
}

i.add {
    background: url("../exmo2010/img/add.png") no-repeat;
    background-size: 16px 16px;
    /* AlphaImageLoader is background-size property for IE8 and below */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../exmo2010/img/add.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../exmo2010/img/add.png', sizingMethod='scale')";
}

i.upload {
    background: url("../exmo2010/img/upload.png") no-repeat;
    background-size: 16px 16px;
    /* AlphaImageLoader is background-size property for IE8 and below */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../exmo2010/img/upload.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../exmo2010/img/upload.png', sizingMethod='scale')";
}

i.print {
    background: url("../exmo2010/img/print.png") no-repeat;
    background-size: 16px 16px;
    /* AlphaImageLoader is background-size property for IE8 and below */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../exmo2010/img/print.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../exmo2010/img/print.png', sizingMethod='scale')";
}

i.download {
    background: url("../exmo2010/img/download.png") no-repeat;
    background-size: 16px 16px;
    /* AlphaImageLoader is background-size property for IE8 and below */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../exmo2010/img/download.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../exmo2010/img/download.png', sizingMethod='scale')";
}

/* Styles for ankete */

#fc_container {
    background: none repeat scroll 0 0 #FFFFCC;
    clear: both;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.fc_item_header{
    font-size: 12px;
    font-weight: bold;
    font-family: "Verdana";
    margin-bottom: 7px;
}

.fc_field_header{
    margin-top: 8px;
    margin-bottom: 15px;
}

.aqtext{
    width: 600px;
}

.aqint{
    text-align: right;
}

.fc_field_header ul li {
    list-style-type: none
}


/* Score legend */

#legend td {
    border-collapse: collapse;
    border: 1px solid;
}

#table_color, #table_variant {
    min-width: 900px;
    line-height: 11px;
}

#table_color td.first_column, #table_variant td.first_column {
    width: 180px;
}

#table_variant th, #table_variant td {
    width: 130px;
    text-align: center;
    vertical-align: middle;
}

#table_variant th, tr.heading th {
    border: 1px solid #222;
}

.green {
    background-color: #80e580;
}

.yellow {
    background-color: #fefe80;
}

.orange {
    background-color: #fecb80;
}

.red {
    background-color: #fe9898;
}

.gray {
    background-color: #a0a0a0;
}

h3 {
    margin-top: 10px;
}
