/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

h1 {
    margin-top: 0;
}


/* == SCORE HEADER BLOCK == */

.score-header-block input {
    background: none, #ffd8dd;
}

.score-header-block h2 {
    margin: 20px 0 3px 0;
}


/* == PSEUDO-LINKS BLOCK == */

.pseudo-links-block {
    padding-top: 10px;
    margin-bottom: 5px;
}

.pseudo-links-block h2 {
    display: inline;
    margin-right: 5px;
}


/* == EXPLANATIONS BLOCK == */

.explanations-block {
    margin: 10px 0;
    border: 1px dashed #d7d7d7;
    background-color: #f5f5f5;
}

.explanations-block p {
    margin: 0;
    padding: 10px;
}


/* == TAB REPLY BLOCK == */

/* non editable score table */

.non-editable-score-table .tbody {
    background-color: #f5f5f5;
}

.non-editable-score-table .found {
    min-width: 60px;
    max-width: 70px;
}

.non-editable-score-table .complete {
    min-width: 60px;
    max-width: 75px;
}

.non-editable-score-table .topical {
    min-width: 95px;
    max-width: 110px;
}

.non-editable-score-table .accessible {
    min-width: 110px;
    max-width: 120px;
}

.non-editable-score-table .hypertext {
    min-width: 90px;
    max-width: 105px;
}

.non-editable-score-table .document {
    min-width: 90px;
    max-width: 110px;
}

.non-editable-score-table .image {
    min-width: 100px;
    max-width: 120px;
}

.non-editable-score-table .parameters-score {
    min-width: 75px;
    max-width: 100px;
}

.non-editable-score-table .score-changes {
    min-width: 80px;
    max-width: 100px;
}

span.score_rev1 {
    position: relative;
    bottom: 1px;
    font-size: 10px;
    color: #222222;
}

.text-color-red {
    color: #cd0200;
}

/* score underline */

.underline {
    margin: 0 auto;
    width: 20px;
    height: 3px;
    background-color: #cd0200;
}

/* progressbar */

.progressbar {
    margin: 0 auto;
    width: 60px;
    height: 1px;
    background-color: #cd0200;
    border: 1px solid #cd0200;
}

.progressbar > div {
    height: 1px;
    float: left;
    background-color: #ffffff;
}


/* == TAB EDIT BLOCK == */

.tab-edit-block {
    width: 100%;
}

/* editable score table */

.editable-score-table .tbody ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space:nowrap;
    border-collapse: collapse;
}

.editable-score-table input[type=radio] {
    cursor: pointer;
    display: none;
    margin: 10px;
}

.editable-score-table li {
    display: table-cell;
    width: 40px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    background-color: #e4e4e4;
    border: 1px solid #797979;
}

.editable-score-table li label {
    cursor: pointer;
    padding: 5px 16px;
}

.editable-score-table li.found_0_frozen_red {
    background-color: #cd0200;
    color: #ffffff;
    cursor: default;
}

.editable-score-table li.selected_max {
    background-color: #006600;
    color: #ffffff;
}

.editable-score-table li.selected {
    background-color: #cd0200;
    color: #ffffff;
}

.editable-score-table .table-cell {
    text-align: left;
    border-bottom: none;
}

.editable-score-table .label {
    text-align: right;
}

/* links and recommendations area */

.links-recommendations-area, .links, .recommendations {
    margin-top: 10px;
}

.links-recommendations-area h2 {
    display: inline;
    margin-bottom: 0;
}

.links-recommendations-area textarea {
    width: 100%;
    min-width: 760px;
    height: 15px;
    margin: 0 0 10px 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.links-recommendations-area .edit {
    display: none;
}

.links-recommendations-area .edit .pseudo-tabs span {
    padding-left: 20px;
}


/* == COMMENTS BLOCK == */

.comments-block {
    margin-top: 20px;
}

.comments-block h2 {
    margin-bottom: 0;
}

/* comments, claims and clarifications tables */

.table-messages-parameter {
    display: inline-table; /* Firefox fix */
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 101%;
    margin-bottom: 20px;
}

.table-messages-parameter td {
    padding: 8px;
    line-height: 17px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.table-messages-parameter .messages-author {
    font-size: 13px;
    width: 140px;
    font-weight: bold;
}

.table-messages-parameter .messages-date {
    float: right;
    font-size: 11px;
    color: #666;
}

.table-messages-parameter .messages-content {
    margin: 0;
    padding: 6px 0 0 0;
}

.table-messages-parameter .messages-content p {
    padding: 0;
    margin: 0;
}

.answer-missed {
    background-color: #ffdddd;
}

.answer-today {
    background-color: #ffffdd;
}

.answer-later {
    background-color: #ddffdd;
}

/* toggle comment container */

.toggle-comment-container {
    margin-top: 7px;
}

.toggle-comment-container a {
    font-size:12px;
    border-bottom: 1px dashed;
}

.toggle-comment-container a:hover {
    text-decoration: none;
}

/* orguser notification */

.orguser-notification {
    border-top: 2px solid #ffffff;
}

.orguser-notification td {
    padding: 5px;
    background-color: #ddffdd;
}


/* Form for comment */

.comment-form {
    margin-top: 20px;
}


/* Claims & Clarifications */

.claim-delete-container {
    margin-top: 7px;
}

.messages-answer {
    margin-top: 10px;
    border-top: 1px #bbb solid;
    padding-left: 50px;
    padding-top: 10px;
}

.not-answered {
    background-color: #ffdddd;
}

.messages-reply {
    margin-top: 5px;
}

.reply-form-tweak {
    padding-top: 5px;
}


/* Submit buttons */

#submit_score_and_comment {
    width: 300px;
}

.submit-post {
    margin-top: 7px;
    width: 160px;
    font-size: 13px; /* Firefox fix */
}
