/*
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
*/

/* Page header */

.task-scores-header-block h2 {
    display: inline;
    margin-right: 10px;
    vertical-align: top;
}

.task-scores-header-block p {
    margin-top: 10px;
}

.task-scores-header-block p span {
    font-size: 18px;
}

.noparameters {
    margin-top: 20px;
}

/* Filter */

.filter {
    margin: 15px 0;
}

/* Both parameters tables */

#main.fixed-width .relevant-params-table {
    min-width: 800px;
}

#main.fixed-width .parameter {
    min-width: 500px;
}

.icons-column {
    position: relative;
    padding: 0;
    min-width: 0;
    max-width: 20px;
    line-height: 24px;
}

.icons-column img {
    margin: 2px;
    vertical-align: middle;
}

.code {
    text-align: right;
}

.scores-column {
    width: 45px;
    text-align: center;
}

.scores-column span.score-interim {
    position: relative;
    bottom: 1px;
    font-size: 10px;
}

.score {
    width: 65px;
    text-align: right;
}

.difference {
    position: relative;
    width: 90px;
    text-align: right;
}

.difference span {
    position: relative;
    right: 15px;
}

.difference img {
    position: absolute;
    top: 11px;
    right: 5px;
}

.weight {
    width: 30px;
    text-align: right;
}

.type {
    width: 125px;
}

/* Relevant parameters table */

.relevant-params-table {
    margin-bottom: 20px;
}

.relevant-params-table .scores-column span.score-interim {
    color: #222222;
}

.relevant-params-table tfoot td:first-child {
    font-weight: bold;
}

/* Non relevant parameters table */

.nonrelevant-params-table {
    margin-top: 10px;
}

.nonrelevant-params-table td.scores-column,
.nonrelevant-params-table td.scores-column span.score-interim,
.nonrelevant-params-table td.score,
.nonrelevant-params-table td.difference,
.nonrelevant-params-table td.weight,
.nonrelevant-params-table td.type {
    color: #aeaeae;
}

/* Questionnaire */

#questionnaire {
    position: relative;
    clear: both;
    margin: 15px auto 0;
    padding: 20px;
    background: none repeat scroll 0 0 #ffffcc;
}

.questionnaire-field-header {
    margin-bottom: 7px;
    font-weight: bold;
}

.questionnaire-field {
    margin-top: 8px;
    margin-bottom: 15px;
}

.questionnaire-field ul li {
    list-style-type: none;
}
