{% extends "base.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}{% trans "Home" context "Front page" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'exmo2010/css/index_anonymous.css' %}" />
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'exmo2010/js/login_bubble.js' %}"></script>
{% endblock %}

{% block main %}
    <div id="main" class="without_breadcrumbs">

        <div id="login_bubble">
            <div class="pointer"></div>
            <div class="square">
                {% trans "If you are registered, please sign in." %}
                <a class="close">{% trans "Close" %}</a>
            </div>
        </div>

        <div id="header">
            {% include '_header.html' %}
        </div>

        <div id="content_outer" class="index_anonymous">
            <div class="content">
                <div id="find_score" class="content_inner"></div>
            </div>
            <div class="content">
                <div id="about_project" class="content_inner"></div>
            </div>
            <div class="content">
                <div id="feedbacks" class="content_inner"></div>
            </div>
            <div class="content">
                <div id="contacts" class="content_inner"></div>
            </div>
        </div>
    </div>
{% endblock %}
