{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n static monitoring_stats %}

{% if alert %}
    {% ifequal alert 'success' %}
        <p class="{{ alert }}">
            {% trans 'Mails sent.' %}
        </p>
    {% endifequal %}
{% endif %}

<form class="filter" action="" method="GET">
    <div class="table">
        <div class="table-cell">
            {{ org_queryform.org_name }}
        </div>
        <div class="table-cell select-cell">
            {{ org_queryform.inv_status }}
        </div>
        <div class="table-cell submit-cell">
            <input type="submit" value="{% trans 'Find' %}" />
        </div>
    </div>
</form>

<table class="base-table">
    {% include 'exmo2010/table_header.html' with headers=headers %}

    <tbody>
        {% for org in object_list %}
            <tr>
                <td>
                    <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}?filter0={{ org.name|urlencode }}">{{ org.name|truncatechars:"123" }}</a>
                    &nbsp;<a href="{% url 'exmo2010:organization_update' monitoring.pk org.pk %}?{{ request.GET.urlencode }}"><img src="{% static 'admin/img/icon_changelink.gif' %}" ></a>
                    {% if not monitoring.is_published %}
                        &nbsp;<a href="{% url 'exmo2010:organization_delete' monitoring.pk org.pk %}?{{ request.GET.urlencode }}"><img src="{% static 'admin/img/icon_deletelink.gif' %}" ></a>
                    {%endif%}
                </td>
                <td>{{ org.email|default_if_none:""|truncatewords:1 }}</td>
                <td>{{ org.phone|default_if_none:""|truncatewords:1 }}</td>
                <td>{{ org.inv_code|default_if_none:'' }}</td>
                <td>{{ org.tasks_count }}</td>
                {% with org.inv_status as status %}
                    <td style="color: {% if status == 'NTS' %}#FF6262{% elif status == 'RD' %}#FFB76F{% elif status == 'ACT' or status == 'RGS' %}#54A754{% endif %}">
                        {{ org.get_inv_status_display|default_if_none:'' }}
                    </td>
                {% endwith %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "exmo2010/_paginator.html" with queryset=object_list %}
<br />
{% monitoring_stats monitoring %}
