{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

<form action="{% url 'exmo2010:post_org_email' monitoring.pk %}" method="post">{% csrf_token %}
    {% ifequal alert 'fail' %}
        <div class="warning">
            {% for field in mail_form %}
                {% if field.errors %}
                    <li>{{ field.label }} {% trans 'is required field' %}.</li>
                {% endif %}
            {% endfor %}
        </div>
    {% endifequal %}

    <div class="table org-email-form">
        <div class="table-row">
            <div class="table-cell">
                {{ mail_form.subject.label }} <span class="required">*</span>
            </div>

            <div class="table-cell">
                {{ mail_form.subject }}
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell">
                {{ mail_form.comment.label }} <span class="required">*</span>
            </div>

            <div class="table-cell text-area">
                {{ mail_form.comment }}
            </div>

            <div class="alert-info">
                %code% - {% trans 'use this keyword for invitation addition in email.' %}
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell">
                {% trans 'To' context 'mail destination' %}
            </div>

            <div class="table-cell">
                <div class="destination">
                    <div>
                        <input class='group' type='checkbox' id='all_orgs'/> <label for='all_orgs'>{% trans 'All organizations' %} </label>
                    </div>
                    <div> {{ mail_form.dst_orgs_noreg }} {{ mail_form.dst_orgs_noreg.label_tag }} </div>
                    <div> {{ mail_form.dst_orgs_inact }} {{ mail_form.dst_orgs_inact.label_tag }} </div>
                    <div> {{ mail_form.dst_orgs_activ }} {{ mail_form.dst_orgs_activ.label_tag }} </div>
                </div>
                <div class="destination">
                    <div>
                        <input class='group' type='checkbox' id='all_orgusers'/> <label for='all_orgusers'>{% trans 'All representatives' %}</label>
                    </div>
                    <div> {{ mail_form.dst_orgusers_inact }} {{ mail_form.dst_orgusers_inact.label_tag }} </div>
                    <div> {{ mail_form.dst_orgusers_activ }} {{ mail_form.dst_orgusers_activ.label_tag }} </div>
                </div>
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell"></div>

            <div class="table-cell">
                <input type="submit" disabled="disabled" name="submit_mail" value="{% trans 'Send' %}"/>
            </div>
        </div>
    </div>
</form>
