{% extends "base_sidebar.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static monitoring_stats %}

{% block title %}{{ monitoring.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/organizations.css' %}"/>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'exmo2010/js/jquery/jquery.placeholder.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'exmo2010/js/jquery.simplemodal-1.4.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'exmo2010/js/jquery.tablesorter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/organizations.js' %}"></script>
{% endblock %}

{% block h1 %}<h1>{{ monitoring.name }}</h1>{% endblock %}

{% block content %}
    <div class="organizations-content-block">
        <h2>{% trans "Organizations" %}</h2>

        {% include "_organizations_tabs.html" with tab='all' %}

        <div class="tab-content">
            {% if is_organizations_exists %}
                <table class="base-table">
                    <caption>
                        <form class="filter" action="" method="GET">
                            <div class="table">
                                <div class="table-cell">
                                    {{ queryform.org_name }}
                                </div>
                                <div class="table-cell select-cell">
                                    {{ queryform.inv_status }}
                                </div>
                                <div class="table-cell submit-cell">
                                    <input type="submit" value="{% trans 'Find' %}" />
                                </div>
                            </div>
                        </form>
                    </caption>

                    <thead>
                        <tr>
                            <th><input class="group_actions toggle_all" type="checkbox"/></th>
                            <th><span>{% trans 'Organization' %}</span><span class="arrow"></span></th>
                            <th><span>{% trans 'Email' %}</span><span class="arrow"></span></th>
                            <th><span>{% trans 'Phone' %}</span><span class="arrow"></span></th>
                            <th><span>{% trans 'Invitation code' %}</span><span class="arrow"></span></th>
                            <th></th>
                            <th><span>{% trans 'Tasks' %}</span><span class="arrow"></span></th>
                            <th><span>{% trans 'Status' %}</span><span class="arrow"></span></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for org in organizations %}
                            {% comment %} row id for testing {% endcomment %}
                            <tr id="org_row_{{ org.pk }}" data-name="{{ org.name }}" data-code="{{ org.inv_code }}" data-email="{{ org.email }}">
                                <td><input class="group_actions" type="checkbox"/></td>
                                <td>
                                    <a href="{% url 'exmo2010:tasks_by_monitoring' monitoring.pk %}?filter0={{ org.name|urlencode }}">{{ org.name|truncatechars:"123" }}</a>
                                    &nbsp;<a href="{% url 'exmo2010:organizations_update' monitoring.pk org.pk %}?{{ request.GET.urlencode }}"><img src="{% static 'admin/img/icon_changelink.gif' %}" ></a>
                                    {% if not monitoring.is_published %}
                                        &nbsp;<a href="{% url 'exmo2010:organizations_delete' monitoring.pk org.pk %}?{{ request.GET.urlencode }}"><img src="{% static 'admin/img/icon_deletelink.gif' %}" ></a>
                                    {%endif%}
                                </td>
                                <td>{{ org.email|default_if_none:""|truncatewords:1 }}</td>
                                <td>{{ org.phone|default_if_none:""|truncatewords:1 }}</td>
                                <td>{{ org.inv_code|default_if_none:'' }}</td>
                                <td><a class="org_invite_link" href=# ><img src="{% static 'exmo2010/img/link.svg' %}"></a></td>
                                <td>{{ org.tasks_count }}</td>
                                {% with org.inv_status as status %}
                                    <td style="color: {% if status == 'NTS' %}#FF6262{% elif status == 'RD' %}#FFB76F{% elif status == 'ACT' or status == 'RGS' %}#54A754{% endif %}">
                                        {{ org.get_inv_status_display|default_if_none:'' }}
                                    </td>
                                {% endwith %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div id="group_actions">
                    {% trans 'For selected' %} <input class="action" type="button" value="{% trans 'Create invite link' %}" disabled="disabled"/>
                </div>

                {% include "exmo2010/_paginator.html" with queryset=orgs %}

                {% monitoring_stats monitoring %}
            {% else %}
                {% trans 'No organizations' %}
            {% endif %}
        </div>
    </div>

    <div id="invite_links_window" class="modal hidden" data-baselink="http://{{ request.get_host }}{% url 'exmo2010:auth_orguser' %}">
        <h2>{% trans "Invite links" %}</h2>
        <a href="#" class="close_window">{% trans "Close" %}</a>
        <table class="digest">
            <tbody>
                <tr class="single_org_digest">
                    <td>{% trans "Organization" %}</td> <td class="name"></td>
                </tr>
                <tr class="multi_org_digest hidden">
                    <td>{% trans "Organizations" %}</td> <td class="names"></td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>{% trans 'Email' context 'short column title' %}</th> <th>{% trans 'Link' %}</th>
                </tr>
            </thead>
            <tbody class="invite_widgets">
                <tr class="hidden">  <!-- Prototype -->
                    <td><input type="text" class="email"/></td> <td class="invite_link"><input type="text" class="invite_link"/></td>
                </tr>
            </tbody>
        </table>
    </div>

{%endblock%}
