{% extends "base_leftaligned.html" %}
{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011, 2013 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012-2014 Foundation "Institute for Information Freedom Development"
# Copyright 2014-2015 IRSI LTD
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n static %}

{% block title %}{{ monitoring.name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/send_mail.css' %}"/>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'exmo2010/js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/send_mail.js' %}"></script>
{% endblock %}

{% block content %}

    <h1 class="sidebar">{{ monitoring.name }}</h1>

    {% include "_sidebar_monitoring.html" %}

    <div class="content cell">
        {% include '_messages.html' %}

        <div class="send-mail-content-block">
            <h2>{% trans "Mail" %}</h2>

            {% include "_sendmail_tabs.html" with tab='send_mail' %}

            <div class="tab-content">
                {% include "_form_errors.html" with form=form %}

            <form id="email_form" action="{% url 'exmo2010:send_mail' monitoring.pk %}" method="post">{% csrf_token %}
                {{ form.attachments_names.as_hidden }}
                    <div class="form-table org-email-form">
                        <div class="table-row">
                            <div class="table-cell-R">
                                {{ form.subject.label }} <span class="required">*</span>
                            </div>

                            <div class="table-cell-L">
                                {{ form.subject }}
                            </div>
                        </div>

                        <div class="table-row">
                        <div class="table-cell"></div>

                        <div class="table-cell-L">
                            <a href="#show_keywords" class="pseudo">{% trans 'Keywords' %}</a>

                            <div class="keywords-block hidden">
                                <p><strong>%link%</strong> &mdash; {% trans 'invitation link' %}</p>
                                <p><strong>%code%</strong> &mdash; {% trans 'invitation code' %}</p>
                            </div>
                        </div>
                    </div>

                    <div class="table-row">
                            <div class="table-cell-R">
                                {{ form.comment.label }} <span class="required">*</span>
                            </div>

                            <div class="table-cell-L text-area">
                                {{ form.comment }}
                            </div>
                    </div>

                    <div class="table-row attachments-block">
                        <div class="table-cell"></div>

                        <div class="table-cell">
                            <div class="float-left">
                                <div id="attachments"></div>
                                <div class="progressbar" style="display: none"><div></div></div>
                            </div>

                            <div class="float-right">
                                <a href="#" id="upload_link" class="pseudo">{% trans 'Attach file' %}</a>
                            </div>
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell-R">
                                {% trans 'To' context 'mail destination' %}
                            </div>

                            <div class="table-cell-L">
                                <div class="destination">
                                    <div>
                                        <input class='group' type='checkbox' id='all_orgs'/>
                                        <label for='all_orgs'>{% trans 'All organizations' %}</label>
                                    </div>
                                    <div>{{ form.dst_orgs_noreg }} {{ form.dst_orgs_noreg.label_tag }}</div>
                                    <div>{{ form.dst_orgs_inact }} {{ form.dst_orgs_inact.label_tag }}</div>
                                    <div>{{ form.dst_orgs_activ }} {{ form.dst_orgs_activ.label_tag }}</div>
                                </div>
                                <div class="destination">
                                    <div>
                                        <input class='group' type='checkbox' id='all_orgusers'/>
                                        <label for='all_orgusers'>{% trans 'All representatives' %}</label>
                                    </div>
                                    <div>{{ form.dst_orgusers_inact }} {{ form.dst_orgusers_inact.label_tag }}</div>
                                    <div>{{ form.dst_orgusers_activ }} {{ form.dst_orgusers_activ.label_tag }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell-R"></div>

                            <div class="table-cell-L">
                            <input type="button" id="preview_btn" value="{% trans 'Preview' %}"/>

                            <div class="preview-block info-block hidden">
                                <iframe id="iframe_preview"></iframe>
                            </div>
                            <input type="submit" class="hidden" value="{% trans 'Send' %}"/>
                            </div>
                        </div>
                    </div>
            </form>

            <!-- Upload attachments form -->
            <form id="upload_form" action="{% url 'exmo2010:ajax_upload_file' %}" method="post" enctype="multipart/form-data" class="hidden">{% csrf_token %}
                <input type="file" name="upload_file">
                </form>
            </div>
        </div>
    </div>
{%endblock%}
