{% comment %}
# This file is part of EXMO2010 software.
# Copyright 2010, 2011 Al Nikolov
# Copyright 2010, 2011 non-profit partnership Institute of Information Freedom Development
# Copyright 2012, 2013 Foundation "Institute for Information Freedom Development"
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}
{% load i18n check_object_permission %}
{% if monitoring %}
    <div id="nav-sidebar">
        <ul>
            {# Cycle management #}
            {% if request.user.profile.is_expertA %}
                <li class="nav-group">
                    {% trans 'Cycle management' %}
                </li>
            {% endif %}

            {% url exmo2010:tasks_by_monitoring monitoring.pk as url %}
            {% include "exmo2010/nav_sidebar/item.html" with url=url title="Tasks" %}

            {% if request.user.profile.is_expertA %}
                {% url exmo2010:organization_list monitoring.pk as url %}
                {% include "exmo2010/nav_sidebar/item.html" with url=url title="Organizations" %}
            {% endif %}

            {% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
            {% if perm %}
                {% url exmo2010:task_mass_assign_tasks monitoring.pk as url %}
                {% include "exmo2010/nav_sidebar/item.html" with url=url title="Task assignment" %}
            {% endif %}

            {% if request.user.profile.is_expertA %}
                {% url exmo2010:set_npa_params monitoring.pk as url %}
                {% include "exmo2010/nav_sidebar/item.html" with url=url title="Coherent parameters" %}
            {% endif %}

            {# Reports #}
            {% if request.user.profile.is_expertA %}
                <li class="nav-group">
                    {% trans 'Reports' %}
                </li>
            {% endif %}

            {% url exmo2010:monitoring_parameter_filter monitoring.pk as url %}
            {% include "exmo2010/nav_sidebar/item.html" with url=url title="Task filtering" %}

            {% if request.user.profile.is_expert or request.user.is_superuser %}
                {% if request.user.profile.is_expertA and not monitoring.no_interact %}
                    {% url exmo2010:monitoring_comment_report monitoring.pk as url %}
                    {% include "exmo2010/nav_sidebar/item.html" with url=url title="Comments" %}
                {% endif %}
            {% endif %}

            {% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
            {% if perm %}
                {% url exmo2010:clarification_report monitoring.pk as url %}
                {% include "exmo2010/nav_sidebar/item.html" with url=url title="Clarifications" %}

                {% url exmo2010:claim_report monitoring.pk as url %}
                {% include "exmo2010/nav_sidebar/item.html" with url=url title="Claims" %}

                {% url exmo2010:monitoring_by_experts monitoring.pk as url %}
                {% include "exmo2010/nav_sidebar/item.html" with url=url title="Experts" %}

                {% check_object_permission exmo2010.rating_monitoring monitoring as can_rating %}
                {% if perm %}
                    {% url exmo2010:monitoring_parameter_found_report monitoring.pk as url %}
                    {% include "exmo2010/nav_sidebar/item.html" with url=url title="Presence of the parameter" %}
                {% endif %}
            {% endif %}

            {% if not request.user.profile.is_expertB or request.user.is_superuser or monitoring.status == 5 %}
                {% url exmo2010:monitoring_rating monitoring.pk as url %}
                {% include "exmo2010/nav_sidebar/item.html" with url=url title="Rating" %}
            {% endif %}

            {% check_object_permission exmo2010.admin_monitoring monitoring as perm %}
            {% if perm %}
                {# Reports #}
                {% if request.user.profile.is_expertA %}
                    <li class="nav-group">
                        {% trans 'Export' %}
                    </li>
                {% endif %}

                {% url exmo2010:monitoring_by_criteria_mass_export monitoring.pk as url %}
                {% include "exmo2010/nav_sidebar/item.html" with url=url title="Criterion" %}

                {% if monitoring.has_questionnaire %}
                    <li>
                        <a
                                {% if not monitoring.ready_export_answers %}
                                    href="#"
                                    onclick='alert("{% trans 'You must have approved task for export' %} ")'
                                {% else %}
                                    href="{% url exmo2010:monitoring_answers_export monitoring.pk %}"
                                {% endif %}
                                >{% trans 'Questionnaire' %}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endif %}
